{% extends wrapper_template %}
{% load static %}
{% block content %}
    <div class="container notice-admin">

        {% if action == "save" %}
        <h2>Create Notice</h2>
        <form action="{% url 'myuw_create_notice' %}" method="POST">
        {% else %}
        <h2>Edit Notice</h2>
        <form action="{% url 'myuw_edit_notices' notice.id %}" method="POST">
        {% endif %}

            <div class="row">
                <div class="col-sm-8">
                    {% if has_error %}
                    <p class="bg-danger" style="padding: 8px;">Error saving notice. See error messages below.</p>
                    {% endif %}

                    <h3>Display Dates</h3>
                    <div class="form-inline">
                        <div class="form-group {% if start_error %}has-error{% endif %}">
                            <label for="start_dt">Start</label>
                            <div class="input-group date" id='start_dt'>
                                <div id='start_value' class="hidden">{{ notice.start | date:"r" }}</div>
                                <input type='text' name="start_date" class="form-control" placeholder="yyyy-mm-dd hh:mm"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="end_dt">End</label>
                            <div class='input-group date' id='end_dt'>
                                <div id='end_value' class="hidden">{{ notice.end | date:"r" }}</div>
                                <input type='text' name="end_date" class="form-control" placeholder="yyyy-mm-dd hh:mm"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <p class="{% if start_error %}text-danger{% else %}help-block small{% endif %}" style="margin-left: 3.7rem">Required</p>

                    {% if date_error %}
                        <p class="text-danger" style="margin-left: 2.5em">Start date must be before end date</p>
                    {% endif %}

                    <br/>

                    <h3>Notice Content</h3>
                    <div class="form-group {% if title_error %}has-error{% endif %}">
                        <label class="" for="notice_title">Title</label>
                        <input id="notice_title" type='text' name='title' class="form-control" value='{% if notice.title %}{{ notice.title }}{% endif %}'>

                            <p class="{% if title_error %}text-danger {% else %}help-block small{% endif %}">Required</p>

                    </div>
                    <div class="form-group {% if content_error %}has-error{% endif %}">
                        <label class="" for="notice_content">Content</label>
                        <textarea id="notice_content" name='content' class="form-control">{% if notice.content %}{{ notice.content }}{% endif %}</textarea>
                        <p class="{% if content_error %}text-danger{% else %}help-block small{% endif %}">Required</p>
                        <p class="text-muted small">HTML content is enabled. &lt;a&gt;, &lt;strong&gt;, &lt;em&gt;, &lt;abbr&gt;, &lt;br&gt;, &lt;p&gt;, &lt;ul&gt;, &lt;ol&gt;, &lt;li&gt;, etc...></p>

                    </div>

                    <div class="form-inline">
                        <div class="form-group">
                            <label class="" for="notice_category">Notice Category</label>
                            <select id="notice_category" name="notice_category" class="form-control"><option value="MyUWNotice">MyUWNotice</option></select>
                        </div>
                        <div class="form-group">
                            <label class="" for="notice_type">Notice Type</label>
                            <select id="notice_type" name="notice_type" class="form-control"><option value="Banner">Banner</option></select>
                        </div>
                        <div class="form-group">
                            <label class=""><input type='checkbox' name='critical' value='true' {% if notice.is_critical %}checked="checked"{% endif %}> Critical</label>
                        </div>
                        <br/>
                    </div>
                    <br/>

                    <h3>Audience</h3>

                    <p class="text-muted"><small>All users see the notice by default (when no options are selected). Selections made for campus intersect selections for affiliation.<br/> (e.g. If Seattle, is_alumni, and is_applicant are selected, only Seattle alumnis and Seattle applicants will see the notice.)</small></p>
                    <br/>
                    <label class="" for="notice_group">UW Group ID</label>
                    <input id="notice_group" type='text' name='target_group' class="form-control" value='{% if notice.target_group %}{{ notice.target_group }}{% endif %}'>
                    <br/>

                    <h4>Campus</h4>
                    <p class="text-muted"><small>Set is a union of selections. (Seattle OR Tacoma)</small><p>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="checkbox">
                                <label class=""><input type='checkbox' name='campus' value='is_seattle' {% if notice.is_seattle %}checked="checked"{% endif %}> Seattle</label>
                            </div>
                            <div class="checkbox">
                                <label class=""><input type='checkbox' name='campus' value='is_tacoma' {% if notice.is_tacoma %}checked="checked"{% endif %}> Tacoma</label>
                            </div>
                            <div class="checkbox">
                                <label class=""><input type='checkbox' name='campus' value='is_bothell' {% if notice.is_bothell %}checked="checked"{% endif %}> Bothell</label>
                            </div>
                        </div>
                    </div>

                    <br/>

                    <h4>Affiliation</h4>
                    <p class="text-muted"><small>Set is a union of selections. (is_student OR is_alumni)</small><p>

                    <div>
                        <ul class="form-group affiliation">
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_alumni' {% if checked.is_alumni %}checked="checked"{% endif %}> is_alumni</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_applicant' {% if notice.is_applicant %}checked="checked"{% endif %}> is_applicant</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_grad' {% if notice.is_grad %}checked="checked"{% endif %}> is_grad</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_grad_c2' {% if notice.is_grad_c2 %}checked="checked"{% endif %}> is_grad_c2</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_intl_stud' {% if notice.is_intl_stud %}checked="checked"{% endif %}> is_intl_stud</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_pce' {% if notice.is_pce %}checked="checked"{% endif %}> is_pce</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_student' {% if notice.is_student %}checked="checked"{% endif %}> is_student</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_undergrad' {% if notice.is_undergrad %}checked="checked"{% endif %}> is_undergrad</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_undergrad_c2' {% if notice.is_undergrad_c2 %}checked="checked"{% endif %}> is_undergrad_c2</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_fyp' {% if notice.is_fyp %}checked="checked"{% endif %}> is_fyp</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_past_student' {% if notice.is_past_student %}checked="checked"{% endif %}> is_past_student</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_clinician' {% if notice.is_clinician %}checked="checked"{% endif %}> is_clinician</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_employee' {% if notice.is_employee %}checked="checked"{% endif %}> is_employee</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_faculty' {% if notice.is_faculty %}checked="checked"{% endif %}> is_faculty</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_instructor' {% if notice.is_instructor %}checked="checked"{% endif %}> is_instructor</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_past_employee' {% if notice.is_past_employee %}checked="checked"{% endif %}> is_past_employee</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_retiree' {% if notice.is_retiree %}checked="checked"{% endif %}> is_retiree</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_staff_employee' {% if notice.is_staff_employee %}checked="checked"{% endif %}> is_staff_employee</label>
                            </li>
                            <li class="checkbox">
                                <label class=""><input type='checkbox' name='affil' value='is_stud_employee' {% if notice.is_stud_employee %}checked="checked"{% endif %}> is_stud_employee</label>
                            </li>
                        </ul>
                    </div>

                    {% csrf_token %}
                    <br/><br/>
                    <button type="submit" name="action" value="{{ action }}" class="btn btn-primary">Submit</button>

                    {% if action != "save" %}
                    {% csrf_token %}
                    <button type="submit" name="action" value="delete" class="btn btn-danger">Delete Notice</button>
                    {% endif %}
                    <br/><br/><br/><br/>
                </div>
            </div>
        </form>

        <!--
        {% if action != "save" %}
        <form action="{% url 'myuw_edit_notices' notice.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="action" value="delete">Delete</button>
        </form>
        {% endif %}

    -->
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/notice_admin.js'%}"></script>
    <script src="{% static 'vendor/js/moment.2.18.1.min.js'%}"></script>
    <script src="{% static 'vendor/js/bootstrap-datetimepicker.min.js'%}"></script>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/notice_admin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
{% endblock %}
