{% load templatetag_handlebars %}
{% tplhandlebars "additional_course_links" %}
<ul class="unstyled additional-list">
  {{#if registered_for_the_quarter}}
  {{#unless term}}
  <li>
    <a class="show_textbooks" href="/mobile/textbooks/{{term}}" title="Textbooks"><i class="icon-book"></i> View Textbooks</a>
  </li>
  {{/unless}}
  <li>
    <a class="show_finalexams" href="/mobile/final_exams/{{term}}" title="Final Exam Schedule"><i class="icon-calendar"></i> Final Exam Schedule</a>
  </li>
  {{/if}}
</ul>
<ul class="unstyled additional-list">
  {{#if show_future_link}}
  <li>
    <a class="show_other_quarters" href="/mobile/future_quarters{{visual}}" title="Future Quarters"><i class="icon-sort"></i> View Future Quarters</a>
  </li>
  {{/if}}
</ul>
</div>
{% endtplhandlebars %}
