{% load templatetag_handlebars %}
{% tplhandlebars "no-courses" %}

<div class="card">
    <div class="fade-in">
      <h3>No Courses Found</h3>
      <p>You do not appear to be registered for credit courses {{which_quarter_or_term}}. If you are not registered, you can go to the <a title="Go to MyUW desktop version" href="/servlet/user">MyUW full site</a> to learn about registration. If you think this is an error, please <a href="/cgi-bin/contactmyuw.cgi" target="_blank" title="Contact MyUW">contact MyUW</a>.</p>
    
      <div id="addi_links"></div>
    </div>
</div>

{% endtplhandlebars %}
