{% load templatetag_handlebars %}
{% tplhandlebars "page_header" %}
<h2 id="quarter-info">
{{ucfirst quarter}} {{year}} {{view}}
{{#if on_current_list}}
<a aria-hidden="true" class="btn btn-visual pull-right display_visual_sched" href="/mobile/visual" title="View Visual Schedule"><i class="icon-calendar"></i> Visual</a>
{{/if}}
{{#if on_current_visual}}
<a role="button" title="View course list" class="btn btn-visual pull-right display_list_sched" href="/mobile/"><i class="icon-list-ul"></i> List</a>
{{/if}}
{{#if on_future_list}}
<a class="" href="/mobile/" title="Back to current quarter"><i class=""></i> Back to current quarter</a>
{{/if}}
{{#if on_future_visual}}
<a class="" href="/mobile/visual/" title="Back to current quarter"><i class=""></i> Back to current quarter</a>
{{/if}}
{{#if summer_term}}
<span class="">{{summer_term}}</span>
{{/if}}
</h2>
{% endtplhandlebars %}
