{% extends "base_mobile.html" %}

{% block title %}404 Error{% endblock title %}

{% block content %}
    
    <div class="container" role="main" aria-labelledby="gp-404-error">
    
        <h3 id="gp-404-error">404 error: That resource is not found</h3>
        
        <p>You may want to:</p>
        <ul>
            <li>Check your link url to see if something was mistyped.</li>
            <li>Go to <a href="/">Gradepage</a> and attempt to find the resource you are looking for.</li>
        </ul>        
    
    </div>

{% endblock content %}
