<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mobile MyUW</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
 
   {% load compress %}
   {% load static %}

   {% compress css %}
    <!-- Les styles -->
      <link href="{% static 'vendor/css/bootstrap-3.1.1.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/css/font-awesome-4.1.0.min.css' %}" rel="stylesheet">
      
      <link href="{% static 'css/custom.less' %}" rel="stylesheet" type="text/less">
      <link href="{% static 'css/mobile.less' %}" rel="stylesheet" type="text/less">
   {% endcompress %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Noto+Sans:400,700|Droid+Sans|PT+Sans:400,700|Istok+Web:400,700|Arimo:400,700|Gudea:400,700|Muli|Open+Sans:400,700|Pontano+Sans' rel='stylesheet' type='text/css'>
    
    <!-- Les fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

    {% load templatetag_handlebars %}
  </head>
  
  <!-- the body grid stuff is just for displaying bootstrap grids REMOVE BEFORE TESTING--> 
  <!-- http://alefeuvre.github.io/foundation-grid-displayer/ -->
  
  <body data-grid-framework="b3" data-grid-color="red" data-grid-opacity="0.1" data-grid-zindex="10" data-grid-gutterwidth="10px" data-grid-nbcols="16">
     
    {% csrf_token %}
          
    {% include "nav.html" %}
    
    <!-- modal ??????? not sure if this will be needed later -->
    <div id="page-modal"></div>
    
    <!-- content -->
    <div id="app_content">
        {% block content %}{% endblock %}
    </div>
    <!-- /content -->
    
    <!-- footer -->
    <div id="app_footer">
    
        <div id="categories" class="container navigation-bar" role="navigation" aria-label="category navigation"> 
        
            <ul class="row navigation-list">
                <li class="col-xs-6">
                    <a href="/mobile/category/academics" class="navigation-item"><span class="navigation-item-text">Academics</span></a>
                </li>
                <li class="col-xs-6">
                    <a href="/mobile/category/finances" class="navigation-item"><span class="navigation-item-text">Finances</span></a>
                </li>
                <li class="col-xs-6">
                    <a href="/mobile/category/studentandcampuslife" class="navigation-item"><span class="navigation-item-text">Student and Campus Life</span></a>
                </li>
                <li class="col-xs-6">
                    <a href="/mobile/category/eventsactivities" class="navigation-item"><span class="navigation-item-text">Events &amp; Activities</span></a>
                </li>
                <li class="col-xs-6">
                    <a href="/mobile/category/toolssoftware" class="navigation-item"><span class="navigation-item-text">Tools &amp; Software</span></a>
                </li>
                <li class="col-xs-6">
                    <a href="/mobile/category/employment" class="navigation-item"><span class="navigation-item-text">Employment</span></a>
                </li>
            </ul>
            
        </div>
    
        <div class="footer-bar" role="contentinfo">         
            <div class="container footer-links">
                <div><a href="https://myuw.washington.edu/cgi-bin/contactmyuw.cgi" target="_blank"><i class="icon-envelope"></i> Contact</a> | <a href="http://depts.washington.edu/myuwfaq/" target="_blank">Help</a> | <a href="http://www.washington.edu/online/terms/" target="_blank">Terms</a> | <a href="http://www.washington.edu/online/privacy/" target="_blank">Privacy</a></div>
                <div>&copy; 2013 University of Washington</div>
            </div>
        </div>
    
    </div>
    <!-- /footer -->
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load handlebars_i18n %}
    {% compress js %}
    <!-- vendor files -->
    <script src="{% static 'vendor/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.cookie-1.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/ios-orientationchange-fix.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/handlebars-1.0.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.history-1.8.0.min.js' %}"></script>
    
    {% if not has_less_compiled %}
        <script src="{% static 'vendor/js/less-1.7.0.min.js' %}" type="text/javascript"></script>
    {% endif %}
    
    <!-- app files -->
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/ws_data.js' %}"></script>
    <script src="{% static 'js/panel/addi_course_links.js' %}"></script>
    <script src="{% static 'js/panel/no_courses.js' %}"></script>
    <script src="{% static 'js/course_list.js' %}"></script>
    <script src="{% static 'js/course_list_card.js' %}"></script>
    <script src="{% static 'js/course_modal.js' %}"></script>
    <script src="{% static 'js/final_modal.js' %}"></script>
    <script src="{% static 'js/final_exams.js' %}"></script>
    <script src="{% static 'js/visual_schedule.js' %}"></script>
    <script src="{% static 'js/instructor.js' %}"></script>
    <script src="{% static 'js/textbooks.js' %}"></script>
    <script src="{% static 'js/grades.js' %}"></script>
    <script src="{% static 'js/links.js' %}"></script>
    <script src="{% static 'js/hfs.js' %}"></script>
    <script src="{% static 'js/other_quarters.js' %}"></script>
    <script src="{% static 'js/myuw_m.js' %}"></script>
    <script src="{% static 'js/handlebars-helpers.js' %}"></script>
    <script src="{% static 'js/ga_ob.js' %}"></script>
    <script src="{% static 'js/uw-alert.js' %}"></script> 
    <script src="{% static 'js/weekly.js' %}"></script>
    <script src="{% static 'js/libraries.js' %}"></script>
    <script src="{% static 'js/notices.js' %}"></script>
    <script src="{% static 'js/landing.js' %}"></script>
    <script src="{% static 'js/category.js' %}"></script>
    <script src="{% static 'js/cards.js' %}"></script>
    <script src="{% static 'js/card/error.js' %}"></script>
    <script src="{% static 'js/card/fin_aid.js' %}"></script>
    <script src="{% static 'js/card/hfs.js' %}"></script>
    <script src="{% static 'js/card/no_course.js' %}"></script>
    <script src="{% static 'js/card/library.js' %}"></script>
    <script src="{% static 'js/card/loading.js' %}"></script>
    <script src="{% static 'js/card/pce_tuition.js' %}"></script>
    <script src="{% static 'js/card/reg_status.js' %}"></script>
    <script src="{% static 'js/card/tuition.js' %}"></script>
    <script src="{% static 'js/card/textbook.js' %}"></script>
    <script src="{% static 'js/card/schedule/course.js' %}"></script>
    <script src="{% static 'js/card/schedule/visual.js' %}"></script>
    <script src="{% static 'js/card/schedule/final.js' %}"></script>
    <script src="{% static 'js/banner/notice.js' %}"></script>
    {% hb_i18_script %}
    {% endcompress %}
    
    

    <!-- not compressable :( -->
    {% i18n_catalog "myuw_mobile" %}
  </body>
</html>

