<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mobile MyUW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 
   {% load compress %}
   {% load static %}

   {% compress css %}
    <!-- Les styles -->
      <link href="{% static 'css/vendor/bootstrap-3.1.1.css' %}" rel="stylesheet">
      <link href="{% static 'css/vendor/font-awesome.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/custom.less' %}" rel="stylesheet" type="text/less">
   {% endcompress %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
    <!-- Les fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
<!-- For everything else otherwise not specified -->
<link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

    {% load templatetag_handlebars %}
  </head>
 
  <body>
<h1 class="offscreen">My U W Mobile</h1>
    {% csrf_token %}
    <div id="page-modal">
    </div>
    <div id="page-content">
   {% include "nav.html" %}

    <!-- Page content -->
 
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <hr>
    <footer>
      <div class="span12 clearfix">
      <p class="pull-left">
			<a href="http://my.uw.edu/servlet/main" target="_blank" title="Go to My U W Desktop version"><i class="icon-external-link"></i> Full Site</a>
		</p>
		<ul class="unstyled pull-right">
            <li class="inline"><a role="button" class="btn btn-visual" title="Go to top" href="#"><i class="icon-arrow-up"></i></a></li>
            <li class="inline"><a role="button" class="btn btn-visual" title="Open Menu" href="#" data-toggle="collapse" data-target=".nav-collapse"><i class="icon-reorder"></i></a></li>
            </ul>
      </div>
      <div  class="span12">
      <p class="footer-links"><a href="https://myuw.washington.edu/cgi-bin/contactmyuw.cgi" target="_blank"><i class="icon-envelope"></i> Contact</a> | <a href="http://depts.washington.edu/myuwfaq/" target="_blank">Help</a> | <a href="http://www.washington.edu/online/terms/" target="_blank">Terms</a> | <a href="http://www.washington.edu/online/privacy/" target="_blank">Privacy</a></p>

       <p>© 2013 University of Washington</p>
      </div>
      </footer>
      <!-- /Footer -->
 
    </div>
    <!-- /page content -->
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load handlebars_i18n %}
    {% compress js %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.cookies.js' %}"></script>
    <script src="{% static 'js/vendor/ios-orientationchange-fix.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/vendor/handlebars.js' %}"></script>
    <script src="{% static 'js/vendor/history.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/ws_data.js' %}"></script>
    <script src="{% static 'js/panel/addi_course_links.js' %}"></script>
    <script src="{% static 'js/panel/no_courses.js' %}"></script>
    <script src="{% static 'js/course_list.js' %}"></script>
    <script src="{% static 'js/course_list_card.js' %}"></script>
    <script src="{% static 'js/course_modal.js' %}"></script>
    <script src="{% static 'js/final_modal.js' %}"></script>
    <script src="{% static 'js/final_exams.js' %}"></script>
    <script src="{% static 'js/visual_schedule.js' %}"></script>
    <script src="{% static 'js/instructor.js' %}"></script>
    <script src="{% static 'js/textbooks.js' %}"></script>
    <script src="{% static 'js/grades.js' %}"></script>
    <script src="{% static 'js/links.js' %}"></script>
    <script src="{% static 'js/hfs.js' %}"></script>
    <script src="{% static 'js/other_quarters.js' %}"></script>
    <script src="{% static 'js/myuw_m.js' %}"></script>
    <script src="{% static 'js/handlebars-helpers.js' %}"></script>
    <script src="{% static 'js/ga_ob.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uw-alert.js' %}"></script> 
    <script src="{% static 'js/weekly.js' %}"></script>
    <script src="{% static 'js/libraries.js' %}"></script>
    <script src="{% static 'js/notices.js' %}"></script>
    <script src="{% static 'js/landing.js' %}"></script>
    <script src="{% static 'js/card/reg_status.js' %}"></script>
    <script src="{% static 'js/card/tuition.js' %}"></script>
    <script src="{% static 'js/card/pce_tuition.js' %}"></script>
    <script src="{% static 'js/card/fin_aid.js' %}"></script>
    <script src="{% static 'js/card/hfs.js' %}"></script>
    <script src="{% static 'js/card/library.js' %}"></script>
    <script src="{% static 'js/banner/notice.js' %}"></script>
    {% hb_i18_script %}
    {% endcompress %}
    {% if not has_less_compiled %}
        <script src="{% static 'js/vendor/less-1.7.0.min.js' %}" type="text/javascript"></script>
    {% endif %}

    <!-- not compressable :( -->
    {% i18n_catalog "myuw_mobile" %}
  </body>
</html>

