<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mobile MyUW</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
 
   {% load compress %}
   {% load static %}

   {% compress css %}
    <!-- Les styles -->
      <link href="{% static 'vendor/css/bootstrap-3.1.1.min.css' %}" rel="stylesheet">
      <link href="{% static 'vendor/css/font-awesome-4.1.0.min.css' %}" rel="stylesheet">
      
      <!--<link href="{% static 'css/custom.less' %}" rel="stylesheet" type="text/less">-->
      <link href="{% static 'css/mobile.less' %}" rel="stylesheet" type="text/less">
   {% endcompress %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <!-- Les fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

    {% load templatetag_handlebars %}
  </head>
  
  
  <body>
     
    {% csrf_token %}
    
    <div id="navbar"></div>
    <div id="page-modal"></div>

    <div id="app_content">
        {% block content %}{% endblock %}
    </div>
    <!-- /content -->
    
    <!-- footer -->
    <div id="app_footer">
        
        
        <div class="container navigation-bar" role="menu" aria-labeledby="categories"> 
            
            <h2 id="categories" class="sr-only">Resources</h2>
            
            <ul class="clearfix navigation-list">
                <li class="pull-left">
                    <a href="/mobile/resource/academics" class="navigation-item"><span class="navigation-item-text">Academics</span></a>
                </li>
                <li class="pull-left">
                    <a href="/mobile/resource/finances" class="navigation-item"><span class="navigation-item-text">Finances</span></a>
                </li>
                <li class="pull-left">
                    <a href="/mobile/resource/studentandcampuslife" class="navigation-item"><span class="navigation-item-text">Student and Campus Life</span></a>
                </li>
                <li class="pull-left">
                    <a href="/mobile/resource/eventsactivities" class="navigation-item"><span class="navigation-item-text">Events &amp; Activities</span></a>
                </li>
                <li class="pull-left">
                    <a href="/mobile/resource/toolssoftware" class="navigation-item"><span class="navigation-item-text">Tools &amp; Software</span></a>
                </li>
                <li class="pull-left">
                    <a href="/mobile/resource/employment" class="navigation-item"><span class="navigation-item-text">Employment</span></a>
                </li>
            </ul>
            
        </div>
    
        <div class="footer-bar" role="contentinfo">         
            <div class="container footer-links" style="position:relative;">
                <ul>
                    <li><a href="https://myuw.washington.edu/cgi-bin/contactmyuw.cgi" target="_blank"><i class="icon-envelope"></i> Contact</a></li>
                     <li><a href="http://www.washington.edu/online/terms/" target="_blank">Terms</a></li> 
                     <li style="border:none;"><a href="http://www.washington.edu/online/privacy/" target="_blank">Privacy</a></li>
                     <li style="border:none; position:absolute; right:0; top:50%; margin-top:-6px;"><a href="http://myuw.uw.edu" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i> Desktop Version</a></li>
                </ul>
                <div>&copy; {% now "Y" %} University of Washington</div>
            </div>
        </div>
    
    </div>
    <!-- /footer -->
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load handlebars_i18n %}
    <!-- vendor files -->
    <script src="{% static 'vendor/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.cookie-1.4.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/ios-orientationchange-fix.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/handlebars-1.0.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.history-1.8.0.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.ba-dotimeout-1.0.js' %}"></script>
    
        <script src="{% static 'vendor/js/less-1.7.0.min.js' %}" type="text/javascript"></script>
    
    {% compress js %}
    <!-- app files -->
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/ws_data.js' %}"></script>
    <script src="{% static 'js/panel/addi_course_links.js' %}"></script>
    <script src="{% static 'js/panel/no_courses.js' %}"></script>
    <script src="{% static 'js/course_list.js' %}"></script>
    <script src="{% static 'js/course_list_card.js' %}"></script>
    <script src="{% static 'js/course_modal.js' %}"></script>
    <script src="{% static 'js/final_modal.js' %}"></script>
    <script src="{% static 'js/final_exams.js' %}"></script>
    <script src="{% static 'js/visual_schedule.js' %}"></script>
    <script src="{% static 'js/instructor.js' %}"></script>
    <script src="{% static 'js/textbooks.js' %}"></script>
    <script src="{% static 'js/grades.js' %}"></script>
    <script src="{% static 'js/links.js' %}"></script>
    <script src="{% static 'js/hfs.js' %}"></script>
    <script src="{% static 'js/other_quarters.js' %}"></script>
    <script src="{% static 'js/myuw_m.js' %}"></script>
    <script src="{% static 'js/handlebars-helpers.js' %}"></script>
    <script src="{% static 'js/ga_ob.js' %}"></script>
    <script src="{% static 'js/uw-alert.js' %}"></script> 
    <script src="{% static 'js/weekly.js' %}"></script>
    <script src="{% static 'js/libraries.js' %}"></script>
    <script src="{% static 'js/notices.js' %}"></script>
    <script src="{% static 'js/landing.js' %}"></script>
    <script src="{% static 'js/category.js' %}"></script>
    <script src="{% static 'js/cards.js' %}"></script>
    <script src="{% static 'js/future.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/banner/email.js' %}"></script>
    <script src="{% static 'js/banner/notice.js' %}"></script>
    <script src="{% static 'js/card/error.js' %}"></script>
    <script src="{% static 'js/card/fin_aid.js' %}"></script>
    <script src="{% static 'js/card/hfs.js' %}"></script>
    <script src="{% static 'js/card/no_course.js' %}"></script>
    <script src="{% static 'js/card/library.js' %}"></script>
    <script src="{% static 'js/card/loading.js' %}"></script>
    <script src="{% static 'js/card/pce_tuition.js' %}"></script>
    <script src="{% static 'js/card/reg_status.js' %}"></script>
    <script src="{% static 'js/card/tuition.js' %}"></script>
    <script src="{% static 'js/card/textbook.js' %}"></script>
    <script src="{% static 'js/card/future_quarter.js' %}"></script>
    <script src="{% static 'js/card/schedule/course.js' %}"></script>
    <script src="{% static 'js/card/schedule/visual.js' %}"></script>
    <script src="{% static 'js/card/schedule/final.js' %}"></script>
    {% hb_i18_script %}
    {% endcompress %}
    
    

    <!-- not compressable :( -->
    {% i18n_catalog "myuw_mobile" %}
  </body>
</html>

