{% extends "base_mobile.html" %}

{% block content %}

      <div class="page-header" id="page-header">
      </div>

      <!-- notifications banner -->
      <div class="notification">
          <h4>Notices</h4>
          <p style="float: right; font-size: 10px; margin-top: -40px;">index.html</p>
          <ul>
          	<li>You will be able to register for classes on <b>April 24 at 8:30AM</b>.</li>
          </ul>	          
          <a style="float: right; font-size: 30px; margin-top: -40px; color: blue; cursor: pointer;">></a>

      </div>

      <div class="row">
            
        
        <!-- Start of course list accordion -->
            <div id="courselist">

        <!-- /end accordion -->
         
      </div>

     {% include "handlebars/card_list.html" %}
     {% include "handlebars/card/reg_status.html" %}
     {% include "handlebars/card/notice.html" %}

     {% include "handlebars/quarter_header.html" %}
     {% include "handlebars/quarter_books.html" %}
     {% include "handlebars/panel/addi_course_links.html" %}
     {% include "handlebars/panel/no_courses.html" %}
     {% include "handlebars/other_quarters.html" %}
     {% include "handlebars/course_list.html" %}
     {% include "handlebars/course_modal.html" %}
     {% include "handlebars/finals_modal.html" %}
     {% include "handlebars/visual_schedule.html" %}
     {% include "handlebars/books_list.html" %}
     {% include "handlebars/financial.html" %}
     {% include "handlebars/links.html" %}
     {% include "handlebars/instructor.html" %}
     {% include "handlebars/loading.html" %}
     {% include "handlebars/error.html" %}
     {% include "handlebars/final_exams.html" %}
     {% include "handlebars/grades.html" %}
     {% include "handlebars/weekly/other.html" %}
     {% include "handlebars/weekly/week1.html" %}
     {% include "handlebars/weekly/week2.html" %}
     {% include "handlebars/weekly/week3.html" %}
     {% include "handlebars/weekly/week5.html" %}
     {% include "handlebars/weekly/week6.html" %}
     {% include "handlebars/notices.html" %}

     {% include "handlebars/weekly/course_list_A.html" %}
     {% include "handlebars/weekly/course_list_B.html" %}
     {% include "handlebars/weekly/course_list_C.html" %}

     <!-- lauren's dummy pages for nav/hierarchy mockups -->
     {% include "handlebars/weekly/libraries.html" %}

     <script>
        window.page_titles = {
            "card_list": "MyUW Mobile 1",
            "course_list": "MyUW Mobile",
            "visual": "Visual Schedule",
            "links": "MyLinks",
            "finabala": "Financial Balances",
            "future_quarters": "View Future Quarters",
            "textbooks": "Textbooks",
            "instructor": "Faculty Directory",
            "finals": "Final Exams",
            "weekly": "Weekly View",
            "grades": "Grades",
            "notices": "Notices"
        };
     </script>
{% endblock %}
