{% extends "base_mobile.html" %}

{% block content %}

      <div class="page-header" id="page-header">
      </div>

      <div class="row-fluid">
        
        <!-- Start of course list accordion -->
            <div id="courselist">

        <!-- /end accordion -->
         
      </div>

     {% include "handlebars/quarter_list.html" %}
     {% include "handlebars/quarter_list_finals.html" %}
     {% include "handlebars/quarter_visual.html" %}
     {% include "handlebars/quarter_books.html" %}
     {% include "handlebars/future-quarter_list.html" %}
     {% include "handlebars/future-quarter_list_finals.html" %}
     {% include "handlebars/future-quarter_visual.html" %}
     {% include "handlebars/future-quarter_books.html" %}
     {% include "handlebars/panel/addi_course_links.html" %}
     {% include "handlebars/panel/no_courses.html" %}
     {% include "handlebars/other_quarters.html" %}
     {% include "handlebars/course_list.html" %}
     {% include "handlebars/course_modal.html" %}
     {% include "handlebars/finals_modal.html" %}
     {% include "handlebars/visual_schedule.html" %}
     {% include "handlebars/books_list.html" %}
     {% include "handlebars/financial.html" %}
     {% include "handlebars/links.html" %}
     {% include "handlebars/instructor.html" %}
     {% include "handlebars/loading.html" %}
     {% include "handlebars/error.html" %}
     {% include "handlebars/final_exams.html" %}

     <script>
        window.page_titles = {
            "course_list": "MyUW Mobile",
            "visual": "Visual Schedule",
            "links": "MyLinks",
            "finabala": "Financial Balances",
            "future_quarters": "View Future Quarters",
            "textbooks": "Textbooks",
            "instructor": "Faculty Directory",
            "finals": "Final Exams"
        };
     </script>
{% endblock %}
