{% extends "base_mobile.html" %}
{% block content %}
            
    <div id="main-content"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/email.html" %}
    {% include "handlebars/banner/notice.html" %}
    {% include "handlebars/card/error.html" %}
    {% include "handlebars/card/fin_aid.html" %}
    {% include "handlebars/card/hfs.html" %}
    {% include "handlebars/card/library.html" %}
    {% include "handlebars/card/loading.html" %}
    {% include "handlebars/card/no_course.html" %}
    {% include "handlebars/card/pce_tuition.html" %}
    {% include "handlebars/card/reg_status.html" %}
    {% include "handlebars/card/tuition.html" %}
    {% include "handlebars/card/textbook.html" %}
    {% include "handlebars/card/future_quarter.html" %}
    {% include "handlebars/card/schedule/course.html" %}
    {% include "handlebars/card/schedule/final.html" %}
    {% include "handlebars/card/schedule/final_day.html" %}
    {% include "handlebars/card/schedule/visual.html" %}
    {% include "handlebars/card/schedule/visual_day.html" %}
    {% include "handlebars/header/quarter.html" %}
    {% include "handlebars/panel/addi_course_links.html" %}
    {% include "handlebars/panel/no_courses.html" %}

    <!-- page content templates -->
    {% include "handlebars/landing.html" %}
    {% include "handlebars/future.html" %}
    {% include "handlebars/textbooks.html" %}
    {% include "handlebars/course_list.html" %}
    {% include "handlebars/course_modal.html" %}
    {% include "handlebars/error.html" %}
    {% include "handlebars/finals_modal.html" %}
    {% include "handlebars/final_exams.html" %}
    {% include "handlebars/hfs.html" %}
    {% include "handlebars/grades.html" %}
    {% include "handlebars/instructor.html" %}
    {% include "handlebars/loading.html" %}
    {% include "handlebars/notices.html" %}
    {% include "handlebars/other_quarters.html" %}
    {% include "handlebars/quarter_books.html" %}
    {% include "handlebars/visual_schedule.html" %}
    {% include "handlebars/category_page.html" %}
    
    {% include "handlebars/weekly/other.html" %}
    {% include "handlebars/weekly/week1.html" %}
    {% include "handlebars/weekly/week2.html" %}
    {% include "handlebars/weekly/week3.html" %}
    {% include "handlebars/weekly/week5.html" %}
    {% include "handlebars/weekly/week6.html" %}
    {% include "handlebars/weekly/course_list_A.html" %}
    {% include "handlebars/weekly/course_list_B.html" %}
    {% include "handlebars/weekly/course_list_C.html" %}
    
    <!-- lauren's dummy pages for nav/hierarchy mockups -->
    {% include "handlebars/weekly/libraries.html" %}
    
    <script>
    window.page_titles = {
        "landing": "MyUW Mobile Home",
        "course_list": "MyUW Mobile",
        "visual": "MyUW: Visual Schedule",
        "finabala": "Financial Balances",
        "future_quarters": "MyUW: View Future Quarters",
        "textbooks": "MyUW: Textbooks",
        "instructor": "Faculty Directory",
        "finals": "Final Exams",
        "weekly": "Weekly View",
        "grades": "Grades",
        "notices": "MyUW: Notices",
        "category_page": "MyUW: Category",
    };
    window.user = {
        "grad": {{ user.affiliations.grad|yesno:"true, false" }},
        "undergrad": {{ user.affiliations.undergrad|yesno:"true, false" }},
        "pce": {{ user.affiliations.pce|yesno:"true, false" }},
        "stud_employee": {{ user.affiliations.stud_employee|yesno:"true, false" }},
        "seattle": {{ user.affiliations.official_seattle|yesno:"true, false" }},
        "bothell": {{ user.affiliations.official_bothell|yesno:"true, false" }},
        "tacoma": {{ user.affiliations.official_tacoma|yesno:"true, false" }},
        "email_is_uwgmail": {{ user.email_is_uwgmail|yesno:"true, false" }},
        "email_is_uwlive": {{ user.email_is_uwlive|yesno:"true, false" }},
        "netid": "{{ user.netid }}"
    }
    </script>

{% endblock %}
