{% load static %}

<header id="app_header">
    <div class="container header-bar clearfix">
    	<a href="/mobile/landing"><div class="pull-left header-logo">Home</div></a>
        <div class="pull-left header-user sr-only"><span class="user">{{netid}}</span></div>
        <a href="#app_nav" aria-controls="app_nav"><div class="pull-right header-menu"><i class="fa fa-bars"></i> Menu</div></a>
        
        <div class="pull-right header-email">
        
            <div class="dropdown">
                <a data-toggle="dropdown" id="show_email_links_menu" class="header-email-link" href="#" aria-controls="email_links_menu"><i class="fa fa-envelope"></i> UW Email</a>
                <ul id="email_links_menu" class="dropdown-menu header-email-menu" role="menu" aria-labelledby="">
                    <li><a href="http://gmail.uw.edu" target="_blank"><i class="fa fa-google"></i> UW Gmail</a></li>
                    <li><a href="http://www.outlook.com" target="_blank"><i class="fa fa-windows"></i> UW MSN Live</a></li>
                </ul>
            </div>

        </div>
        
    </div>
</header>