{% load static %}

<header id="app_header">
    <div class="container header-bar clearfix">
        <h1 class="pull-left header-logo">MyUW</h1>
        <div class="pull-left header-user sr-only"><span class="user">{{netid}}</span></div>
        <div class="pull-right header-menu"><a href="#app_nav"><i class="fa fa-bars"></i> Menu</a></div>
        <div class="pull-right header-email">
            <div><i class="fa fa-envelope"></i> UW Email</div>
            <select id="email_chooser">
                <option disabled="disabled" selected="selected">Choose email</option>
                <option value="http://gmail.uw.edu">UW Gmail</option>
                <option value="http://www.outlook.com">UW Live</option>
            </select>
        </div>
        
    </div>
</header>
