{% load myuw_admin_filters %}
{% add_admin_checks %}

{% if is_overrider %}
    <h3>Overrides</h3>
    <div><a href="https://docs.google.com/document/d/17SDkE5PUDb2b8kv7glcZDRtiiXz-dP1OM7-TcZO6Qf8/edit#heading=h.ispnci5oze4n" target="_blank" title="Open Override Help instruction in Google document" style="margin-top:-28px;float:right;clear:both;color:#003399;">Override Help</a></div>
    <ul>
        {% url 'userservice_override' as user_override_url %}
        {% if user_override_url %}
            <li><a href="{{ user_override_url }}">{{ userservice_link|default:"User Override" }}</a></li>
        {% endif %}

        {% if is_myuw_admin %}
            <li><a href="{% url 'myuw_date_override' %}">Date Override</a></li>
        {% endif %}
    </ul>
{% endif %}

{% if is_myuw_admin %}
    <h3>Content Management</h3>
    <ul>
        <li><a href="{% url 'myuw_manage_messages' %}">Banner Messages</a></li>
        <li><a href="{% url 'myuw_popular_links' %}">Popular Links</a></li>
        <li><a href="{% url 'myuw_manage_notices' %}">MyUW Notices</a></li>
    </ul>

    <h3>Web Services</h3>
    <ul>
        {% url 'restclients_proxy' 'sws' 'student/v5.json' as sws_url %}
        {% if sws_url %}
            <li><a href="{{ sws_url }}">{{ restclients_sws_link|default:"Browse Student Web Service" }}</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'gws' 'group_sws/v3/search' as gws_url %}
        {% if gws_url %}
            <li><a href="{{ gws_url }}">{{ restclients_gws_link|default:"Search Groups Web Service" }}</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'hfs' 'index.html' as hfs_url %}
        {% if hfs_url %}
            <li><a href="{{ hfs_url }}">HFS</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'iasystem' 'index.html' as ias_url %}
        {% if ias_url %}
            <li><a href="{{ ias_url }}">IASystem</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'pws' 'entity.html' as pws_entity_url %}
        {% if pws_entity_url %}
            <li><a href="{{ pws_entity_url }}">PWS Entity</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'pws' 'person.html' as pws_person_url %}
        {% if pws_person_url %}
            <li><a href="{{ pws_person_url }}">PWS Person</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'pws' 'idcard/v1/photo' as idcard_url %}
        {% if idcard_url %}
            <li><a href="{{ idcard_url }}">{{ restclients_pws_link|default:"ID Photo Search" }}</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'libcurrics' 'index.html' as libcurrics_url %}
        {% if libcurrics_url %}
            <li><a href="{{ libcurrics_url }}">Library Subject Guide</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'grad' 'index.html' as grad_url %}
        {% if grad_url %}
            <li><a href="{{ grad_url }}">MyGrad</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'libraries' 'index.html' as libraries_url %}
        {% if libraries_url %}
            <li><a href="{{ libraries_url }}">My Library Info</a></li>
        {% endif %}
        
        {% url 'restclients_proxy' 'myplan' 'index.html' as myplan_url %}
        {% if myplan_url %}
            <li><a href="{{ myplan_url }}">MyPlan</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'uwnetid' 'index.html' as uwnetid_url %}
        {% if uwnetid_url %}
            <li><a href="{{ uwnetid_url }}">UWNetID Password</a></li>
        {% endif %}

        {% url 'restclients_proxy' 'book' 'index.html' as book_url %}
        {% if book_url %}
            <li><a href="{{ book_url }}">TextBook</a></li>
        {% endif %}

        <br />
        {% url 'restclients_errors' as url %}
        {% if url %}
            <li><a href="{% url 'restclients_errors' %}">Web Service Errors</a></li>
        {% endif %}
    </ul>

{% endif %}
