{% load myuw_admin_filters %}
{% add_admin_checks %}

{% if is_overrider %}
    <h3>Overrides</h3>
    <div><a href="https://docs.google.com/document/d/17SDkE5PUDb2b8kv7glcZDRtiiXz-dP1OM7-TcZO6Qf8/edit#heading=h.ispnci5oze4n" target="_blank" title="Open Override Help instruction in Google document" style="margin-top:-28px;float:right;clear:both;color:#003399;">Override Help</a></div>
    <ul>
        {% url 'userservice_override' as user_override_url %}
        {% if user_override_url %}
            <li><a href="{{ user_override_url }}">{{ userservice_link|default:"User Override" }}</a></li>
        {% endif %}

        {% if is_myuw_admin %}
            <li><a href="{% url 'myuw_date_override' %}">Date Override</a></li>
        {% endif %}
    </ul>
{% endif %}

{% if is_myuw_admin %}
    <h3>Content Management</h3>
    <ul>
        {% url 'manage_persistent_messages' as manage_messages_url %}
        {% if manage_messages_url %}
            <li>
                <a href="{{ manage_messages_url }}">
                    {{ persistent_message_link|default:"Banner Messages" }}
                </a>
            </li>
        {% endif %}
        <li><a href="{% url 'myuw_popular_links' %}">Popular Links</a></li>
        <li><a href="{% url 'myuw_manage_notices' %}">MyUW Notices</a></li>
    </ul>

    <h3>Web Services</h3>
    <ul>
        {% url 'myuw_rest_search' 'sws' 'course.html' as course_url %}
        {% if course_url %}
        <li>
            <a href="{{ course_url }}">SWS Course</a>
        </li>
        {% endif %}
        
        {% url 'myuw_rest_search' 'sws' 'student.html' as student_url %}
        {% if student_url %}
        <li>
            <a href="{{ student_url }}">SWS Student</a>
        </li>
        {% endif %}

        {% url 'myuw_rest_search' 'hfs' 'accounts.html' as hfs_url %}
        {% if hfs_url %}
            <li>
                <a href="{{ hfs_url }}">HFS</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'book' 'iacourse.html' as iacourse_url %}
        {% if iacourse_url %}
        <li>
            <a href="{{ iacourse_url }}">IA Course Digital Materials</a>
        </li>
        {% endif %}

        {% url 'myuw_rest_search' 'iasystem' 'index.html' as ias_url %}
        {% if ias_url %}
            <li><a href="{{ ias_url }}">
                {{ restclients_iasystem_link|default:"IASystem Course Eval" }}</a>
            </li>
        {% endif %}

        {% url 'restclients_proxy' 'pws' 'idcard/v1/photo' as idcard_url %}
        {% if idcard_url %}
            <li><a href="{{ idcard_url }}">
                {{ restclients_pws_link|default:"ID Photo Search" }}</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'libcurrics' 'index.html' as libcurrics_url %}
        {% if libcurrics_url %}
            <li>
                <a href="{{ libcurrics_url }}">Library Subject Guide</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'grad' 'index.html' as grad_url %}
        {% if grad_url %}
            <li>
                <a href="{{ grad_url }}">MyGrad</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'libraries' 'index.html' as libraries_url %}
        {% if libraries_url %}
            <li>
                <a href="{{ libraries_url }}">My Library Info</a>
            </li>
        {% endif %}
        
        {% url 'myuw_rest_search' 'myplan' 'index.html' as myplan_url %}
        {% if myplan_url %}
            <li>
                <a href="{{ myplan_url }}">MyPlan</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'uwnetid' 'password.html' as pw_url %}
        {% if pw_url %}
            <li>
                <a href="{{ pw_url }}">UWNetID Password</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'uwnetid' 'subscription.html' as uwnetid_url %}
        {% if uwnetid_url %}
            <li>
                <a href="{{ uwnetid_url }}">UWNetID Subscriptions</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'book' 'index.html' as book_url %}
        {% if book_url %}
            <li>
                <a href="{{ book_url }}">TextBook</a>
            </li>
        {% endif %}

        {% url 'myuw_rest_search' 'upass' 'index.html' as upass_url %}
        {% if upass_url %}
            <li>
                <a href="{{ upass_url }}">UPASS</a>
            </li>
        {% endif %}

        <br />
        {% url 'restclients_errors' as url %}
        {% if url %}
            <li><a href="{% url 'restclients_errors' %}">Web Service Errors</a></li>
        {% endif %}
    </ul>

{% endif %}
