{% extends "teaching_base.html" %}
{% load static %}
{% load compress %}

{% block page_title %}
MyUW Photo Class List
{% endblock %}

{% block teaching_content %}
    {% include "handlebars/teaching/photo_list.html" %}
{% endblock %}

{% block extra_js %}
    <script>
      window.section_data = {
          "section": "{{ section }}"
      };
    </script>
    {% compress js inline %}
    <script src="{% static 'js/page/teaching_class_list.js' %}"></script>
    {% endcompress %}
{% endblock %}
