{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-prettier"
  ],
  "rules": {
    "scss/no-global-function-names": null,
    "no-invalid-position-at-import-rule": null,
    "scss/at-import-partial-extension": [
      "never",
      {
        "severity": "warning"
      }
    ]
  }
}