version: '3'

services:
  web:
    build: .
    command: bash -c "pip install -r requirements.txt && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./myuw:/app/myuw
      - ./docker:/app/project
    ports:
      - "8000:8000"
    environment:
      REMOTE_USER: 'javerage'
