Django==1.6
South
simplejson
django-compressor
django-mobility
BeautifulSoup
urllib3
django-templatetag-handlebars
-e svn+https://svn.cac.washington.edu/svn/restclients/trunk#egg=RestClients
AuthZ-Group==1.1.2
Django-UserService==1.0.2
# If you're using a MySQL database, you may also need mysql-python
# mysql-python
