Django==1.6
South
simplejson
django-compressor
django-mobility
BeautifulSoup
urllib3
django-templatetag-handlebars
-e svn+https://svn.cac.washington.edu/svn/restclients/trunk#egg=RestClients
-e git://github.com/vegitron/django-userservice#egg=Django-UserService
-e git://github.com/vegitron/authz_group#egg=AuthZ-Group
# If you're using a MySQL database, you may also need mysql-python
# mysql-python
