{% verbatim %}
<script id="academics_page" type="text/x-handlebars-template">

<div class="container academics-container">
    <h2 id="main-content-label" class="heading-page">Academics</h2>
    <div class="row">
        <div id="academics_content" class="col-md-8">
            <div id="academics_content_cards"></div>
            <div id="static-links"></div>
        </div>
	<div id="academics_sidebar_cards" class="academics_aside col-md-4">
	</div>
    </div>
</div>
</script>
{% endverbatim %}
