{% verbatim %}
<script id="accounts_page" type="text/x-handlebars-template">

        <div class="container accounts-container">
            <div class="row">
                <div class="account-content col-md-6">
                  <div id="accounts_content_cards"></div>
                    <div id="static-links"></div>
                </div>
                <div id="accounts_sidebar_cards" class="accounts-aside col-md-6">
                    <!-- load account page column 2 stuff here -->
                </div>
            </div>
        </div>

</script>
{% endverbatim %}
