{% load templatetag_handlebars %}
    {% tplhandlebars "accounts_page" %}

        <div class="container accounts-container">
            <h2 class="heading-page">{{ page_title }}</h2>
            <div class="row">
                <div class="account-content col-md-8">
                  <div id="accounts_content_cards"></div>
                    <div id="static-links"></div>
                </div>
                <div id="account_sidebar_cards" class="accounts-aside col-md-6">
                    <!-- load account page column 2 stuff here -->
                </div>
            </div>
        </div>

{% endtplhandlebars %}
