{% verbatim %}
<script id="calendar_page" type="text/x-handlebars-template">

<div class="container academic_cal-container">
    <div class="acal-main">
        <h2 id="main-content-label" class="heading-page">Academic Calendar</h2>
        <div class="row">
            <div id="calendar_content" class="col-md-8">
                {{#unless has_error}}
                <div id="calendar_content_cards">
                </div>
                {{else}}
                <div>
				    <p class="text-danger" style="margin-top:1em;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> An error has occurred and MyUW cannot display calendar data right now. Please try again later.</p>
				</div>
				{{/unless}}
            </div>
    	    <div id="calendar_sidebar_cards" class="calendar_aside col-md-4">
    	    </div>
        </div>
    </div>
</div>
</script>
{% endverbatim %}
