{% verbatim %}
<script id="error_header" type="text/x-handlebars-template">
<div class="alert alert-error server-error">
    <div class="error-title"><i class="icon-exclamation-sign pull-left icon-huge"></i>Uh-oh...</div>
 There was a problem connecting to MyUW Mobile. Please bear with us as we resolve the issue. If the problem persists please contact us or use the full site.
    <div class="error-buttons">
        <a class="btn btn-large" href="https://myuw.washington.edu/servlet/user" target="_blank"><i class="icon-external-link"></i> Full Site</a><a class="btn btn-large"  href="mailto:help@uw.edu?subject=MyUW%20Comment,%20Request,%20Suggestion&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20" title="Send email to help@uw.edu"><i class="icon-envelope"></i> Contact Us</a>
    </div>
</div>

</script>
{% endverbatim %}

{% verbatim %}
<script id="error_body" type="text/x-handlebars-template">
</script>
{% endverbatim %}
