{% load templatetag_handlebars %}
    {% tplhandlebars "grades" %}

    <!-- notifications banner
    <div class="notification" style="padding: 8px 15px; background: #F3EE81; position: relative; top: -40px; margin: 0px -10px;">
        <h4 style="color: #555;">Notices</h4>
        <p style="float: right; font-size: 10px; margin-top: -40px;">Week 2</p>
        <ul>
          <li><b>Your registration period is open!</b></li>
          <li>COM 213 has 2 seats available.</li>
          <li>Next Monday (4/30) is the last day to change a Winter quarter class to S/NS grading.</li>
        </ul>
    </div><--></-->

    <h2>Grades and Academic Planning</h3>

<!-- Canvas grades -->
    <div style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid black;">
        <h4 style="color: #555;">Current Canvas grades, Spring 2014</h4>
        <table>
          <tr>
              <td class="canvasGradeBox" style="background: #e7e7e7; padding: 15px; margin: 5px; border: 1px solid #808080;">
                  <span class="courseIDtitle">MATH 321</span>  	        	<span class="canvasGrade" style="font-size: 18px; float: right; padding-bottom: 10px; margin: 5px; ">23.41%</span>

                  <span class="shortTitle">Discrete Math Modeling</span>
              </td>
              <td class="canvasGradeBox span1" style="background: #e7e7e7; padding: 15px; margin: 5px; border: 1px solid #808080;">
                  <span class="courseIDtitle">BIOL 101</span>
                  <span class="shortTitle">Biology for dummies</span>
                  <p class="canvasGrade" style="font-size: 18px; float: right; padding-bottom: 10px; margin: 5px;">81.54%</p><br style="clear:both;">
              </td>
          </tr>
          <tr>
              <td class="canvasGradeBox span1" style="background: #e7e7e7; padding: 15px; margin: 5px; border: 1px solid #808080;">
                  <span class="courseIDtitle">ENGL 204</span>
                  <span class="shortTitle">Course title here</span>
                  <p class="canvasGrade" style="font-size: 18px; float: right; padding-bottom: 10px; margin: 5px;">23.41%</p>
              </td>
              <td class="canvasGradeBox span1" style="background: #e7e7e7; padding: 15px; margin: 5px; border: 1px solid #808080;">
                  <span class="courseIDtitle">MATH 321</span>
                  <span class="shortTitle">Discrete Math Modeling</span>
                  <p class="canvasGrade" style="font-size: 18px; float: right; padding-bottom: 10px; margin: 5px;">23.41%</p><br style="clear:both;">
              </td>
          </tr>
          <tr ><td colspan="2"><p>NOTE: depending on how your Instructor has Canvas conﬁgured, this grade calculation may be for points needed for the entire quarter, rather than for course work due to date.</p></td></tr>
        </table>
    </div>
</div>

<h3>Final Grades for [the previous quarter]</h3>
<br />
{{#each sections}}
<div class="c{{color_id}} c{{color_id}}Border canvasGradeBox" style="padding: 8px 4px;">
    <span class="courseIDtitle">{{ curriculum_abbr }} {{course_number}}{{section_id}}</span>
    <span class="shortTitle">{{ course_title }}</span>
    <span class="canvasGrade" style="font-size: 25px; float: right; padding-right: 10px;">
        {{ #if official_grade }}
        {{ official_grade }}
        {{ else }}
        Grade not yet submitted
        {{ /if }}
    </span>
</div>
<br />
{{/each}}

<!-- GPA card -->
<div class="" style="border-right: 1px solid black; float: left; width: 45%; position: relative; padding: 10px; padding-right: 20px; margin-right: 10px;">
    <h3 style="color: #555; margin-top: 0;">GPA: 3.6</h3>
    <p>As of March 15th, 2014</p>
    <a href="">Grade Report</a><br>
        <a href="">Unofficial Transcript</a>
</div>
<div class="" style="float: left; width: 45%; position: relative; padding: 10px; margin-right: 10px;">
    <h3 style="color: #555; margin-top: 0;">[Stuff you can do]</h3>
    <ul style="padding-left: 3px;">
        <li><a>Contact your advisor</a></li>
        <li><a>Use the GPA calculator</a></li>
        <li><a>Adjust your courseload</a></li>
        <li><a>Use DARS to make a plan</a></li>
        <li><a>Declare or change a major</a></li>
        <li><a>See your unofficial transcript</a></li>
        <li><a>Order an official transcript</a></li>
    </ul>
</div>

<br style="clear: both;">

<div class="row-fluid">
    <div class="span6">
        <h3>Academic Planning Resources</h3>
        <a>MyPlan</a><br />
        <a>DARS</a><br />
        <a>GPA Calculator</a><br />
        <a>Grade Report</a><br />
        <a>View Unofficial Transcript</a><br />
        <a>Request Official Transcript</a><br />
    </div>
</div>

<!-- nav footer -->
<div class="row-fluid" style="background: #ccc; position: relative; bottom: 0px; margin: 10px -10px 0px; padding: 8px 25px;">
    <div class="span3">
        <b>Your stuff</b><br>
        <a>Grades</a><br>
        <a>Finances</a><br>
        <a>Academic Planning</a><br>
        <a>Registration</a><br>
        <a>Profile</a><br>
        <a>Calendar</a>
      </div>
      <div class="span3">
        <b>Other semi-yours stuff</b><br>
        <a>UW Housing and Dining</a><br>
        <a>Libraries</a><br>
        <a>Campus employment and Career</a><br>
      </div>
      <div class="span3">
        <b>Static stuff</b><br>
        <a>Academic Resources</a><br>
        <a>Student Life</a><br>
        <a>Around Campus</a><br>
        <a>Campus events</a><br>
      </div>
    </div>
    {% endtplhandlebars %}
