{% load templatetag_handlebars %}

{% tplhandlebars "hfs-header" %}
  <h2 id="quarter-info">Financial Balances</h2>
  <span class="muted">As of {{formatTimeAMPM time}} on {{date}}</span>
{% endtplhandlebars %}

{% tplhandlebars "hfs_balances" %}
<div id="financial">
  <div class="account">
    <h3>Husky Card</h3>
    <div class="balance"><span class={{hc_color}}>{{{hc_negative}}}<sup>$</sup>{{husky_card_balance}}</span><a target="_blank" class="btn pull-right" href="https://www.hfs.washington.edu/olco/" data-linklabel="Husky Card Account" title="Add Funds"><i class="icon-credit-card"></i> Add Funds</a>
    </div>
    <div class="row-fluid">
    </div>
  </div>

  {{#if residence_hall_dining_balance }}
  <div class="account">
    <h3>Resident Dining Account</h3>
    <div class="balance"><span class={{din_color}}>{{{din_negative}}}<sup>$</sup>{{residence_hall_dining_balance}}</span>
    </div>
    <div class="row-fluid">
      <ul class="unstyled">
        <li class="additional">
          <a class="show_textbooks" target="_blank" href="https://www.hfs.washington.edu/olco/Secure/TransactionHistory.aspx" data-linklabel="Husky Card Transactions"><i class="icon-list-alt" role="presentation"></i> View latest transactions</a>
        </li>
      </ul>
    </div>
  </div>
  {{/if}}
</div>
{% endtplhandlebars %}
