{% verbatim %}
<script id="husky_experience_page" type="text/x-handlebars-template">

<div class="container huskyx-container">
    <div class="huskyx-main">
        <h2 id="main-content-label" class="myuw-heading-page">Husky Experience Toolkit</h2>
        <div class="row">
            <div id="huskyx_content" class="col-md-12">
                <div id="huskyx_content_cards">

                    <!-- Temporary placement -->
                    <div class="huskyx-intro">
                        <div class="row">
                            <div class="col-sm-7">
                                <p class="myuw-herosummary">This toolkit is designed to help you make the most of your time at UW. The articles here address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together. Wherever you are in your university career, use this toolkit to challenge yourself, explore your options, and integrate all you are learning - your Husky Experience is more than a major!
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <img class="huskyx-diagram" src="{{static '/images/HX_dimensions-1.0x.png'}}"
                                srcset="{{static '/images/HX_dimensions-1.0x.png'}} 1x, {{static '/images/HX_dimensions-1.5x.png'}} 1.5x, {{static '/images/HX_dimensions-2.0x.png'}} 2x"
                                sizes="300px"
                                alt="Husky Experience dimensions diagram" longdesc="" />
                            </div>
                        </div>
                    </div>

                    <div class="huskyx-topics">

                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Know Yourself</h3>
                                <p>Know what interests and engages you. Test ideas you have about yourself. Build a supportive social network and make decisions that are right for you. Understand how taking care of yourself is fundamental to success in everything you do.</p>

                                <ul class="list-unstyled">
                                    {{{know-yourself}}}
                                </ul>
                            </div>

                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Know the World</h3>
                                <p>What are you curious about? What matters to you? Know how the people and resources at the UW can help you learn, understand, and contribute.</p>

                                <ul class="list-unstyled">
                                    {{{know-world}}}
                                </ul>
                            </div>


                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Make Your Way</h3>
                                <p>Gather tools and knowledge to intentionally construct a career. Learn to identify and showcase your skills and strengths. Build a professional network to support you on a path to success.</p>
                                <ul class="list-unstyled">
                                    {{{make-your-way}}}
                                </ul>
                            </div>


                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Weave it Together</h3>
                                <p>Reflect on your experiences large and small – how do they connect? Weave your experiences into a meaningful whole – the story of your growth and learning.</p>

                                {{{weave-together}}}
                            </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="myuw-heading-page">Why We Made This Toolkit</h3>
                            <p>We are a team of UW staff members who care about your success. We want to help you create the kind of Husky Experience that will serve you best. To do this, we gathered and curated advice from students, faculty, and staff from across UW on how to make the most of your time here.</p>
                            <p>The toolkit was curated by Michaelann Jundt of Undergraduate Academic Affairs, Janice Fournier and William Washington of UW Information Technology and Katy DeRosier from the Office of the Provost.</p>

                            <h3 class="myuw-heading-page">How it works</h3>
                            <p>These articles are delivered here via MyUW so that all students have access to these ideas and resources. New articles are highlighted each week on the home page to provide timely advice, but read and explore them anytime.</p>
                            <p>We plan to add new articles and resources each academic year.</p>
                        </div>
                    </div>

                    <br/><br/>


        <div class="row">
    	    <div id="huskyx_sidebar_cards" class="huskyx_aside col-md-12">
    	    </div>
        </div>
    </div>
</div>


</script>
{% endverbatim %}
