{% load templatetag_handlebars %}
    {% tplhandlebars "husky_experience_page" %}

<div class="container huskyx-container">
    <div class="huskyx-main">
        <h2 id="main-content-label" class="heading-page">Husky Experience: Thrive</h2>
        <div class="row">
            <div id="huskyx_content" class="col-md-12">
                <div id="huskyx_content_cards">

                    <!-- Temporary placement -->
                    <div class="row">
                        <div class="col-md-8">
                            <p>Thrive weekly messages are designed to help you succeed wherever you are in your University career. These messages address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Make Sense.
                            </p>
                            <p>Messages are intentionally scheduled to provide timely advice, but read and explore them anytime - your husky experience is more than a major.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="" alt="Husky Experience dimensions diagram" longdesc="" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Know Yourself</h3>

                                <p>Know your interests and what engages you. Gain experiences that will test ideas you have about who you are. Build a supportive social network and make decisions in your best interest. Understand how tending to your wellness provides the foundation to success in all other activities.</p>

                                <ul class="list-unstyled">
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Know the World</h3>
                                <p>Know how your education relates to the world. Understand the relationship between major and career, and the relationships between different disciplines. Ensure you have the knowledge and skills to achieve academically and contribute to a changing world.</p>

                                <ul class="list-unstyled">
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Make Your Way</h3>
                                <p>Gather the tools and knowledge you need to intentionally construct a career. Identify your skills and learn to articulate them to potential employers. Build a professional network composed of the right people to support you on a path to success.</p>
                                <ul class="list-unstyled">
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="myuw-card">
                                <h3 class="myuw-card-title">Make Sense</h3>
                                <p>Reflect on your experiences large and small, and draw meaningful connections between them. Work to see your experiences as a coherent whole.</p>

                                <ul class="list-unstyled">
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                    <li><a href="#">Article link</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>More About Thrive</h3>
                            <p>Created by faculty, staff, and experienced students, Thrive messages offer guidance to help students:
                            </p>

                            <ul>
                                <li>Explore opportunities and make hte most of learning experiences</li>
                                <li>Connect to other members of the campus community and to important resources</li>
                                <li>Construct the foundation for a healthy, fulfilling life and career</li>
                            </ul>
                            <p>We plan to add new Thrive messages and resources each academic year.</p>
                        </div>
                    </div>

                    <br/><br/>

                    <div class="row">
                        <div class="col-md-8">

                            <div class="myuw-card myuw-card-article">
                                <h3 class="myuw-card-title">The Long View</h3>
                                <p class="myuw-card-tagline">Weekly thoughts on making the most of your Husky Experience</p>

                                <div class="myuw-article-teaser-wrapper">
                                    <img class="myuw-card-image-full" src="https://dummyimage.com/600x400/888/fff.png">

                                    <div class="myuw-article-teaser">
                                        <h4><span class="myuw-highlight">Article Title</span></h4>
                                        <p><span class="myuw-highlight">This is the article teaser. It should be roughly this long. <a href="#">Here is the link to the article.</a></span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
    	    <div id="huskyx_sidebar_cards" class="huskyx_aside col-md-12">
    	    </div>
        </div>
    </div>
</div>
{% endtplhandlebars %}
