{% load templatetag_handlebars %}
    {% tplhandlebars "landing" %}

<h2 id="main" class="sr-only">Summary of courses and accounts</h2>
<div class="container landing-wrapper">

    <!-- accounts summary ticker -->
    <div class="myuw-account-banner">
        <!-- week counter -->
        <div id="" class="myuw-week-counter">
            <a href="/academic_calendar/"><i class="fa fa-calendar" aria-hidden="true"></i> Spring 2017 <span>Week 3 of 11</span></a>
        </div>
        <!-- account summaries -->
        <div id="" class="myuw-account-summaries">
            <a href="/accounts/">Resident Dining <span>$45.00</span></a>
            <a href="/accounts/">Student Husky <span>$12.43</span></a>
            <a href="/accounts/">Employee Husky <span>$23.60</span></a>
            <a href="/accounts/#AccountsCard">Library Items <span>3</span></a>
        </div>
    </div>

    <div class="row">
        <div id="landing_content" class="col-md-8">
            <div id="notice_banner_location"></div>
            <div id="calendar_banner_location_mobile"></div>
            <div id="pce_banner_location"></div>
            <div id="landing_content_cards"></div>
        </div>
        <div id="landing_accounts" class="col-md-4">
            <div id="calendar_banner_location_desktop"></div>
            <div id="landing_accounts_cards"></div>
        </div>
    </div>
</div>
    {% endtplhandlebars %}
