{% verbatim %}
<script id="resource_page" type="text/x-handlebars-template">

    <div class="container explore-uw-container">
        <h2 class="heading-page" id="main-content-label">UW Resources</h2>
        <div class="row">
            <div class="col-md-12">
                <h3 class="myuw-heading-page">On this page</h3>
                <ol class="resources-toc unstyled-list">
                    {{#each categories}}
                    <li><a href="#{{category_id}}">{{category_name}}</a></li>
                    {{/each}}
                </ol>
            </div>
        </div>

        <br/><br/>

        <!-- For each category of links -->
        <div id="explore_cards" class="uw-resources">
            {{#each categories}}
            <div class="row">
                <div class="col-md-12">
                    <h3 id="{{category_id}}">{{category_name}}</h3>

                    <div class="uw-resources-columns">
                    {{#each subcategories}}
                        <div class="uw-resources-canvas-wrapper">
                            <div class="myuw-canvas">
                                {{> resource_content}}
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div id="static-links"></div>

    <button type="button" id='scroll-to-top' class="myuw-back-to-top" title="Back to Top" data-spy="affix" data-offset-bottom="110">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
        <span><span class="sr-only">Back to</span> Top</span>
    </button>
</script>
{% endverbatim %}
