{% load templatetag_handlebars %}
{% tplhandlebars "resource_page" %}

    <!-- temp location -->
    <div class="container explore-uw-container">
        <h2 class="heading-page" id="main-content-label">UW Resources</h2>
        <div class="row">
            <div class="col-md-12">
                <h3 class="myuw-heading-page">On this page</h3>
                <ol class="resources-toc unstyled-list">
                    {{#each categories}}
                    <li><a href="#{{ category_id }}">{{ category_name }}</a></li>
                    {{/each}}
                </ol>
            </div>
        </div>

        <br/><br/>

        <!-- For each category of links -->
        <div id="explore_cards">
            {{#each categories}}
            <div class="row">
                <h3><a name="{{ category_id }}">{{ category_name }}</a></h3>

                {{#each subcategories }}
                    <div>
                        {{> resource_content}}
                    </div>
                {{/each}}
            </div>
            <hr />
            {{/each}}
        </div>


    </div>

    <div id="static-links"></div>
{% endtplhandlebars %}
