{% load templatetag_handlebars %}
{% tplhandlebars "resource_page" %}

    <!-- temp location -->
    <div class="container explore-uw-container">
        <h2 class="heading-page" id="main-content-label">UW Resources</h2>
        <div class="row">
            <div class="col-md-12">
                <h3>On this page</h3>
                <ul>
                    {{#each categories}}
                    <li><a href="#">{{ category_name }}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <!-- For each category of links -->
        <div id="explore_cards">
            {{#each categories}}
            <div class="row">
                <h3>{{ category_name }}</h3>
                {{#each subcategories }}
                    <div>
                        {{> resource_content}}
                    </div>
                {{/each}}
            </div>
            <hr style="border: 1px solid #ccc;"/>
            {{/each}}
        </div>


    </div>

    <div id="static-links"></div>
{% endtplhandlebars %}
