{% load templatetag_handlebars %}
    {% tplhandlebars "teaching" %}

<div class="container teaching-container">
    <h2 class="heading-page">Teaching</h2>
    <div class="row">
        <div id="teaching_content" class="col-md-8">
            <div id="notice_banner_location"></div>
            <div id="calendar_banner_location_mobile"></div>
            <div id="teaching_content_cards"></div>
        </div>
        <div id="teaching_accounts_cards" class="col-md-4">
            <!-- temp quicklinks card -->
            <div id="quicklinks_location_desktop"></div>
            <!-- end temp quicklinks card -->
            <div id="calendar_banner_location_desktop"></div>
        </div>
    </div>
</div>
    {% endtplhandlebars %}
