{% load templatetag_handlebars %}
    {% tplhandlebars "teaching_resources_partial" %}
<div id="teaching_resources">
    <div class="card"  data-name="TeachingResourcesCard" data-type="card">
        <h3 class="scheduleHeading">Teaching Resources</h3>
        <h4>Course Materials</h4>
        <ul class="unstyled-list">
            <li><a href="http://www2.bookstore.washington.edu/textsys/TextReqLogin.taf?school={{#if bothell_affil}}uwbothell{{else}}{{#if tacoma_affil}}uwtacoma{{else}}uwmain{{/if}}{{/if}}" rel="">Order Textbooks</a></li>
            <li><a href="http://www.lib.washington.edu/types/course/instructors/request" rel="">Request Course Reserves</a></li>
            <li><a href="http://f2.washington.edu/fm/c2/printing-copying/course-packs" rel="">Request Course Packs</a></li>
        </ul>
        <h4>Web Tools & Services</h4>
        <ul class="unstyled-list">
            <li><a href="http://canvas.uw.edu" rel="">Canvas</a></li>
            <li><a href="https://panopto.uw.edu" rel="">Panopto Lecture Capture</a></li>
            <li><a href="https://gradepage.uw.edu" rel="">GradePage</a></li>
            <li><a href="https://uw.iasystem.org/faculty" rel="">My Course Evaluations</a></li>
        </ul>
        <h4>Help Guides</h4>
        <ul class="unstyled-list">
            <li><a href="https://itconnect.uw.edu/learn/tools/" rel="">Teaching & Learning Tools</a></li>
            <li><a href="http://www.washington.edu/teaching/" rel="">Center for Teaching & Learning</a></li>
            <li><a href="http://depts.washington.edu/grading/" rel="">Faculty Resources on Grading</a></li>
            <li><a href="https://itconnect.uw.edu/learn/tools/gradepage/assign-submit-grades/" rel="">Online Grade Submission</a></li>
        </ul>
    </div>
</div>
    {% endtplhandlebars %}
