{% verbatim %}
<script id="textbooks" type="text/x-handlebars-template">

<div class="container textbooks-container">
    <h2 id="future_cards_header" class="myuw-heading-page"><span class="text-capitalize">{{quarter}} {{year}}</span> {{summer_term}} Textbooks</h2>

    {{#if is_teaching}}
        <h3 class="myuw-heading-page">Teaching</h3>
        <hr />
        {{#each teaching_sections}}
            <div class="books-list" {{#if @root.collapse_sections}} style="margin-bottom:10px;" data-toggle="collapse" data-target="#books{{sln}}"{{/if}}>
                <a name="{{toUrlSafe curriculum}}{{course_number}}{{section_id}}" />
                {{#if @root.collapse_sections}}
                    <h4 style="display:inline;" class="course-name">
                        <div class="c{{color_id}} simplesquare" aria-hidden="true"></div> {{curriculum}} {{course_number}}{{section_id}}
                    </h4>

                    <div style="display:inline; margin-left:15px;" >
                        {{books.length}} {{pluralize books.length "textbook" "textbooks"}}
                    </div>
                {{else}}
                    <h3 style="display:inline;" class="course-name">
                        <div class="c{{color_id}} simplesquare" aria-hidden="true"></div> {{curriculum}} {{course_number}}{{section_id}}
                    </h3>
                {{/if}}
                <br>


                {{#if has_books}}
                    {{#eachWithIndex books}}
                        <div id="books{{../sln}}" class="clearfix book-image {{#if @root.collapse_sections}}collapse{{/if}}" >
                            <h4 class="book-title">{{title}}</h4>
                            {{#if cover_image_url}}
                            <div class="book-cover pull-left"><img src="{{protocol cover_image_url}}" alt="{{title}} book cover" width="80px" /></div>
                            {{else}}
                            <div class="no-book-cover pull-left" title="No cover image available">No Image Available</div>
                            {{/if}}

                            <dl class="dl-books">
                                <dt>Author</dt>
                                {{#each authors}}
                                <dd>{{name}}</dd>
                                {{/each}}

                                <dt>Price </dt>
                                <dd>
                                    {{#if lowest_price}}
                                    {{#if highest_price}}
				       <p> ${{formatPrice lowest_price}} to ${{formatPrice highest_price}} </p>

                                    {{/if}}
                                    {{/if}}

                                    <p>Visit <a target=_blank href="{{#if order_url}}{{order_url}}{{else}}http://www.ubookstore.com/adoption-search{{/if}}">ubookstore.com</a> for pricing on all available formats.</p>
                                </dd>
                                
                                {{#if notes}}
                                <dt>Notes</dt>
                                    <dd>{{notes}}</dd>
                                {{/if}}
                            {{#if isbn}}
                                    <dt>ISBN</dt>
                                <dd>{{isbn}}</dd>
                            {{/if}}
                            </dl>
                        </div>
                    {{/eachWithIndex}}
                {{else}}
                    <div id="books{{sln}}" class="{{#if @root.collapse_sections}}collapse{{/if}}" style="margin-bottom:25px;">
                        No textbooks have been ordered for this course.
                        <a href="http://www2.bookstore.washington.edu/textsys/TextReqLogin.taf?school={{#if bothell_campus}}uwbothell{{else}}{{#if tacoma_campus}}uwtacoma{{else}}uwmain{{/if}}{{/if}}">Order textbooks</a>.

                      <!-- if IOR  -->
                    </div>
                {{/if}}
            </div>

            {{#if @root.collapse_sections}}
            {{else}}
                <hr />
            {{/if}}

        {{/each}}

        {{#if @root.collapse_sections}}
        <hr />
        {{/if}}
        {{#if enrolled_sections}}
        <h3 class="myuw-heading-page">Enrolled</h3>
        <hr />
        {{/if}}

    {{/if}}

    {{#each enrolled_sections}}
        <div class="books-list" {{#if @root.collapse_sections}} style="margin-bottom:10px;" data-toggle="collapse" data-target="#books{{sln}}"{{/if}}>
            <a name="{{toUrlSafe curriculum}}{{course_number}}{{section_id}}" />
            {{#if @root.collapse_sections}}
                <h4 style="display:inline;" class="course-name">
                    <div class="c{{color_id}} simplesquare" aria-hidden="true"></div> {{curriculum}} {{course_number}}{{section_id}}  {{#if is_instructor}}- Instructor{{/if}}
                </h4>

                <div style="display:inline; margin-left:15px;" >
                    {{books.length}} {{pluralize books.length "textbook" "textbooks"}}
                </div>
            {{else}}
                <h3 style="display:inline;" class="course-name">
                    <div class="c{{color_id}} simplesquare" aria-hidden="true"></div> {{curriculum}} {{course_number}}{{section_id}}  {{#if is_instructor}}- Instructor{{/if}}
                </h3>
            {{/if}}
            <br>


            {{#if has_books}}
                {{#eachWithIndex books}}
                    <div id="books{{../sln}}" class="clearfix book-image {{#if @root.collapse_sections}}collapse{{/if}}" >
                        <h4 class="book-title">{{title}}</h4>
                        
                        {{#if cover_image_url}}
                        <div class="book-cover pull-left">
                            <img src="{{protocol cover_image_url}}" alt="{{title}} book cover" width="80px" />
                        </div>
                        {{else}}
                        <div class="no-book-cover pull-left" title="No cover image available">No Image Available</div>
                        {{/if}}

                        <dl class="dl-books pull-left" style="width:68%;">
                            <dt>Author</dt>
                            {{#each authors}}
                            <dd>{{name}}</dd>
                            {{/each}}

                            <dt>Price </dt>
                            <dd>
                            {{#if lowest_price}}
                            {{#if highest_price}}
			        <p> ${{formatPrice lowest_price}} to ${{formatPrice highest_price}} </p>

                                <p>Visit <a target=_blank href="{{#if order_url}}{{order_url}}{{else}}http://www.ubookstore.com/adoption-search{{/if}}">ubookstore.com</a> for pricing on all available formats.</p>
                            {{/if}}
                            {{/if}}

                            </dd>


                            {{#if notes}}
                            <dt>Notes</dt>
                            <dd>{{notes}}</dd>
                            {{/if}}
                        {{#if isbn}}
                                <dt>ISBN</dt>
                            <dd>{{isbn}}</dd>
                        {{/if}}
                        </dl>
                    </div>
                {{/eachWithIndex}}

            {{else}}
                <div id="books{{sln}}" class="{{#if @root.collapse_sections}}collapse{{/if}}" style="margin-bottom:25px;">
                  No textbook requirement has been received for this course.
                  Please check with your instructor.
                </div>

            {{/if}}
        </div> <!-- end booklist -->


        {{#if @root.collapse_sections}}
        {{else}}
            <hr />
        {{/if}}
    {{/each}}

    <div style="text-align:center; margin-bottom:10px;"><a class="btn btn-default card-action-btn" target=_blank href="{{#if order_url}}{{order_url}}{{else}}http://www.ubookstore.com/adoption-search{{/if}}">Start textbook shopping</a></div>
    <!-- <p class="text-muted">Read the University Book Store's <a href="http://uw-seattle.verbacompare.com/" target="_blank">price comparison policies</a></p> -->

    <div class="panel panel-warning">
        <div class="panel-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>University Book Store autumn 2020 update</strong></div>
        <div class="panel-body">
            In order to ensure public health, all course materials purchases for 
Winter 2021 quarter are online only; University Book Store&rsquo;s course 
materials department will be closed to the public.
        </div>
    </div>

    <div style="margin-top:20px;">
	<p class="text-muted">Information on course textbooks is collected by and provided courtesy of <a href="http://www.bookstore.washington.edu">University Book Store</a> and is subject to change regularly and without notice.</p>
    </div>
</div>
</script>
{% endverbatim %}
