{% load templatetag_handlebars %}
    {% tplhandlebars "textbooks" %}

<div class="container textbooks-container">
    <h2 id="future_cards_header"><span style="text-transform:uppercase;">{{quarter}} {{year}}</span> {{summer_term}} Textbooks</h2>

    {{#each sections}}
    <div class="books-list">
        <a name="{{toUrlSafe curriculum}}{{course_number}}{{section_id}}" />
        <h3>
            <div class="c{{color_id}} simplesquare" aria-hidden="true"></div> {{curriculum}} {{course_number}}{{section_id}}  {{#if is_instructor}}- Instructor{{/if}}
        </h3>
    </div>

    {{#if books}}
        {{#eachWithIndex books}}
        <div class="clearfix book-image">
            <h4>{{title}}</h4>
            {{#if cover_image_url}}
            <div class="book-cover pull-left"><img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{cover_image_url}}" alt="{{title}} book cover" width="80px" /></div>
            {{else}}
            <div class="no-book-cover pull-left" title="No cover image available">No Image Available</div>
            {{/if}}

            <dl class="dl-books">
                <dt>Author</dt>
                {{#each authors}}
	            <dd>{{name}}</dd>
                {{/each}}

                <dt>New </dt>
                <dd>
                    {{#if price}}
	            ${{formatPrice price}}
                    {{else}}
                    *
                    {{/if}}
                </dd>

                <dt>Used</dt>
                <dd>
                    {{#if used_price}}
                    ${{formatPrice used_price}}
                    {{else}}
                    *
                    {{/if}}
                </dd>

                {{#if notes}}
	            <dt>Notes</dt>
	            {{#if is_required}}
                        <dd>Required</dd>
	            {{else}}
	                <dd>{{notes}}</dd>
                    {{/if}}
                {{/if}}
	        {{#if isbn}}
                    <dt>ISBN</dt>
	            <dd>{{isbn}}</dd>
	        {{/if}}
            </dl>
        </div>
        {{/eachWithIndex}}

        {{#if is_instructor}}
        <a href="http://www2.bookstore.washington.edu/textsys/TextReqLogin.taf?school={{#if bothell_campus}}uwbothell{{else}}{{#if tacoma_campus}}uwtacoma{{else}}uwmain{{/if}}{{/if}}">Modify textbooks</a>.
        {{/if}}
    {{else}}
    <div style="margin-bottom:25px;">
      {{#if is_instructor}}
      No textbooks have been ordered for this course.
      <a href="http://www2.bookstore.washington.edu/textsys/TextReqLogin.taf?school={{#if bothell_campus}}uwbothell{{else}}{{#if tacoma_campus}}uwtacoma{{else}}uwmain{{/if}}{{/if}}">Order textbooks</a>.
      {{else}}
      No textbook requirement has been received for this course.
      Please check with your instructor.
      {{/if}}
      <!-- if IOR  --> </div>
    {{/if}}

    <hr />
    {{/each}}

    {{#if verba_link }}
    <div style="text-align:center; margin-bottom:10px;"><a target=_blank href="{{verba_link}}"><button class="btn btn-default" type="button">Compare Prices and Buy Books</button></a></div>
    <!-- <p class="text-muted">Read the University Book Store's <a href="http://uw-seattle.verbacompare.com/" target="_blank">price comparison policies</a></p> -->
    {{/if}}

    <div style="margin-top:20px;">
	<p class="text-muted">Information on course textbooks is collected by and provided courtesy of <a href="http://www.bookstore.washington.edu">University Book Store</a> and is subject to change regularly and without notice.</p>
    </div>
</div>
{% endtplhandlebars %}
