	{% load templatetag_handlebars %}
    {% tplhandlebars "thrive_messages" %}
    <div class="container thrive-messages">
      <h2 id="main" class="heading-page"><span>Thrive - First Year</span><br>Husky Experience</h2>
      <p class="thrive-archive-instructions">Revisit Thrive messages that have appeared during the quarter. &nbsp;<a href="/thrive/">What is Thrive?</a></p>
      {{#each message_groups}}
      <div class="row">
        {{#each this}}
          {{{this}}}
        {{/each}}
      </div>
      {{/each}}
    </div>
    {% endtplhandlebars %}
