	{% load templatetag_handlebars %}
    {% tplhandlebars "thrive_content" %}
    <div class="container what-is-thrive">
        <h2 id="main" class="heading-page">What is Thrive?</h2>
        <div class="thrive-description">
            <p>Thrive is a series of weekly messages in MyUW designed to help you in your first year. While there are many things to do as you adjust to campus life, these just-in-time tips can help you know when and what to focus on during the coming months. Created by experienced students, faculty, and advisers, the messages provide pointers on how to explore opportunities and make the most of your learning experiences, meet people and connect to important campus resources, and create the foundation of your university career.</p>

<p>Thrive is one of many efforts of the Husky Experience—an initiative designed to help all students opt in to the kinds of experiences that comprise a vital and well-rounded 21st century education. Its focus is on the broad skills, knowledge, and abilities gained through classroom learning, as well as through high impact experiences such as study abroad, jobs and internships, research and leadership projects, and participation in clubs and community organizations. <a href="http://www.washington.edu/strategicplanning/initiatives/husky-experience/" data-linklabel="Learn about Husky Experience">Learn more about the Husky Experience</a>.</p>

<p>To learn more about Thrive or provide feedback on the project, contact Michaelann Jundt, Associate Dean, Undergraduate Academic Affairs at mjundt@uw.edu.</p>
    </div>
        <a href="/thrive_messages/">View Thrive messages</a>
    </div>
    </div>
    {% endtplhandlebars %}
