	{% verbatim %}
<script id="thrive_content" type="text/x-handlebars-template">
    <div class="container what-is-thrive">
        <h2 id="main" class="heading-page">What is the Husky Experience Toolkit?</h2>
        <div class="thrive-description">

        {{#if target_fyp}}
            <p>The Husky Experience Toolkit is a series of weekly messages in MyUW designed to help you in your first year. While there are many things to do as you adjust to campus life, these just-in-time tips can help you know when and what to focus on during the coming months. Created by experienced students, faculty, and advisers, the messages provide pointers on how to explore opportunities and make the most of your learning experiences, meet people and connect to important campus resources, and create the foundation of your university career.</p>
            <p>After your first year, you’ll see Husky Experience Toolkit articles that are designed to support students after their first year.</p>

        {{else}}
            <p>The weekly Husky Experience Toolkit messages in MyUW are designed to help you adjust to campus life. These messages for transfer students provide timely advice on what to focus on and when during your first quarter. Created by UW students, faculty, and advisers, the messages offer tips on how to</p>
                <ul>
                    <li>meet people and connect to important campus resources,</li>
                    <li>explore opportunities and make the most of learning experiences,</li>
                    <li>create a healthy foundation for your UW career.</li>
                </ul>
            <p>After your first quarter, you’ll see Husky Experience Toolkit articles that are designed to support students after their first year.</p>
{{/if}}

<p>This toolkit is one of many efforts of the Husky Experience—an initiative designed to help all students opt in to the kinds of experiences that comprise a vital and well-rounded 21st century education. Its focus is on the broad skills, knowledge, and abilities gained through classroom learning, as well as through high impact experiences such as study abroad, jobs and internships, research and leadership projects, and participation in clubs and community organizations. <a href="http://www.washington.edu/strategicplanning/initiatives/husky-experience/" data-linklabel="Learn about Husky Experience">Learn more about the Husky Experience</a>.</p>

<p>To learn more about Husky Experience Toolkit or provide feedback on the project, contact Michaelann Jundt, Associate Dean, Undergraduate Academic Affairs at mjundt@uw.edu.</p>
    </div>
        <a href="/thrive_messages/">View {{#if target_fyp}}first year{{else}}transfer{{/if}} toolkit messages</a>
    </div>
    </div>
</script>
{% endverbatim %}
