	{% verbatim %}
<script id="thrive_messages" type="text/x-handlebars-template">
    <div class="container thrive-messages">
      <h2 id="main" class="heading-page">
          {{#if target_fyp}}
                <span>First Year</span>
                <br>Husky Experience Toolkit
            {{/if}}
            {{#if target_aut_transfer}}
                <span>Transfer Student</span>
                <br>Husky Experience Toolkit
            {{/if}}
            {{#if target_win_transfer}}
                <span>Transfer Student</span>
                <br>Husky Experience Toolkit
            {{/if}}
      </h2>
      <p class="thrive-archive-instructions">Revisit toolkit messages that have appeared during the quarter. &nbsp;<a href="/thrive/">What is the Husky Experience Toolkit?</a></p>
      {{#each message_groups}}
      <div class="row">
        {{#each this}}
          {{{this}}}
        {{/each}}
      </div>
      {{/each}}
    </div>
</script>
{% endverbatim %}
