{% load templatetag_handlebars %}
{% tplhandlebars "hr_payroll_card" %}
<div class="card hr-payroll-card" style="position:relative;">
    <h3>HR and Payroll</h3>

    <div style="padding-bottom: 10px;">
        <h4>Workday</h4>
        {% with link_text="Sign in to Workday" %}
        {% include "workday_link.html" %}
        {% endwith %}
        <p>Workday is UW's human resources, benefits, payroll, and time tracking system.</p>
    </div>

    <div style="padding-bottom: 10px;">
        <h4>Get Help</h4>
        <ul class="unstyled-list">
            <li><a href="https://isc.uw.edu">Integrated Service Center (ISC)</a></li>
            <li>{{#if is_faculty}}<a href="http://ap.washington.edu/ahr/">Academic HR</a>{{else}}<a href="http://hr.uw.edu/">UW Human Resources</a>{{/if}}</li>
        </ul>
        <p class="card-related-messages">Learn how to <a href="https://isc.uw.edu/your-time-absence/time-off/" data-linklabel="ISC Time Off">look up sick and vacation time</a>, <a href="https://isc.uw.edu/your-time-absence/time-reporting/" data-linklabel="ISC Time Reporting">enter your hours in Workday</a>, <a href="https://isc.uw.edu/your-pay-taxes/paycheck-info/#direct-deposit" data-linklabel="ISC Set Up Direct Deposit">set up direct deposit</a>, and more.</p>
    </div>

    <div style="">
        <h4>Services and Perks</h4>
        <div class="row">
            <div class="col-xs-6">
                <ul class="unstyled-list">
                    <li><a href="https://www.washington.edu/wholeu/">Whole U</a></li>
                    <li><a href="https://nb.fidelity.com/public/nb/uw/home">Fidelity NetBenefits</a></li>
                    <li><a href="http://hr.uw.edu/benefits/retirement-plans/seminars-and-consultations/meet-with-an-investment-professional/">Financial Planning Help</a></li>
                    <li><a href="https://www.washington.edu/facilities/transportation/employee-u-pass">Employee U-PASS</a></li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="unstyled-list">
                    <li><a href="http://www.washington.edu/safecampus/">SafeCampus</a></li>
                    <li><a href="https://www.washington.edu/facilities/transportation/commute-options">Commute Options</a></li>
                    <li><a href="http://www.washington.edu/ima/" data-linklabel="Intramural Activities">Join the IMA (Intramural Activities)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endtplhandlebars %}
