{% load templatetag_handlebars %}
{% load static %}
{% tplhandlebars "accounts_card" %}

<div class="card" style="position:relative;" id="netid-pw">
    <h3>UW NetID </h3>

    <div class="btn btn-default card-action-btn">
	<a href="https://uwnetid.washington.edu/manage/" target="_blank" title="Manage UW NetID">Manage UW NetID account</a>
    </div>

    <div class="links-container actionlink-list">
	<ul class="unstyled-list">
	    <li><a href="https://uwnetid.washington.edu/manage/?password" target="_blank" title="Change UW NetID password">Change UW NetID password</a></li>
	    <li><a href="https://identity.uw.edu/account/recovery/" target="_blank" title="NetID account recovery options">Set account recovery options</a></li>
	    {{#if display_2fa}}
	        <li><a href="https://identity.uw.edu/2fa/" target="_blank" title="Manage two-factor authentication">Manage two-factor authentication (2FA)</a></li>
	    {{/if}}
	</ul>
    </div>
</div>
{% endtplhandlebars %}
