/*** less variables ***/

@myuw: #f8f7f0;
@uwpurple: #39275B;
@yellow: #f5d300;
@gray: #ccc;

@line-height-base:        20px;
@font-size-base:          14px;

/*** break points ***/
@medium: ~"screen and (min-width: 768px)";
@large: ~"screen and (min-width: 1024px)";

/*** global ***/

body {
    
    // body fonts
    font-family: 'Arimo', sans-serif;
	font-family: 'helvetica', sans-serif;
/**
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Arimo', sans-serif;
    font-family: 'Gudea', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pontano Sans', sans-serif;
 **/
    
    // header fonts
    h1, h2, h3, h4, h5, h6 {
/**
        font-family: 'Source Sans Pro', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Droid Sans', sans-serif;
        font-family: 'PT Sans', sans-serif;
        font-family: 'Istok Web', sans-serif;
        font-family: 'Arimo', sans-serif;
 **/
        font-family: 'Gudea', sans-serif;
/**
        font-family: 'Muli', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Pontano Sans', sans-serif;
**/        
    }
    
    a { text-decoration: none; 
        &:hover { text-decoration: none; }
        &:active { text-decoration: none; }
    }

	// positioning 
	
	.relative {
		position: relative;
	}
    
    // course color-coding

    .c1 {
      background-color: #c8a26f;
    }
    .c1a {
      background-color: #d6ba94;
    }
    .c2 {
      background-color: #84b782;
    }
    .c2a {
      background-color: #a4caa2;
    }
    .c3 {
      background-color: #6d8db4;
    }
    .c3a {
      background-color: #8fa7c5;
    }
    .c4 {
      background-color: #c86f6f;
    }
    .c4a {
      background-color: #d69494;
    }
    .c5 {
      background-color: #998577;
    }
    .c5a {
      background-color: #af9f94;
    }
    .c6 {
      background-color: #a58dce;
    }
    .c6a {
      background-color: #c1b1dd;
    }
    .c7 {
      background-color: #c8c36f;
    }
    .c7a {
      background-color: #d6d294;
    }
    .c8 {
      background-color: #6fc8b6;
    }
    .c8a {
      background-color: #94d6c9;
    }
    .c1Border {
      border-top: 6px solid #c8a26f;
    }
    .c1aBorder {
      border-top: 6px solid #d6ba94;
    }
    .c2Border {
      border-top: 6px solid #84b782;
    }
    .c2aBorder {
      border-top: 6px solid #a4caa2;
    }
    .c3Border {
      border-top: 6px solid #6d8db4;
    }
    .c3aBorder {
      border-top: 6px solid #8fa7c5;
    }
    .c4Border {
      border-top: 6px solid #c86f6f;
    }
    .c4aBorder {
      border-top: 6px solid #d69494;
    }
    .c5Border {
      border-top: 6px solid #998577;
    }
    .c5aBorder {
      border-top: 6px solid #af9f94;
    }
    .c6Border {
      border-top: 6px solid #a58dce;
    }
    .c6aBorder {
      border-top: 6px solid #c1b1dd;
    }
    .c7Border {
      border-top: 6px solid #c8c36f;
    }
    .c7aBorder {
      border-top: 6px solid #d6d294;
    }
    .c8Border {
      border-top: 6px solid #6fc8b6;
    }
    .c8aBorder {
      border-top: 6px solid #94d6c9;
    }

}




/*** header ***/

#app_header { background: #333; 
    
    // header bar
    .header-bar { /*padding: 0px !important;*/ line-height: 60px;

        .header-logo { line-height: 60px; margin: 0; padding: 0; color: @myuw; text-transform: uppercase; margin-right: 10px; font-size: 2em; /*text-indent: -9999px;*/ width: 83px; }

        .header-menu { color: #fff; margin-left: 1em;}
        
        .header-email {position: relative; color: #fff;
            
            .header-email-link { display:inline-block; line-height:60px; color: #fff; }
            .header-email-menu { line-height:40px; color: red; padding: 8px; top:40px !important; 
                //li:first-child { color:#bbb; line-height: 20px; padding-left: 20px; font-size: 80%; text-transform: uppercase; }
                li { padding: 0;
                    a { padding: 0; line-height: 35px; color: #428bca;
                        i { color: #aaa; width:17px; text-align:center; }
                    }
                }
            }        
        }        
    }
    
    .header-bar-thin { line-height: 30px;
        .header-logo { background: gold; }
        
    }
    
}

/*** content ***/

#app_content { min-height: 200px; background-color: #eee; padding-bottom: 1.5em; 
        
    // notice bar
    .notice-bar { background: rgb(248,247,240); border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 4.5em;
        
        .notice-header { line-height: 50px; color: black; margin: 0; font-size: 1.8em;}
        .notice-critical {position: absolute; top: 50%; margin-top: .9em; left: 5px;color: #af4b1a; font-size: .8em;}
        .notice-unread { position: absolute; right: 10px; top: 50%; margin-top: -.3em; }
        .badge {background-color: rgb(85,85,85); font-weight: 300;}
    
    	/****
    	.count-badge {
            background: red;
            border-radius: 20px;
            background-color: red;
            font-size: 90%;
            text-align: center;
            padding: 1px 8px;
            margin-right: 10px;
            font-weight: bold;
            color: whitesmoke;
            vertical-align: 1px;
        }
    
    	.notice-category {
    		color: lighten(@gray, 10%);
    		font-size:	110%;
    		font-style:	italic;
    		padding-right: 2em;
    		padding-left: 1.5em;
    	}
    	****/
    }
    
    
        
    // cards
    .card {  
        
        position: relative; 	
        background-color: #fff;
    	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
    	margin-top: 1.1em;
    	padding: 10px;
    	
		h3 {font-size: 1.8em; font-weight: 400; margin-top: .3em; }

        h4 { color: #555; }
        
        .card-content {  }
        
        .card-critical-alert { background: rgb(240,219,208); padding: 8px; margin-bottom: 1em; color: #af4b1a; text-align: center;        
	        i {font-size: 1.5em; vertical-align: middle; margin-right: .2em;}	        
			a {padding-left: .3em; text-decoration: underline; color: #af4b1a;}
        }

        .card-noncritical-alert { background: rgb(221,229,239); padding: 8px; margin-bottom: 1em; color: #555; text-align: center;
	        i {font-size: 1.5em; vertical-align: middle; margin-right: .2em;}	        
			a {padding-left: 2em; color:white; text-decoration: underline;}
        }
        
        .card-badge-container {
                
            .card-badge {  padding: 8px; overflow: hidden; 
                .card-badge-label { display: block; font-weight: normal; line-height: 35px; background: yellow;  }
                .card-badge-value { display: block; font-size: 22px; font-weight: bold; line-height: 35px; background: yellow; }
                .card-badge-note { font-weight: normal; font-style: italic; color: #888; margin-top: 0; }
            }
        }
        
        .card-related-messages { margin: 1em 0; 
            
            // override italics coming from the messageAPI
            i { font-style: normal !important; }
        }
        
        /*.nav-card-arrow { height: @line-height-base; position: absolute; right: 0; display: inline-block; top: 50%; margin-top: -@line-height-base / 2; }*/
        
        ul.fina-notice-list { padding-left: 0px; 
            
            li { padding-bottom: 8px; }
            
        }
        
        ul.unstyled-list, ol.unstyled-list { padding-left: 0px; list-style-type: none; }
        
        .card-disclosure {  margin-left: -10px; margin-right: -10px; margin-bottom: -10px; margin-top: 2em; padding-left: 10px; border-top: solid 1px #eee; text-transform: uppercase; text-align: center; font-size: .8em;
            a { color: #444; display:block; line-height:40px; }
        }
        
        // override bootstrap table styles
        .table {
            tr {
                td:first-child { padding-left: 0; }
            }
            td { border: none; }
        }
            
    }
    
    // course cards (custom style)
    
    #CourseCard {
        .card {
            // make h4 == h3
            h4 { font-size: 1.8em; font-weight: 400; color: #333; margin-bottom: 1em; }
            
            // make h5 look like h4 -- William overrode this
            h5 { color: #555; margin-top: 1.5em; margin-bottom: .3em; font-size: .9em; text-transform: uppercase;            
            }
            
			h6 {font-size: .8em; font-weight: bold;}

			li.instructor-container {list-style-type: none; padding: 10px 10px;

				h6 {margin-bottom: 0px; margin-top: 0em; font-family: helvetica, sans-serif; line-height: 1em;}
			}

			.instructors {
				ol {padding: 0px;}
			}

			.table {
				margin-top: -5px;	
			}
        }
    }
    
    // future quarter cards (custom style)
    
    #FutureQuarterCard {
        .card {
            // make h4 == h3
            h4 { font-size: 1.8em; font-weight: 400; color: #333; }
            
            // make h5 look like h4
            h5 { font-size: 1.3em; color: #555; }
            
            .future-quarter-card {
    			height:90px; display: block; position: relative; z-index: 900;
			}
			
			
        }
    }
    
     #TextbookCard {
        
        .card {
            
            h3 { font-size: 1.8em; font-weight: 400; color: #333; }
            
            .textbook-card {
    			display: block; position: relative; z-index: 900;
			}
        }
     }
     
    // visual schedule
    
    .hour-marker {border-top:1px solid #bbb; width:100%;}
    .halfhour-marker {border-top:1px dashed #dcdcdc; width:100%;}
    
    
    .visual-schedule {
      width: 100% ;
      position: relative;
      *zoom: 1;
    }
    .visual-schedule:before,
    .visual-schedule:after {
      display: table;
      content: "";
      line-height: 0;
    }
    .visual-schedule:after {
      clear: both;
    }
    .six-hour {
      height: 20em;
    }
    .twelve-hour {
      height: 35em;
    }
    .twelve-plus {
      height: 47em;
    }
    .six-hour .exam-time-bar {
      top: 14%;
    }
    
    .twelve-hour .exam-time-bar {
      //top: 9.5%;
    }
    .twelve-plus .exam-time-bar {
      //top: 7%;
    }
    .twelve-plus .exam-day-col2 {
      position: relative;
      height: 93%;
    }
    .twelve-plus .exam-day-col {
      position: relative;
      height: 93%;
    }
    .six-hour .exam-day-col2 {
      position: relative;
      height: 86%;
    }
    .six-hour .exam-day-col {
      position: relative;
      height: 86%;
    }
    .twelve-hour .exam-day-col2 {
      position: relative;
      height: 92%;
    }
    .twelve-hour .exam-day-col {
      position: relative;
      height: 92%;
    }
    .time-bar, .exam-time-bar  {
      /*margin-left: -2px;*/
      width: 8%;
      border-right: 1px solid #ccc;
      position: relative;
      display: inline-block;
      float: left;
      font-weight: bold;
      height: 93%;
      top: 8%;
    }
    
    .five-day {
      width: 18.4%;
      height: 100%;
      position: relative;
      display: inline-block;
      float: left;
      color: #ffffff;
      border-bottom: 1px solid #ccc;
    }
    .five-day p {
      color: #333;
    }
    .six-day {
      width: 15.333333333333334%;
      height: 100%;
      position: relative;
      display: inline-block;
      float: left;
      color: #ffffff;
    }
    .six-day p {
      color: #333;
    }
    .seven-day {
      width: 13.142857142857142%;
      height: 100%;
      position: relative;
      display: inline-block;
      float: left;
      color: #ffffff;
    }
    .seven-day p {
      color: #333;
    }
    #final-visual-schedule .day-label {
      //height: auto;
    }
    .seven-day span.final-date {
      font-size: 85%;
    }
    /*
    .six-day:last-child, .five-day:last-child {
    	border-right: none;
    
    }*/
    .six-day:first-child,
    seven-day:first-child,
    .five-day:first-child {
      border-left: 2px groove #eeeeee;
    }
    .seven-day:nth-of-type(odd),
    .six-day:nth-of-type(even),
    .five-day:nth-of-type(odd) {
    	border-left: 1px solid #ddd;
    	border-right: 1px solid #ddd;
    }
    .day-col {
      position: relative;
      height: 92%;
    }
    .day-col2 {
      position: relative;
      height: 92%;
    }
    .test-col {
      position: relative;
      height: 93.1%;
    }
    .hours-1 {
      background-size: auto 400%;
    }
    .hours-2 {
      background-size: auto 200%;
    }
    .hours-3 {
      background-size: auto 133.333333334%;
    }
    .hours-4 {
      background-size: auto 100%;
    }
    .hours-5 {
      background-size: auto 80%;
    }
    .hours-6 {
      background-size: auto 66.6666666666%;
    }
    .hours-7 {
      background-size: auto 57.1428571428572%;
    }
    .hours-8 {
      background-size: auto 50%;
    }
    .hours-9 {
      background-size: auto 44.4444444444%;
    }
    .hours-10 {
      background-size: auto 40%;
    }
    .hours-11 {
      background-size: auto 36.3636363636364%;
    }
    .hours-12 {
      background-size: auto 33.333333334%;
    }
    .hours-13 {
      background-size: auto 30.7692307692308%;
    }
    .hours-14 {
      background-size: auto 28.5714285714286%;
    }
    .hours-15 {
      background-size: auto 26.66666666%;
    }
    .hours-16 {
      background-size: auto 25%;
    }
    .hours-17 {
      background-size: auto 23.5294117647058%;
    }
    .hours-18 {
      background-size: auto 22.2222222222%;
    }
    .hour-label {
      width: 100%;
      line-height: 14px;
      text-align: center;
      margin: 0;
      margin-top: -.5em;
      padding: 0;
    }
    .day-label {
      width: 100%;
      height: 8%;
      text-align: center;
      color: #3c3c3c;
      top: 0px;
      //margin-top: -2px;
    }
    .visual-course {
      width: 100%;
      display: table;
      text-align: center;
      font-size: 12px;
      line-height: 12px;
    }
    .visual-info {
    	width: 100%;
    /**  display: table-cell;
      vertical-align: middle;
      text-align: left; **/
    }
    .visual-course-id {
    	position: absolute;
    	top: 0;
    	width:100%;
    	font-size:.8em;
    	line-height: .9;
    	padding-top: 3px;
    }
    .visual-location {
    	width:100%;
    	font-size: .7em;
    	position: absolute;
    	bottom: 0px;
    	color: #555;
    	text-align: center;
    	a { 
    			color: #0088cc;
    	}
    }
    
    .show_section_details {
      font-size: 12px;
      color: #f8f7f0;
    }

    // course TBD 
    
    .courseTBD { width: 100%; overflow: auto;
        
        .visual-course {
            margin: 0 5px 5px 0;
            width: 70px;
            height: 38px;
            position: relative;
        }
        
        .visual-course-id {
            position: inherit;
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: small;	
        }
        
        h6 { margin: 20px 0; }    
    }
    
    // category pages
    
    .category-content { margin-bottom: 2em; 
        
        .category-header { }
        .category-sub-header { color: #666; }
        .category-links { padding-left: 0; list-style: none; }
    }
    
    // textbooks page
    
    .textbooks-container {
		color: #555;        
		background-color: #f8f7f0;
		margin-bottom: -3em;
		padding-bottom: 3em;
		
		h1 { font-size: 1.8em; }
    }
    
    
    // category page
    
    .category-container {
		color: #555;    
		margin-bottom: -3em;
		padding-bottom: 3em;
		background-color: #f8f7f0;
		
		h1 { font-size: 2.2em; }
    }
    // future quarters page
    
    .future-quarter-container {
		margin-bottom: -3em;
		padding-bottom: 3em;
        
        h1 { font-size: 1.8em; }
    }
	    
	//notices page 
	
	.notices-container { 
		color: #555;    
		background-color: #f8f7f0;
		margin-bottom: -3em;
		padding-bottom: 3em;

		h1 { font-size: 2.2em; }

		.notice-count { }

		.notice-header-metadata {
			margin-top: -0.9em;
			color: black;
			font-size:.8em;
		}

		h3 {
			font-weight: 400; color: #333; margin-top: 0; margin-bottom:0;
		}
		
		a#expand, a#expand:hover {
			color: #555;			
		}
	 	
	    
		.disclosure {
			border-bottom: 1px solid #ccc; 
			padding: 5px 0;
			
			.disclosure-heading { 
	        background: none;  
    	       	color: #555;
                   position: relative;
    	       	
    	       	a { display: block; position: relative; z-index: 900;
        	       	
        	       	.disclosure-title { line-height: 80px; }
    	       	}
    	       	
    	       	.disclosure-meta { 
        	       	position: absolute; top: 50%; right: 0; z-index: 1;
    	       	}
    	    }
			
		}
		
		.disclosure-heading-critical {
			
			h3 {color: #af4b1a;}
	    

			.badge {
				background-color: #af4b1a; 
			}

	    }

	    
	
		.fa-angle-down, .fa-angle-up {
			position: absolute;
			right: 0;
			display: inline-block;
			top: 50%;
		}
	    	    
	    .badge {
		    position: absolute;
			right: 40px;
			display: inline-block;
			top: 50%
	    }

	        
	    .notice-container { 
	        padding: 1px 0; 
	        border-top: 1px dotted #bbb; 

	        .critical-icon {
		        display: inline;
				float:right;
				color: #af4b1a; 
			}
	    }
	    
	    .inner-notice-container {
			margin: 0px -4px;
			padding: 9px 4px;
	    }
	
		 // - class for read notices - //
		.unread-notice {
			background: rgb(236,232,196);
	        color: black;		
		}

	    .notice-category { 
	        font-size: .8em; 
	        color: rgb(108,108,108);
	        display: inline; 
	    } 
	    
	    .notice-title { 
	        font-weight: normal; 
	    }
	        
	    .hold-container, { 
	        padding: 5px 0 5px 30px;
	    }
		
		.toggle {
			float: right;
			display:inline-block; 
		}
	}
	
	#accordion .panel {
		width: 100% !important;
	}
	
	
	.disclosure-title-metadata {
		display: block;
		clear:both;
		font-size: .8em;
	}  		
	
	.badge {
		background-color: #555555;
		font-weight: 300;
		font-size:1em;
	}




}

/*** footer ***/

#app_footer { background: #444; 
    
    // navigation bar
    .navigation-bar { min-height: 420px; /*padding: 0;*/
        
        .navigation-list {  list-style:none; padding-left:0; margin-top:15px; text-align: center;
    
            .navigation-item { background:#333; height:100px; margin-bottom:1em; display: block; position: relative; color: #fff;
                                    
                &:hover { background: #555; }
                
                .navigation-item-text { position: absolute; width: 100%; top: 50%; left: 0; margin-top: -10px; }

            }
        }
        
    }
    
    // footer bar
    .footer-bar { background:#333; padding: 10px 0; 
        
        .footer-links { color: #aaa; font-size: 11px; 
        	a {color: #fff}
            ul { padding: 0; margin-bottom: .5em; line-height: 11px; list-style: none;
                li { display: inline-block; padding-right: 5px; margin-right: 3px; border-right: solid 1px #aaa; }
            }
        }
    }

}


/*** animations classes ***/

// animated hide div
.slide-hide {
   max-height: 0;
   overflow: hidden; 
   -webkit-transition: max-height 0.8s;
   -moz-transition: max-height 0.8s;
   transition: max-height 0.8s;
}

// animated show div
.slide-show {
    max-height: 2000px; // height auto cannot be animated... so use max-height set to a really high number instead
}

/*** development helpers ***/

.todo { color: red !important; 
    
    a { color: red !important; text-decoration: underline;}
}



/*** bootstrap overrides ***/

.container { margin-left: 5px; margin-right: 5px; padding-left: 5px; padding-right: 5px; 
    
    // make margins auto at 768px
     @media @medium {
        margin-left: auto; margin-right: auto;
    }

}

// grid gutters (10px)

.row { margin-left: -5px; margin-right: -5px; 
    [class*="col-"] { padding-left: 5px; padding-right: 5px; }    
}


// fade in effect

.fade-in {
    
        	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
