/*** less variables ***/

@myuw: #f8f7f0;
@uwpurple: #39275B;
@yellow: #f5d300;
@gray: #ccc;

@line-height-base:        20px;
@font-size-base:          14px;

/*** break points ***/
@medium: ~"screen and (min-width: 768px)";
@large: ~"screen and (min-width: 1024px)";

/*** global ***/

body {
    
    // body fonts
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Istok Web', sans-serif;
    font-family: 'Arimo', sans-serif;
    font-family: 'Gudea', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pontano Sans', sans-serif;
    
    // header fonts
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Source Sans Pro', sans-serif;
        font-family: 'Noto Sans', sans-serif;
        font-family: 'Droid Sans', sans-serif;
        font-family: 'PT Sans', sans-serif;
        font-family: 'Istok Web', sans-serif;
        font-family: 'Arimo', sans-serif;
        font-family: 'Gudea', sans-serif;
        font-family: 'Muli', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Pontano Sans', sans-serif;
        font-weight: 700;
    }
    
    a { text-decoration: none; 
        &:hover { text-decoration: none; }
        &:active { text-decoration: none; }
    }
    
    // course color-coding

    .c1 {
      background-color: #c8a26f;
    }
    .c1a {
      background-color: #d6ba94;
    }
    .c2 {
      background-color: #84b782;
    }
    .c2a {
      background-color: #a4caa2;
    }
    .c3 {
      background-color: #6d8db4;
    }
    .c3a {
      background-color: #8fa7c5;
    }
    .c4 {
      background-color: #c86f6f;
    }
    .c4a {
      background-color: #d69494;
    }
    .c5 {
      background-color: #998577;
    }
    .c5a {
      background-color: #af9f94;
    }
    .c6 {
      background-color: #a58dce;
    }
    .c6a {
      background-color: #c1b1dd;
    }
    .c7 {
      background-color: #c8c36f;
    }
    .c7a {
      background-color: #d6d294;
    }
    .c8 {
      background-color: #6fc8b6;
    }
    .c8a {
      background-color: #94d6c9;
    }
    .c1Border {
      border-left: 5px solid #c8a26f;
      border-top: 1px solid #c8a26f;
      border-bottom: 5px solid #c8a26f;
    }
    .c1aBorder {
      border-left: 5px solid #d6ba94;
      border-top: 1px solid #d6ba94;
      border-bottom: 5px solid #d6ba94;
    }
    .c2Border {
      border-left: 5px solid #84b782;
      border-top: 1px solid #84b782;
      border-bottom: 5px solid #84b782;
    }
    .c2aBorder {
      border-left: 5px solid #a4caa2;
      border-top: 1px solid #a4caa2;
      border-bottom: 5px solid #a4caa2;
    }
    .c3Border {
      border-left: 5px solid #6d8db4;
      border-top: 1px solid #6d8db4;
      border-bottom: 5px solid #6d8db4;
    }
    .c3aBorder {
      border-left: 5px solid #8fa7c5;
      border-top: 1px solid #8fa7c5;
      border-bottom: 5px solid #8fa7c5;
    }
    .c4Border {
      border-left: 5px solid #c86f6f;
      border-top: 1px solid #c86f6f;
      border-bottom: 5px solid #c86f6f;
    }
    .c4aBorder {
      border-left: 5px solid #d69494;
      border-top: 1px solid #d69494;
      border-bottom: 5px solid #d69494;
    }
    .c5Border {
      border-left: 5px solid #998577;
      border-top: 1px solid #998577;
      border-bottom: 5px solid #998577;
    }
    .c5aBorder {
      border-left: 5px solid #af9f94;
      border-top: 1px solid #af9f94;
      border-bottom: 5px solid #af9f94;
    }
    .c6Border {
      border-left: 5px solid #a58dce;
      border-top: 1px solid #a58dce;
      border-bottom: 5px solid #a58dce;
    }
    .c6aBorder {
      border-left: 5px solid #c1b1dd;
      border-top: 1px solid #c1b1dd;
      border-bottom: 5px solid #c1b1dd;
    }
    .c7Border {
      border-left: 5px solid #c8c36f;
      border-top: 1px solid #c8c36f;
      border-bottom: 5px solid #c8c36f;
    }
    .c7aBorder {
      border-left: 5px solid #d6d294;
      border-top: 1px solid #d6d294;
      border-bottom: 5px solid #d6d294;
    }
    .c8Border {
      border-left: 5px solid #6fc8b6;
      border-top: 1px solid #6fc8b6;
      border-bottom: 5px solid #6fc8b6;
    }
    .c8aBorder {
      border-left: 5px solid #94d6c9;
      border-top: 1px solid #94d6c9;
      border-bottom: 5px solid #94d6c9;
    }

}




/*** header ***/

#app_header { background: #333; line-height: 60px;
    
    // header bar
    .header-bar { /*padding: 0px !important;*/

        .header-logo { line-height: 60px; margin: 0; padding: 0; color: @myuw; text-transform: uppercase; margin-right: 10px; font-size: 2em; text-indent: -9999px; width: 100px; }
        .header-user { }
        .header-menu { color: #fff; }
        
        .header-email {position: relative; color: #fff;
            
            .header-email-link { display:inline-block; line-height:60px; color: #fff; }
            .header-email-menu { line-height:40px; color: red; padding: 8px; top:40px !important; 
                //li:first-child { color:#bbb; line-height: 20px; padding-left: 20px; font-size: 80%; text-transform: uppercase; }
                li { padding: 0;
                    a { padding: 0; line-height: 35px; color: #428bca;
                        i { color: #aaa; width:17px; text-align:center; }
                    }
                }
            }        
        }        
    }
    
}

/*** content ***/

#app_content { min-height: 200px; background-color: #eee;
        
    // notice bar
    .notice-bar { margin-top: 2px; margin-bottom: 1em; background: @yellow; box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
        
        .notice-header { line-height: 50px; color: black; margin: 0; }
        .notice-critical { position: absolute;  top: 50%; margin-top: -9px; left: 90px; color: #666; }
        .notice-unread { position: absolute; right: 10px; top: 50%; margin-top: -9px; }
    
    	/****
    	.count-badge {
            background: red;
            border-radius: 20px;
            background-color: red;
            font-size: 90%;
            text-align: center;
            padding: 1px 8px;
            margin-right: 10px;
            font-weight: bold;
            color: whitesmoke;
            vertical-align: 1px;
        }
    
    	.notice-category {
    		color: lighten(@gray, 10%);
    		font-size:	110%;
    		font-style:	italic;
    		padding-right: 2em;
    		padding-left: 1.5em;
    	}
    	****/
    }
    
    // cards
    .card {  
        
        position: relative; 	
        background-color: #fff;
    	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px;
    	margin-top: 1.1em;
    	padding: 10px;
        
		h3 {font-size: @font-size-base + 10; font-weight: 400; margin-top: .3em;}

        h4 { color: #555; }
        
        .card-content {  }
        
        .card-critical-alert { background: #af4b1a; padding: 8px; margin-bottom: 1em; margin-left: -10px; margin-right: 30px; overflow:hidden; color:white;
	        i {font-size: 2.5em; opacity: 0.2; margin-left: -.3em; line-height: .8; margin-top: 0em; vertical-align: middle; margin-right: .2em;}	        
			a {padding-left: 2em; color:white; text-decoration:underline;}
        }

        .card-noncritical-alert { background: #8ca9c7; padding: 8px; margin-bottom: 1em; margin-left: -10px; margin-right: 30px; overflow: hidden; color:white;
            i {font-size: 2.5em; opacity: 0.2; margin-left: -.3em; line-height: .8; margin-top: 0em; vertical-align: middle; margin-right: .2em;}	        
			a {padding-left: 2em; color:white; text-decoration:underline;}
        }
        
        .card-badge-container {
                
            .card-badge {  background: #eee; padding: 8px; overflow: hidden; text-align: center;
                .card-badge-label { text-align: center; display: block; font-weight: normal;  }
                .card-badge-value { text-align: center; display: block; font-size: 16px; font-weight: bold; }
                .card-badge-note { text-align: center; display: block; font-weight: normal; font-style: italic; color: #888; margin-top: 10px; }
            }
        }
        
        .card-related-messages { margin: 1em 0; 
            
            // override italics coming from the messageAPI
            i { font-style: normal !important; }
        }
        
        .nav-card-arrow { height: @line-height-base; position: absolute; right: 0; display: inline-block; top: 50%; margin-top: -@line-height-base / 2; }
        
        ul.fina-notice-list { padding-left: 0px; 
            
            li { padding-bottom: 8px; }
            
        }
        
        ul.unstyled-list, ol.unstyled-list { padding-left: 0px; list-style-type: none; }
            
    }
    
    
    // visual schedule
    
    .hour-marker {border-top:1px solid #bbb; width:100%;}
    .halfhour-marker {border-top:1px dashed #dcdcdc; width:100%;}
    
    
    .visual-schedule {
      width: 100% ;
      position: relative;
      *zoom: 1;
    }
    .visual-schedule:before,
    .visual-schedule:after {
      display: table;
      content: "";
      line-height: 0;
    }
    .visual-schedule:after {
      clear: both;
    }
    .six-hour {
      height: 20em;
    }
    .twelve-hour {
      height: 35em;
    }
    .twelve-plus {
      height: 47em;
    }
    .six-hour .exam-time-bar {
      top: 14%;
    }
    
    .twelve-hour .exam-time-bar {
      //top: 9.5%;
    }
    .twelve-plus .exam-time-bar {
      //top: 7%;
    }
    .twelve-plus .exam-day-col2 {
      position: relative;
      height: 93%;
    }
    .twelve-plus .exam-day-col {
      position: relative;
      height: 93%;
    }
    .six-hour .exam-day-col2 {
      position: relative;
      height: 86%;
    }
    .six-hour .exam-day-col {
      position: relative;
      height: 86%;
    }
    .twelve-hour .exam-day-col2 {
      position: relative;
      height: 92%;
    }
    .twelve-hour .exam-day-col {
      position: relative;
      height: 92%;
    }
    .time-bar, .exam-time-bar  {
      /*margin-left: -2px;*/
      width: 8%;
      border-right: 1px solid #ccc;
      position: relative;
      display: inline-block;
      float: left;
      font-weight: bold;
      height: 93%;
      top: 8%;
    }
    
    .five-day {
      width: 18.4%;
      height: 100%;
      position: relative;
      display: inline-block;
      float: left;
      color: #ffffff;
      border-bottom: 1px solid #ccc;
    }
    .five-day p {
      color: #333;
    }
    .six-day {
      width: 15.333333333333334%;
      height: 100%;
      position: relative;
      display: inline-block;
      float: left;
      color: #ffffff;
    }
    .six-day p {
      color: #333;
    }
    .seven-day {
      width: 13.142857142857142%;
      height: 100%;
      position: relative;
      display: inline-block;
      float: left;
      color: #ffffff;
    }
    .seven-day p {
      color: #333;
    }
    #final-visual-schedule .day-label {
      //height: auto;
    }
    .seven-day span.final-date {
      font-size: 85%;
    }
    /*
    .six-day:last-child, .five-day:last-child {
    	border-right: none;
    
    }*/
    .six-day:first-child,
    seven-day:first-child,
    .five-day:first-child {
      border-left: 2px groove #eeeeee;
    }
    .seven-day:nth-of-type(odd),
    .six-day:nth-of-type(even),
    .five-day:nth-of-type(odd) {
    	border-left: 1px solid #ddd;
    	border-right: 1px solid #ddd;
    }
    .day-col {
      position: relative;
      height: 92%;
    }
    .day-col2 {
      position: relative;
      height: 92%;
    }
    .test-col {
      position: relative;
      height: 93.1%;
    }
    .hours-1 {
      background-size: auto 400%;
    }
    .hours-2 {
      background-size: auto 200%;
    }
    .hours-3 {
      background-size: auto 133.333333334%;
    }
    .hours-4 {
      background-size: auto 100%;
    }
    .hours-5 {
      background-size: auto 80%;
    }
    .hours-6 {
      background-size: auto 66.6666666666%;
    }
    .hours-7 {
      background-size: auto 57.1428571428572%;
    }
    .hours-8 {
      background-size: auto 50%;
    }
    .hours-9 {
      background-size: auto 44.4444444444%;
    }
    .hours-10 {
      background-size: auto 40%;
    }
    .hours-11 {
      background-size: auto 36.3636363636364%;
    }
    .hours-12 {
      background-size: auto 33.333333334%;
    }
    .hours-13 {
      background-size: auto 30.7692307692308%;
    }
    .hours-14 {
      background-size: auto 28.5714285714286%;
    }
    .hours-15 {
      background-size: auto 26.66666666%;
    }
    .hours-16 {
      background-size: auto 25%;
    }
    .hours-17 {
      background-size: auto 23.5294117647058%;
    }
    .hours-18 {
      background-size: auto 22.2222222222%;
    }
    .hour-label {
      width: 100%;
      line-height: 14px;
      text-align: center;
      margin: 0;
      margin-top: -.5em;
      padding: 0;
    }
    .day-label {
      width: 100%;
      height: 8%;
      text-align: center;
      color: #3c3c3c;
      top: 0px;
      //margin-top: -2px;
    }
    .visual-course {
      width: 100%;
      display: table;
      text-align: center;
      font-size: 12px;
      line-height: 12px;
    }
    .visual-info {
    	width: 100%;
    /**  display: table-cell;
      vertical-align: middle;
      text-align: left; **/
    }
    .visual-course-id {
    	position: absolute;
    	top: 0;
    	width:100%;
    	font-size:.8em;
    	line-height: .9;
    	padding-top: 3px;
    }
    .visual-location {
    	width:100%;
    	font-size: .7em;
    	position: absolute;
    	bottom: 0px;
    	color: #555;
    	text-align: center;
    	a { 
    			color: #0088cc;
    	}
    }
    
    .show_section_details {
      font-size: 12px;
      color: #f8f7f0;
    }

    // course TBD 
    
    .courseTBD { width: 100%; overflow: auto;
        
        .visual-course {
            margin: 0 5px 5px 0;
            width: 70px;
            height: 38px;
            position: relative;
        }
        
        .visual-course-id {
            position: inherit;
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: small;	
        }
        
        h6 { margin: 20px 0; }    
    }
    
    // category pages
    
    .category-content { margin-bottom: 2em; 
        
        .category-header { }
        .category-sub-header { color: #666; }
        .category-links { padding-left: 0; }
    }
    

}

/*** footer ***/

#app_footer { background: #444; 
    
    // navigation bar
    .navigation-bar { min-height: 420px; /*padding: 0;*/
        
        .navigation-list {  list-style:none; padding-left:0; margin-top:15px; text-align: center;
    
            .navigation-item { background:#333; height:100px; margin-bottom:1em; display: block; position: relative;
                                    
                &:hover { background: #555; }
                
                .navigation-item-text { position: absolute; width: 100%; top: 50%; left: 0; margin-top: -10px; }

            }
        }
        
    }
    
    // footer bar
    .footer-bar { background:#333; padding: 10px 0; 
        
        .footer-links { color: #aaa; font-size: 11px; 
            ul { padding: 0; margin-bottom: .5em; line-height: 11px;
                li { display: inline-block; padding-right: 5px; margin-right: 3px; border-right: solid 1px #aaa; }
                li:last-child { border: none; }
            }
        }
    }
    
}


/*** animations classes ***/

// animated hide div
.slide-hide {
   max-height: 0;
   overflow: hidden; 
   -webkit-transition: max-height 0.8s;
   -moz-transition: max-height 0.8s;
   transition: max-height 0.8s;
}

// animated show div
.slide-show {
    max-height: 2000px; // height auto cannot be animated... so use max-height set to a really high number instead
}

/*** development helpers ***/

.todo { color: red !important; 
    
    a { color: red !important; text-decoration: underline;}
}



/*** bootstrap overrides ***/

.container { margin-left: 5px; margin-right: 5px; padding-left: 5px; padding-right: 5px; 
    
    // make margins auto at 768px
     @media @medium {
        margin-left: auto; margin-right: auto;
    }

}

// grid gutters (10px)

.row { margin-left: -5px; margin-right: -5px; 
    [class*="col-"] { padding-left: 5px; padding-right: 5px; }    
}

