/*
    Colors are assigned to courses in the order they are added by the student.
    Secondary sections get the primary section's number with "a" appended.
    e.g.
    Math 124 A - c1
    Physics 121 A - c2
    Physics 121 AB - c2a
    Physics 121 AQ - c2a

    There should be 8 colors defined here.
*/

.c1 {
  background-color: #c8a26f;
}


.c1a {
  background-color: #c8a26f;
}

.c2 {
  background-color: #84b782;
}
.c3 {
  background-color: #6d8db4;
}
.c1Border {
  border-left: 5px solid #c8a26f;
  border-top: 1px solid #c8a26f;
  border-bottom: 1px solid #c8a26f;
}

.c1aBorder {
  border-left: 5px solid #c8a26f;
  border-top: 1px solid #c8a26f;
  border-bottom: 1px solid #c8a26f;
}

.c2Border {
  border-left: 5px solid #84b782;
  border-top: 1px solid #84b782;
  border-bottom: 1px solid #84b782;
}
.c3Border {
  border-left: 5px solid #6d8db4;
  border-top: 1px solid #6d8db4;
  border-bottom: 1px solid #6d8db4;
}

