.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar-fixed-top {
  margin-bottom: 5px;
}
.navbar .brand {
  margin-left: 5px;
  margin-right: auto;
  background: url('../images/myuw.png') no-repeat;
  padding-left: 100px;
}
.nav-collapse .nav {
  margin: 5px 0 5px;
}
.nav-collapse .nav > li > a,
.nav-collapse .dropdown-menu a {
  padding: 6px 15px;
}
.nav-collapse > hr,
.nav-collapse .nav > hr {
  margin: 2px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.nav-collapse .nav > hr {
  margin: 2px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1.5px solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
/*
    .nav-collapse .nav > li:last-of-type {
      a {
      border-bottom: 1px solid rgba(0,0,0, .5);
      border-bottom: 1px solid rgba(255,255,255,.3)
    }
  }*/
@media (max-width: 767px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin-left: -10px;
    margin-right: -10px;
  }
  .dl-horizontal dt {
    float: left;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 100px;
  }
  .directory-list dd {
    margin-left: 90px;
  }
  .book-info dd {
    margin-left: 90px;
  }
}
