.pull-right {
  float: right;
}
.pull-right-center {
  float: right;
  position: relative;
  top: 15px;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
