container_commands:
  migrate:
    command: "
POSTGRES_CONTAINER=`docker run -d --name postgres postgres:9.3`
# Wait for the postgres port to be available
until nc -z $(sudo docker inspect --format='{{.NetworkSettings.IPAddress}}' $POSTGRES_CONTAINER) 5432
do
    echo "waiting for postgres container..."
    sleep 0.5
done
docker exec `docker ps --no-trunc -q | head -n 1` python manage.py migrate
"
    leader_only: true