container_commands:
  migrate:
    command: >
    "
MIGRATION=`docker exec `docker ps --no-trunc -q | head -n 1` python manage.py migrate`
until nc -z $(sudo docker inspect --format='{{.NetworkSettings.IPAddress}}' $MIGRATION) 5432
do
    echo "waiting for postgres container..."
    sleep 0.5
done"
    leader_only: true