// myuw theme variables
@import "./variables.scss";

// bootstrap + bootstrap-vue
@import '~bootstrap';
@import '~bootstrap-vue';

.myuw-btn {
  color: #444;
  border-color: #aaa;
}

// myuw workday button
.myuw-workday-btn {
  background-repeat: no-repeat;
  background-position: 4% 50%;
  background-size: 18px;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}
