@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');

// add bootstrap flex utility for even column widths
.flex-even {
  flex: 1;
}

/******************************************************************************************
PIXEL TO REM CONVERSION TABLE - Root Size: 16px
-------------------------------------------------------------------------------------------
PX   REM     |  PX   REM     |  PX   REM     |  PX   REM     |  PX   REM     |  PX   REM
-------------------------------------------------------------------------------------------
10 = 0.625   |  20 = 1.25    |  30 = 1.875   |  40 = 2.5     |  50 = 3.125   |  60 = 3.75
11 = 0.6875  |  21 = 1.3125  |  31 = 1.9375  |  41 = 2.5625  |  51 = 3.1875  |  61 = 3.8125
12 = 0.75    |  22 = 1.375   |  32 = 2       |  42 = 2.625   |  52 = 3.25    |  62 = 3.875
13 = 0.8125  |  23 = 1.4375  |  33 = 2.0625  |  43 = 2.6875  |  53 = 3.3125  |  63 = 3.9375
14 = 0.875   |  24 = 1.5     |  34 = 2.125   |  44 = 2.75    |  54 = 3.375   |  64 = 4
15 = 0.9375  |  25 = 1.5625  |  35 = 2.1875  |  45 = 2.8125  |  55 = 3.4375
16 = 1       |  26 = 1.625   |  36 = 2.25    |  46 = 2.875   |  56 = 3.5
17 = 1.0625  |  27 = 1.6875  |  37 = 2.3125  |  47 = 2.9375  |  57 = 3.5625
18 = 1.125   |  28 = 1.75    |  38 = 2.375   |  48 = 3       |  58 = 3.625
19 = 1.1875  |  29 = 1.8125  |  39 = 2.4375  |  49 = 3.0625  |  59 = 3.6875
-------------------------------------------------------------------------------------------
******************************************************************************************/

// myuw text sizing utilities (base 16px)
.myuw-text-lg {
  font-size: 1.125rem !important;
} // 18px
.myuw-text-md {
  font-size: 0.875rem !important;
} //14px
.myuw-text-sm {
  font-size: 0.8125rem !important;
} //13px
.myuw-text-xs {
  font-size: 0.75rem !important;
} //12px
.myuw-text-xxs {
  font-size: 0.6875rem !important;
} //11px

// myuw custom fonts
.myuw-font-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}
.myuw-font-encode-sans {
  // font-family: 'Encode Sans', sans-serif !important;
}
.myuw-font-roboto {
  // font-family: 'Roboto', sans-serif !important;
}

// myuw chevron card link
.myuw-chevron {
  position: absolute;
  right: 1rem; 
  top: 50%; 
  margin-top: -20px;
  a {
    line-height:40px; 
    width: 40px;
    display: inline-block;
    text-align: center;
    &:focus, &:focus-within, &:hover {
      background-color: $gray-200;
    }
  }
}

// myuw border top and bottom
.myuw-border-top {
  border-top: 0.5rem solid #ddd; // 8px
}
.myuw-border-bottom {
  border-bottom: 0.3125rem solid #ddd; // 5px
}