

/*** Default button style for MyUW
* Must be used in combination with Bootstrap's button classes
* e.g. class="btn btn-default myuw-button"
***/
.myuw-button {
        color: #444;
        background-color:#e8e3d3;
        border-color: #bbb;

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        color: #000;
        border-color: #666;
    }

    /* Icon within button on the left side */
    .fa {
        margin-right: .4em;
        color: #777;
    }
}


/* Big button  */
.myuw-btn-big {
    padding: 16px 20px;
    margin-top: 0;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


/*** Bootstrap Override ***
* Sets form-control inputs to match myuw-button styles
***/
.form-control {
    color: #444;
    border-color: #aaa;
}
