@import (reference) "boilerplate.less";



/*** Mixins ***/
.myuw-card-style-mixin() {
    background: #fff;
    box-shadow: 0 1px 3px rgba(34,25,25,.15);
    border: 1px solid #ddd;
}

/*** cards ***/

.myuw-card {

    .myuw-card-style-mixin();
    margin-top: 0;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 16px;
    padding: 16px;
    border-left: none;
    border-right: none;
    position: relative;

    @media @two-column { border-left: solid 1px #ddd; border-right: solid 1px #ddd; margin-left: 0; margin-right: 0; }

    .myuw-card-wrapper {
        position: relative;
    }

    .myuw-close-card {
        border: none;
        background: none;
        padding: 0;
        color: #444;
        font-size: 18px;
    }

    .myuw-close-card:hover {
        color: #000;
    }

    /*** Buttons ***/
    .card-btn {
        @media @two-column { position: absolute; top: 12px; right: 10px;}
    }

    /*** Card Title and Subheadings ***/
    .myuw-card-title {
        font-family: 'encode_sans_normalbold', sans-serif;
        font-weight: 600;
        font-size: 24px !important;
        color: @uw-metalic-gold;
        margin-top: 8px;
        margin-bottom: 16px;

        &.text-danger {
            color: #a94442;
        }
    }

    .myuw-card-heading {
        font-family: @fontface-card-heading;
        font-weight: 400;
        font-size: @font-header-smaller;
        color: @uw-dark-gray;
        margin-top: 32px;
    }

    .myuw-card-tagline {
        color: @uw-metalic-gold;
        margin-top: -8px;
    }

    /*** major divison. separated by full line across card ***/
    .myuw-card-division--top-border {
        margin: 8px -16px 0 -16px;
        border-top: 1px solid #eee;

        .wrapper {
            margin: 0 16px;
        }
    }

    /*** card section ***/
    .myuw-card-section {
        padding-top: 16px;

        /* add a separator for every last row of each section */
        .row:last-child {
            .col-sm-9 {
                border-bottom: 1px solid #EDEDED;
                padding-bottom: 8px;
            }
        }

        /* Not the first row */
        .row + .row { padding-top: 16px; }

        @media @two-column {
            .row + .row { padding-top: 8px; }
        }

        /*** workday specific link (need to move this)***/
        .workday-link {
            display: inline-block;
            line-height: 30px;
            background-position: 0 50% !important;
            padding-left: 28px !important;
        }
    }

    /*** card panel under tabs **/
    .myuw-tab-panel {
        margin-top: -16px;
    }

    // target the very last section of a card by usign the "last" class
    .myuw-card-section.last, .last .myuw-card-section:last-child {

        // remove the bottom border for last element
        .col-sm-9 {
            border-bottom: none !important;
            padding-bottom: 0 !important;
        }
    }

    /*** card section - full divider line between them ***/
    .myuw-card-section-fulldivider {
        padding-top: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #EDEDED;

        &.last {
            border-bottom: none;
            padding-bottom: 0;
        }

        /* Not the first row */
        .row + .row { padding-top: 8px; }

        @media @two-column {
            .row + .row { padding-top: 8px; }
        }

    }


    /*** card section heading ***/
    .myuw-card-row-heading {
        margin: 0 16px 8px 0;
        margin-right: 16px;
        line-height: inherit;
        font-family: @fontface-body;
        font-size: @font-base;
        font-weight: bold;
        color: #333;

    }

    /*** card section content ***/
    .myuw-card-row-content {
        margin-bottom: 8px;

        em { color: #555; }
    }

    /*** card item list ***/
    .myuw-card-itemlist {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 8px;

        > li {
            margin: 0 0 8px 0;
        }

        > li:last-of-type {
            margin: 0;
        }
    }

    .myuw-card-itemlist + .myuw-card-itemlist {
        margin-bottom: 16px;
    }

    .myuw-card-itemlist:last-child {
        margin-bottom: 0;
    }

    /*** comma delimited list ***/
    .myuw-card-comma-list {
        display: inline;
        list-style-type: none;
        padding-left: 0;
    }

    .myuw-card-comma-list li {
        display: inline;
        white-space: nowrap;
    }

    .myuw-card-comma-list li:after {
        content: ", "
    }

    .myuw-card-comma-list li:last-child:after {
        content: ""
    }

    /*** standard line-height, unstyled list ***/
    .myuw-card-section .unstyled-list,
    .myuw-card-section .unstyled {
        list-style-type: none;
        padding-left: 0;
        margin: 0 0 8px 0;
        line-height: inherit !important;

    }

    /*** Card Badges
    *  Item Label           Value
    ***/
    .card-badge {
        padding: 8px 0 8px 0;

        .card-badge-label {
            display: block;
            font-weight: bold;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            color: #444;
        }

        .card-badge-value {
            display: block;
            font-size: 22px;
            font-weight: bold;
            text-align: right;
        }

        .card-badge-note {
            color: #888;
            margin-top: 35px;
        }
    }

    /*** card content table **/
    .table-borderless {
        tr {
            td:first-child { padding-left: 0; }
        }
        td { border: none; }
    }

    /*** Disclosure bar at bottom of card ***/
    .myuw-card-disclosure {
        margin: 0 -16px -16px -16px;
        border-top: solid 1px #eee;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        background-color: #efefef;
        a { color: #444; display: block; line-height:40px; }
        a:hover { background-color: #ddd; }
    }

} /*** END myuw-cards ***/

/*** Cards for Promoting Articles/Stories ***/
.myuw-card-article {
    &.myuw-card {
        padding-bottom: 0;
    }

    .myuw-article-teaser-wrapper {
        margin: 16px -16px 0 -16px;
        position: relative;
        max-height: 300px;
        overflow: hidden;
    }

    .myuw-card-image-full {
        width: 100%;
        height: auto;
        opacity: .75;
    }

    .myuw-article-teaser {
        position: absolute;
        top: 16px;
        left: 16px;
        right: 16px;
        padding-right: 8px;

        h4 {
            font-weight: bold;
            font-size: 20px;
        }

        .myuw-highlight {
            position: relative;
            left: 8px;
            padding: 1px 0;
            background: rgba(255, 255, 255, 1);
            box-shadow: 8px 0 0 rgba(255, 255, 255, 1), -8px 0 0 rgba(255, 255, 255, 1);
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
         }
    }

    a .myuw-highlight {
          color: #000;
          text-decoration: none;
    }

    a:hover h4 .myuw-highlight, a:active h4 .myuw-highlight {
          color: #334baa;
          text-decoration: underline;
    }
    
    .myuw-link-card-teaser {
        white-space: nowrap;
    }

}


.myuw-minicard-overlay {
    .myuw-card-style-mixin();
    padding: 16px;
    max-width: 285px;
    z-index: 100;

    & > .myuw-card-heading {
        margin-top: 0;
    }
}

.myuw-minicard-overlay-bottom-right {
    position: fixed;
    bottom: 2px;
    right: 2px;
}
