
@import (reference) "typography.less";


// course colors and class name prefixes
@course-colors:
c1 #2E6884,
c1a #36799A,
c2 #844B2E,
c2a #9A5736,
c3 #14511E,
c3a #218431,
c4 #444444,
c4a #646464,
c5 #91279f,
c5a #BD37CF,
c6 #716141,
c6a #84734C,
c7 #4B2E84,
c7a #653FB2,
c8 #352E9B,
c8a #473EC5;

.generate-course-colors(@course-colors);

// Loops through course-colors list and creates various classes
.generate-course-colors(@list) {

    .iter(length(@list));
    .iter(@i) when (@i > 0) {
        .iter(@i - 1);
        @pair: extract(@list, @i);
        @key: extract(@pair, 1);
        @value: extract(@pair, 2);

        .@{key} { background-color: @value; }
        .@{key}Border { border-top: 6px solid @value; &:extend(.cBorder); }
        .@{key}LeftBorder { border-left: 4px solid @value; position: absolute; top:0; left:0; bottom:0; width:0;}
        .@{key}Color { color: @value; }
    }
}

.cBorder { position:absolute; top:0; left:0; right:0; height: 0; }
.ml-0 { margin-left: 0px !important; }


/* Course Card Text */
.myuw-course-abbrtitle {
    display: block;
    font-family: @fontface-card-title;
    font-size: 18px;
    color: @uw-metalic-gold;
}

.myuw-course-shortname {
    font-family: @fontface-card-heading;
    font-weight: 400;
    color: @uw-dark-gray;
    font-size: 16px;
    display: block;
    margin-top: 8px;
}

.myuw-course-joint {
    font-family: @fontface-body;
    font-weight: normal;
    font-size: @fontsize-small;
    display: block;
    margin-top: 8px;
}

.myuw-course-meeting-type {
    padding: 2px 4px 2px 4px;
    border: 1px solid #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.course-meta {
    position: absolute;
    top: 0;
    right: 0;

    .myuw-course-meeting-type {
        margin-left: 16px;
    }

    .myuw-close-card {
        margin: 0 0 0 12px;
        vertical-align: -1px;
    }
}
/*
.course-sln {
    a {
        color:inherit;
        text-decoration: underline;
    }
}
*/

.table-course-schedule {
    border: 0;

    th.meeting-dates {
        padding: 0 16px 8px 0;
        font-weight: normal;
        vertical-align: top;
    }


    td {
        padding: 0 8px 8px 0;
        vertical-align: top;

        &:last-child { padding-right: 0; }
        &.course-final-date { width: 7.5em; }
        &.course-days { text-align:left; padding-right: 20px}
        &.course-section {
            .section-id {
                font-weight: bold;
                white-space: nowrap;
                display: inline-block;
                margin-right: -4px;
                width: 2.7em;
            }
            .course-sln {
                margin-left: 12px;
            }
        }
        &.course-time { width: 8.4em; }
        &.course-location {
            width: 7em;
            .room-info {
                white-space: nowrap;

                i {
                    color: #8f9bcc;
                    margin-left: 4px;
                }
            }
            span.room-info i {
                color: #777;
            }
        }
        &.course-loc-tbd {  }
        &.course-enrollment {
        //    width: 6em;
            text-align: right;

            .course_class_list {
                margin-left: auto;
            }
        }
        &.course-type { text-align: left; text-transform: capitalize; }
        &.course-location-info { width: 6em; }
        &.course-sln {  }
    }

    tr:last-child td { padding-bottom: 0; }

}

/* Secondary Section list on Teaching Page */
.table-course-schedule.secondary-sections-list {
    margin-bottom: 16px;
    width: 100%;

    td {
        &.course-section { width: 9%; }
        &.course-sln { width: 16%; }
        &.course-days, &.course-time { width:auto; }
    }
}

/* Schedule on Homepage Teaching Schedule Summary */
.table-course-schedule.summary-schedule {
    width: 100%;

    th.meeting-dates {
        font-weight: normal;
        font-style: italic;
        padding-bottom: 0;
    }
    td {
        &.course-days { width: 4.5em; }
    }
}

.grading-system { display: block; }
.grading-system::first-letter { text-transform: capitalize; }

.course-website-update,
.course_class_list,
.course-manage-email,
.course-classlist-download {
    margin-left: 16px;
}

.course_delegate_link {
    display: block;
}

.fa-question-circle { color: #8f9bcc; }


/* Message text */
.inst-course-note { font-size: small; font-style: italic; }


/* Teaching Schedule Summary Card */
.teaching-schedule-summary.myuw-card {

    .course-meeting-type,
    .course-sln {
        margin-left: 1.4em;
        display: inline-block;
    }

    .section-meta {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media @two-column {

        .section-meta {
            position: relative;
            display: block;
        }
        .myuw-card-title {
            margin-right: 4em;
        }

        .view-schedule-details {
            position: absolute;
            top: 8px;
            right: 0;
        }

        .card-disclosure {
            margin-left: 1.3em;
        }
    }



    .secondary-section-disclosure {

        padding-top: 8px;
        padding-left: 8px;

        @media @two-column {
            padding-left: 16px;
        }


    }
}
