
@import (reference) "typography.less";

/* Course Card Text */
.myuw-course-abbrtitle {
    display: block;
    font-family: @fontface-card-title;
    font-size: 18px;
    color: @uw-metalic-gold;
}

.myuw-course-shortname {
    font-family: @fontface-card-heading;
    font-weight: 400;
    color: @uw-dark-gray;
    font-size: 16px;
    display: block;
    margin-top: 8px;
}


.course-meta {
    position: absolute;
    top: 0;
    right: 0;

    .course-sln {
        a {
            color:inherit;
            text-decoration: underline;
        }
    }

    .course-meeting-type {
        margin-left: 16px;
    }
}

.table-course-schedule {
    margin-bottom: 0;
}

.course-website-update {
    margin-left: 16px;
}




/* Message text */
.inst-course-note { font-size: small; font-style: italic; }


/* Should be in generic card stylesheet */
.myuw-card .myuw-section {
    padding-top: 16px;
}

.myuw-card .myuw-section .row:last-child .col-sm-9 {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 16px;
}

.myuw-card .myuw-section.last .row:last-child .col-sm-9 {
    border-bottom: none;
    padding-bottom: 0;
}

#app_content .card h3.myuw-card-row-heading,
#app_content .card h4.myuw-card-row-heading {
    margin: 0;
    line-height: inherit;
}


.myuw-card-itemlist {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 8px;

    li {
        margin: 0 0 8px 0;
    }

    li:last-of-type {
        margin: 0;
    }
}

.myuw-card-itemlist + .myuw-card-itemlist {
    margin-bottom: 16px;
}

.myuw-card-itemlist:last-child {
    margin-bottom: 0;
}
