
@import (reference) "typography.less";



/* Course Card Text */
.myuw-course-abbrtitle {
    display: block;
    font-family: @fontface-card-title;
    font-size: 18px;
    color: @uw-metalic-gold;
}

.myuw-course-shortname {
    font-family: @fontface-card-heading;
    font-weight: 400;
    color: @uw-dark-gray;
    font-size: 16px;
    display: block;
    margin-top: 8px;
}


.course-meta {
    position: absolute;
    top: 0;
    right: 0;

    .course-sln {
        a {
            color:inherit;
            text-decoration: underline;
        }
    }

    .course-meeting-type {
        margin-left: 16px;
        padding:2px 4px 2px 4px;
        border: 1px solid #eee;
    }
}


.table-course-schedule {
    width: 100%;
    max-width: 30em;
    border: 0;

    td {
        padding: 0 0 8px 0;

        &.course-time { width: 8.4em; }
        &.course-location { width: 6em; text-align: right; padding-right: 16px; }
        &.course-location-info { width: 6em; }
    }
}

.course-website-update,
.course_class_list,
.course-manage-email {
    margin-left: 16px;
}

.course_delegate_link {
    display: block;
}




/* Message text */
.inst-course-note { font-size: small; font-style: italic; }
