

@import (reference) "boilerplate.less";


.myuw-pagemenu {
    display: inline-block;

    select.myuw-dropmenu {
        /*** Remove default menu appearance ***/
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        color: #555;
        font-size: 18px;
        border: none;
        background-color: transparent;
        border-radius: 0;
        padding: 4px 22px 4px 8px;

        &:hover { cursor: pointer; }
    }

    select.myuw-dropmenu-selected {
        color: #000;
        border-bottom: 4px solid #000;
    }

    i.fa-chevron-down {
        margin-left: -22px;
        font-size: 12px;
        vertical-align: 2px;
    }
}
