// global styles

// remove horizontal scrolling for mobile overflow
html, body {
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
}

// text sizing utilities (base 16px)
.myuw-text-md {
  font-size: 0.95rem !important;
} //15.2px
.myuw-text-sm {
  font-size: 0.85rem !important;
} //13.6px
.myuw-text-xs {
  font-size: 0.75rem !important;
} //12px