@over550: ~"screen and (min-width: 550px)";

@notice-color-body-bg: #f5f5f5;
@notice-color-critical: #a94442;

/*** Notice Card - Notices on landing page ***/
.notices-summary {

    & > .notice-list {
        font-weight: normal;
        padding-left: 0;
        list-style: none;

        .notice-container {
            display: -ms-flexbox;
            display: flex;



            & > .notice-title {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding-right: 8px;
                display: block; /* fixes ie10 */

                @media @over550 {
                    -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
                }
            }

            & > .notice-status {
                -ms-flex: 0 0 4rem;
                flex: 0 0 4rem;
                text-align: right;

                @media @over550 {
                    -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
                }
            }

        }


        .new-status {
            padding: 0 3px;
            background: #f5d300;
            border-radius: 4px;
            font-size: 12px;
        }

        .notice-critical {
            color: @notice-color-critical;
            font-weight: bold;
        }


    }
}

/*** Notice message itself ***/
.notice-body {

    .notice-body-wrapper {
        padding: 16px;
        margin: 8px 0;
        background-color: @notice-color-body-bg;

        /* Contents of notice. Some notices have more than one */
        .notice-body-with-title {
            display: inline-block;
            margin: 0 0.35em 0 0;
        }

        .notice-list {
            margin: 1.42857143em 0;
        }
    }
}
