@import (reference) "boilerplate.less";

.myuw-photo-list {

    margin-bottom: 11rem;

    @media @two-column {
        margin-top: 0;
        margin-left: -16px;
        margin-right: -16px;
        padding: 16px !important;
    }

    .course-meta {
        @media screen and (max-width: 420px) {
            display: block;
            position: relative;
        }
    }

    .myuw-photo-list-controls {

        .myuw-photo-list-controls-sort-wrap {
            margin: 16px 0;
            white-space: nowrap;
            @media @two-column { margin-top: -6px; }

            .form-inline {
                display: inline-block;
            }

            .form-inline[hidden="hidden"],
            .form-inline[aria-hidden="true"] {
                display: none;
            }

            #sort_list {
                display: inline-block;
                width: auto;
                vertical-align: middle;
            }

            #toggle_joint {
                margin-left: 16px;
            }
        }
        .myuw-photo-list-controls-actions {
            margin: 8px 0px;
            @media @two-column { text-align: right; margin: 0; }

            .classlist-print { margin-left: 16px; }
        }
    }

    ol.grid-view {
        list-style: none;
        padding: 0;
        margin: 0;

        &:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; } //clear fix

        li {
            display:inline-block;
            margin-right: 16px;
            width: 120px;
            min-height: 230px;
            overflow: hidden;
            vertical-align: top;

            @media @two-column { margin-bottom: 16px;}

            &:last-child { margin: 0;
                margin-bottom: 10px; }

            .myuw-photo-list-img-wrapper {
                width: 120px;
                height: 150px;
                position: relative;
                background-color: #eee;
            }
            .myuw-photo-list-img-wrapper::before {
                content: "\f2be";
                font-family: "FontAwesome";
                position: absolute;
                top: 20px;
                left: 0;
                font-size: 60px;
                width: 120px;
                text-align: center;
                color: #aaa;
            }

            .myuw-photo-list-image {
                position: relative;
            }

            .myuw-photo-list-content {
                margin-top: 4px;
                font-weight: bold;
            }

        }

    }

    /*** print styles ***/
    @media @print { border: none;

        .myuw-card { border: none; }
        .myuw-photo-list-controls,
        .myuw-minicard-overlay { display: none !important; }

        ol.grid-view {

            li {
                page-break-inside: avoid;
            }

            .myuw-photo-list-img-wrapper::before {
                display: none;
            }

        }
    }

}
