@import (reference) "boilerplate.less";

.myuw-photo-list {

    @media @two-column {
        margin-top: 0;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 16px;
        padding: 16px !important;
    }

    .course-meta {
        @media screen and (max-width: 420px) {
            display: block;
            position: relative;
        }
    }

    .myuw-photo-list-controls {

        @media @two-column {
            .controls-row-1 {
                display: inline-block;
                width: 65%;
            }

            .controls-row-2 {
                display: inline-block;
                width: 34%;
            }
        }

        .myuw-photo-list-controls-view { display:inline-block; margin-right:16px; }
        .myuw-photo-list-controls-sort { display:inline-block; }
        .myuw-photo-list-controls-actions {
            margin: 8px 0px;
            @media @two-column { text-align: right; margin: 0; }

            .classlist-print { margin-left: 16px; }
        }
    }

    ol.grid-view {
        list-style: none;
        padding: 0;
        margin: 0;

        &:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; } //clear fix

        li {
            float: left;
            margin-right: 16px;
            width: 120px;
            height: 230px;
            overflow: hidden;

            @media @two-column { margin-bottom: 16px;}

            &:last-child { margin: 0; }

            .myuw-photo-list-image {  }
            .myuw-photo-list-content {  }

        }

    }

    /*** print styles ***/
    @media @print { border: none;

        .myuw-card { border: none; }
        .myuw-photo-list-controls { display: none !important; }

        ol.grid-view {

            li {
                page-break-inside: avoid;
            }

        }
    }

}
