
@import (reference) "boilerplate.less";


.myuw-pagetabs {

    .myuw-tab-label {
        color: @uw-dark-gray;
        text-decoration: none;
        font-size: 18px;
        display: inline-block;
        margin-right: 16px;
        padding-bottom: 4px;
    }

    .myuw-tab-label:hover {
        text-decoration: none;
    }

    .myuw-tab {
        display: inline-block;
    }

    .myuw-tab-selected .myuw-tab-label {
        border-bottom: 4px solid #7F7F7F;
    }
}
