
@import (reference) "boilerplate.less";


.myuw-pagetabs {

    .myuw-tab-label {
        color: #555;
        text-decoration: none;
        font-size: 18px;
        line-height: 1.1;
        margin-right: 8px;
        padding: 0px 8px 4px 8px;
    }

    .myuw-tab-label:hover {
        text-decoration: none;
    }

    .myuw-tab {
        display: inline-block;
    }

    .myuw-tab-selected .myuw-tab-label {
        border-bottom: 4px solid #000;
        color: #000;
    }
}
