


@fontface-card-title: 'encode_sans_normalbold';
@fontface-card-heading: 'Roboto', sans-serif;
@fontface-body: 'Open Sans', sans-serif;


.myuw-card-title {

}

/* Course Cards */
.myuw-course-abbrtitle {
    font-family: @fontface-card-title;
    font-size: 18px;
    color: @uw-metalic-gold;
}

.myuw-course-shortname {
    font-family: @fontfacecard-heading;
    font-weight: 400;
    color: @uw-dark-gray;
    font-size: 16px;
}

.myuw-meta {
    font-family: @fontface-body;
    font-size: 12px;
    text-transform: uppercase;
    
}
