@import (reference) "boilerplate.less";
@import (reference) "mobile.less";

@fontface-card-title: 'encode_sans_normalbold', sans-serif;
@fontface-card-heading: 'Roboto', sans-serif;
@fontface-body: 'Open Sans', sans-serif;

@fontsize-small: 12px;
@fontsize-base: 14px;
@fontsize-medium: 16px;
@fontsize-large: 18px;

@font-header-larger: 26px;
@font-header-large: 22px;
@font-header-medium: 20px;
@font-header-small: 18px;
@font-header-smaller: 16px;
@font-header-smallest: 14px;


/*** Body Copy ***/
p { margin: 0 0 1.42857143em 0; }

abbr[data-original-title],
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

/*** Links ***/
a { text-decoration: none; color: #4d66ca;
    &:hover, &:focus { text-decoration: underline; color: #334baa; }
    &:active { text-decoration: underline; color: #1341fb; }
}



/*** Lists ***/

ul.unstyled-list, ol.unstyled-list, ul.unstyled, ol.unstyled {
    padding-left: 0px;
    list-style-type: none;
    line-height: inherit;
    margin: 0;

    li {
        margin: 0 0 .357143em 0;
        &:last-child {
            margin-bottom: 0;
        }
    }

    div.myuw-teach {padding: 0 0 10px; font-size: small; color:#575757;}

}

/*** Dot Separated Lists
* Lists items inline, separated by a dot character
* Example: List item 1 · List item 2 · item 3  ***/
ul.myuw-inline-list, ol.myuw-inline-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: .6em;
        a { margin-right: .6em; }
    }

    li:not(:last-child)::after {
        content: "·";
    }
}

/*** Headings ***/
h2.heading-page, h2.myuw-heading-page {
    font-family: 'encode_sans_normalbold', sans-serif;
    font-weight: 600;
    color: #444;
    margin: 0 0 8px 0;
    font-size: @font-header-larger;
}

h3.heading-page, h3.myuw-heading-page, .myuw-article h3 {
    font-family: @fontface-body;
    font-weight: normal;
    color: #000;
    font-size: @font-header-medium;
}

#app_content .card .myuw-card-title {
    margin-top: 0;
}



/*** Utility class ***/
.myuw-text-capitalize::first-letter {
    text-transform: capitalize;
}

/* Larger typeface for introductory, summary text */
.myuw-herosummary {
    font-size: @fontsize-large;
    line-height: 1.5555556;
}

.myuw-meta {
    font-family: @fontface-body;
    font-size: @fontsize-small;
    text-transform: uppercase;
}

.myuw-text-small {
    font-size: @fontsize-small;
}

.myuw-note {
    font-style: italic;
    font-size: @fontsize-small;
}

.myuw-image-credit {
    font-size: @fontsize-small;
    color: #555;
    font-style: italic;
    text-align: right;
}

.myuw-error {
    font-style: italic;
    font-size: @fontsize-small;
}

/** Can be used on an element or as a container for many elements **/
.myuw-muted {
    color: #777;

    a&, a&:visited,
    a, a:visited {
        color: #777;
        text-decoration: none;
        border-bottom: 1px solid #999;

        &:hover {
            color: darken(#777, 20%);
            text-decoration: none;
            border-bottom-color: darken(#999, 20%);
        }
    }

    button&, button {
        border: none;
        background: none;
        color: #777;
        padding: 0;

        &:hover {
            color: darken(#777, 20%);
            border-bottom: 1px solid #777;
            border-bottom-color: darken(#999, 20%);
        }
    }
}


/** Responsive system alternates between the contents of the minimized
**  and expanded version. Using " of " and "/" as the defaults **/
.myuw-ratio-minimized {
    display: inline;

    @media @two-column {
        display: none;
    }
}

.myuw-ratio-expanded {
    overflow: hidden;
    display: inline-block;
    width: 0;
    position: absolute;
    text-indent: -500px;

    @media @two-column {
        text-indent: 0;
        display: inline;
        position: relative;
        width: auto;
    }
}




.myuw-label-disabled {

}


/* Extra ID, .card, and element added to override generic styles */
#app_content .card h3.myuw-card-row-heading,
#app_content .card h4.myuw-card-row-heading {
    font-family: @fontface-body;
    font-size: @font-base;
    font-weight: bold;
    color: #333;
}


/*** Icon Links
* Use for links with an icon font icon placed to the left of the link text. e.g. "[ ] Link text"
* Sample HTML: <a class="myuw-iconlink"><i class="fa"></i>Link text</a>
***/
.myuw-iconlink {
    white-space: nowrap;
    i,
    .fa {
        margin-right: .4rem;
    }
}



/*** Disclosure Links
* Use for links with disclosure arrow icon to the left. e.g. "> Show more".
* When open, rotates to "v Show less".
* Sample HTML: <a class="myuw-disclosurelink"><i class="fa fa-caret-right"></i>Link Text</a>
***/
.myuw-disclosurelink {

    i.fa {
        margin-right: 8px;
        transition: all .2s;
    }

    i.fa-caret-right {
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        -webkit-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
    }

    &.collapsed {

        i.fa-caret-right {
            filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
            -webkit-transform:rotate(0deg);
            -ms-transform:rotate(0deg);
            transform:rotate(0deg);
        }
    }
}

.myuw-disclosurelink-hidden {

}

.myuw-disclosurelink-shown {

    i.fa-caret-right {
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        -webkit-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
    }
}
