{% load templatetag_handlebars %}
{% tplhandlebars "quarter-header" %}
<h2 id="quarter-info">
  {{ucfirst quarter}} {{year}} {{page}}
  {{#if show_visual_button}}
  <a aria-hidden="true" class="btn btn-visual pull-right display_visual_sched" href="/visual/{{term}}" title="View Visual Schedule"><i class="icon-calendar" role="presentation"></i> Visual</a>
  {{/if}}
  {{#if show_list_button}}
  <a role="button" title="View course list" class="btn btn-visual pull-right display_list_sched" href="/{{term}}"><i class="icon-list-ul"></i> List</a>
  {{/if}}
  {{#if summer_term}}
  <br /><small>{{summer_term}}</small>
  {{/if}}
</h2>
{{#if is_future_quarter}}
<a class="back_to_current" href="/" title="Back to current quarter course list"><i class="icon-arrow-left"></i> Back to current quarter</a>
{{/if}}
{% endtplhandlebars %}
