{% verbatim %}
<script id="photo_class_list" type="text/x-handlebars-template">

<div class="container">

    <div id="photoclasslist_popup">
        <div class="myuw-card myuw-photo-list" data-name="PhotoClasslistPopupCard" data-type="card">
            <div class="myuw-card-wrapper">
                {{#if available_sections}}
                    <div style="float:right;">
                        <select id="available_sections">{{#each available_sections}}<option value="{{section_id}}">{{name}}</option>{{/each}}</select>
                    </div>
                {{/if}}
                <h3 class="scheduleHeading myuw-card-title">{{sections.0.curriculum_abbr}} {{sections.0.course_number}} {{sections.0.section_id}}, {{toTitleCase quarter}} {{year}}</h3>

                <div class="course-meta">
                    <span class="myuw-meta">SLN {{sections.0.sln}}</span>
                </div>

                {{#if current}}
                    {{#if sections.0.current_student_majors}}
                        <div id="course_stats_popover" class="myuw-minicard-overlay myuw-minicard-overlay-bottom-right">
                            <h4 class="myuw-card-heading">Statistics for {{sections.0.curriculum_abbr}} {{sections.0.course_number}} {{sections.0.section_id}}</h4>
                            <p>{{sections.0.current_student_majors.0.percent_students}}% of your students are {{toTitleCase sections.0.current_student_majors.0.major}} majors.</p>
                            <a href="https://coda.uw.edu/#{{year}}-{{quarter}}-{{sections.0.curriculum_abbr}}-{{sections.0.course_number}}-{{sections.0.section_id}}" target="_blank" data-linklabel="Course Dashboard for {{sections.0.curriculum_abbr}} {{sections.0.course_number}} {{sections.0.section_id}}" rel="{{year}}_{{quarter}}_{{sections.0.curriculum_abbr}}_{{sections.0.course_number}}_{{sections.0.section_id}}">View more statistics for {{sections.0.curriculum_abbr}} {{sections.0.course_number}} {{sections.0.section_id}}</a>
                        </div>
                    {{/if}}
                {{/if}}

                <br/>

                <div id="classlist_controls" class="myuw-photo-list-controls row">


                        <div class="myuw-photo-list-controls-view col-sm-3" role="tablist" aria-label="Views">
                            <div class="myuw-tab">
                                <a id="list_view" href="#" class="myuw-iconlink myuw-tab-label" role="tab" aria-controls="classlist_table_view" aria-selected="true"><i class="fa fa-table" aria-hidden="true"></i>Table</a>
                            </div>

                            <div class="myuw-tab">
                                <a id="grid_view" href="#" class="myuw-iconlink myuw-tab-label" role="tab" aria-controls="classlist_photogrid_view" aria-selected="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Photo Grid</a>
                            </div>
                        </div>

                        <div class="myuw-photo-list-controls-sort-wrap col-sm-6">
                            <div id="class-list-sort-controls" class="form-inline">
                                <label for="sort_list">Sort: </label>
                                <select id="sort_list" class="form-control">
                                        <option value="surname,first_name" selected="selected">Last Name</option>
                                        <option value="first_name,surname">First Name</option>
                                        <option value="netid">UW NetID</option>
                                        <option value="class_code">Class</option>
                                        <option value="credits">Credits</option>
                                        {{#if sections.0.has_linked_sections}}
                                        <option value="linked_sections">Secondary Section</option>
                                        {{/if}}
                                </select>
                            </div>
                            {{#if sections.0.has_joint}}
                            <button id="toggle_joint" type="button" class="btn btn-default myuw-button" aria-pressed="false" title="Show students from joint courses"><i class="fa fa-square-o" aria-hidden="true"></i> Joint Course Students</button>
                            {{/if}}
                        </div>

                        <div class="myuw-photo-list-controls-actions col-sm-3">
                            <a href="#" id="download_class_list" class="myuw-iconlink"><i class="fa fa-download"></i>Download (CSV)</a> <a href="javascript:window.print()" class="classlist-print myuw-iconlink"><i class="fa fa-print"></i>Print</a>
                        </div>
                </div>
            </div>

            <div id="classlist_table_view" class="js-tab-panel"
                 aria-labelledby="list_view" role="tabpanel" aria-hidden="false">
                <h4 class="sr-only">Table of Student Information</h4>

                <div class="table-responsive">
                    <table class="table table-condensed table-hover" id="student_list">
                        <thead>
                            <tr>
                                <th>Student No.</th>
                                <th>UW NetID</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                {{#if sections.0.has_joint}}
                                    <th class="joint-col">Joint Course</th>
                                {{/if}}
                                {{#if sections.0.has_linked_sections}}
                                    <th>Secondary Section</th>
                                {{/if}}
                                <th>Pronouns</th>
                                <th>Credits</th>
                                <th>Class</th>
                                <th>Major</th>
                                {{#if sections.0.is_independent_start}}
                                <th>Start Date</th>
                                <th>End Date</th>
                                {{/if}}
                                <th><span class="sr-only">Email</span></th>
                            </tr>
                        </thead>
                        <tbody id="student_sort">
                            {{#each sections.0.registrations}}
                            <tr id="student_{{regid}}" {{#if is_joint}}class="joint"{{/if}}>
                                <td>{{student_number}}</td>
                                <td>{{netid}}</td>
                                <td>{{surname}}</td>
                                <td>{{first_name}}</td>
                                {{#if ../sections.0.has_joint}}
                                    <td class="joint-col">
                                        {{#if is_joint}}
                                        {{joint_curric}} {{joint_course_number}} {{joint_section_id}}
                                        {{else}}
                                        {{../sections.0.curriculum_abbr}} {{../sections.0.course_number}} {{../sections.0.section_id}}
                                        {{/if}}
                                    </td>
                                {{/if}}
                                {{#if @root.sections.0.has_linked_sections}}
                                    <td>{{linked_sections}}</td>
                                {{/if}}
                                <td>Pronouns go here</td>
                                <td>
                                    {{#if is_auditor}}Audit{{else}}{{credits}}{{/if}}
                                </td>
                                <td>{{ucfirst class_level}}</td>
                                <td>{{#each majors}}
                                        {{#if name}}
                                        {{ucfirst name}}{{#unless @last}},&nbsp;{{/unless}}
                                        {{/if}}
                                    {{/each}}
                                </td>
                                {{#if @root.sections.0.is_independent_start}}
                                <td>{{start_date}}</td>
                                <td>{{end_date}}</td>
                                {{/if}}
                                <td><a href="mailto:{{email}}" title="Email {{name}} {{surname}}"><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="sr-only">{{email}}</span></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="classlist_photogrid_view" class="js-tab-panel"
                 aria-labelledby="grid_view" role="tabpanel" aria-hidden="true" hidden="true">
                <h4 class="sr-only">Grid of Student Photos</h4>

                <ol class="unstyled-list grid-view">
                    {{#each sections.0.registrations}}
                        <li id="studentphoto_{{regid}}" {{#if is_joint}}class="joint"{{/if}}>
                            <div class="myuw-photo-list-img-wrapper">
                                <img class="classlist-photo myuw-photo-list-image"
                                 src="/photo/{{url_key}}" width="120px" height="150px">
                             </div>
                            <div class="myuw-photo-list-content">{{first_name}} {{surname}}</div>
                        </li>
                    {{/each}}
                </ol>
            </div>

        </div>
    </div>
</div>
</script>
{% endverbatim %}
