{% extends is_hybrid|yesno:"base_hybrid.html,base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
{% set_context 'page_title' 'Photo Class List' %}
{% endblock load_values %}

{% block header %}{% endblock header %}
{% block mobile_navigation %}{% endblock %}
{% block mobile_banner %}{% endblock %}
{% block desktop_banner %}{% endblock %}
{% block app_navigation %}{% endblock %}

{% block content %}
    <div id="main-content" role="main" aria-labelledby="main"></div>
    <div id="static-links"></div>

    {% include "handlebars/teaching/photo_list.html" %}
    {% include "handlebars/loading.html" %}
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
      window.section_data = {
          "lti_session_id": "{{ lti_session_id }}",
          "lti_course_name": "{{ lti_course_name }}",
          "available_sections": [{% for section in sections %}{"name": "{{ section.name }}", "section_id": "{{ section.sis_section_id }}"}{% if not forloop.last %},{% endif %}{% endfor %}],
          "section": "{{ section }}"
      };
      window.user = {
          "instructor": true
      };
    </script>
    {% compress js inline %}
    <script src="{% static 'js/page/photo_class_list.js' %}"></script>
    {% endcompress %}
{% endblock extra_js %}

{% block footer %}{% endblock footer %}
