{% load templatetag_handlebars %}
   {% tplhandlebars "pce_banner" %}

<div aria-labelledby="" data-name="PCEBanner" data-type="card">
    <div class="card PCE-notice">
        <div class="fade-in">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><h3>PCE Classes Not Displayed</h3>
            <p>Your PCE schedule is not yet available in this version of MyUW. <a href="http://myuw.washington.edu/servlet/main">Please visit the old MyUW</a> (<a href="http://myuw.washington.edu/servlet/main">http://myuw.washington.edu/servlet/main</a>) to view your PCE classes, content, and relevant dates.</p>
        </div>
    </div>
</div>
{% endtplhandlebars %}
