{% load templatetag_handlebars %}
   {% tplhandlebars "pce_banner" %}

<div aria-labelledby="" data-name="PCEBanner" data-type="card">
    <div class="card PCE-notice">
        <div class="fade-in">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><h3>Displaying Only Credit Courses</h3>
            <p>If you are registered <a href="https://myuw.washington.edu/servlet/user">for non-credit courses (e.g. PCE programs) visit the old MyUW</a> to view associated schedule and class information.</p>
        </div>
    </div>
</div>
{% endtplhandlebars %}
