{% load templatetag_handlebars %}
    {% tplhandlebars "academic_card_content" %}

    <div aria-labeledby="my_academic" class="card">
        <div class="fade-in">
            <h3>Academics</h3>
            <div class="class-standing">
                <ul class="academics_list">
                    <li>
                        <h4>Class standing</h4>
                        <p>{{ class_level }}</p>
                    </li>
                    {{#if majors}}
                    <li>
                        <h4>{{ pluralize_by_size majors "Major" "Majors"}}</h4>
                        <ul>
                        {{#each majors}}
                            <li>{{full_name}}</li>
			{{/each}}
                        </ul>
                    </li>
                    {{/if}}
                    {{#if minors}}
                    <li>
                        <h4>{{ pluralize_by_size minors "Minor" "Minors"}}</h4>
                        <ul>
			{{#each minors}}
                            <li>{{full_name}}</li>
                        {{/each}}
                        </ul>
                    </li>
                    {{/if}}
                </ul>
            </div>

            <div id="academic_card_resources" class="slide-hide"
                 aria-hidden="true" hidden aria-expanded="false"
                 aria-label="Resources related to major and class standing"
                 style="display: none;">
                <h4>Resources</h4>
                <ul class="reg-resources-list">
                    <li><a href="https://uwstudent.washington.edu/student/myplan/mplogin/netid?rd=/student/myplan/"
                           target="_blank">MyPlan</a> (Academic Planning)</li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/mplogin/netid?rd=/student/myplan/audit/degree"
                           target="_blank">Check Your Degree Progress</a> (DARS)</li>
                </ul>
            </div>

            <div class="card-disclosure">
                <span id="show_academic_resources_wrapper">
                    <span id="show_academic_resources_label" class="sr-only">Show links to academics resources</span>
                    <a class="toggle_academic_card_resources" aria-controls="academic_card_resources"
                       aria-labelledby="show_academic_resources_label" href="#"
                       title="Expand to show additional academic resources">SHOW MORE</a>
                </span>
                <span id="hide_academic_resources_wrapper" hidden aria-hidden="true">
                    <span id="hide_academic_resources_label" class="sr-only">Hide links to academics resources</span>
                    <a class="toggle_academic_card_resources" aria-controls="academic_card_resources"
                       aria-labelledby="hide_academic_resources_label" href="#"
                       title="Collapse to hide additional academic resources">SHOW LESS</a>
                </span>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
