{% load templatetag_handlebars %}
    {% tplhandlebars "alumni_card_content" %}
    <div class="myuw-card">
        <h3 class="myuw-card-title" aria-hidden="true">Alumni and Continuing Education</h3>
	    <h4 class="myuw-card-heading">Alumni</h4>
	    <p>Information about the Alumni Association, services, and events.</p>
		<ul class="unstyled-list">
	        <li><a href="https://www.washington.edu/alumni" target="_blank" data-linklabel="Alumni Info">UW info for Alumni</a></li>
	    </ul>
	    <h4 class="myuw-card-heading">Professional and Continuing Education</h4>
	    <p>Whether you want to update your skills or delve into a new field, UW Professional & Continuing Education can help.</p>
	    <ul class="unstyled-list">
            <li><a href="https://www.pce.uw.edu" target="_blank" data-linklabel="PCE Programs">Learn about PCE programs</a></li>
	    </ul>	        
    </div>
{% endtplhandlebars %}
