{% verbatim %}
<script id="alumni_card_content" type="text/x-handlebars-template">
    <div class="myuw-card">
        <h3 class="myuw-card-title">Alumni and Alumni Association</h3>
	<p>Sharing a connection across three campuses and extending to places all over the world, UW alumni are united in the belief that together we will make a difference.</p>
	<ul class="unstyled-list">
	    <li><a href="https://www.washington.edu/alumni" target="_blank" data-linklabel="Alumni Info">Alumni News, Events and Services</a></li> 	        
	    <li><a href="https://magazine.washington.edu/" target="_blank" data-linklabel="Columns Magazine">Columns Magazine</a></li>
	</ul> 
	<h4 class="myuw-card-heading">University of Washington Alumni Association (UWAA)</h4>
	<p>With 56,000 members, UWAA helps Huskies of all ages stay in touch and in the know.</p>
	<ul class="unstyled-list">
	    <li><a href="https://www.washington.edu/cms/alumni/membership/" target="_blank" data-linklabel="Alumni Association">Learn about the UWAA</a></li>
	</ul>      
    </div>
</script>
{% endverbatim %}
