{% load templatetag_handlebars %}
    {% tplhandlebars "directory_info_card" %}

    <div class="myuw-card" data-type="card" data-name="DirectoryInfoCard" data-identifier="{{ title }}">

        <h3 class="myuw-card-title">Employee Profile</h3>

        <div class="directory-information myuw-card-section" vocab="http://schema.org/" typeof="Person">


                {{#if title1}}
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Job Title</h4>
                    </div>
                    <div class="col-sm-9">
                        <span property="jobTitle">{{title1}}</span>
                    </div>
                </div>
                {{/if}}

                {{#if email1}}
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Email 1</h4>
                    </div>
                    <div class="col-sm-9">
                        <span property="email">{{email1}}</span>
                    </div>
                </div>
                {{/if}}

                {{#if email2}}
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Email 2</h4>
                    </div>
                    <div class="col-sm-9">
                        <span property="email"></span>{{email2}}</span>
                    </div>
                </div>
                {{/if}}


                <span class="sr-only" property="name">UW Office</span>

                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Phone Number</h4>
                    </div>
                    <div class="col-sm-9">
                        {{#unless phone1}}{{#unless voicemail}}{{#unless fax}}<p class="my-text-muted">No phone numbers listed</p>{{/unless}}{{/unless}}{{/unless}}
                        {{#if phone1}}<span>Office:</span>&nbsp;&nbsp;<span property="telephone">{{phone_number phone1}}</span><br />{{/if}}
                        {{#if voicemail}}<span>Voicemail:</span>&nbsp;&nbsp;<span property="telephone">{{phone_number voicemail}}</span><br />{{/if}}
                        {{#if fax}}<span>Fax:</span>&nbsp;&nbsp;<span property="faxNumber">{{phone_number fax}}</span><br />{{/if}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Address</h4>
                    </div>
                    <div class="col-sm-9">
                        {{#unless mailstop}}{{#unless address1}}<p class="my-text-muted">No address available</p>{{/unless}}{{/unless}}
                        <div property="address">
                            {{#if mailstop}}<span>Box {{mailstop}}</span><br />{{/if}}
                            {{#if address1}}<span>{{address1}}</span><br />{{/if}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                        {% with link_text="Manage profile in Workday" extra_class="workday-link" %}
                          {% include "workday_link.html" %}
                        {% endwith %}
                    </div>
                </div>


        </div>

        <div class="dir-release myuw-card-section last">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="myuw-card-row-heading">UW Directory</h4>
                </div>
                <div class="col-sm-9">

                    <p>{{#if directory_release}}Name, position, work contact information are published.{{else}}Not published.{{/if }}<br/>
                    <a href="https://identity.uw.edu/">Change directory settings</a></p>

                    <p class="card-related-messages">Search for faculty, staff, and students in the {{#if is_tacoma}}<a href="http://directory.tacoma.uw.edu/">UW Tacoma Directory</a>{{else}}<a href="https://www.washington.edu/home/peopledir/">UW Directory</a>{{/if}}.</p>

                </div>
            </div>
        </div>



    </div>
{% endtplhandlebars %}
