{% load templatetag_handlebars %}
    {% tplhandlebars "explore_card" %}
    <div class="row card">
        <div class="col-xs-11">
            <h3>Explore UW</h3>
            <div class="row">
            <h3>{{ category }}</h3>
            <div class="col-md-6">
                <div class="">
                    <h4>{{ subcategory }}</h4>
                    <button type="button">Pin to home</button>
                    <ul>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                    <h4>Link card heading</h4>
                    <button type="button">Pin to home</button>
                    <ul>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                        <li><a href="">Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </div>
{% endtplhandlebars %}
