{% verbatim %}
<script id="grade_card_content" type="text/x-handlebars-template">

{{#if display_grade_card}}
    <div class="card clearfix"  data-name="GradeCard" data-type="card">

        <h3>Final Grades</h3>
        {{#unless has_error}}
        {{#if display_note}}
        <span class="official-note">These grades are not official until 11:59 p.m. on {{toFriendlyDate term.grade_submission_deadline}}.</span>
        {{/if}}

        {{#if display_grades}}
        <div class="card-badge-container clearfix">
            <ul class="unstyled-list">
                {{#each sections}}
                    {{#if display_grade}}
                    <li class="clearfix">
                        <div class="card-badge">
			    <div class="pull-left">
		                <!--i class="fa fa-check-square c{{color_id}}Color"></i -->
				<div class="c{{color_id}} simplesquare" aria-hidden="true"></div>
				<span class="card-badge-inline-label">{{curriculum_abbr}} {{course_number}}</span>
                            </div>
			    <div class="pull-right">
                                {{#if no_grade}}<span class="card-badge-nograde-value">No grade yet</span> {{/if}}
				<span class="card-badge-value pull-right">{{grade}}</span>
                            </div>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
            </ul>
        </div>
        {{/if}}

        <div id="grade_card_resources" class="collapse"
             aria-expanded="false" aria-hidden="true"
             aria-label="Resources related to final grades"
             tabindex="-1">
            <h4 class="sr-only">Resources</h4>
            <ul class="unstyled-list">
                <li><a href="https://sdb.admin.uw.edu/sisStudents/uwnetid/grades.aspx">View credits and GPA</a></li>
                <li><a href="https://myplan.uw.edu/audit/login/netid?rd=/student/myplan/dars" data-linklabel="MyPlan - Degree Audit">Degree Audit Reporting System (DARS)</a></li>
                <li><a href="https://sdb.admin.uw.edu/students/uwnetid/unofficial.asp">Unofficial Transcript</a></li>
            </ul>
        </div>
        <div class="card-disclosure">
            <a id="toggle_grade_card_resources" href="#grade_card_resources" role="button" aria-controls="grade_card_resources" aria-expanded="false"
                title="Expand to show additional grade resources" data-toggle="collapse"
                data-expanded-title="Collapse to hide additional grade resources"
                data-expanded-text="SHOW LESS"
                data-expanded-label="Hide links related to final grades"
                data-hidden-title="Expand to show additional grade resources"
                data-hidden-text="SHOW MORE"
                data-hidden-label="Show links related to final grades">SHOW MORE</a>
        </div>
        {{else}}
        <p class="text-danger" style="margin-top:1em;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> An error occurred and MyUW cannot load your grade information right now. Please try again later.</p>
        {{/unless}}
    </div>
{{/if}}
</script>
{% endverbatim %}
