{% verbatim %}
<script id="gradcommittee_card_content" type="text/x-handlebars-template">

    <div aria-labeledby="graduate_committees" class="card">
        <h3>Your Committees</h3>
        {{#unless has_errors}}
        <div class="card-badge-container" id="committee-reqs">
            <ul class="card-list">
                {{#each committees}}
                    <li>
                        <h4>{{committee_type}}</h4>
                        <ol class="card-list">
                            {{#each members}}
                            <li class="committee-member">
                                <span style="display: block">{{first_name}} {{last_name}}{{#if member_type}},
                                    {{member_type}}{{/if}}{{#if reading_type}}, {{reading_type}}{{/if}}</span>
                                {{#if dept}}<span style="display: block">{{dept}}</span>{{/if}}
                                {{#if email}}<span style="display: block"><a href="mailto:{{email}}">{{email}}</a></span>{{/if}}
                            </li>
                            {{/each}}
                        </ol>
                    </li>
                    {{/each}}
            </ul>
        </div>
        <div class="clearfix">
            <div class="card-badge-action pull-right">
                <a href="http://www.grad.uw.edu/mygrad/student.htm" data-linklabel="MyGrad" target="_blank">Go to MyGrad</a>
            </div>
        {{else}}
        <p class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>An error occurred and MyUW cannot load your committees information right now. In the meantime, try the <a href="http://grad.uw.edu/for-students-and-post-docs/mygrad-program/" data-linklabel="MyGrad" target="_blank">MyGrad program page</a>.</p>
        {{/unless}}
    </div>
</script>
{% endverbatim %}
