{% verbatim %}
<script id="international_student_card_content" type="text/x-handlebars-template">
<div class="myuw-card">
    <h3 class="myuw-card-title">
        International Student
    </h3>
    <div class="links-container">
        <h4 class="myuw-card-heading">Visa and Immigration Rules</h4>

        <ul class="unstyled-list">
        {{#if seattle}}
	    <li><a href="https://iss.washington.edu/travel-visas/" target="_blank" data-linklabel="Travel and Visas for Int'l Students">Travel and Visas</a></li>
	    <li>
		{{#if is_j1}}
		    <a href="https://iss.washington.edu/regulations/j1/" target="_blank" data-linklabel="Visa and Immigration Rules">Visa and Immigration Rules for J-1 students</a>
		{{else}}
		    <a href="https://iss.washington.edu/regulations/f1/" target="_blank" data-linklabel="Visa and Immigration Rules">Visa and Immigration Rules for F-1 students</a>
		{{/if}}
	    </li>
	    <li><a href="https://iss.washington.edu/new-students/faq/" target="_blank" data-linklabel="ISS: Frequently Asked Questions (FAQ)">Frequently Asked Questions (FAQ)</a></li>
	    <li><a href="https://iss.washington.edu/employment/" target="_blank" data-linklabel="Int'l Student Employment">Employment and Internships</a></li>
	    <li><a href="https://www.trumba.com/calendars/sea_enroll-iss" target="_blank" data-linklabel="Deadlines and Workshops Calendar">Deadlines and Workshops Calendar</a></li>
	{{/if}}

	{{#if bothell}}
	    <li><a href="http://www.uwb.edu/cie/current-students/travel" target="_blank" data-linklabel="Travel and Visas for Int'l Students">Travel and Visas</a></li>
	    <li><a href="https://www.uwb.edu/cie/current-students/immigration-documents" target="_blank" data-linklabel="Immigration Rules for F-1 students">Immigration Document for F-1 Students </a></li>
	    <li><a href="https://www.uwb.edu/cie/current-students/vacation-quarter" target="_blank" data-linklabel="Vacation Quarter">Vacation Quarter</a></li>
	    <li><a href="http://www.uwb.edu/cie/employment" target="_blank" data-linklabel="Int'l Student Employment">Employment and Internships</a></li>
	    <li><a href="https://www.uwb.edu/cie/events" target="_blank" data-linklabel="Center for International Education Event Calendar">Center for International Education (CIE) Calendar</a></li>
	{{/if}}

	{{#if tacoma}}
	    <li><a href="http://www.tacoma.uw.edu/iss/travel-visas" target="_blank" data-linklabel="Travel and Visas for Int'l Students">Travel and Visas</a></li>
	    <li><a href="http://www.tacoma.uw.edu/iss/maintaining-f-1-status" target="_blank" data-linklabel="Rules to Maintain F-1 Status">Rules to maintain F-1 status</a></li>
	    <li><a href="http://www.tacoma.uw.edu/isss/employment" target="_blank" data-linklabel="International Student Employment">International Student Employment</a></li>
	    <li><a href="http://www.tacoma.uw.edu/international-student-services/events" target="_blank" data-linklabel="ISSS Calendar (International Student and Scholar Services)">International Student and Scholar Services (ISSS) Calendar</a></li>
	{{/if}}
        </ul>
    </div>

    <div class="links-container">
        <h4 class="myuw-card-heading">Academic Support</h4>
        <ul class="unstyled-list">
	{{#if seattle}}
	    <li><a href="http://depts.washington.edu/aspuw/clue/home/" target="_blank" data-linklabel="Center for Learning and Undergraduate Enrichment (CLUE)">Center for Learning and Undergraduate Enrichment (CLUE)</a></li>
	    <li><a href="http://depts.washington.edu/owrc" target="_blank" data-linklabel="Odegaard Writing and Research Center">Odegaard Writing and Research Center </a></li>
	    <li><a href="http://aep.washington.edu/" target="_blank" data-linklabel="Academic English Program">Academic English Program</a></li>
	{{/if}}

	{{#if bothell}}
	    <li><a href="http://www.uwb.edu/cie/current-students/writing-support" target="_blank" data-linklabel="Writing Support and Resources">Writing Support and Resources</a></li>
	    <li><a href="http://www.uwb.edu/wacc" target="_blank" data-linklabel="Writing and Communication Center (WaCC)">Writing and Communication Center (WaCC)</a></li>
	    <li><a href="https://www.uwb.edu/qsc" target="_blank" data-linklabel="Quantitative Skills Center (QSC)">Quantitative Skills Center (QSC)</a></li>
	{{/if}}

	{{#if tacoma}}
	    <li><a href="http://www.tacoma.uw.edu/teaching-and-learning-center/writing-resources-0" target="_blank" data-linklabel="Academic Writing Resources">Academic Writing Resources</a></li>
	    <li><a href="http://www.tacoma.uw.edu/teaching-learning-center/teaching-learning-center" target="_blank" data-linklabel="Teaching and Learning Center">Teaching and Learning Center</a></li>
	{{/if}}
        </ul>
    </div>

    {{#if seattle}}
        <div class="links-container">
            <h4 class="myuw-card-heading">Social Events</h4>
            <ul class="unstyled-list">
		<li><a href="http://www.fiuts.org/events" target="_blank" data-linklabel="FIUTS Event Calendar">FIUTS Event Calendar</a></li>
	    </ul>
        </div>
    {{/if}}

</div>
</script>
{% endverbatim %}
