{% verbatim %}
<script id="international_student_card_content" type="text/x-handlebars-template">
<div class="myuw-card">
    <h3 class="myuw-card-title">
        International Student
    </h3>
    {{#if seattle}}
            <!-- include SEATTLE_INTERNATIONAL.HTML -->SEATTLE CONTENT
    {{else}}
        {{#if bothell}}
                <!-- include BOTHELL_INTERNATIONAL.HTML -->BOTHELL CONTENT
        {{else}}
            {{#if tacoma}}
                    <!-- include TACOMA_INTERNATIONAL.HTML -->TACOMA CONTENT
            {{else}}
            <div role="tablist">
                <div class="myuw-tab">
                    <a href="" class="myuw-tab-label" role="tab" aria-selected="true">Seattle</a>
                </div>
                <div class="myuw-tab">
                   <a href="" class="myuw-tab-label" role="tab" aria-selected="false">Tacoma</a>
                </div>
                <div class="myuw-tab">
                   <a href="" class="myuw-tab-label" role="tab" aria-selected="false">Bothell</a>
                </div>
            </div>
        
            <div id="seattle_international" aria-label="Seattle">
                <!-- include SEATTLE_INTERNATIONAL.HTML -->
            </div> 
            <div id="bothell_international" aria-label="Bothell">
                <!-- include BOTHELL_INTERNATIONAL.HTML -->
            </div> 
            <div id="tacoma_international" aria-label="Tacoma">
                <!-- include TACOMA_INTERNATIONAL.HTML -->
            </div>
            {{/if}}
        {{/if}}
    {{/if}}

</div>
</script>
{% endverbatim %}
