{% load templatetag_handlebars %}
{% tplhandlebars "international_student_card_content" %}
<div class="myuw-card">
    <h3 class="myuw-card-title">
        International Student
    </h3>
	<div class="links-container">
            <h4 class="myuw-card-heading">Visa and Immigration Rules</h4>
            <ul class="unstyled-list">
                {{#if seattle}}
				<li><a href="https://iss.washington.edu/travel-visas/" target="_blank" data-linklabel="Travel & visas for Int'l students">Travel and Visas - Travel Signature </a></li>
				<li>
					{{#if is_j1}}
					<a href="https://iss.washington.edu/regulations/j1/" target="_blank" data-linklabel="Visa & Immigration Rules">Visa & Immigration Rules for J-1 students</a>
					{{else}}
					<a href="https://iss.washington.edu/regulations/f1/" target="_blank" data-linklabel="Visa & Immigration Rules">Visa & Immigration Rules for F-1 students</a>
					{{/if}}
				</li>
				<li><a href="https://iss.washington.edu/new-students/faq/" target="_blank" data-linklabel="ISS: Frequently Asked Questions (FAQ)">Frequently Asked Questions (FAQ)</a></li>
				<li><a href="https://iss.washington.edu/employment/" target="_blank" data-linklabel="Int'l student employment - OPT/CPT">Employment and Internships - OPT/CPT Overview</a></li>
				<li><a href="https://www.trumba.com/calendars/sea_enroll-iss" target="_blank" data-linklabel="ISS Event Calendar">Int’l Student Service (ISS) Event Calendar</a></li>
				{{/if}}

				{{#if bothell}}
				<li><a href="http://www.uwb.edu/cie/current-students/travel" target="_blank" data-linklabel="Travel & visas for Int'l students">Travel and Visas - Travel Signature </a></li>
				<li><a href="http://www.uwb.edu/cie/current-students/travel" target="_blank" data-linklabel="Immigration Rules for F-1 students">Immigration Document for F-1 students </a></li>
				<li><a href="http://www.uwb.edu/cie/employment" target="_blank" data-linklabel="Int'l student employment - OPT/CPT">Employment and Internships - OPT/CPT</a></li>
				<li><a href="https://www.uwb.edu/cie/events" target="_blank" data-linklabel="Center for International Education Event Calendar">Center for International Education (CIE) Event Calendar</a></li>
				{{/if}}

				{{#if tacoma}}
				<li><a href="http://www.tacoma.uw.edu/iss/travel-visas" target="_blank" data-linklabel="Travel & visas for Int'l students">Travel and Visas - Travel Signature</a></li>
				<li><a href="http://www.tacoma.uw.edu/iss/maintaining-f-1-status" target="_blank" data-linklabel="Maintaining F-1 status">Maintaining F-1 status</a></li>
				<li><a href="http://www.tacoma.uw.edu/isss/employment" target="_blank" data-linklabel="Int'l Student Employment - OPT/CPT">Int'l Student Employment - OPT/CPT</a></li>
				<li><a href="http://www.tacoma.uw.edu/international-student-services/events" target="_blank" data-linklabel="Int’l Student and Scholar Services Event Calendar">Int’l Student and Scholar Services Event Calendar</a></li>
				{{/if}}
            </ul>
        </div>
        <div class="links-container">
            <h4 class="myuw-card-heading">Academic Support</h4>
            <ul class="unstyled-list">
				{{#if seattle}}
				<li><a href="http://depts.washington.edu/aspuw/clue/home/" target="_blank" data-linklabel="Center for Learning and Undergraduate Enrichment (CLUE)">Center for Learning and Undergraduate Enrichment (CLUE)</a></li>
				<li><a href="http://depts.washington.edu/owrc" target="_blank" data-linklabel="Odegaard Writing & Research Center">Odegaard Writing & Research Center </a></li>
				<li><a href="http://aep.washington.edu/" target="_blank" data-linklabel="Academic English Program">Academic English Program</a></li>
				{{/if}}

				{{#if bothell}}
				<li><a href="http://www.uwb.edu/cie/current-students/writing-support" target="_blank" data-linklabel="Writing support and resources">Writing Support and Resources</a></li>
				<li><a href="http://www.uwb.edu/admissions/apply/engprof" target="_blank" data-linklabel="English language proficiency">English Language Proficiency</a></li>
				{{/if}}

				{{#if tacoma}}
				<li><a href="https://www.tacoma.uw.edu/teaching-and-learning-center/writing-resources" target="_blank" data-linklabel="Writing Center">Writing Center</a></li>
				<li><a href="http://www.tacoma.uw.edu/teaching-and-learning-center/writing-resources-0" target="_blank" data-linklabel="Academic Writing Resources">Academic Writing Resources</a></li>
				{{/if}}
            </ul>
        </div>

		{{#if seattle}}
		<div class="links-container">
            <h4 class="myuw-card-heading">Social Events</h4>
            <ul class="unstyled-list">
				<li><a href="http://www.fiuts.org/events" target="_blank" data-linklabel="FIUT Event Calendar">Foundation for International Understanding Through Students (FIUTS) Event Calendar</a></li>
			</ul>
        </div>
        {{/if}}

</div>
{% endtplhandlebars %}
