{% verbatim %}
<script id="card_with_no_course" type="text/x-handlebars-template">

<div style="display: none;" class="no_courses_dupe_blocker"></div>
<div class="card"  data-name="NoCourseCard" data-type="card">
    <h3>No {{toTitleCase term}} Registration Found</h3>
    <p>You don&rsquo;t appear to be registered for any credit courses in {{quarter}}. If you think this is an error, please <a href="mailto:help@uw.edu?subject=MyUW%20Comment,%20Request,%20Suggestion&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20" title="Send email to help@uw.edu">contact MyUW</a>.</p>

    <p>If you are interested in registration, <a href="../resource/academics">view registration resources</a>.</p>
</div>

</script>
{% endverbatim %}
