{% load templatetag_handlebars %}
    {% tplhandlebars "outage_card_content" %}

    <div class="card clearfix" data-name="OutageCard" data-type="card">
	    <div class="position:relative;"> 
			<div class="error-rollup"> <!-- this is new class for stying -->
		        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
		        <h3>Limited data due to technical difficulties</h3>
		        <p class="text-danger">We are aware of the issue and working on it. Please try again later.
				</p>
                <h2 style="font-size:15px; font-weight: bold;">Things you might be looking for:</h2>
                <ul class="" style="margin-top:1em;">
                    <li><a href="https://canvas.uw.edu/" target="_blank">Canvas LMS</a></li>
                    <li><a href="https://catalyst.uw.edu/" target="_blank">Catalyst Web Tools</a></li>
                    <li><a href="https://sdb.admin.uw.edu/students/uwnetid/register.asp" target="_blank">Student Registration</a></li>
                    <li><a href="https://sdb.admin.uw.edu/students/uwnetid/schedule.asp" target="_blank">Student Class Schedule</a></li>
                    <li><a href="https://sdb.admin.uw.edu/sisStudents/uwnetid/tuition.aspx" target="_blank">Student Tuition Statement</a></li>

                    <li><a href="https://www.washington.edu/students/timeschd/" target="_blank">Time Schedule</a></li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/mplogin/netid?rd=/student/myplan/" target="_blank">MyPlan</a></li>
                    <li><a href="https://sdb.admin.uw.edu/sisMyUWClass/uwnetid/default.aspx" target="_blank">My Class Instructor Resources</a></li>
                    <li><a href="https://gradepage.uw.edu/" target="_blank">GradePage</a></li>
                    <li><a href="https://uw.hosted.panopto.com/" target="_blank">Panopto Lecture Capture</a></li>
                    <li><a href="https://eo.admin.washington.edu/uweomyuw/outage/uwnetid/myuwoutage.asp" target="_blank">UW Professional &amp; Continuing Education</a></li>
                    <li><a href="https://www.washington.edu/ess" target="_blank">Employee Self-Service (ESS)</a></li>
                    <li><a href="http://ucs.admin.uw.edu/myfd/" target="_blank">MyFinancial.desktop</a></li>
                </ul>
			</div>
		</div>
    </div>
    {% endtplhandlebars %}
