{% load templatetag_handlebars %}
{% tplhandlebars "quicklinks" %}
<div class="card clearfix"  data-name="QuickLinks" data-type="card">
    <h3>Quick Links</h3>
    <div class="myuw-qlinks">
        <div class="myuw-qlinks-active">
            <ul class="unstyled-list myuw-qlinks-active-list">
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="http://www.washington.edu/maps/"><span>Campus Maps</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="http://canvas.uw.edu/"><span>Canvas LMS</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="https://catalyst.uw.edu/"><span>Catalyst Web Tools</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="https://sdb.admin.uw.edu/students/uwnetid/address.asp"><span>Change Student Address</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="https://www.washington.edu/ess/"><span>WorkDay</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="http://www.washington.edu/home/peopledir/"><span>Faculty/Staff/Student Directory</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="https://itconnect.uw.edu/"><span>IT Connect</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="https://panopto.uw.edu/"><span>Panopto</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="https://sdb.admin.uw.edu/students/uwnetid/register.asp"><span>Registration</span></a></div><div class="pull-right"><a href="#" class="control-link">remove</a></div></li>
                {{#each links.custom_links}}
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="{{ url }}"><span>{{label }}</span></a></div><div class="pull-right"><a href="#" class="control-link" data-linkid="{{ id }}" data-linktype="custom">remove</a></div></li>
                {{/each}}

            </ul>
        </div>
        <div class="myuw-qlinks-recent">
            <h4>Recently Visited</h4>
            <ul class="unstyled-list myuw-qlinks-recent-list">
                {{#each links.recent_links}}
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="{{ url }}"><span>{{label }}</span></a></div><div class="pull-right">{{#if added }}in your list{{else}}<a href="#" class="control-link" data-linkid="{{ id }}" data-linktype="recent">add</a>{{/if}}</div></li>
                {{/each}}
            </ul>
        </div>
        <div>
            <span><strong>Not seeing what you're looking for?</strong> {{#if links.popular_links }}Select from <a data-toggle="collapse" href="#popular_qlinks" aria-expanded="false" aria-controls="popular_qlinks">popular links,</a> or {{/if}}<a data-toggle="collapse" href="#custom_qlinks" aria-expanded="false" aria-controls="custom_qlinks">add your own.</a></span>
        </div>

        <div class="collapse myuw-qlinks-popular" id="popular_qlinks">
            <h4>Popular Links</h4>
            <ul class="unstyled-list myuw-qlinks-popular-list">
                {{#each links.popular_links }}
                <li class="list clearfix"><div class="myuw-qlinks-item pull-left"><a href="{{ url }}"><span>{{ label }}</span></a></div><div class="pull-right">{{#if added }}in your list{{ else }}<a href="#" class="control-link" data-linkid="{{ id }}" data-linktype="popular">add</a>{{ /if }}</div></li>
                {{/each}}
            </ul>
        </div>
        <div class="myuw-qlinks-custom collapse"  id="custom_qlinks">
            <div style="display: none;" id="error_saving">Error saving</div>
            <div style="display: none;" id="quicklink_saving">Saving...</div>
            <div class="card card-block">
                <div class="form-group row">
                    <label for="myuw-custom-qlink" class="col-2 col-form-label">Add your link to Quick Links</label>
                    <div class="col-10">
                        <input class="form-control" type="url" placeholder="https://www.washington.edu" id="myuw-custom-qlink" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endtplhandlebars %}
