{% load templatetag_handlebars %}
    {% tplhandlebars "reg_status_card" %}

<div id="RegStatusCard" class="card"  data-name="RegistrationCard" data-type="card" data-identifier="{{reg_next_quarter}}{{reg_next_year}}">
    <div class="fade-in">

        <h3>Registration: {{reg_next_quarter}} {{reg_next_year}}</h3>

        {{#unless registration_is_open}}
            {{> notice_est_reg_date }}
        {{/unless}}

        {{#if hold_count}}
            {{> reg_holds }}
        {{/if}}

        {{#if plan_data}}
            {{> in_myplan }}
        {{/if}}

        {{> reg_resources }}

        {{ #if finaid_notices }}
            {{> reg_finaid_notices }}
        {{/if}}

        {{#if plan_data}}
	    <span id="reg_resources_desc" class="sr-only">{{reg_next_quarter}} {{reg_next_year}} plan</span>
            <div id="reg_resources{{#if card}}_{{card}}{{/if}}"
                 aria-labelledby="reg_resources_desc" aria-expanded="false"
                 class="slide-hide reg_resources_disc" style="clear:both;" aria-hidden="true">
	        <!-- CHARLON: not sure why a clearfix wasn't working on the DIV below, but the inline style was... -->
                <div class="myplan-data">
                    {{#if plan_data.has_ready_courses}}
                        {{> reg_res_plan_courses }}
                    {{/if}}

                    {{#if plan_data.has_unready_courses}}
                        {{> reg_res_plan_unready_courses }}
                    {{/if}}
                </div>
            </div>

            <div class="card-disclosure">
                {{#if plan_data.courses}}
                    <span id="show_reg_resources_wrapper{{#if card}}_{{card}}{{/if}}">
                        <span id="show_plan_reg_resources_label{{#if card}}_{{card}}{{/if}}" class="sr-only">Expand to show additional registration resources</span>
                        <a class="show_reg_resources{{#if card}}_{{card}}{{/if}}" aria-controls="reg_resources"
                           aria-labelledby="show_plan_reg_resources_label{{#if card}}_{{card}}{{/if}}"
                           href="#" title="Expand to show {{reg_next_quarter}} {{reg_next_year}} plan">Show {{reg_next_quarter}} {{reg_next_year}} plan</a>
                    </span>
                    <span id="hide_reg_resources_wrapper{{#if card}}_{{card}}{{/if}}" hidden aria-hidden="true">
                        <span id="hide_plan_reg_resources_label{{#if card}}_{{card}}{{/if}}" class="sr-only">Collapse to hide additional registration resources</span>
                        <a class="show_reg_resources{{#if card}}_{{card}}{{/if}}" aria-controls="reg_resources" aria-labelledby="hide_plan_reg_resources_label{{#if card}}_{{card}}{{/if}}" href="#" title="Collapse to hide {{reg_next_quarter}} {{reg_next_year}} plan">Hide {{reg_next_quarter}} {{reg_next_year}} plan</a>
                    </span>

                {{/if}}
            </div>
        {{/if}}
    </div>
</div>

{% endtplhandlebars %}
