{% load templatetag_handlebars %}
    {% tplhandlebars "reg_status_card" %}

<div id="RegStatusCard" data-name="RegistrationCard"
     data-type="card" data-identifier="{{reg_next_quarter}}{{reg_next_year}}">
    <div class="card">
        <div class="fade-in">

            <h3>Registration: {{reg_next_quarter}} {{reg_next_year}}</h3>

            {{#if est_reg_date}}
                {{#unless is_my_1st_reg_day}}
                    {{> notice_est_reg_date }}
                {{/unless}}
            {{/if}}

            {{#if hold_count}}
                {{> reg_holds }}
            {{/if}}


            {{#each pending_majors}}
                {{#if @first}}
                    <div class="card-badge-container pending-major">
                        <div class="card-badge clearfix">
                            <div>
                                <div class="pull-left" style="display:inline-block;">
                                    <h4 class="card-badge-label">{{ pluralize_by_size ../pending_majors "Major" "Majors"}} Beginning<br>{{@root.reg_next_quarter}}</h4>
                                </div>
                                <div class="pull-right">
                                    <div class="card-badge-value">
                {{/if}} {{degree_abbr}} {{#unless @last}} <br> {{/unless}}
                {{#if @last}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}


            {{#each pending_minors}}
                {{#if @first}}
                    <div class="card-badge-container pending-major">
                        <div class="card-badge clearfix">
                            <div>
                                <div class="pull-left" style="display:inline-block;">
                                    <h4 class="card-badge-label">{{ pluralize_by_size ../pending_minors "Minor" "Minors"}} Beginning<br>{{@root.reg_next_quarter}}</h4>
                                </div>
                                <div class="pull-right">
                                    <div class="card-badge-value">
                {{/if}} {{abbr}} {{#unless @last}} <br> {{/unless}}
                {{#if @last}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}


            {{#if plan_data}}
                {{> in_myplan }}
            {{/if}}

            {{#if est_reg_date}}
                {{#if is_my_1st_reg_day}}
                    <span class="reg-date">Registration opens at 6:00AM</span>
                {{/if}}
            {{/if}}

            {{> reg_resources }}

            {{ #if finaid_notices }}
                {{> reg_finaid_notices }}
            {{/if}}

            {{#if plan_data}}
                {{> myplan_courses }}
            {{/if}}
        </div>
    </div>
</div>

{% endtplhandlebars %}
