{% verbatim %}
<script id="seattle_application_card" type="text/x-handlebars-template">
<div class="myuw-card application-card">
{{#if is_returning}}
    <h3 class="myuw-card-title">
        Your Returning Student Application
    </h3>

    <div class="myuw-card-section last">
		<h4 class="myuw-card-heading myuw-header-msg"> For application status, contact the Office of the University Registrar</h4>
			<div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Email</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content"><a href="mailto:regoff@uw.edu">regoff@uw.edu</a></div>
                </div>
            </div>
			<div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Phone</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content">(206) 543-4000</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Location</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content">225 Schmitz Hall</div>
                </div>
            </div>
	</div>
	<div class="myuw-card-section" style="padding-top: 8px;">
		<div>
		<h4 class="myuw-card-heading"> Registration for Returning Student </h4>
		<p>You must confirm your intent to attend prior to being able to register.</p>
		<p>You may register during the Registration Period II of your quarter of readmittance. Check dates in the <a href="http://www.washington.edu/students/reg/calendar.html" target="_blank" data-linklabel="UW Academic calendars">Academic calendar</a>.
			</p>
		</div>
	</div>
	<div class="myuw-card-section" style="padding-top: 8px;">
		<div>
		<h4 class="myuw-card-heading"> Resources for Seattle Applicants</h4>
			<ul class="unstyled-list list-leading">
			    <li><a href="https://www.washington.edu/financialaid/" target="_blank" data-linklabel="Student Financial Aid">Learn all about student financial aid and scholarships</a></li>
			    <li><a href="http://www.washington.edu/students/" target="_blank" data-linklabel="Student Guide">Check out the Student guide for academics, student life, and more</a></li>
			   	<li><a href="http://www.washington.edu/students/reg/calendar.html" target="_blank" data-linklabel="UW Academic calendars">View the UW Academic calendars</a></li>
			</ul>
		</div>

    </div>

{{else}}
    <h3 class="myuw-card-title">
        Your Seattle Application for {{toTitleCase quarter}} {{year}}
    </h3>

    <div class="myuw-card-section">

        <div class="clearfix">
             <span class="btn btn-default card-action-btn myuw-btn-big"><a href="https://sdb.admin.uw.edu/admissions/uwnetid/appstatus.asp"  data-linklabel="Your application status details">View your {{type}} application status</a></span>
		</div>
		<div>
			<h4 class="myuw-card-heading"> Resources for Seattle Applicants</h4>
				<h5 class="resources-header">ADMISSIONS</h5>
				<ul class="unstyled-list list-leading">
				    {{#if is_freshman}}
				    	<li><a href="https://admit.washington.edu/apply/dates-deadlines/" target="_blank" data-linklabel="Key dates & deadlines for freshmen">Key dates & deadlines for freshmen </a></li>
				    {{else if is_transfer}}
				    	<li><a href="https://admit.washington.edu/apply/dates-deadlines/#transfer" target="_blank" data-linklabel="Key dates & deadlines for Transfer">Key dates & deadlines for Transfer </a></li>
				    {{else if_post_bac}}
				   		<li><a href="https://admit.washington.edu/apply/dates-deadlines/#postbac" target="_blank" data-linklabel="Key dates & deadlines for Postbaccalaureate">Key dates & deadlines for Postbaccalaureate </a></li>
				    {{/if}}

				</ul>
				<h5 class="resources-header">FINANCES</h5>
				<ul class="unstyled-list list-leading">
				    <li><a href="https://www.washington.edu/financialaid/" target="_blank" data-linklabel="Student Financial Aid">Learn all about student financial aid and scholarships</a></li>
				    <li><a href="https://admit.washington.edu/costs/coa/" target="_blank" data-linklabel="Cost of Attendance ">Refer to total cost of attendance for financial planning</a></li>
				</ul>
				<h5 class="resources-header">STUDENT LIFE</h5>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://admit.washington.edu/Visit" target="_blank" data-linklabel="Seattle Campus Tours">Plan your visit: Seattle campus tours</a></li>
				    <li><a href="https://hfs.uw.edu/Live" target="_blank" data-linklabel="Seattle Campus Housing">Learn about campus-living </a></li>
				   	<li><a href="http://hr.uw.edu/dso/services/matriculated-students/" target="_blank" data-linklabel="Student Services: Disability Resources">Check out student services: Disability Resources</a></li>
				</ul>
				<h5 class="resources-header">IF ADMITTED</h5>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://www.washington.edu/newhuskies/must-do/" target="_blank" data-linklabel="Next steps for Admitted students">Next steps for Admitted students</a></li>
				    <li><a href="http://www.washington.edu/newhuskies/must-do/#accept/" target="_blank" data-linklabel="Accept the admission offer">Accept the admission offer and pay the New Student Enrollment & Orientation Fee</a></li>
				    {{#if is_international}}
				        <li><a href="https://iss.washington.edu/new-students/"target="_blank" data-linklabel="Int’l student checklist">View the Int’l student checklist from International Student Services (ISS)</a></li>
				    {{/if}}

				   	<li><a href="http://fyp.washington.edu/getting-started-at-the-university-of-washington/" target="_blank" data-linklabel="Register for an Advising & Orientation session">Register for an Advising & Orientation session</a></li>
				    <li><a href="http://www.washington.edu/uaa/advising/academic-planning/majors-and-minors/list-of-undergraduate-majors/" target="_blank" data-linklabel="Undergraduate Majors">View undergraduate Majors</a></li>
				   	<li><a href="http://fyp.washington.edu/" target="_blank" data-linklabel="First Year Programs">Learn about the First Year Programs</a></li>
				   	<li><a href="http://www.washington.edu/students/" target="_blank" data-linklabel="Student Guide">Check out the Student guide</a></li>
				</ul>
		</div> <!-- .links-container -->

    </div>
{{/if}}
</div>
</script>
{% endverbatim %}
