{% load templatetag_handlebars %}
{% tplhandlebars "seattle_application_card" %}
<div class="myuw-card application-card">
{{#if true}} 
    <h3 class="myuw-card-title">
        Your Your Returning Student application
    </h3>

    <div class="myuw-card-section">
		<div>
			<h4> For application status, contact The Office of the University Registrar</h4>
			//add registrar info here 
		</div>
		<div class="links-container actionlink-list">
			<h4> Resources for Seattle Applicants</h4>
				<ul class="unstyled-list">
				    <li><a href="">Learn all about student financial aid and scholarships</a></li>
				    <li><a href="">Check out the Student guide for academics, student life, university policies and more</a></li>
				   	<li><a href="">View the UW Academic calendars</a></li>
				</ul>
		</div> <!-- .links-container -->

    </div>

{{else}}   
    <h3 class="myuw-card-title">
        Your Seattle Application for {{quarter}} {{year}}
    </h3>

    <div class="myuw-card-section">
        
        <div class="clearfix">
             <span class="btn btn-default card-action-btn myuw-btn-big"><a href="https://sdb.admin.uw.edu/admissions/uwnetid/appstatus.asp"  data-linklabel="Your application status details"><h4>View your {{type}} application status</h4></a></span>
		</div>
		<div class="links-container actionlink-list">
			<h4> Resources for Seattle Applicants</h4>
				<h5 class="resources-header">ADMISSIONS</h5>
				<ul class="unstyled-list">
				    {{#if is_freshman}}
				    	<li><a href="http://admit.washington.edu/apply/freshman/deadlines" target="_blank">Key dates & deadlines for freshmen </a></li>
				    {{else if is_transfer}}
				    	<li><a href="http://admit.washington.edu/apply/transfer/deadlines" target="_blank">Key dates & deadlines for Transfer </a></li>
				    {{else if_post_bac}}
				   		<li><a href="http://admit.washington.edu/apply/postbaccalaureate/deadlines" target="_blank">Key dates & deadlines for Postbaccalaureate </a></li>
				    {{/if}}

				</ul>
				<h5 class="resources-header">FINANCES</h5>
				<ul class="unstyled-list">
				    <li><a href="https://www.washington.edu/financialaid/" target="_blank">Learn all about student financial aid and scholarships</a></li>
				    <li><a href="http://admit.washington.edu/costs-and-financial-aid/total-cost-of-attendance" target="_blank">Refer to total cost of attendance for financial planning</a></li>
				</ul>
				<h5 class="resources-header">STUDENT LIFE</h5>
				<ul class="unstyled-list">
				    <li><a href="http://admit.washington.edu/Visit" target="_blank">Plan your visit: Seattle campus tours</a></li>
				    <li><a href="https://www.hfs.washington.edu/housing/Default.aspx?id=6413#gsc.tab=0" target="_blank">Learn about campus-living </a></li>
				   	<li><a href="http://hr.uw.edu/dso/services/matriculated-students/" target="_blank">Check out student services: Disability Resources</a></li>
				</ul>
				<h5 class="resources-header">FOR ADMITTED</h5>
				<ul class="unstyled-list">
				    <li><a href="http://admit.washington.edu/apply/admitted" target="_blank">Next steps for Admitted students</a></li>
				    <li><a href="http://www.washington.edu/newhuskies/must-do/#accept/" target="_blank">Accept the admission offer and pay the New Student Enrollment & Orientation Fee</a></li>
				    {{#if is_international}} 
				        <li><a href="https://iss.washington.edu/new-students/"target="_blank">View the Int’l student checklist from International Student Services (ISS)</a></li>
				    {{/if}}

				   	<li><a href="http://fyp.washington.edu/getting-started-at-the-university-of-washington/" target="_blank">Register for an Advising & Orientation session</a></li>
				    <li><a href="http://www.washington.edu/uaa/advising/academic-planning/majors-and-minors/list-of-undergraduate-majors/" target="_blank">View undergraduate Majors</a></li>
				   	<li><a href="http://fyp.washington.edu/" target="_blank">Learn about the First Year Programs</a></li>
				   	<li><a href="http://www.washington.edu/students/" target="_blank">Check out the Student guide</a></li>
				</ul>
		</div> <!-- .links-container -->

    </div>
{{/if}}    
</div>
{% endtplhandlebars %}
