{% load templatetag_handlebars %}
    {% tplhandlebars "student_info_card" %}


    <div class="myuw-card" data-type="card" data-name="StudentInfoCard" data-identifier="{{ title }}">

        <h3 class="myuw-card-title">Student Profile</h3>

		<a href="https://sdb.admin.uw.edu/students/uwnetid/address.asp" class="btn btn-default card-btn" title="Change address on Student Personal Services website">Change Address</a>

        <div vocab="http://schema.org/" typeof="Person">

            <div class="myuw-card-section">

                {{#if student_number}}
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Student Number</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="myuw-card-row-content" property="student_number">{{student_number}}</div>
                    </div>
                </div>
                {{/if}}

                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Class Standing</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="myuw-card-row-content">
                            <div><strong>{{ class_level }}</strong></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Major/Minor</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="myuw-card-row-content">

                            <ul class="myuw-card-itemlist">
                                {{#if term_majors}}
                                    {{#each term_majors}}
                                        {{#if @first}}
                                            {{#if @root.has_pending_major}}
                                                <li>Current {{ pluralize_by_size majors "Major" "Majors"}}:
                                                    {{#each majors}}
                                                        {{full_name}} {{#unless @last}},{{/unless}}
                                                    {{/each}}
                                                </li>
                                            {{else}}
                                                <li>
                                                    {{#if @root.has_minors}}
                                                        Major:
                                                    {{/if}}
                                                    {{#each majors}}
                                                        {{full_name}}
                                                    {{/each}}
                                                </li>
                                            {{/if}}
                                        {{else}}
                                            {{#if degrees_modified}}
                                                <li>{{ pluralize_by_size majors "Major" "Majors"}}
                                                    Beginning {{ toTitleCase quarter}}:
                                                    {{#each majors}}
                                                        {{full_name}} {{#unless @last}},{{/unless}}
                                                    {{/each}}
                                                </li>
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                {{/if}}

                                {{#if term_minors}}
                                    {{#each term_minors}}
                                        {{#if @first}}
                                            {{#if @root.has_pending_minor}}
                                                <li>Current {{ pluralize_by_size minors "Minor" "Minors"}}:
                                                    {{#each minors}}
                                                        {{full_name}} {{#unless @last}},{{/unless}}
                                                    {{/each}}
                                                </li>
                                            {{else}}
                                                <li>
                                                    {{#each minors}}
                                                        {{#if @first}}
                                                            {{ pluralize_by_size ../minors "Minor" "Minors"}}:
                                                        {{/if}}
                                                        {{full_name}} {{#unless @last}},{{/unless}}
                                                    {{/each}}
                                                </li>
                                            {{/if}}

                                        {{else}}
                                            {{#if degrees_modified}}
                                                <li>{{ pluralize_by_size minors "Minor" "Minors"}}
                                                    Beginning {{ toTitleCase quarter}}:
                                                    {{#each minors}}
                                                        {{full_name}} {{#unless @last}},{{/unless}}
                                                    {{else}}
                                                        None
                                                    {{/each}}
                                                </li>
                                            {{/if}}
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="myuw-card-section">

                <div property="workLocation" typeof="Place" class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Local Address</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="myuw-card-row-content">
                        {{#if local_address}}
                        {{#with local_address}}
                        {{#if street_line2}}
                        <div><span class="">{{street_line2}}</span></div>
                        {{/if}}
                        {{#if street_line1}}
                        <div><span class="">{{street_line1}}</span></div>
                        {{/if}}
                        {{#if city}}<span class="">{{city}}</span>{{/if}}{{#if state}}<span class="">, {{state}}</span>{{/if}}{{#if postal_code}} <span class="">{{postal_code}}</span>{{/if}}{{#if zip_code}} <span class="">{{zip_code}}</span>{{/if}}
                        {{#if country}}
                        <div><span class="">{{country}}</span></div>
                        {{/if}}
                        {{/with}}
                        {{#if local_phone}}
                        <div>Phone: <span class="">{{formatPhoneNumber local_phone}}</span></div>
                        {{/if}}
                        {{else}}
                        <span class="my-text-muted">No address available</span>
                        {{/if}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">Permanent Address</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="myuw-card-row-content">
                        {{#if permanent_address}}
                        {{#with permanent_address}}
                        {{#if street_line2}}
                        <div><span class="">{{street_line2}}</span></div>
                        {{/if}}
                        {{#if street_line1}}
                        <div><span class="">{{street_line1}}</span></div>
                        {{/if}}
                        {{#if city}}<span class="">{{city}}</span>{{/if}}{{#if state}}<span class="">, {{state}}</span>{{/if}}{{#if postal_code}} <span class="">{{postal_code}}</span>{{/if}}{{#if zip_code}} <span class="">{{zip_code}}</span>{{/if}}
                        {{#if country}}
                        <div><span class="">{{country}}</span></div>
                        {{/if}}
                        {{/with}}
                        {{#if permanent_phone}}
                        <div>Phone: <span class="">{{formatPhoneNumber permanent_phone}}</span></div>
                        {{/if}}
                        {{else}}
                        <span class="my-text-muted">No address available</span>
                        {{/if}}
                        </div>
                    </div>
                </div>

            </div>

            <div class="myuw-card-section">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="myuw-card-row-heading">UW Student Directory</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="myuw-card-row-content">

                            <p><strong>Releasable: {{#if directory_release}}YES{{else}}NO{{/if}}</strong></p>

                            <ul class="myuw-card-itemlist">

                            {{#if directory_release}}
                  	            <li>Name, phone number, email, major, and class standing are <em>visible</em> in the UW Directory. <a href="https://sdb.admin.uw.edu/students/uwnetid/address.asp">Change your release settings</a></li>
                                <li>Information such as date of birth, street address, and dates of attendance are <em>releasable</em> by the Office of the Registrar when requested. <a href="http://www.washington.edu/students/reg/ferpa.html">Learn more about your privacy (FERPA)</a></li>
                            {{else}}
                                <li>Name, phone number, email, major, and class standing are <em>not visible</em> in the UW Directory. <a href="https://sdb.admin.uw.edu/students/uwnetid/address.asp">Change your release settings</a></li>
                                <li>Information such as date of birth, street address, and dates of attendance <em>cannot be relased</em> by the Office of the Registrar when requested. <a href="http://www.washington.edu/students/reg/ferpa.html">Learn more about your privacy (FERPA)</a></li>
                            {{/if}}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

         </div>
    </div>

{% endtplhandlebars %}
