{% verbatim %}
<script id="tacoma_application_card" type="text/x-handlebars-template">
<div class="myuw-card application-card">
{{#if is_returning}}
    <h3 class="myuw-card-title">
        Your Returning Student Application
    </h3>
	<div class="myuw-card-section last">
		<h4 class="myuw-card-heading myuw-header-msg"> For application status, contact the UW Tacoma Office of Registrar </h4>
			<div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Email</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content"><a href="mailto:uwbifo@uw.edu">reguwt@uw.edu</a></div>
                </div>
            </div>
			<div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Phone</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content">(253) 692-4913 </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Fax</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content">(253) 692-4414</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Location</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content">MAT 253 </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="myuw-card-row-heading">Mail</div>
                </div>
                <div class="col-sm-9">
                    <div class="myuw-card-row-content">University of Washington Tacoma <br>1900 Commerce Street<br> Tacoma, WA 98402-3100 </div>
                </div>
            </div>
	</div>
    <div class="myuw-card-section" style="padding-top: 8px;">
		<div>
			<h4 class="myuw-card-heading"> Resources for Tacoma Applicants</h4>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://www.tacoma.uw.edu/node/36610" target="_blank" data-linklabel="Financial Aid">Learn all about student financial aid</a></li>
				    <li><a href="http://www.tacoma.uw.edu/node/41373" target="_blank" data-linklabel="Financial aid key dates and deadlines">Financial aid key dates and deadlines</a></li>
				   	<li><a href="http://www.tacoma.uw.edu/node/41353" target="_blank" data-linklabel="UW Tacoma Academic calendars">View the UW Tacoma Academic calendars</a></li>
				</ul>
		</div> <!-- .links-container -->

    </div>

{{else}}
    <h3 class="myuw-card-title">
        Your Tacoma Application for {{toTitleCase quarter}} {{year}}
    </h3>

    <div class="myuw-card-section">

        <div class="clearfix">
             <span class="btn btn-default card-action-btn myuw-btn-big"><a href="https://sdb.admin.uw.edu/admissions/uwnetid/appstatus.asp"  data-linklabel="Your application status details">View your {{type}} application status</a></span>
		</div>
		<div>
			<h4 class="myuw-card-heading"> Resources for Tacoma Applicants</h4>
				<h5 class="resources-header">ADMISSIONS</h5>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://www.tacoma.uw.edu/admissions/important-dates-deadlines-all-applicants" target="_blank" data-linklabel="UW Tacoma Admission: Important dates & deadlines">Important dates & deadlines </a></li>
				</ul>
				<h5 class="resources-header">FINANCES</h5>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://www.tacoma.uw.edu/node/20240" target="_blank" data-linklabel="Applying for a financial Aid">Applying for a financial Aid</a></li>
				    <li><a href="http://www.tacoma.uw.edu/node/41373" target="_blank" data-linklabel="Financial aid key dates and deadlines">Financial aid key dates and deadlines</a></li>
				</ul>
				<h5 class="resources-header">STUDENT LIFE</h5>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://www.tacoma.uw.edu/admissions/visit" target="_blank" data-linklabel="Tacoma Campus Tours">Plan your visit: Tacoma campus tours</a></li>
				    <li><a href="http://www.tacoma.uw.edu/node/38753" target="_blank" data-linklabel="Student Housing">Learn about student Housing</a></li>
				   	<li>Check out <a href="http://www.tacoma.uw.edu/new-student-family-programs/new-student-family-programs" target="_blank" data-linklabel="New Student programs">New Student programs</a> and <a href="http://www.tacoma.uw.edu/drsuwt" target="_blank" data-linklabel="Disability Resources for Students (DRS)">Disability Resources for Students (DRS)
</a></li>
				</ul>
				<h5 class="resources-header">IF ADMITTED</h5>
				<ul class="unstyled-list list-leading ">
				    <li><a href="http://www.tacoma.uw.edu/admissions/i-was-admitted-now-what" target="_blank" data-linklabel="Next Steps for Admitted Students">Next steps for Admitted students</a></li>
				    <li><a href="http://www.tacoma.uw.edu/node/41496" target="_blank" data-linklabel="New Student Orientation">Sign up for a New student orientation</a></li>
				    {{#if is_international}}
				        <li><a href="http://www.tacoma.uw.edu/iss/to-do-list" target="_blank" data-linklabel="Int’l student to-do list">View the Int’l student to-do list from International Student and Scholar Services (ISSS)</a></li>
				    {{/if}}
				</ul>
		</div> <!-- .links-container -->

    </div>
{{/if}}
</div>
</script>
{% endverbatim %}
