{% verbatim %}
<script id="textbook_card" type="text/x-handlebars-template">

<div class="card"  data-name="TextbookCard" data-type="card">
    <div class="fade-in">
        <h3>Textbooks</h3>
        {{#unless has_errors}}
        <ul class="unstyled-list textbooks-list">
            {{#each sections}}
                <li class="textbooks-list-item">
                    <div class="c{{color_id}} simplesquare todo"></div>
                    <span class="textbooks-course-title">{{course_id}}:</span>
                    <span class="textbooks-course-books">
                    {{#if no_course_books}}
                        No books
                    {{else}}
                        {{total}} {{pluralize total 'book' 'books'}}
                        </span>
                        <span class="textbooks-course-required">
                             ({{#if required}}{{required}}{{else}}not{{/if}} required)
                        </span>
                        </li>
                {{/if}}
            {{/each}}
        </ul>
	        {{#unless no_book_assigned}}
	            <div class="destination-arrow">
	                <a class="show_textbooks" id="show_term_textbooks" href="/textbooks/{{year}},{{quarter}}{{#if summer_term}},{{toLowerCase summer_term}}{{/if}}" title="View textbooks" aria-label="View textbook details for this quarter" ><i role="presentation" class="fa fa-chevron-right"></i></a>
	            </div>
	        {{/unless}}
        {{else}}
        <p class="text-danger" style="margin-top:1em;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> An error occurred and MyUW are cannot load textbook information right now. Please try again later.</p>
        {{/unless}}

    </div>
</div>

</script>
{% endverbatim %}
