{% load templatetag_handlebars %}
    {% tplhandlebars "thrive_learnmore" %}
            {{ #if try_this }}
            <h4>Try This</h4>
            <p>{{{ try_this }}}</p>
            {{ /if }}
            {{ #if urls  }}
                <h4>Learn More</h4>
                <ul>
                {{ #each urls }}
                    <li>
                        <a href="{{ href }}" target="_blank">{{ title }}</a>
                    </li>
                {{ /each }}
                </ul>
            {{ /if }}
{% endtplhandlebars %}
