{% load templatetag_handlebars %}
    {% tplhandlebars "thrive_card" %}
    
    <div class="card" data-type="card">
        <h3>#ThriveUW</h3>
        <!-- Engineers doing design work, high quality HTML to follow! /s -->
        <h4>{{ title }}</h4>
        <p>{{{ message }}}</p>
        {{ #if try_this }}
            <h4>Try This</h4>
            <p>{{{ try_this }}}</p>
        {{ /if }}
        {{ #if urls  }}
            <h4>Learn More</h4>
            <ul>
            {{ #each urls }}
                <li>
                    <a href="{{ href }}" target="_blank">{{ title }}</a>
                </li>
            {{ /each }}
            </ul>
        {{ /if }}

    </div>
{% endtplhandlebars %}