{% load templatetag_handlebars %}
    {% tplhandlebars "upass_card" %}

<div class="card"  data-name="UPassCard" data-type="card">
    <h3>U-Pass Membership</h3>

    <div class="card-badge-container">
        <div class="card-badge clearfix">
            <div class="pull-left">
                <h4 class="card-badge-label">Status</h4>
            </div>
            <div class="pull-right">
                <span class="card-badge-value">{{#if is_current }}Current{{else}}Not current{{/if}}</span>
            </div>
        </div>
    </div>

    <div>
    {{#if is_current }}
        {{#if display_activation}}
            <p>Finalize activation by tapping your card on a reader.</p>
        {{/if}}

        {{#if is_seattle_student }}
           {{#if in_summer }}
                <h4>Summer U-PASS Use</h4>
                <p>Your U-PASS does not work during summer quarter unless you are registered for a class or are a <a href="">temporary employee</a>.</p>
           {{/if}}
        {{/if}}

        <p><a href="{{#if is_bothell_student }}bothell-student-link{{else}}{{#if is_tacoma_student}}tacoma-student-link{{else}}{{#if is_seattle_student}}seattle-student-link{{else}}http://www.washington.edu/u-pass{{/if}}{{/if}}{{/if}}">U-PASS not working?</a></p>

    {{else}}
        {{#if is_student }}
            <p>If you
              {{#if is_seattle_student }}are registered{{else}}<a href="{{#if is_bothell_student}}bothell-student-link{{else}}{{#if is_tacoma_student}}tacoma-student-link{{else}}http://www.washington.edu/u-pass/{{/if}}{{/if}}">purchase a U-PASS</a>{{/if}}
 for a quarter, your U-PASS will work one week before the quarter starts.</p>

            {{#if is_seattle_student }}
                 {{#if in_summer }}
                     <h4>Summer U-PASS Use</h4>
                     <p>Your U-PASS does not work during summer quarter unless you are registered for a class or are a <a href="">temporary employee</a>.</p>
                 {{/if}}
            {{/if}}

            {{#unless is_bothell_student }}
                <p><a href="{{#if is_seattle_student}}seattle-student-link{{else}}{{#if is_tacoma_student}}tacoma-link{{else}}http://www.washington.edu/u-pass/{{/if}}{{/if}}">What is the U-PASS</a></p>
            {{/unless}}
        {{else}}
            <p><a href="http://www.washington.edu/u-pass">Learn more about purchasing a U-PASS</a></p>
        {{/if}}
    {{/if}}
    </div>
</div>
    {% endtplhandlebars %}
