{% load templatetag_handlebars %}
{% tplhandlebars "welcome_card" %}
<div class="myuw-card">
    <h2 class="myuw-card-title">
        Welcome to MyUW, a student portal
    </h2>

    <div class="myuw-card-section last">
        MyUW is your go-top place for application status, UW resources for applicants, your account information, and much more.


        <br><br>

        In MyUW you can,

        <br><br>

        <ul>
            <li>Access your application status</li>
            <li>View your mailing address</li>
            <li>Access your UWNetID account</li>
        </ul>
    </div>
</div>
{% endtplhandlebars %}
