{% verbatim %}
<script id="welcome_card" type="text/x-handlebars-template">
<div class="myuw-card">
    <h3 class="myuw-card-title">
        Welcome to MyUW, a student portal
    </h3>

    <div class="myuw-card-section last">
        <p>MyUW is your go-to place for application status, UW resources for applicants, your account information, and much more.</p>
        <h4 class="myuw-card-heading">In MyUW you can:</h4>
	        <ul style="padding-left:20px">
	            <li>Access your application status</li>
	            <li>View your mailing address</li>
	            <li>Access your UWNetID account</li>
	        </ul>
    </div>
</div>
</script>
{% endverbatim %}
