autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
targetAverageUtilization: 90
resources:
  limits:
    cpu: 1.0
    memory: 768Mi
  requests:
    cpu: 100m
    memory: 700Mi
ingress:
  enabled: true
  tls:
    myuw:
      secretName: dev.my.uw.edu-ingress-cert
      hosts:
        - dev.my.uw.edu
  hosts:
    myuw:
      host: dev.my.uw.edu
      paths:
        - "/"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
readiness:
  enabled: true
externalService:
  enabled: true
  name: dev-my-uw-db
  type: ClusterIP
  serviceAddress: 172.18.0.19
  servicePort: 3306
database:
  engine: mysql
  name: myuw_dev
  hostname: dev-my-uw-db
  secretName: dev.my.uw.edu-sql-secrets
repo: myuw
instance: dev
image:
  repository: registry.hub.docker.com/acait/myuw
  tag: IMAGE_TAG
memcached:
  enabled: true
  replicaCount: 1
  updateStrategy:
    type: RollingUpdate
certs:
  mounted: true
  certPath: /certs/myuw-dev.s.uw.edu-uwca.cert
  keyPath: /certs/myuw-dev.s.uw.edu-uwca.key
  secretName: myuw-dev.s.uw.edu-uwca-certs
cronjob:
  enabled: true
  jobs:
    - name: clear-expired-sessions
      schedule: "* * * * 2"
      command: '["bash"]'
      args: '["-c", "(cd /app && source ./bin/activate && ./manage.py load_section_status_changes)"]'
environmentVariables:
  - name: AUTH
    value: SAML

  - name: ENV
    value: dev

  - name: BOOKSTORE_ENV
    value: PROD
  - name: BOOKSTORE_POOL_SIZE
    value: "10"
  - name: BOOK_TIMEOUT
    value: "30"

  - name: CALENDAR_ENV
    value: PROD
  - name: CALENDAR_POOL_SIZE
    value: "10"
  - name: CALENDAR_TIMEOUT
    value: "5"

  - name: CANVAS_ENV
    value: EVAL
  - name: CANVAS_POOL_SIZE
    value: "10"
  - name: CANVAS_TIMEOUT
    value: "60"

  - name: CODA_ENV
    value: EVAL
  - name: CODA_POOL_SIZE
    value: "10"
  - name: CODA_TIMEOUT
    value: "5"

  - name: GRAD_ENV
    value: EVAL
  - name: GRAD_POOL_SIZE
    value: "10"
  - name: GRAD_TIMEOUT
    value: "30"

  - name: GRADEPAGE_ENV
    value: PROD
  - name: GRADEPAGE_POOL_SIZE
    value: "10"
  - name: GRADEPAGE_TIMEOUT
    value: "5"

  - name: GWS_ENV
    value: PROD
  - name: GWS_POOL_SIZE
    value: "10"
  - name: GWS_TIMEOUT
    value: "5"

  - name: HFS_ENV
    value: EVAL
  - name: HFS_POOL_SIZE
    value: "10"
  - name: HFS_TIMEOUT
    value: "60"

  - name: IASYSTEM_UW_ENV
    value: PROD
  - name: IASYSTEM_UW_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UW_TIMEOUT
    value: "5"

  - name: IASYSTEM_UWB_ENV
    value: PROD
  - name: IASYSTEM_UWB_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWB_TIMEOUT
    value: "5"

  - name: IASYSTEM_UWT_ENV
    value: PROD
  - name: IASYSTEM_UWT_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWT_TIMEOUT
    value: "5"

  - name: IASYSTEM_UWEO_AP_ENV
    value: PROD
  - name: IASYSTEM_UWEO_AP_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWEO_AP_TIMEOUT
    value: "5"

  - name: IASYSTEM_UWEO_IELP_ENV
    value: PROD
  - name: IASYSTEM_UWEO_IELP_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWEO_IELP_TIMEOUT
    value: "5"

  - name: LIBCURRICS_ENV
    value: PROD
  - name: LIBCURRICS_POOL_SIZE
    value: "10"
  - name: LIBCURRICS_TIMEOUT
    value: "5"

  - name: LIBRARIES_ENV
    value: PROD
  - name: LIBRARIES_POOL_SIZE
    value: "10"
  - name: LIBRARIES_TIMEOUT
    value: "5"

  - name: MAILMAN_ENV
    value: EVAL
  - name: MAILMAN_POOL_SIZE
    value: "10"
  - name: MAILMAN_TIMEOUT
    value: "5"

  - name: MYPLAN_ENV
    value: EVAL
  - name: MYPLAN_POOL_SIZE
    value: "10"
  - name: MYPLAN_TIMEOUT
    value: "5"

  - name: PWS_ENV
    value: EVAL
  - name: PWS_POOL_SIZE
    value: "20"
  - name: PWS_TIMEOUT
    value: "5"

  - name: SDBMYUW_ENV
    value: PROD
  - name: SDBMYUW_POOL_SIZE
    value: "10"
  - name: SDBMYUW_TIMEOUT
    value: "5"

  - name: SWS_ENV
    value: EVAL
  - name: SWS_POOL_SIZE
    value: "20"
  - name: SWS_TIMEOUT
    value: "5"

  - name: UPASS_ENV
    value: PROD
  - name: UPASS_POOL_SIZE
    value: "5"
  - name: UPASS_TIMEOUT
    value: "10"

  - name: UWNETID_ENV
    value: PROD
  - name: UWNETID_POOL_SIZE
    value: "10"
  - name: UWNETID_TIMEOUT
    value: "5"

  - name: UWIDP_ENV
    value: EVAL
  - name: UWIDP_POOL_SIZE
    value: "2"
  - name: UWIDP_TIMEOUT
    value: "10"

  - name: CLUSTER_CNAME
    value: dev.my.uw.edu

externalSecrets:
  enabled: true
  secrets:
    - name: dev.my.uw.edu-secrets
      externalKey: axdd/kv/data/my/dev/secrets
      data:
        - name: canvas-account-id
          property: canvas-account-id
        - name: canvas-oauth-bearer
          property: canvas-oauth-bearer
        - name: coda-auth-token
          property: coda-auth-token
        - name: django-secret
          property: django-secret
        - name: email-host
          property: email-host
        - name: mailman-auth-key
          property: mailman-auth-key
        - name: mailman-request-recipient
          property: mailman-request-recipient
        - name: safe-email-recipient
          property: safe-email-recipient
        - name: section-status-queue-arn
          property: section-status-queue-arn
        - name: section-status-key-id
          property: section-status-key-id
        - name: section-status-key
          property: section-status-key
        - name: google-analytics-key
          property: google-analytics-key
        - name: google-search-key
          property: google-search-key
    - name: dev.my.uw.edu-sql-secrets
      externalKey: axdd/kv/data/my/dev/sql-secrets
      data:
        - name: username
          property: sql_user
        - name: password
          property: sql_pass
    - name: myuw-dev.s.uw.edu-uwca-certs
      externalKey: axdd/kv/data/my/dev/uwca-certs
      data:
        - name: myuw-dev.s.uw.edu-uwca.key
          property: key
        - name: myuw-dev.s.uw.edu-uwca.cert
          property: cert
    - name: dev.my.uw.edu-ic-certs
      externalKey: axdd/kv/data/my/dev/ic-certs
      data:
        - name: dev.my.uw.edu.cert
          property: cert
    - name: dev.my.uw.edu-uw-idp-cert
      externalKey: axdd/kv/data/idp-cert
      data:
        - name: uw-idp-cert
          property: cert
environmentVariablesSecrets:
  django-secret:
    name: DJANGO_SECRET
    secretName: dev.my.uw.edu-secrets
    secretKey: django-secret
  canvas-account-secret:
    name: CANVAS_ACCOUNT_ID
    secretName: dev.my.uw.edu-secrets
    secretKey: canvas-account-id
  canvas-token-secret:
    name: CANVAS_OAUTH_BEARER
    secretName: dev.my.uw.edu-secrets
    secretKey: canvas-oauth-bearer
  coda-token-secret:
    name: CODA_AUTH_TOKEN
    secretName: dev.my.uw.edu-secrets
    secretKey: coda-auth-token
  mailman-request-secret:
    name: MAILMAN_REQUEST_RECIPIENT
    secretName: dev.my.uw.edu-secrets
    secretKey: mailman-request-recipient
  mailman-token-secret:
    name: MAILMAN_AUTH_KEY
    secretName: dev.my.uw.edu-secrets
    secretKey: mailman-auth-key
  email_host-secret:
    name: EMAIL_HOST
    secretName: dev.my.uw.edu-secrets
    secretKey: email-host
  safe_email_recipient-secret:
    name: SAFE_EMAIL_RECIPIENT
    secretName: dev.my.uw.edu-secrets
    secretKey: safe-email-recipient
  SectionStatusQueueARN:
    name: SECTION_STATUS_QUEUE_ARN
    secretName: dev.my.uw.edu-secrets
    secretKey: section-status-queue-arn
  SectionStatusKeyId:
    name: SECTION_STATUS_KEY_ID
    secretName: dev.my.uw.edu-secrets
    secretKey: section-status-key-id
  SectionStatusKey:
    name: SECTION_STATUS_KEY
    secretName: dev.my.uw.edu-secrets
    secretKey: section-status-key
  GoogleAnalyticsKey:
    name: GOOGLE_ANALYTICS_KEY
    secretName: dev.my.uw.edu-secrets
    secretKey: google-analytics-key
  GoogleSearchKey:
    name: GOOGLE_SEARCH_KEY
    secretName: dev.my.uw.edu-secrets
    secretKey: google-search-key
  SAMLServiceProviderCert:
    name: SP_CERT
    secretName: dev.my.uw.edu-ic-certs
    secretKey: dev.my.uw.edu.cert
  SAMLIDPCert:
    name: IDP_CERT
    secretName: dev.my.uw.edu-uw-idp-cert
    secretKey: uw-idp-cert
