autoscaling:
  enabled: true
  minReplicas: 4
  maxReplicas: 180
targetAverageUtilization: 100
resources:
  limits:
    cpu: 1.0
    memory: 1152Mi
  requests:
    cpu: 384m
    memory: 768Mi
affinity:
   podsSpanNodes: true
ingress:
  enabled: true
  tls:
    myuw:
      secretName: my.uw.edu-ingress-cert
      hosts:
        - my.uw.edu
    myuw-uw:
      secretName: myuw.uw.edu-ingress-cert
      hosts:
        - myuw.uw.edu
    myuw-washington:
      secretName: myuw.washington.edu-ingress-cert
      hosts:
        - myuw.washington.edu
  hosts:
    myuw:
      host: my.uw.edu
      paths:
        - "/"
    myuw-uw:
      host: myuw.uw.edu
      paths:
        - "/"
    myuw-washington:
      host: myuw.washington.edu
      paths:
        - "/"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/ssl-ciphers: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256"
    nginx.ingress.kubernetes.io/permanent-redirect-code: "301"
    nginx.ingress.kubernetes.io/client-body-buffer-size: "16K"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host != 'my.uw.edu') {
        return 301 $scheme://my.uw.edu;
      }
lifecycle:
  enabled: true
  preStop:
    enabled: true
securityPolicy:
  enabled: true
readiness:
  enabled: true
externalService:
  enabled: true
  name: my-uw-db
  type: ClusterIP
  serviceAddress: 172.18.1.210
  servicePort: 5432
database:
  engine: postgres
  name: myuw
  hostname: my-uw-db
  secretName: my.uw.edu-sql-secrets
repo: myuw
instance: prod
namespace:
  enabled: true

memcached:
  enabled: true
  replicaCount: 4
  command:
    - "memcached"
    - "-m"
    - "256"
    - "-c"
    - "16384"
    - "-t"
    - "8"
    - "-o"
    - "modern"
    - "-v"
  updateStrategy:
    type: RollingUpdate
  resources:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 30m
      memory: 256Mi
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: "app.kubernetes.io/name"
                  operator: In
                  values:
                    - "myuw-prod-prod-memcached"
            topologyKey: "kubernetes.io/hostname"
certs:
  mounted: true
  certPath: /certs/my.uw.edu-ic.cert
  keyPath: /certs/my.uw.edu-ic.key
  secretName: my.uw.edu-ic-certs
cronjob:
  enabled: true
  jobs:
    - name: load-section-status
      schedule: "*/1 * * * *"
      command: ["/scripts/management_command.sh"]
      args: ["load_section_status_changes"]
      resources:
        limits:
          cpu: 100m
          memory: 196Mi
        requests:
          cpu: 25m
          memory: 32Mi
    - name: clear-expired-sessions
      schedule: "1 10 * * 6"
      command: ["/scripts/management_command.sh"]
      args: ["clear_expired_sessions", "7"]
      resources:
        limits:
          cpu: 50m
          memory: 196Mi
        requests:
          cpu: 25m
          memory: 64Mi
    - name: cleanup-instructors
      schedule: "1 12 1 1,7 *"
      command: ["/scripts/management_command.sh"]
      args: ["cleanup_instructors"]
      resources:
        limits:
          cpu: 75m
          memory: 125Mi
        requests:
          cpu: 25m
          memory: 64Mi
    - name: check-reslinks
      schedule: "1 10 * * 0"
      command: ["/scripts/management_command.sh"]
      args: ["check_reslinks"]
      resources:
        limits:
          cpu: 50m
          memory: 125Mi
        requests:
          cpu: 25m
          memory: 32Mi
    - name: update-buildings
      schedule: "1 11 1,15 * *"
      command: ["/scripts/management_command.sh"]
      args: ["load_buildings"]
      resources:
        limits:
          cpu: 50m
          memory: 64Mi
        requests:
          cpu: 25m
          memory: 32Mi
    - name: course-cleanup
      schedule: "1 3 21,26,30 3,6,8,12 *"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "course"]
      resources:
        limits:
          cpu: 50m
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 128Mi
    - name: seenreg-cleanup
      schedule: "1 4 21,26,30 3,6,8,12 *"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "seenreg"]
      resources:
        limits:
          cpu: 50m
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 128Mi
    - name: notice-cleanup
      schedule: "1 5 * * 0"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "notice"]
      resources:
        limits:
          cpu: 50m
          memory: 768Mi
        requests:
          cpu: 25m
          memory: 256Mi
    - name: linkvisit-cleanup
      schedule: "1 6 * * 0"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "linkvisit"]
      resources:
        limits:
          cpu: 50m
          memory: 768Mi
        requests:
          cpu: 25m
          memory: 256Mi
environmentVariables:
  - name: AUTH
    value: SAML

  - name: ENV
    value: prod

  - name: BOOKSTORE_ENV
    value: PROD
  - name: BOOK_POOL_SIZE
    value: "40"
  - name: BOOK_TIMEOUT
    value: "30"

  - name: CALENDAR_ENV
    value: PROD
  - name: CALENDAR_TIMEOUT
    value: "5"
  - name: CALENDAR_POOL_SIZE
    value: "20"

  - name: CANVAS_ENV
    value: PROD
  - name: CANVAS_TIMEOUT
    value: "5"
  - name: CANVAS_POOL_SIZE
    value: "25"

  - name: CODA_ENV
    value: PROD
  - name: CODA_TIMEOUT
    value: "10"
  - name: CODA_POOL_SIZE
    value: "15"

  - name: GRAD_ENV
    value: PROD
  - name: GRAD_POOL_SIZE
    value: "15"
  - name: GRAD_TIMEOUT
    value: "10"

  - name: GRADEPAGE_ENV
    value: PROD
  - name: GRADEPAGE_POOL_SIZE
    value: "30"
  - name: GRADEPAGE_TIMEOUT
    value: "15"

  - name: GWS_ENV
    value: PROD
  - name: GWS_TIMEOUT
    value: "5"
  - name: GWS_POOL_SIZE
    value: "50"

  - name: HFS_ENV
    value: PROD
  - name: HFS_TIMEOUT
    value: "5"
  - name: HFS_POOL_SIZE
    value: "40"

  - name: IASYSTEM_UW_ENV
    value: PROD
  - name: IASYSTEM_UW_TIMEOUT
    value: "10"
  - name: IASYSTEM_UW_POOL_SIZE
    value: "25"

  - name: IASYSTEM_UWB_ENV
    value: PROD
  - name: IASYSTEM_UWB_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWB_TIMEOUT
    value: "10"

  - name: IASYSTEM_UWT_ENV
    value: PROD
  - name: IASYSTEM_UWT_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWT_TIMEOUT
    value: "10"

  - name: IASYSTEM_UWEO_AP_ENV
    value: PROD
  - name: IASYSTEM_UWEO_AP_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWEO_AP_TIMEOUT
    value: "10"

  - name: IASYSTEM_UWEO_IELP_ENV
    value: PROD
  - name: IASYSTEM_UWEO_IELP_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWEO_IELP_TIMEOUT
    value: "10"

  - name: LIBCURRICS_ENV
    value: PROD
  - name: LIBCURRICS_POOL_SIZE
    value: "30"
  - name: LIBCURRICS_TIMEOUT
    value: "5"

  - name: LIBRARIES_ENV
    value: PROD
  - name: LIBRARIES_POOL_SIZE
    value: "30"
  - name: LIBRARIES_TIMEOUT
    value: "5"

  - name: MAILMAN_ENV
    value: PROD
  - name: MAILMAN_TIMEOUT
    value: "30"
  - name: MAILMAN_POOL_SIZE
    value: "30"

  - name: MYPLAN_AUTH_ENV
    value: PROD
  - name: MYPLAN_ENV
    value: PROD
  - name: MYPLAN_TIMEOUT
    value: "10"
  - name: MYPLAN_POOL_SIZE
    value: "30"

  - name: PWS_ENV
    value: PROD
  - name: PWS_TIMEOUT
    value: "10"
  - name: PWS_POOL_SIZE
    value: "80"

  - name: SDBMYUW_ENV
    value: PROD
  - name: SDBMYUW_POOL_SIZE
    value: "20"
  - name: SDBMYUW_TIMEOUT
    value: "10"

  - name: SWS_ENV
    value: PROD
  - name: SWS_TIMEOUT
    value: "10"
  - name: SWS_POOL_SIZE
    value: "80"

  - name: SPACE_ENV
    value: PROD

  - name: UPASS_ENV
    value: PROD
  - name: UPASS_TIMEOUT
    value: "10"
  - name: UPASS_POOL_SIZE
    value: "30"

  - name: UWNETID_ENV
    value: PROD
  - name: UWNETID_POOL_SIZE
    value: "40"
  - name: UWNETID_TIMEOUT
    value: "7"

  - name: UWIDP_ENV
    value: PROD
  - name: UWIDP_POOL_SIZE
    value: "5"
  - name: UWIDP_TIMEOUT
    value: "10"

  - name: CLUSTER_CNAME
    value: my.uw.edu

  - name: MEMCACHED_MAX_POOL_SIZE
    value: "50"

externalSecrets:
  enabled: true
  secrets:
    - name: my.uw.edu-secrets
      externalKey: my/prod/secrets
      data:
        - name: canvas-account-id
          property: canvas-account-id
        - name: canvas-oauth-bearer
          property: canvas-oauth-bearer
        - name: coda-auth-token
          property: coda-auth-token
        - name: django-secret
          property: django-secret
        - name: email-host
          property: email-host
        - name: myplan-auth-secret
          property: myplan-auth-secret
        - name: mailman-api-token
          property: mailman-api-token
        - name: mailman-request-recipient
          property: mailman-request-recipient
        - name: section-status-queue-arn
          property: section-status-queue-arn
        - name: section-status-key-id
          property: section-status-key-id
        - name: section-status-key
          property: section-status-key
        - name: google-analytics-key
          property: google-analytics-key
        - name: google-search-key
          property: google-search-key
        - name: saml-entity-id
          property: saml-entity-id
    - name: my.uw.edu-sql-secrets
      externalKey: my/prod/sql-secrets
      data:
        - name: username
          property: sql_user
        - name: password
          property: sql_pass

    - name: my.uw.edu-ic-certs
      externalKey: my/prod/ic-certs
      data:
        - name: my.uw.edu-ic.key
          property: my.uw.edu-ic.key
        - name: my.uw.edu-ic.cert
          property: my.uw.edu-ic.cert

    - name: my.uw.edu-uw-idp-cert
      externalKey: idp-cert
      data:
        - name: uw-idp-cert
          property: cert

environmentVariablesSecrets:
  django-secret:
    name: DJANGO_SECRET
    secretName: my.uw.edu-secrets
    secretKey: django-secret
  canvas-account-secret:
    name: CANVAS_ACCOUNT_ID
    secretName: my.uw.edu-secrets
    secretKey: canvas-account-id
  canvas-token-secret:
    name: CANVAS_OAUTH_BEARER
    secretName: my.uw.edu-secrets
    secretKey: canvas-oauth-bearer
  coda-token-secret:
    name: CODA_AUTH_TOKEN
    secretName: my.uw.edu-secrets
    secretKey: coda-auth-token
  mailman-request-secret:
    name: MAILMAN_REQUEST_RECIPIENT
    secretName: my.uw.edu-secrets
    secretKey: mailman-request-recipient
  email_host-secret:
    name: EMAIL_HOST
    secretName: my.uw.edu-secrets
    secretKey: email-host
  myplan-auth-secret:
    name: MYPLAN_AUTH_SECRET
    secretName: my.uw.edu-secrets
    secretKey: myplan-auth-secret
  SectionStatusQueueARN:
    name: SECTION_STATUS_QUEUE_ARN
    secretName: my.uw.edu-secrets
    secretKey: section-status-queue-arn
  SectionStatusKeyId:
    name: SECTION_STATUS_KEY_ID
    secretName: my.uw.edu-secrets
    secretKey: section-status-key-id
  SectionStatusKey:
    name: SECTION_STATUS_KEY
    secretName: my.uw.edu-secrets
    secretKey: section-status-key
  GoogleAnalyticsKey:
    name: GOOGLE_ANALYTICS_KEY
    secretName: my.uw.edu-secrets
    secretKey: google-analytics-key
  GoogleSearchKey:
    name: GOOGLE_SEARCH_KEY
    secretName: my.uw.edu-secrets
    secretKey: google-search-key
  SAMLEntityId:
    name: SAML_ENTITY_ID
    secretName: my.uw.edu-secrets
    secretKey: saml-entity-id
  MailmanAPIToken:
    name: MAILMAN_API_TOKEN
    secretName: my.uw.edu-secrets
    secretKey: mailman-api-token
  SAMLServiceProviderCert:
    name: SP_CERT
    secretName: my.uw.edu-ic-certs
    secretKey: my.uw.edu-ic.cert
  SAMLIDPCert:
    name: IDP_CERT
    secretName: my.uw.edu-uw-idp-cert
    secretKey: uw-idp-cert
