ingress:
  enabled: true
  tls:
    myuw:
      secretName: test.my.uw.edu-ingress-cert
      hosts:
        - test.my.uw.edu
    devmy:
      secretName: dev.my.uw.edu-ingress-cert
      hosts:
        - dev.my.uw.edu
    myuwdev:
      secretName: myuwdev.u.washington.edu-ingress-cert
      hosts:
        - myuwdev.u.washington.edu
  hosts:
    myuw:
      host: test.my.uw.edu
      paths:
        - "/"
    devmy:
      host: dev.my.uw.edu
      paths:
        - "/"
    myuwdev:
      host: myuwdev.u.washington.edu
      paths:
        - "/"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/ssl-ciphers: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256"
    nginx.ingress.kubernetes.io/permanent-redirect-code: "301"
    nginx.ingress.kubernetes.io/client-body-buffer-size: "16K"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($host != 'test.my.uw.edu') {
        return 301 $scheme://test.my.uw.edu;
      }
lifecycle:
  enabled: true
  preStop:
    enabled: true
securityPolicy:
  enabled: true
affinity:
   podsSpanNodes: true
readiness:
  enabled: true
securityPolicy:
  enabled: true
externalService:
  enabled: true
  name: test-my-uw-db
  type: ClusterIP
  serviceAddress: 172.18.1.210
  servicePort: 5432
database:
  engine: postgres
  name: myuw_test
  hostname: test-my-uw-db
  secretName: test.my.uw.edu-sql-secrets
repo: myuw
instance: test
namespace:
  enabled: true

memcached:
  enabled: true
  replicaCount: 1
  updateStrategy:
    type: RollingUpdate
certs:
  mounted: true
  certPath: /certs/test.my.uw.edu-ic.cert
  keyPath: /certs/test.my.uw.edu-ic.key
  secretName: test.my.uw.edu-ic-certs
cronjob:
  enabled: true
  jobs:
    - name: expired-sessions
      schedule: "1 10 * * 6"
      command: ["/scripts/management_command.sh"]
      args: ["clear_expired_sessions", "7"]
      resources:
        limits:
          cpu: 75m
          memory: 128Mi
        requests:
          cpu: 25m
          memory: 32Mi
    - name: cleanup-instructors
      schedule: "1 12 11 11 *"
      command: ["/scripts/management_command.sh"]
      args: ["cleanup_instructors"]
      resources:
        limits:
          cpu: 75m
          memory: 128Mi
        requests:
          cpu: 25m
          memory: 32Mi
    - name: update-buildings
      schedule: "1 11 1 * *"
      command: ["/scripts/management_command.sh"]
      args: ["load_buildings"]
      resources:
        limits:
          cpu: 75m
          memory: 64Mi
        requests:
          cpu: 25m
          memory: 32Mi
    - name: course-cleanup
      schedule: "1 3 21,26,30 3,6,8,12 *"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "course"]
      resources:
        limits:
          cpu: 50m
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 128Mi
    - name: seenreg-cleanup
      schedule: "1 4 21,26,30 3,6,8,12 *"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "seenreg"]
      resources:
        limits:
          cpu: 50m
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 128Mi
    - name: notice-cleanup
      schedule: "1 5 * * 0"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "notice"]
      resources:
        limits:
          cpu: 50m
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 256Mi
    - name: linkvisit-cleanup
      schedule: "1 6 * * 0"
      command: ["/scripts/management_command.sh"]
      args: ["db_cleanup", "linkvisit"]
      resources:
        limits:
          cpu: 50m
          memory: 512Mi
        requests:
          cpu: 25m
          memory: 256Mi
environmentVariables:
  - name: AUTH
    value: SAML

  - name: ENV
    value: dev

  - name: BOOKSTORE_ENV
    value: PROD
  - name: BOOK_TIMEOUT
    value: "60"

  - name: CALENDAR_ENV
    value: PROD
  - name: CALENDAR_TIMEOUT
    value: "15"

  - name: CANVAS_ENV
    value: PROD
  - name: CANVAS_TIMEOUT
    value: "60"

  - name: CODA_ENV
    value: PROD
  - name: CODA_TIMEOUT
    value: "15"

  - name: GRAD_ENV
    value: PROD
  - name: GRAD_TIMEOUT
    value: "10"

  - name: GRADEPAGE_ENV
    value: PROD
  - name: GRADEPAGE_TIMEOUT
    value: "15"

  - name: GWS_ENV
    value: PROD
  - name: GWS_TIMEOUT
    value: "10"

  - name: HFS_ENV
    value: PROD
  - name: HFS_TIMEOUT
    value: "15"

  - name: IASYSTEM_UW_ENV
    value: PROD
  - name: IASYSTEM_UW_TIMEOUT
    value: "15"

  - name: IASYSTEM_UWB_ENV
    value: PROD
  - name: IASYSTEM_UWB_TIMEOUT
    value: "15"

  - name: IASYSTEM_UWT_ENV
    value: PROD
  - name: IASYSTEM_UWT_POOL_SIZE
    value: "10"
  - name: IASYSTEM_UWT_TIMEOUT
    value: "15"

  - name: IASYSTEM_UWEO_AP_ENV
    value: PROD
  - name: IASYSTEM_UWEO_AP_TIMEOUT
    value: "15"

  - name: IASYSTEM_UWEO_IELP_ENV
    value: PROD
  - name: IASYSTEM_UWEO_IELP_TIMEOUT
    value: "15"

  - name: LIBCURRICS_ENV
    value: PROD
  - name: LIBCURRICS_TIMEOUT
    value: "15"

  - name: LIBRARIES_ENV
    value: PROD
  - name: LIBRARIES_TIMEOUT
    value: "15"

  - name: MAILMAN_ENV
    value: EVAL
  - name: MAILMAN_TIMEOUT
    value: "15"

  - name: MYPLAN_AUTH_ENV
    value: EVAL
  - name: MYPLAN_ENV
    value: EVAL
  - name: MYPLAN_TIMEOUT
    value: "15"

  - name: PWS_ENV
    value: EVAL
  - name: PWS_POOL_SIZE
    value: "20"
  - name: PWS_TIMEOUT
    value: "15"

  - name: SDBMYUW_ENV
    value: PROD
  - name: SDBMYUW_TIMEOUT
    value: "15"

  - name: SWS_ENV
    value: EVAL
  - name: SWS_POOL_SIZE
    value: "20"
  - name: SWS_TIMEOUT
    value: "45"

  - name: SPACE_ENV
    value: EVAL

  - name: UPASS_ENV
    value: PROD
  - name: UPASS_POOL_SIZE
    value: "5"
  - name: UPASS_TIMEOUT
    value: "15"

  - name: UWNETID_ENV
    value: PROD
  - name: UWNETID_TIMEOUT
    value: "15"

  - name: UWIDP_ENV
    value: PROD
  - name: UWIDP_POOL_SIZE
    value: "2"
  - name: UWIDP_TIMEOUT
    value: "10"

  - name: CLUSTER_CNAME
    value: test.my.uw.edu

  - name: MEMCACHED_MAX_POOL_SIZE
    value: "10"

externalSecrets:
  enabled: true
  secrets:
    - name: test.my.uw.edu-secrets
      externalKey: my/test/secrets
      data:
        - name: canvas-account-id
          property: canvas-account-id
        - name: canvas-oauth-bearer
          property: canvas-oauth-bearer
        - name: coda-auth-token
          property: coda-auth-token
        - name: django-secret
          property: django-secret
        - name: email-host
          property: email-host
        - name: mailman-api-token
          property: mailman-api-token
        - name: mailman-request-recipient
          property: mailman-request-recipient
        - name: safe-email-recipient
          property: safe-email-recipient
        - name: myplan-auth-secret
          property: myplan-auth-secret
        - name: section-status-queue-arn
          property: section-status-queue-arn
        - name: section-status-key-id
          property: section-status-key-id
        - name: section-status-key
          property: section-status-key
        - name: google-analytics-key
          property: google-analytics-key
        - name: google-search-key
          property: google-search-key
    - name: test.my.uw.edu-sql-secrets
      externalKey: my/test/sql-secrets
      data:
        - name: username
          property: sql_user
        - name: password
          property: sql_pass

    - name: test.my.uw.edu-ic-certs
      externalKey: my/test/ic-certs
      data:
        - name: test.my.uw.edu-ic.key
          property: key
        - name: test.my.uw.edu-ic.cert
          property: cert

    - name: test.my.uw.edu-uw-idp-cert
      externalKey: idp-cert
      data:
        - name: uw-idp-cert
          property: cert

environmentVariablesSecrets:
  django-secret:
    name: DJANGO_SECRET
    secretName: test.my.uw.edu-secrets
    secretKey: django-secret
  canvas-account-secret:
    name: CANVAS_ACCOUNT_ID
    secretName: test.my.uw.edu-secrets
    secretKey: canvas-account-id
  canvas-token-secret:
    name: CANVAS_OAUTH_BEARER
    secretName: test.my.uw.edu-secrets
    secretKey: canvas-oauth-bearer
  coda-token-secret:
    name: CODA_AUTH_TOKEN
    secretName: test.my.uw.edu-secrets
    secretKey: coda-auth-token
  mailman-request-secret:
    name: MAILMAN_REQUEST_RECIPIENT
    secretName: test.my.uw.edu-secrets
    secretKey: mailman-request-recipient
  email_host-secret:
    name: EMAIL_HOST
    secretName: test.my.uw.edu-secrets
    secretKey: email-host
  myplan-auth-secret:
    name: MYPLAN_AUTH_SECRET
    secretName: test.my.uw.edu-secrets
    secretKey: myplan-auth-secret
  safe_email_recipient-secret:
    name: SAFE_EMAIL_RECIPIENT
    secretName: test.my.uw.edu-secrets
    secretKey: safe-email-recipient
  SectionStatusQueueARN:
    name: SECTION_STATUS_QUEUE_ARN
    secretName: test.my.uw.edu-secrets
    secretKey: section-status-queue-arn
  SectionStatusKeyId:
    name: SECTION_STATUS_KEY_ID
    secretName: test.my.uw.edu-secrets
    secretKey: section-status-key-id
  SectionStatusKey:
    name: SECTION_STATUS_KEY
    secretName: test.my.uw.edu-secrets
    secretKey: section-status-key
  GoogleAnalyticsKey:
    name: GOOGLE_ANALYTICS_KEY
    secretName: test.my.uw.edu-secrets
    secretKey: google-analytics-key
  GoogleSearchKey:
    name: GOOGLE_SEARCH_KEY
    secretName: test.my.uw.edu-secrets
    secretKey: google-search-key
  MailmanAPIToken:
    name: MAILMAN_API_TOKEN
    secretName: test.my.uw.edu-secrets
    secretKey: mailman-api-token
  SAMLServiceProviderCert:
    name: SP_CERT
    secretName: test.my.uw.edu-ic-certs
    secretKey: test.my.uw.edu-ic.cert
  SAMLIDPCert:
    name: IDP_CERT
    secretName: test.my.uw.edu-uw-idp-cert
    secretKey: uw-idp-cert
