{% load templatetag_handlebars %}
    {% tplhandlebars "instructor_course_sche_panel" %}

<div class="myuw-card-section">
    <div class="row">
        <div class="col-sm-3">
            <h4 class="myuw-card-row-heading">Meeting Time</h4>
        </div>
        <div class="col-sm-9">
            <div class="myuw-card-row-content">
                <table class="table-course-schedule">
                    <thead class="sr-only">
                        <tr>
                            <th>Day(s)</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Location Information</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-course-schedule">
                        {{#each meetings}}
                        <tr class="course-schedule-row">
                            {{#if wont_meet}}
                                <!-- waiting on sws
                                <td colspan="2" class="text-muted course-tbd">No meeting day on ... </td>
                                -->
                            {{else}}
                                {{#if days_tbd }}
                                    <td colspan="2" class="text-muted course-tbd">Days and times to be arranged.</td>
                                {{else if no_meeting}}
                                    <td colspan="2" class="text-muted course-tbd">No classroom meeting: online learning</td>
                                {{else}}
                                    {% include "handlebars/card/schedule/course_sche_col_days.html" %}
                                {{/if}}

                                {{#if building_tbd}}
                                    <td class="course-loc-tbd" colspan="2">Room to be arranged.</td>
                                {{else}}
                                    {% include "handlebars/card/schedule/course_sche_col_bldg.html" %}
                                    <td class="course-location-info">
                                        {{#if classroom_info_url}}
                                            <a href="{{classroom_info_url}}" data-linklabel="{{ building }} {{ room }} - Room Info">Room info</a>
                                        {{/if}}
                                    </td>
                                {{/if}}
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <h4 class="myuw-card-row-heading">Final Exam</h4>
        </div>

        <div class="col-sm-9">
            <div class="myuw-card-row-content">
                {{#if final_exam }}
                    {{#with final_exam}}
                        {{#if no_exam_or_nontraditional}}
                             <span>No Exam or Non-Traditional</span>
                        {{else}}
                            {{#if start_date }}
                                <table class="table-course-schedule">
                                    <thead class="sr-only">
                                        <tr>
                                            <th>Day</th>
                                            <th>Time</th>
                                            <th>Location</th>
                                            <th>Location Information</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-course-schedule">
                                        <td class="course-final-date">{{ formatDateAsDate start_date }}</td>
                                        <td class="course-time">{{ formatDateAsTime start_date }} &ndash; {{ formatDateAsTimeAMPM end_date }}</td>
                                        <td class="course-location">
                                            {{#if latitude}}<a href="http://maps.google.com/maps?q={{ latitude }},{{ longitude }}+({{encodeForMaps building_name }})&z=18" class="show_map" rel="{{building_name}}" data-linklabel="{{ building }} - Google Maps">{{/if}}{{building}}{{#if latitude}}</a>{{/if}}
                                            {{room_number}}
                                        </td>
                                        <td class="course-location-info">
                                            {{#if classroom_info_url}}<a href="{{classroom_info_url}}" data-linklabel="{{ building }} {{ room_number }}">Room info</a>{{/if}}
                                        </td>
                                    </tbody>
                                </table>
                            {{else}}
                                <span>Day and time to be arranged.</span>
                            {{/if}}
                        {{/if}}

                    {{/with}}
                {{else}}
                    <span>No Final Exam Scheduled.</span>
                {{/if}}

                {{#unless final_exam.no_exam_or_nontraditional}}{{#unless final_exam.is_confirmed}}
                    {{#if sln}}
                        <a href="https://sdb.admin.uw.edu/sisMyUWClass/uwnetid/{{netid}}/finalexam.asp?{{capitalizeString quarter}}+{{year}}&sln={{sln}}" target="_blank" data-linklabel="Confirm Final: {{ curriculum_abbr }} {{course_number}} {{section_id}}">Confirm final exam</a>
                    {{/if}}
                {{/unless}}{{/unless}}
            </div>
        </div>
    </div>
</div>
{% endtplhandlebars %}
