{% load templatetag_handlebars %}
    {% tplhandlebars "instructor_course_resource_panel" %}

    {% include "handlebars/card/instructor_schedule/course_resource/course_class_list.html" %}

    {{#if current_or_future}}
        {% include "handlebars/card/instructor_schedule/course_resource/course_stats.html" %}
    {{/if}}


    {{#if display_resources}}
    <div class="myuw-card-section">
        <div class="row">
            <div class="col-sm-3">
                <h4 class="myuw-card-row-heading">Course Materials</h4>
            </div>
            <div class="col-sm-9">
                <div class="myuw-card-row-content">
                    <ul class="myuw-card-itemlist">
                        {{#unless mini_card}}
                            <li class="clearfix">
                                {% include "handlebars/card/instructor_schedule/course_resource/class_website.html" %}
                            </li>
                        {{/unless}}

                        {{#if email_list }}
                            <li class="clearfix">
                                {% include "handlebars/card/instructor_schedule/course_resource/email_list.html" %}
                            </li>
                        {{/if}}

                        {% include "handlebars/card/instructor_schedule/course_resource/online_tools.html" %}

                        <li class="clearfix">
                            {% include "handlebars/card/instructor_schedule/course_resource/textbooks.html" %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

{% endtplhandlebars %}
