{% load templatetag_handlebars %}
{% load static %}
{% tplhandlebars "instructor_course_resource_panel" %}

    {% include "handlebars/card/instructor_schedule/course_resource/course_class_list.html" %}

    {{#unless mini_card}}
        {{#if current_or_future}}
            {% include "handlebars/card/instructor_schedule/course_resource/course_stats.html" %}
        {{/if}}
    {{/unless}}

    {{#if display_resources}}
    <div class="myuw-card-section">
        <div class="row">
            <div class="col-sm-3">
                <h4 class="myuw-card-row-heading">Course Materials</h4>
            </div>
            <div class="col-sm-9">
                <div class="myuw-card-row-content">
                    <ul class="myuw-card-itemlist">

                        {{#if myuwclass_url}}
                        <li class="clearfix">
                            <span class="card-badge-value">
                                <a class="myuwclass" href="{{ myuwclass_url }}" rel="{{curriculum_abbr}} {{course_number}} {{section_id}}" target="_blank" data-linklabel="MyUWClass: {{curriculum_abbr}} {{course_number}} {{section_id}}" title="MyUWClass">
                                    <img src="{% static '/images/myuwclasslink.gif' %}" alt="MyUWClass" width="67px" height="24px" />
                                </a>
                            </span>
                        </li>
                        {{/if}}

                        <li class="clearfix">
                            {% include "handlebars/card/instructor_schedule/course_resource/class_website.html" %}
                        </li>

                        {{#if email_list }}
                            <li class="clearfix">
                                {% include "handlebars/card/instructor_schedule/course_resource/email_list.html" %}
                            </li>
                        {{/if}}

                        {% include "handlebars/card/instructor_schedule/course_resource/online_tools.html" %}

                        {{#unless mini_card}}
                            <li class="clearfix">
                                {% include "handlebars/card/instructor_schedule/course_resource/textbooks.html" %}
                            </li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

{% endtplhandlebars %}
