// ======================================================
// Variables
// ======================================================
@import "mixins.less";
@import "variables.less";
@import "variables-override.less";
@import "font-awesome.less";


// ======================================================
// Accordion
// ======================================================
.accordion-group {
  border-right: 0px;
  
  h3 {
    color:@white;
    padding-top: 3px;
    text-transform:uppercase;
    font-weight:normal;
    line-height: 1.1em;

  }
  .border-radius(0px);
}

.accordion-heading {

  border-bottom: 0;
  /*border-right:1px solid #e5e5e5;*/
  
  a {
    color:@white;
    font-size: 1.5em;
  	}
  	
 }
 


.courseBorder (@color) {
  border-left:5px solid @color;
  border-top:1px solid @color;
  border-bottom: 5px solid @color;
}
@secondary-lighten: 10%;

.c1 {
 background-color: @courseOrange;
}
.c1a { 
 background-color: lighten(@courseOrange, @secondary-lighten);
}
.c2 {
 background-color: @courseGreen;
}
.c2a {
 background-color: lighten(@courseGreen, @secondary-lighten);
}
.c3 {
  background-color: @courseBlue;
}
.c3a {
  background-color: lighten(@courseBlue,@secondary-lighten);
}
.c4{
  background-color: @courseRed;
}
.c4a{
  background-color: lighten(@courseRed, @secondary-lighten);
}
.c5{
  background-color: @courseBrown;
}
.c5a{
  background-color: lighten(@courseBrown, @secondary-lighten);
}
.c6{
  background-color: @coursePurple;
}
.c6a{
  background-color: lighten(@coursePurple, @secondary-lighten);
}
.c7{
  background-color: @courseGold;
}
.c7a{
  background-color: lighten(@courseGold, @secondary-lighten);
}
.c8{
  background-color: @courseTeal;
}
.c8a{
  background-color: lighten(@courseTeal, @secondary-lighten);
}

.c1Border {
  .courseBorder(@courseOrange);
}
.c1aBorder {
  .courseBorder(lighten(@courseOrange,@secondary-lighten));
}
.c2Border {
  .courseBorder(@courseGreen);
}
.c2aBorder {
  .courseBorder(lighten(@courseGreen,@secondary-lighten));
}

.c3Border {
  .courseBorder(@courseBlue);
}
.c3aBorder {
  .courseBorder(lighten(@courseBlue,@secondary-lighten));
}

.c4Border {
  .courseBorder(@courseRed);
}
.c4aBorder {
  .courseBorder(lighten(@courseRed,@secondary-lighten));
}

.c5Border {
  .courseBorder(@courseBrown);
}
.c5aBorder {
  .courseBorder(lighten(@courseBrown,@secondary-lighten));
}

.c6Border {
  .courseBorder(@coursePurple);
}
.c6aBorder {
  .courseBorder(lighten(@coursePurple,@secondary-lighten));
}

.c7Border {
  .courseBorder(@courseGold);
}
.c7aBorder {
  .courseBorder(lighten(@courseGold,@secondary-lighten));
}

.c8Border {
  .courseBorder(@courseTeal);
}
.c8aBorder {
  .courseBorder(lighten(@courseTeal,@secondary-lighten));
}

.accordion-heading .accordion-toggle {
  padding: 0px 10px;
}

.accordion-inner {
  padding: 9px 10px;
  background-color:@myuw;
}

.icon-chevron:before { content: "\f077"; }
.collapsed .icon-chevron:before { content: "\f078"; }

// ======================================================
// buttons
// ======================================================
.btn-visual {
  margin-top:-8px;
  font-weight:normal;
  height: 2em;
  padding-top: .75em;
  padding-bottom: 2px;
}

.btn-close {
  width:100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

// ======================================================
// navbar
// ======================================================

.navbar-inner {
//  #gradient > .vertical(lighten(@navbarBackground,5%), darken(@navbarBackgroundHighlight,3%));
  #gradient > .vertical(@uwpurple, @uwpurple);
}

.navbar .btn {
@elementHeight: 28px;
  margin: ((@navbarHeight - @elementHeight) / 2 - 5) 5px ((@navbarHeight - @elementHeight) / 2 - 4);
}

// Active nav items
.navbar .nav .active > a {
  #translucent > .background(@uwLighter, .2);
  border: 1px solid @grayDarker;
  .box-shadow(~"inset 0 1px 2px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.15)");

}

.navbar .nav .logout > a {
  //#translucent > .background(@uwLighter, .2);
  //#gradient > .vertical(lighten(@navbarBackground,15%), lighten(@navbarBackgroundHighlight,2%));
  border: 1px solid @grayDarker;

  //.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.15), 0 1px 2px rgba(0,0,0,.3)");

}
// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  padding: 12px 12px;
  .buttonBackground(lighten(@uwpurple,3%), lighten(@uwpurple,15%));
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.1), 0px 1px 0 rgba(255,255,255,.125)");
}

.navbar .btn-navbar .icon-bar {
  height: 3px;
  .border-radius(1.5px);
}

.navbar-fixed-top,
.navbar-static-top {
  .navbar-inner {
    //.box-shadow(~"inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.1)");
    .box-shadow(~"0 1px 3px .5px rgba(0,0,0,.5), inset 0 -1px 0 rgba(0,0,0,.1)");
  }
}

.navbar .nav > li > a {
  text-shadow: 0 1px 0 @navbarBackgroundHighlight;
}
//create collapsed nav
body {
    padding-top: 0;
  }
  // Unfix the navbars
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: @baseLineHeight;
  }
  .navbar-fixed-bottom {
    margin-top: @baseLineHeight;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  // Account for brand name
  .navbar .brand {
    //padding-left: 10px;
    //padding-right: 10px;
    //margin: 0 0 0 -5px;
    padding:0 0 0 10px;
  }

  // COLLAPSIBLE NAVBAR
  // ------------------
  // Nav collapse clears brand
  .nav-collapse {
    clear: both;
  }
  // Block-level the nav
  .nav-collapse .nav {
    float: none;
    margin: 0 0 (@baseLineHeight / 2);
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: @navbarText;
    text-shadow: none;
  }
  // Nav and dropdown links in navbar
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: @navbarLinkColor;
    .border-radius(3px);
  }
  // Buttons
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    .border-radius(4px);
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: @navbarBackground;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: @navbarInverseBackground;
  }
  // Buttons in the navbar
  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
  }
  // Dropdowns in the navbar
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    .border-radius(0);
    .box-shadow(none);
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  // Forms in navbar
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: (@baseLineHeight / 2) 15px;
    margin: (@baseLineHeight / 2) 0;
    border-top: 1px solid @navbarBackground;
    border-bottom: 1px solid @navbarBackground;
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1)");
  }
  // Pull right (secondary) nav content
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  // Hide everything in the navbar save .brand and toggle button 
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  // Navbar button
  .navbar .btn-navbar {
    display: block;
  }

  // STATIC NAVBAR
  // -------------
  .navbar-static .navbar-inner {
    padding-left:  10px;
    padding-right: 10px;
  }


/*
.navbar .nav > a {
	&:last-child {
  color: @yellow;
}
}*/

// ======================================================
// modal
// ======================================================
#page-modal {
	display: none;
	.background-clip(border-box);
	.border-radius(4px);
	margin: 5px;
	max-height: 800px;
	//border: 1px solid @grayDarker;
  .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.05), 0 1px 4px 1px rgba(0,0,0,.3)");
}


.modal-header {
	padding-top: 15px;
	padding-bottom: 1px;
	//.border-radius(6px);
	@modal-rad: 3px;
	-moz-border-radius-topleft: @modal-rad;
-moz-border-radius-topright: @modal-rad;
-webkit-border-top-left-radius: @modal-rad;
-webkit-border-top-right-radius: @modal-rad;
	.close {
	font-size:28px;
	}
	
	h3 {
    color:@white;
    padding-top: 3px;
    text-transform:uppercase;
    font-weight:normal;
    line-height: 1.1em;
  	}
}
.modal-body {
	padding-bottom: 0px;
	max-height: 800px;
	background-color:@white;
	//border: 1px solid rgba(0,0,0,.3);
	.dl-horizontal {
	margin-bottom: 5px;
	overflow-y: auto;
	
	}
}


// ======================================================
// tables
// ======================================================

.table-meeting  {
  width: 98%;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  min-height: 20px;
  //margin-bottom: 5px;
  margin: 5px 1% 5px 1%;
  background-color: @bodyAccent;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.09);
  .border-radius(2px);
 .box-shadow(inset 1px 1px 5px rgba(0,0,0,.05));

  td {
    line-height: @baseLineHeight - 2;
    padding: 5px 3px;
    border-bottom: 1px solid #eee;
 	border-bottom: 1px solid rgba(0,0,0,.03);
  }
  
  tbody:first-child tr:last-child td {
    border-bottom: 0;
  }
  td:nth-child(2) {
    text-align: center;
  }
  td:last-child {
    text-align: right;
  }
  
}

.modal-body .table-meeting {
	margin: 0;
}

// ======================================================
// type
// ======================================================
// Body Text
a {
	font-size: @baseFontSize + 3;
}

//Headings

.scheduleHeading {
  font-weight: bold;
  line-height: @baseLineHeight - 1; // fix jank Helvetica Neue font bug
}

// Page header
.page-header {
  padding-bottom: 5px;
  margin: 15px 0;
  border: none;
	h1 {
  		line-height: 1;
	}

	h2 {
		  font-size: 18px;
		  padding-left: 5px;
		  border-left: 5px solid @yellow;
		  line-height: 26px;
  	small {
    font-size: 18px;
  	}
	}
}
.base-font-size {font-size: @baseFontSizeLink;}
//Lists
ul.unstyled,
ol.unstyled {
  	li.additional {line-height: @baseLineHeight * 1.5;padding-top:15px;}
}
	li.inline {display:inline;}

.dl-horizontal {
  dt {
  	//width: 20px;
    margin-bottom:5px;
  }
  dd {
    margin-bottom:10px;
  }
  ul {
  list-style: none;
  margin: 0;
  li { margin-bottom: 4px;}
  }
}

.dl-instructor {
		margin-top:-15px;
	dt {
		margin-top:15px;
		}
}

.book-image .dl-horizontal {
margin:0;
dt {clear:none;}
dd {margin-left: 160px;}
}

.book-divider {

margin-top: 15px;
margin-bottom: 5px;
  border: 0;
  border-top: 1px solid darken(@grayLighter,5%);
  border-bottom: 1px solid @white;
 .border-radius(1px);
}

.book-info {
	margin-bottom: 5px;
  dt {
  	//width: 20px;
    margin-bottom:5px;
  }
  dd {
    margin-bottom:2px;
  }
  }
  
.dl-books {
margin-left: 90px;
margin-bottom: 10px;
dt {
  float: left;
  clear: none;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  }
dd {
	margin-left: 65px;
	}
}


// ======================================================
// custom Styles
// ======================================================

.icon-huge:before {
  vertical-align: middle;
  font-size: 2em;
  margin: 0px 20px 0px 0;
}
.server-error {
padding: 8px 14px 8px 14px;
}
.error-buttons {
text-align: center;
width: 100%;

.btn {
//width: 130px;
color: @gray;
margin: 20px 5px 10px 5px;

}
}

.error-title {
	height: 30px;
	width: 100%;
	vertical-align: middle;
	margin: 15px 0px 10px 0;
	font-size: 28px;
}


abbr[title] {
border: none;
}
.user {
margin: 5px 0px 15px 10px;
color: darken(@grayLighter,10%);

}
.netid {
	margin-left: 5px;
	color: rgba(255,255,255,.8);
	display: inline;
	//font-size: 14px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2), -1px -1px rgba(255,255,255,.2);
	min-height: 18px;
	padding: 3px;
	
	//margin-bottom: 20px;
	//background-color: rgba(255,255,255,.07);
	border: 1px solid rgba(255,255,255,.05);
  .border-radius(3px);
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

.courseIDtitle {
  padding-right:10px;
  font-size: 28px;
  line-height: .8;
  display: block;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.1), 1px 1px rgba(255,255,255,.2);
}

.modal .courseIDtitle {
	font-size: 20px;
	line-height: .3;	
}

.shortTitle {
  margin-top: 3px;
  white-space: nowrap;
  font-size: 16px;

}
.modal .courseIDtitle {
	font-size: 20px;
	line-height: .3;	
}
.modal .shortTitle {
	font-size: 13px;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.1), 1px 1px rgba(255,255,255,.2);
	//line-height: .3;	
}

.visual-schedule {
	width: 100% ;
	//margin-left: -10px;
	//border: 1px solid red;
	//height: 30em; 
	position:relative;
//	background-color: @grayLighter;
	//border-left: 2px solid @grayLighter;
	//border-top: 2px solid @grayLighter;
	//#gradient > .striped(rgba(0,0,0,.15), 90deg);
	//background-position: 0 7%;
	
	.clearfix();
}
//visual schedule height
//0-6 hrs
.six-hour {
height: 20em;
}
//6-12
.twelve-hour {
	height: 30em;
}

.twelve-plus {
	height: 40em;
}

@time-bar-width: 8%;
.time-bar {
	margin-left: -2px;
	//.border-left-radius(4px);
	width: @time-bar-width;
	border-right: 2px groove @grayLighter;
	//border-top: 1px groove @grayLighter;
	position: relative;
	display:inline-block;
	float: left;
	//background-color: @white;
	font-weight: bold;
	height:93%; 
	top: 7%;
//	padding-left: 1px;


}
.time-bar p {


}

.five-day {
	width: (97% - 5) / 5;
	height:100%;
	//border: 1px solid black;
	position: relative;
	display:inline-block;
	float: left;
	color: @white;
	
	p {color:#333;}
}

.six-day {
	width: (97% - 5) / 6;
	//width: 14%;
	height:100%;
	//border-right: 1px inset black;
	position: relative;
	display: inline-block;
	//margin-left:-5px;
	float: left;
	color: @white;
	
	p {color:#333;}
}
/*
.six-day:last-child, .five-day:last-child {
	border-right: none;

}*/

.six-day:first-child, .five-day:first-child {
	border-left: 2px groove @grayLighter;
	

}



.six-day:nth-of-type(even), .five-day:nth-of-type(odd) {

	//background-color: darken(@grayLighter,3%);
	background-color: rgba(0,0,0,.05);
}

.day-col {
#gradient > .striped(rgba(0,0,0,.15), 90deg);
position: relative;
height:93%;
}


.day-col2 {
#gradient > .striped(rgba(0,0,0,.2), 90deg);
position: relative;
height:93%;
}

.test-col {
//#gradient > .directional(#abced4, transparent, 90deg);
//background-color: #fff;
background-size: auto 9.0909%;
background-image: -webkit-linear-gradient( rgba(0,0,0,.2) 1px, transparent 1px);
background-image: -moz-linear-gradient( rgba(0,0,0,.2) 1px, transparent 1px);
background-image: -ms-linear-gradient( rgba(0,0,0,.2) 1px, transparent 1px);
background-image: -o-linear-gradient( rgba(0,0,0,.2) 1px, transparent 1px);
background-image: linear-gradient( rgba(0,0,0,.2) 1px, transparent 1px);
position: relative;
height:93.1%;
}

// Classes for striped background

.hours-1 { 
	background-size: auto 200%*2;
}
.hours-2 { 
	background-size: auto 100%*2;
}
.hours-3 { 
	background-size: auto 66.666666667%*2;
}
.hours-4 { 
	background-size: auto 50%*2;
}
.hours-5 { 
	background-size: auto 40%*2;
}
.hours-6 { 
	background-size: auto 33.3333333333%*2;
}
.hours-7 { 
	background-size: auto 28.5714285714286%*2;
}
.hours-8 { 
	background-size: auto 25%*2;
}
.hours-9 { 
	background-size: auto 22.2222222222%*2;
}
.hours-10 { 
	background-size: auto 20%*2;
}
.hours-11 { 
	background-size: auto 18.1818181818182%*2;
}
.hours-12 { 
	background-size: auto 16.666666667%*2;
}
.hours-13 { 
	background-size: auto 15.3846153846154%*2;
}
.hours-14 { 
	background-size: auto 14.2857142857143%*2;
}
.hours-15 { 
	background-size: auto 13.33333333%*2;
}
.hours-16 { 
	background-size: auto 12.5%*2;
}
.hours-17 { 
	background-size: auto 11.7647058823529%*2;
}
.hours-18 { 
	background-size: auto 11.1111111111%*2;
}

.hour-label {

width:100%;
//border-top: 1px inset rgba(0,0,0,.1);
line-height: 14px;
text-align: center;
margin: 0;
//margin-top:-.6em;
margin-top: .5em;

padding: 0;


}

//.hour-label:last-child { border:0}

.day-label {
	width:100%;
	//border-bottom: 1px solid @grayLight;
	background-color: rgba(0,0,0,.2);
	height:7%;
	text-align: center;
	color: @grayDark;
	top:0px;
	border-bottom: 2px groove @grayLighter;
	margin-top:-2px;
}
.day-label > p {
	
}
.visual-course {
	width: 100%;
	.border-radius(2px);
	//padding: 3px;
	display: table;
	text-align: center;
	//vertical-align: middle;
	font-size: 12px;
	line-height: 12px;
}


.visual-course-id {
display: table-cell;
	vertical-align: middle;
}
.show_section_details {
	font-size: 12px;
	color: @myuw;
}


.courseTBD {
		width:100%; overflow:auto;
		
	.visual-course {
		margin:0 5px 5px 0; 
		width:70px;
		height:38px;
		}
}	

.books-list {

	h4 {
	color:#fff;
	font-weight:normal;
	padding:2px 0 2px 5px;
	}
}	

.book-image {
	height:auto;
	//display:inline-block;
}
.book-image > h4 {
margin:5px 0 15px 0;
}

.book-cover {
margin-right: 15px;
//min-height:180px;
}

.no-book-cover {
	background-color:@grayLight;
	width:80px; 
	height:106px; 
	border: 1px solid rgba(0,0,0,.3);
	margin-right:15px;
	padding-top:15px;
	.border-radius(2px);
	text-align:center;
	color:@myuw;
}

//my links stuff
.link-list {
margin-left: 5px;
margin-right: 5px;
  ul {
    list-style-type: none;

  }
  li {
	list-style-type: none;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px inset @grayLighter;
    //.box-shadow(~"inset 0 1px 2px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.15)");
    .box-shadow(~"0 1px rgba(255,255,255,1)");
    //border-bottom: 1px inset @white;
        i {
    font-size: 110%;
    margin-right: 50px;
    }
    a {
    margin-left: 15px;
    display: block;
    }
  }
  
 /* li:last-child {
  border-bottom: none;
  }*/
  li:first-of-type {
  padding-top: 10px;
   .box-shadow(~"0 1px rgba(255,255,255,1)");
 //  -webkit-box-shadow: inset 0px 1px 0px 0px @red;
   border-top: 1px solid @grayLighter;
  //.box-shadow("0 1px 0 0 @red");
 // 0 -5px 0 0 @red
  
  }

}
.link-off a {
    color: @grayLight;
    font-style: italic;
    font-weight: 200;
    }
.link-on a {
	color: @blue - 25;
	

}
// new method



.link-list {

label {
margin-bottom: 0px;
margin-left: 15px;
display: block;
font-size: 17px;
color: @grayLight;
font-style:italic;
}

.icon-checked:before { content: "\f096"; }


input[type=checkbox] {
	//display:none;
   position: absolute;
   overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0;
   //top: -9999px;
   //left: -9999px;
   }
input[type=checkbox]:checked + div {
    color: @blue - 25;
    font-style:normal; 
    .icon-checked:before { content: "\f00c"; }
}
  
}

a:hover {
	text-decoration: none !important;
}
a:active {
text-decoration: none !important;
}

footer {
	color: @grayLight;
	font-size: 12px;
 a {
	font-size: 16px;
	}
p {
	margin-bottom: 2px;
}
.footer-links a {
font-size: 12px;
}
}

// UW Alerts 
//--------------------------------------------------

#uwalert-alert-message {margin: 10px 0 10px 0}
.alert { 

	h1 {font-size: 18px; line-height: 20px; margin:0;}
}

.uwalert-orange {
  background-color: @warningBackground;
  border-color: @warningBorder;
  color: @warningText;
}
.uwalert-red {
  background-color: @errorBackground;
  border-color: @errorBorder;
  color: @errorText;
}
.uwalert-steel {
  background-color: @infoBackground;
  border-color: @infoBorder;
  color: @infoText;
}


// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn-myuw.active
 {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------

.btn-myuw {
  .buttonBackground(@btnMyuwBackground, @btnMyuwBackgroundHighlight);
}

//=======================================================
// financial balances
//=======================================================


#financial {

	.account {
	width:100%; background-color:@grayLighter;padding:0 10px;
	
		span.amount {font-size:35px;color:@green;}
	
		h3 {padding:5px 5px;font-size:90%;font-weight:bold;}
		.balance {padding:10px 5px;}
	}
	
 sup {font-size:20px;color:@black;}

}


// ======================================================
// utilities
// ======================================================
.pull-right-center {

  float: right;
  font-size:30px;
  position: relative;
  top: 15px;
  right: 3px;

}

.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
  .clearfix();
}

.offscreen
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}

