{% load templatetag_handlebars %}
    {% tplhandlebars "instructor_future_course_sche_panel" %}

<h5 class="scheduleHeading">
MEETING TIME
</h5>
<table class="table table-borderless table-condensed table-course-schedule">
    <thead class="sr-only">
        <tr>
            <th>Day(s)</th>
            <th>Time</th>
            <th>Location</th>
            <th>Location Information</th>
        </tr>
    </thead>
    <tbody class="tbody-course-schedule">
        {{#each meetings}}
        <tr class="course-schedule-row">
            {{#if days_tbd }}
                <td colspan="2" class="text-muted course-tbd">Days and times to<br/> be arranged</td>
            {{else}}
                {% include "handlebars/card/schedule/course_sche_col_days.html" %}
            {{/if}}

            {{#if building_tbd}}
            <td class="text-muted course-loc-tbd" colspan="2">Room to be arranged</td>
            <td></td>
            {{else}}
                {% include "handlebars/card/schedule/course_sche_col_bldg.html" %}
                <td class="course-location-info">
                  <a href="#">Room info</a>
                </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>

<h5 class="scheduleHeading">
FINAL EXAM WILL BE
</h5>
{{#if final_exam }}
  {{#if final_exam.no_exam_or_nontraditional}}
    No Exam or Non-Traditional
  {{else}}
    <table class="table table-borderless table-condensed table-course-schedule">
      <thead class="sr-only">
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Location</th>
          <th>Location Information</th>
        </tr>
      </thead>
      <tbody class="tbody-course-schedule">
        <td>{{ formatDateAsDate final_exam.start_date }}</td>
        <td class="course-time">{{ formatDateAsTime final_exam.start_date }} - {{ formatDateAsTimeAMPM final_exam.end_date }}</td>
        <td class="course-location">
          {{#if final_exam.latitude}}
          <a href="http://maps.google.com/maps?q={{ final_exam.latitude }},{{ final_exam.longitude }}+({{encodeForMaps final_exam.building_name }})&z=18" class="show_map" rel="{{building_name}}" data-linklabel="{{ final_exam.building }} - Google Maps">
            {{/if}}
            {{final_exam.building}}
            {{#if final_exam.latitude}}
          </a>
          {{/if}}
          {{final_exam.room_number}}
        </td>
        <td><a href="#">Room info</a></td>
      </tbody>
    </table>
  {{/if}}
{{else}}
  No Final Exam Scheduled
{{/if}}
{% endtplhandlebars %}
