<h3>General</h3>
<ul>
    {% url 'userservice.views.support' as user_override_url %}
    {% if user_override_url %}
    <li><a href="{{ user_override_url }}">{{ userservice_link|default:"User Override" }}</a></li>
    {% endif %}
    <li><a href="{% url 'myuw_mobile.views.display_dates.override' %}">Date testing</a></li>
</ul>

<h3>Web Services</h3>
<ul>
    {% url 'restclients.views.proxy' 'sws' 'student/v4' as sws_url %}
    {% if sws_url %}
    <li><a href="{{ sws_url }}">{{ restclients_sws_link|default:"Browse Student Web Service" }}</a></li>
    {% endif %}
    {% url 'restclients.views.proxy' 'sws' 'student/v5' as sws_url %}
    {% if sws_url %}
    <li><a href="{{ sws_url }}">New SWS resources, eg: notice</a></li>
    {% endif %}
    {% url 'restclients.views.proxy' 'pws' 'identity/v1' as pws_url %}
    {% if pws_url %}
    <li><a href="{{ pws_url }}">{{ restclients_pws_link|default:"Browse Person Web Service" }}</a></li>
    {% endif %}
    {% url 'restclients.views.proxy' 'gws' '' as url %}
    {% if url %}
    <li><a href="{{ url }}">UW Groups Web Service</a></li>
    {% endif %}

    {% url 'restclients.views.proxy' 'canvas' '' as url %}
    {% if url %}
    <li><a href="{{ url }}">Canvas Web Service</a></li>
    {% endif %}
    </ul>


    {% url 'restclients.views.proxy' 'hfs' 'myuw/v1' as url %}
    {% if url %}
    <h4>HFS Web Service:</h4>
    <script>
        function direct_to_hfs_service() {
            var netid = document.getElementById("hfs_service_input").value;
            window.location.href = "{% url 'restclients.views.proxy' 'hfs' '/myuw/v1/' %}/" + netid;
            return false;
        }
    </script>
    <form onsubmit="return direct_to_hfs_service()">
        <div class="form-group">    
            <input type="text" id="hfs_service_input" class="form-control">&nbsp;<input type="submit" value="Go" class="btn btn-primary btn-sm" />
        </div>
    </form>

    {% endif %}

    {% url 'restclients.views.proxy' 'libraries' '' as url %}
    {% if url %}
    <h4>Library Web Service:</h4>
    <form action="{% url 'restclients.views.proxy' 'libraries' 'mylibinfo/v1/' %}" method="GET">
        <div class="form-group">
            <input type="text" name="id" class="form-control" />&nbsp;<input type="submit" value="go" class="btn btn-primary btn-sm" />
        </div>
    </form>
    {% endif %}

    {% url 'restclients.views.proxy' 'book' '' as url %}
    <h4>UW Bookstore Web Service:</h4>
    <form action="{% url 'restclients.views.proxy' 'book' 'myuw/myuw_mobile_beta.ubs' %}" method="GET">
        
        <div class="form-group">
        Term: <select name="quarter" class="form-control">
            <option value="spring">spring</option>
            <option value="summer">summer</option>
            <option value="autumn">autumn</option>
            <option value="winter">winter</option>
        </select>
        SLN: <br/>
            <input type="text" name="sln" class="form-control" />&nbsp;<input type="submit" value="Go" class="btn btn-primary btn-sm" />
        </div>
    </form>

    {% url 'restclients.views.proxy' 'uwnetid' '/nws/v1/uwnetid' as url %}
    {% if url %}
    <h4>Netid Web Service:</h4>
    <script>
        function direct_to_netid_service() {
            var netid = document.getElementById("netid_service_input").value;
            window.location.href = "{% url 'restclients.views.proxy' 'uwnetid' '/nws/v1/uwnetid' %}/" + netid + "/subscription/105";
            return false;
        }
    </script>
    
    <form onsubmit="return direct_to_netid_service()">
        <div class="form-group">    
            <input type="text" id="netid_service_input" class="form-control">&nbsp;<input type="submit" value="Go" class="btn btn-primary btn-sm" />
        </div>
    </form>
        
    {% endif %}

