{% load templatetag_handlebars %}
{% tplhandlebars "no-courses" %}

<div class="card">
    <div class="fade-in">
      <h3>No Courses Found</h3>
      <p>You do not appear to be registered for credit courses {{which_quarter_or_term}}. If you are not registered, you can go to the <a title="Go to MyUW desktop version" href="https://myuw.washington.edu/servlet/user">MyUW full site</a> to learn about registration. If you think this is an error, please <a href="mailto:help@uw.edu?subject=MyUW%20Comment,%20Request,%20Suggestion&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20" title="Send email to help@uw.edu">contact MyUW</a>.</p>

      <div id="addi_links"></div>
    </div>
</div>

{% endtplhandlebars %}
