{% load templatetag_handlebars %}
    {% tplhandlebars "instructor_past_course_resource_panel" %}

    <h4 class="scheduleHeading">RESOURCES WERE</h4>
    <ul class="unstyled-list">
      {{#if class_website_url}}
      <li class="clearfix" style="line-height:3;">
        {% include "handlebars/card/instructor_schedule/course_resource/class_website.html" %}
      </li>
      {{/if}}
      <li class="clearfix">
        {% include "handlebars/card/instructor_schedule/course_resource/online_tools.html" %}
      </li>
      <li class="clearfix">
        {% include "handlebars/card/instructor_schedule/course_resource/course_class_list.html" %}
      </li>
    </ul>

{% endtplhandlebars %}
