<h1>MyPlan</h1>
<form method="post" action="{{form_action}}">
{% csrf_token %}
  <div>
    <label for="uwregid">UW RegID:</label>
    <input id="uwregid" name="uwregid" size="40" type="text">
  </div>
  <div>
    <label for="year">Year:</label>
    <input id="year" name="year" type="text" maxlength="4">
  </div>
  <div>
    <label for="quarter">Quarter:</label>
    <select id="quarter" name="quarter" maxlength="6">
            <option value="spring">Spring</option>
            <option value="summer">Summer</option>
            <option value="autumn">Autumn</option>
            <option value="winter">Winter</option>
    </select>
  </div>
  <div>
    <input value="Submit" type="submit">
  </div>
</form>
