{% load templatetag_handlebars %}
    {% tplhandlebars "academic_card_content" %}

    {{#if class_level}}
        <div aria-labeledby="my_academics">
            <div class="card">
                <div class="fade-in">
                
                    <h3>Academics</h3>
                        <div><strong>Class standing:</strong> <span class="">{{class_level}}</span></div>
                    {{#if majors}}
                        <div>{{ pluralize majors "Major:" "Majors:"}}
                            <ul>
                              {{#each majors}}  
                              <li>{{full_name}}</li>
                              {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                    {{#if minors}}
                        <div>{{ pluralize minors "Minor:" "Minors:"}}
                            <ul>
                              {{#each minors}}  
                              <li>{{full_name}}</li>
                              {{/each}}
                            </ul>
                        </div>
                    {{/if}}
                    <div id="academic_card_resources" class="slide-hide" aria-hidden="true">
                        <h4>Resources</h4>
                        <ul class="reg-resources-list">
                            <li><a href="https://myplan.uw.edu">MyPlan</a></li>
                            <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                            <li>Change major</li>
                            <li>Academic planning</li>
                        </ul>
                    </div>
                    
                    <div class="card-disclosure">
                        <a id="toggle_academic_card_resources" aria-controls="reg_resources" href="#" title="Expand to show additional academic resources">SHOW MORE</a>
                    </div>
                
                </div>
            </div>     
        </div>
    {{/if}}
{% endtplhandlebars %}
