{% load templatetag_handlebars %}
    {% tplhandlebars "academic_card_content" %}

    {{#if class_level}}
        <div aria-labeledby="my_academics" data-name="AcademicsCard" data-type="card">
            <div class="card">
                <div class="fade-in">
                
                    <h3>Academics</h3>
                    
                    <h4 class="sr-only">Academic Standing</h4> 
                     
                    <div class="class-standing">
                        <h5>Class standing</h5>
                        <p>{{ class_level }}</p>
                        
                        {{#if majors}}
                            <h5>{{ pluralize_by_size majors "Major" "Majors"}}</h5>
                            <ul>
                              {{#each majors}}  
                              <li>{{full_name}}</li>
                              {{/each}}
                            </ul>
                        {{/if}}
                        {{#if minors}}
                            <h5>{{ pluralize_by_size minors "Minor" "Minors"}}</h5>
                            <ul>
                              {{#each minors}}  
                              <li>{{full_name}}</li>
                              {{/each}}
                            </ul>
                        {{/if}}
                     </div>
                     
                    <div id="academic_card_resources" class="slide-hide" aria-hidden="true">
                        <h4>Resources</h4>
                        <ul class="reg-resources-list">
                            <li><a href="https://myplan.uw.edu">MyPlan</a> (Academic Planning)</li>
                            <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                        </ul>
                    </div>
                    
                    <div class="card-disclosure">
                        <a id="toggle_academic_card_resources" aria-controls="reg_resources" href="#" title="Expand to show additional academic resources">SHOW MORE</a>
                    </div>
                    
                
                </div>
            </div>     
        </div>
    {{/if}}
{% endtplhandlebars %}
