{% load templatetag_handlebars %}
    {% tplhandlebars "events_card_content" %}

    {{#if display_card}}
        <div aria-labeledby="my_events" data-name="EventsCard" data-type="card">
            <div class="card">
                <div class="fade-in">
                
                    <h3>Events</h3>
                    
                    <div id="events_card_more" class="slide-hide" aria-hidden="true">
                        <p>MORE</p>
                    </div>
                    
                    <div class="card-disclosure">
                        <a id="toggle_event_card_resources" aria-controls="..." href="#" title="Expand to show additional events">SHOW MORE</a>
                    </div>
                    
                
                </div>
            </div>     
        </div>
    {{/if}}
{% endtplhandlebars %}