{% load templatetag_handlebars %}
{% tplhandlebars "future_quarter_card" %}

<h3 id="future_quarters" class="sr-only">Future Quarters</h3>
<div aria-labeledby="future_quarters">

    <div class="row ">
        <div class="col-xs-12">
        
        
            {{ #each terms }}
            <div class="card">
                <div class="row">
    
                    <div class="col-xs-11">
                        <h4 class="">{{ quarter }} {{ year }}{{ #if summer_term }}: {{ summer_term }} {{ /if }}</h4>
                        <p>You have registered for <span class="">{{ credits }}</span> credits (<span class="">{{ section_count }}</span> sections) for <span class="">{{ quarter }} {{ year }}{{ #if summer_term }}: {{ summer_term }} {{ /if }}</span>.</p>
                    </div>
    
                    <div class="col-xs-1 nav-card-arrow" style="text-align:center;">
                        <a href="../future_quarters{{ url }}"><i class="fa fa-chevron-right todo"></i></a>
                    </div>
          
                </div>
            </div>
            {{ /each }}
            
        </div>      
    </div> 

</div>

{% endtplhandlebars %}
