{% load templatetag_handlebars %}
{% tplhandlebars "grade_card_content" %}

{{#if display_grade_card}}
    <div class="card clearfix">
                        
        <h3>Final Grades</h3>

        {{ #if display_grades }}
        <div class="card-badge-container clearfix">		
            <ul class="unstyled-list">
                {{ #each sections }}
                <li class="clearfix">
                    <div class="card-badge">		
		        <div class="pull-left">
		            <!--i class="fa fa-check-square c{{color_id}}Color"></i -->
			    <div class="c{{color_id}} simplesquare" aria-hidden="true"></div>
			    <span class="card-badge-inline-label">{{curriculum_abbr }}
		                {{course_number}}
				{{section_id}}</span>
		        </div>
		        <div class="pull-right">
			    <span class="card-badge-value">{{translate_grade grade }}</span>
			</div>
                    </div>
                </li>
                {{ /each }}
            </ul>
            <span style="display: block; font-style: italic; color: #595959; margin-bottom: 20px;"><strong>Note:</strong> Official grades are posted to transcript midnight on <span class="todo">GradeSubmissionDeadline</span>.</span>
	        <div class="card-badge pull-right">
	            <ul class="unstyled-list">
	                <li><a href="https://sdb.admin.washington.edu/students/uwnetid/grades.asp">View credits and GPA</a></li>
	            </ul>
	        </div>
        </div>
        {{ /if }}

	<div id="grade_card_resources" class="slide-hide" aria-hidden="true">
            <h4>Resources</h4>
	    <ul class="unstyled-list">
                <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                <li><a href="https://sdb.admin.washington.edu/students/uwnetid/unofficial.asp">Unofficial Transcript</a></li>
            </ul>
	</div>
		
        <div class="card-disclosure">
            <a id="toggle_grade_card_resources" 
               aria-controls="grade_card_resources" href="#" 
               title="Expand to show additional grade resources">SHOW MORE</a>
        </div>
        
    </div>
{{ /if }}
{% endtplhandlebars %}
