{% load templatetag_handlebars %}
    {% tplhandlebars "gradcommittee_card_content" %}

    <div aria-labeledby="graduate_committees" class="card">
        <h3>Your Committees</h3>
        <div class="card-badge-container" id="committee-reqs">
            <ul class="card-list">
                {{ #each committees}}
                    <li>
                        <h5>{{committee_type}}</h5>
                        <ol class="card-list">
                            {{ #each members}}
                            <li class="committee-member">
                                <span style="display: block">{{first_name}} {{last_name}}{{#if member_type}},
                                    {{member_type}}{{/if}}{{#if reading_type}}, reading_type:{{reading_type}}{{/if}}</span>
                                <span style="display: block">{{dept}}</span>
                                <span style="display: block"><a href="mailto:{{email}}">{{email}}</a></span>
                            </li>
                            {{/each}}
                        </ol>
                    </li>
                    {{/each}}
            </ul>
        </div>
        <div class="pull-right">
            <div class="card-badge-action">
                <a href="http://www.grad.uw.edu/mygrad/student.htm">Go to MyGrad</a>
            </div>
        </div>
        <br class="clearfix" />
    </div>
    {% endtplhandlebars %}
