{% load templatetag_handlebars %}
    {% tplhandlebars "gradstatus_card_content" %}

    <div aria-labeledby="graduate_status" class="card">
        <h3>Graduate Status</h3>

        <!-- petitions -->
        {{#if petitions }}
            <div class="card-badge-container" id="petition-reqs">
                <h4>Petition Requests</h4>

                <ul class="card_list">
                    {{ #each petitions}}
                    <li>
                        <div class="card-badge clearfix">
                            <h5>{{description}}</h5>
                            <ul class="recommendation-list">
                                {{#if dept_recommend}}
                                <li class="clearfix">
                                    <div class="pull-left">
                                        <span class="card-badge-label">Department Recommendation</span>
                                    </div>
                                    <div class="pull-right">
                                        <span class="card-badge-value">{{dept_recommend}}</span>
                                    </div>
                                </li>
                                {{/if}}

                                {{#if gradschool_decision}}
                                <li class="clearfix">
                                    <div class="pull-left">
                                        <span class="card-badge-label">Graduate School Decision</span>
                                    </div>
                                    <div class="pull-right">
                                        <span class="card-badge-value">{{gradschool_decision}}</span>
                                    </div>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        <!-- end petitions -->

        <!-- leave -->
        {{#if leaves }}
            <div class="card-badge-container" id="leave-reqs">
                <h4>Leave Requests</h4>

                <ul class="card_list">
                    {{ #each leaves}}
                    <li>
                        <div class="card-badge clearfix">
                            <h5>
                               {{#each terms}}{{#not_first @index}}, {{/not_first}}{{quarter}} {{year}}{{/each}} Leave
                            </h5>
                             <div class="pull-left">
                                <span class="card-badge-label">Status</span>
                             </div>
                             <div class="pull-right">
                                 <span class="card-badge-value">
                                 {{#not_equal status 'approved'}}
                                     <span class="{{#equal status 'approved'}}text-danger{{/equal}}">{{status}}</span>
                                 {{/not_equal}}
                                 {{#equal status 'approved'}}
                                     <a target="_blank" href="https://apps.grad.uw.edu/mgp-stu/uwnetid/default.aspx" class="pull-right">Pay Your Fee</a>
                                 {{/equal}}
                                 </span>
                             </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        <!-- end leave -->

        <!-- degrees -->
        {{#if degrees }}
            <div class="card-badge-container" id="degree-reqs">
                <h4>Degree and Exam Requests</h4>

                <ul class="card_list">
                    {{ #each degrees}}
                    <li>
                        <div class="card-badge clearfix"><!--<span class="card-badge-value">{{req_type}}</span>-->
                            <h5>{{req_type}}, {{target_award_quarter}} {{target_award_year}}</h5>
                            <div>
                                <div>{{degree_title}}</div>
                                <div class="pull-left">
                                    <span class="card-badge-label">Status</span>
                                </div>
                                <div>
                                    <span class="card-badge-value">{{status}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        <!-- end degrees -->

        <div class="pull-right">
            <div class="card-badge-action">
                <a href="http://www.grad.uw.edu/mygrad/student.htm">Go to MyGrad</a>
            </div>
        </div>
        <br class="clearfix" />
    </div>
    {% endtplhandlebars %}
