{% load templatetag_handlebars %}
{% tplhandlebars "hfs_card_content" %}
{{#if hfs_data}}

    <div class="row">
         <div class="col-xs-12">
            <div class="card">
                <div class="row">
                    <div class="col-xs-11">
                        
                        <h3>Husky Card &amp; Dining</h3>
                        <div class="row card-badge-container">
                            
                            {{#if hfs_data.student_husky_card}}
                            <div class={{#if is_only_one_card}}"col-xs-12"{{else}}"col-xs-6"{{/if}}>
                                
                                <div class="card-badge">
                                    {{#with hfs_data.student_husky_card}}
                                    <span class="card-badge-label">You have</span> 
                                    <span class="card-badge-value">${{ formatPrice balance }}</span>
                                    <span class="card-badge-label">in Student Husky</span>
                                    <span class="card-badge-note">Last transaction: {{ last_updated }}</span>
                                    {{/with}}
                                </div>
                                
                            </div>
                            {{/if}}
                            
                            {{#if hfs_data.employee_husky_card}}
                            <div class={{#if is_only_one_card}}"col-xs-12"{{else}}"col-xs-6"{{/if}}>
                                
                                <div class="card-badge">
                                    {{#with hfs_data.employee_husky_card}}
                                    <span class="card-badge-label">You have</span> 
                                    <span class="card-badge-value">${{ formatPrice balance }}</span>
                                    <span class="card-badge-label">in Employee Husky</span>
                                    <span class="card-badge-note">Last transaction: {{ last_updated }}</span>
                                    {{/with}}
                                </div>
                                
                            </div>
                            {{/if}}
                            
                            {{#if hfs_data.resident_dining}}
                            <div class={{#unless is_total_two_cards}}"col-xs-12"{{else}}"col-xs-6"{{/unless}} {{#unless is_total_two_cards}}style="margin-top:10px;"{{/unless}}>
            
                                <div class="card-badge">
                                    {{#with hfs_data.resident_dining}}
                                    <span class="card-badge-label">You have</span> 
                                    <span class="card-badge-value">${{ formatPrice balance }}</span>
                                    <span class="card-badge-label">in Resident Dining</span>
                                    <span class="card-badge-note">Last transaction: {{ last_updated }}</span>
                                    {{/with}}
                                </div>
                                
                            </div>
                            {{/if}}
                            
                        </div>
                        
                        <p><a href="{{ hfs_data.student_husky_card.add_funds_url }}">Add funds to your accounts</a></p>
                        
                     </div>
                     <div class="col-xs-1 nav-card-arrow" style="text-align:center;">
                        <a href="/mobile/category/studentandcampuslife"><i class="fa fa-chevron-right"></i></a>
                    </div>

                </div>
            </div>
         </div>
    </div>
{{/if}}
{% endtplhandlebars %}
