{% load templatetag_handlebars %}
    {% tplhandlebars "library_card_content" %}
{{#if mylibaccount}}
<div class="card medium_card row">
    <h3>My Library Account</h3>
    {{#with mylibaccount}}
    <div class="col-xs-12">
        <div class="row card-critical-alert">
            <div class="col-xs-12">
                <i class="fa fa-exclamation-circle"></i> Requested items ready: {{ holds_ready }}                                   
            </div>
        </div>

        <div class="row">
            <div class="card-badges-container col-xs-11">
                <div class="card-badge col-xs-3 col-xs-offset-1">                                
                    <span class="card-badge-label">You have</span>
                    <span class="card-badge-value">{{ items_loaned }}</span>
                    <span class="card-badge-label"><a>items out</a></span>
                </div>
                        
                <div class="card-badge col-xs-3 col-xs-offset-1">                                                   {{#if next_due }}     
                    <span class="card-badge-label">Next item due</span>
                    <span class="card-badge-value">{{ next_due }}</span>
                    <span class="card-badge-label">&nbsp;</span>
                {{else}}
                    <span class="card-badge-label">No item due</span>
                {{/if}}
                </div>
                        
                <div class="card-badge col-xs-3 col-xs-offset-1">
                    <span class="card-badge-label">Fines & Fees</span>
                    <span class="card-badge-value">${{ fines }}</span> 
                    <span class="card-badge-label"><a>Pay online</a></span>
                </div>
            </div>
        </div>
        <div class="card-related-messages row"> 
            <p><a href="http://alliance-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlBasketGet.do?vid=UW&redirectTo=myAccount">Access Your Library Account</a></p>
        </div>
    </div> 
    {{/with}}
</div>                   
{{/if}}
{% endtplhandlebars %}
