{% load templatetag_handlebars %}
    {% tplhandlebars "library_card_content" %}
    
    {{#if mylibaccount}}
    <div class="row">
    
        {{#with mylibaccount}}
        <div class="col-xs-12">
            
            <div class="card">
            
                <h3>Library Account</h3>
            
                {{#if holds_ready }}
                <div class="card-noncritical-alert" role="status">
                    <i class="fa fa-info-circle"><span class="sr-only">You have items ready!</span></i> Requested items ready: {{ holds_ready }}                                   
                </div>
                {{/if}}
        
                <div class="row card-badge-container">
                    {{#if items_loaned }}
                    <div class="col-xs-12">    
                        <div class="card-badge clearfix">     
                            <div class="pull-left">                   
                                <span class="card-badge-label">You have</span>
                                <span class="card-badge-label"><a href="http://alliance-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlBasketGet.do?vid=UW&redirectTo=myAccount">See account</a></span>
                            </div>
                            <div class="pull-right">
                                <span class="card-badge-value">{{ items_loaned }} items out</span>
                            </div>
                            
                        </div>
                        {{/if}}
                    </div>
                    
                    {{#if next_due }}        
                    <div class="col-xs-12" style="margin-top:10px;">
                        <div class="card-badge clearfix">         
                            <div class="pull-left"> 
                                <span class="card-badge-label">Next item due</span>
                                <span class="card-badge-label">in 7 days</span>
                            </div>
                            <div class="pull-right">
                                <span class="card-badge-value">{{ next_due }}</span>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                        
                    {{#if fines}}
                    <div class="col-xs-12" style="margin-top:10px;">
                        <div class="card-badge clearfix">  
                            <div class="pull-left"> 
                                <span class="card-badge-label">You owe</span>
                                <span class="card-badge-label"><a href="https://p.lib.washington.edu/payfines/">Pay fees</a></span>
                            </div>
                            <div class="pull-right">
                                <span class="card-badge-value">${{ formatPrice fines }}</span> 
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            
            </div>
            
        </div> 
        {{/with}}
        
    </div>                   
    {{/if}}

    {% endtplhandlebars %}
