{% load templatetag_handlebars %}
    {% tplhandlebars "mygrad_card_content" %}

    <div class="card"  data-name="MyGradCard" data-type="card">
        <h3>Graduate Status</h3>
            <!-- petitions --> 
            {{#if petitions }}
            <div class="card-badge-container" id="petition-reqs">
                <h4>Petition Requests</h4>

                <ul class="card_list">
                    {{ #each petitions}}
                    <li>
                        <div class="card-badge clearfix"> 
                            <h5>{{description}}</h5>
                            <ul class="recommendation-list">
                                {{#if dept_recommend}}
                                <li class="clearfix">
                                    <div class="pull-left">
                                        <span class="card-badge-label">Department Recommendation</span>
                                    </div>
                                    <div class="pull-right">
                                        <span class="card-badge-value">{{dept_recommend}}</span>
                                    </div>
                                </li>
                                {{/if}}

                                {{#if gradschool_decision}}
                                <li class="clearfix">
                                    <div class="pull-left">
                                        <span class="card-badge-label">Graduate School Decision</span>
                                    </div>
                                    <div class="pull-right">
                                        <span class="card-badge-value">{{gradschool_decision}}</span>
                                    </div>
                                </li>
                                {{/if}}
                            </ul>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            <!-- end petitions --> 

            <!-- leave --> 
            {{#if leaves }}
            <div class="card-badge-container" id="leave-reqs">
                <h4>Leave Requests</h4>

                <ul class="card_list">
                    {{ #each leaves}}
                    <li>
                        <div class="card-badge clearfix">
                            <h5>
                               {{reason}}&nbsp;<br />
                               <span class="">{{#each terms}}{{#not_first @index}}, {{/not_first}}{{quarter}} {{year}}{{/each}}</span>
                            </h5>
                            <div class="pull-left">
                                <span class="card-badge-label">Status</span>
                            </div>
                            <div class="pull-right">
                                <span class="card-badge-value {{#equal status 'approved'}}text-danger{{/equal}}">{{status}}</span>
                                {{#equal status 'approved'}}
                                    <span class="card-badge-action pull-right">
                                        <a target="_blank" href="http://www.grad.washington.edu/mygrad/" class="todo">Pay</a>
                                    </span>
                                {{/equal}}
                            </div>
                        </div>                  
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            <!-- end leave -->    
        
            <!-- degrees --> 
            {{#if degrees }}
            <div class="card-badge-container" id="degree-reqs">
                <h4>Degree and Exam Requests</h4>

                <ul class="card_list">
                    {{ #each degrees}}
                    <li>
                        <div class="card-badge clearfix"><!--<span class="card-badge-value">{{req_type}}</span>-->
                            <h5>{{degree_title}}&nbsp;<br />
                                {{target_award_quarter}} {{target_award_year}}
                            </h5>
                            <div class="pull-left">
                                <span class="card-badge-label">Status</span>
                            </div>
                            <div class="pull-right">
                                <span class="card-badge-value">{{status}}</span>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            <!-- end degrees --> 
            
            <div class="pull-right">
                <div class="card-badge-action">
                    <a href="http://www.grad.washington.edu/mygrad/student.htm">Go to MyGrad</a>
                </div>
            </div> 
<br class="clearfix" /> 
            <!-- committees --> 
            {{#if committees }}
            <div class="card-badge-container slide-hide clearfix" id="grad_committee_reqs" aria-hidden="true">
                <h4>Your Committees</h4>

                <ul class="card-list">
                    {{ #each committees}}
                    <li>
                        <h5>{{committee_type}}</h5>
                        <ol>
                            {{ #each members}}
                            <li class="committee-member">
                                <span style="display: block">{{first_name}} {{last_name}}{{#if member_type}}, {{member_type}}{{/if}}</span>
                                <span style="display: block">{{dept}}</span>
                                <span style="display: block"><a href="mailto:{{email}}">{{email}}</a></span>
                            </li>
                            {{/each}}
                        </ol>
                    </li>
                    {{/each}}
                </ul>

            </div>
            
            <div class="card-disclosure clearfix">
                <a class="slide-link" id="toggle_grad_committees" aria-controls="grad_committee_reqs" href="#" title="Expand to show Committees">Show Committees</a>
            </div>
            {{/if}}

        
    </div>

    {% endtplhandlebars %}
