{% load templatetag_handlebars %}
{% tplhandlebars "card_with_no_course" %}
    
<div class="card">
    <h3>No Registration Found</h3>
    <p>You don&rsquo;t appear to be registered for credit courses for <span>{{ term }}</span>.</p>
    <p>If you are not registered, you can <a href="../resource/academics">access some resources about registering</a>.</p>
    <p>If you think this is an error, please <a href="/cgi-bin/contactmyuw.cgi" target="_blank" title="Contact MyUW">contact MyUW</a>.</p>
</div>
    
{% endtplhandlebars %}
