{% load templatetag_handlebars %}
    {% tplhandlebars "pce_tuition_card" %}
    <div class="row">
        
        <div class="col-xs-12">
            <div class="card">
                <div class="row">
                
                    <div class="col-xs-11">
                    
                        <h3>PCE Tuition Balance</h3>
                        
                        <div class="row card-badge-container">
                                <div class="col-xs-6">
                                    
                                    <div class="card-badge">
                                        <span class="card-badge-label">You owe</span>
                                        <span class="card-badge-value">${{ pce_accbalance }}</span>
                                        <span class="card-badge-label"><a>Pay tuition</a></span>
                                    </div>
                                    
                                </div>
                                <div class="col-xs-6">
                                    
                                    <div class="card-badge">
                                        <span class="card-badge-label">Tuition due</span>
                                        <span class="card-badge-value">5/28/2014</span> <!-- this is tuition_due_date but only the actual date --> 
                                        <span class="card-badge-label">in 10 days</span><!-- var needed here. this could be removed if it's very complicated for some reason. -->
                                    </div> 
                                    
                                </div>
                        </div> 
                        
                        <div class="card-related-messages"> 
                            <p>[[If they have a PCE balance, put pce_tuition_dup here. Can we remove the italics from it?]]
                        </div>                   
                        
                    </div>              
                   
                   <div class="col-xs-1 nav-card-arrow" style="text-align:center;">
                        <a><i class="fa fa-chevron-right"></i></a>
                    </div>
       
                </div>
            </div>
       </div>
    </div>   
    
    {% endtplhandlebars %}
