{% load templatetag_handlebars %}
    {% tplhandlebars "pce_tuition_card" %}
    <div class="row card">
            <h3>PCE Tuition Balance</h3>
            <div class="col-xs-12">
                <div class="row">                    
                    <div class="col-xs-11">                    
                        <div class="row">
                            <div class="card-badges-container col-xs-12">
                                <div class="card-badge col-xs-5">
                                    <span class="card-badge-label">You owe PCE</span>
                                    <span class="card-badge-value">$[[ pce tuition balance ]]</span>
                                    <span class="card-badge-label"><a>details</a></span>
                                </div>
                                <div class="card-badge col-xs-5 col-xs-offset-2">
                                    <span class="card-badge-label">PCE tuition due</span>
                                    <span class="card-badge-value">5/28/2014</span> <!-- this is tuition_due_date but only the actual date --> 
                                    <span class="card-badge-label">in 10 days</span><!-- var needed here. this could be removed if it's very complicated for some reason. --> 
                                </div>
                            </div>
                        </div> 
                        <div class="card-related-messages row"> 
                            <div class="col-xs-12">
                                <p>[[If they have a PCE balance, put pce_tuition_dup here. Can we remove the italics from it?]]
                            </div>
                        </div>                   
                    </div> 
                <a><div class="col-xs-1 nav-card-arrow">
                    <i class="fa fa-chevron-right fa-2x"></i>
                </div></a>
            </div>              
       </div>
    </div>   
    
    {% endtplhandlebars %}
