{% load templatetag_handlebars %}
    {% tplhandlebars "reg_status_card" %}

    <div class="card"  data-name="RegistrationCard" data-type="card">
        <div class="fade-in">
        
            <h3>Registration: {{reg_next_quarter}} {{ reg_next_year }}</h3>
            
            {{ #if hold_count }}
                <div class="card-critical-alert" role="status">
                    
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="sr-only">You have registration holds!</span>
                    <a id="show_reg_holds{{#if card}}_{{card}}{{/if}}" class="reg_disclosure{{#if card}}_{{card}}{{/if}}" aria-controls="reg_holds" href="#" title="Expand to show holds information">Show {{ hold_count }} {{ pluralize hold_count "hold" "holds" }}</a>
                    <a id="hide_reg_holds{{#if card}}_{{card}}{{/if}}" class="reg_disclosure{{#if card}}_{{card}}{{/if}}" style="display: none" aria-controls="reg_holds" href="#" title="Collapse to hide holds information">Hide {{ hold_count }} {{ pluralize hold_count "hold" "holds" }}</a>

                    <div id="reg_holds{{#if card}}_{{card}}{{/if}}" class="slide-hide" aria-hidden="true" style="text-align:left;">
                        <h4 class="sr-only">Registration holds</h4>
                        <div class="reg-holds">

                            <ul class="reg-holds-list">
                                {{ #each reg_holds }}
                                 <li>{{{ notice_content }}}</li>
                                {{ /each }}
                            </ul>

                        </div>
                    </div>

                </div>
            {{ /if }}
            
            <!-- finaid notices begin -->
            {{ #if finaid_notices }}
            <div class="finaid-notices-container">
                <h4>Financial Aid</h4>
                <ul class="panel-group finaid-notices-panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {{ #each finaid_notices}}
                    <li class="panel panel-default finaid-panel-default">
                        <div class="panel-heading finaid-panel-heading" role="tab" id="Reg{{id_hash}}">
                            <span class="panel-title finaid-panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseReg{{id_hash}}" aria-expanded="true" aria-controls="collapseReg{{id_hash}}">
                                    <i class="fa fa-sort-desc" aria-hidden="true"></i> {{{short_content}}}
                                </a>
                            </span>
                        </div>
                        <div id="collapseReg{{id_hash}}" class="panel-collapse collapse finaid-panel-collapse" role="tabpanel" aria-labelledby="headingReg{{id_hash}}">
                            <div class="panel-body finaid-panel-body">
                                {{{ notice_content }}}
                            </div>
                        </div>
                    </li>
                    {{ /each }}
                </ul>
            </div>
            {{ /if }}
            <!-- finaid notices end -->



            <h4 class="sr-only">Registration Information</h4>    
            <div class="est-reg-date">
                <p>
                    {{ #each est_reg_date }}
                        {{{ notice_content }}}
                    {{ /each }}
                </p>
            </div>     
            <h4 class="sr-only">Registration Resources</h4>
			<div class="pull-right">
	            <ul class="reg-resources-list">
	                {{ #if is_tacoma }}
	                    <li><a href="http://www.washington.edu/students/timeschd/T/">Browse time schedule</a></li>
	                    <li><a href="http://www.tacoma.washington.edu/enrollment_apps/timeschedule/search.cfm">Tacoma Time Schedule Quick Search</a></li>
	                {{ /if }}
	                {{ #if is_bothell }}
	                    <li><a href="http://www.uwb.edu/registration/time">Browse time schedule</a></li>
	                {{ /if }}
	                {{ #if is_seattle }}
	                    <li><a href="http://www.washington.edu/students/timeschd/">Browse time schedule</a></li>
	                {{ /if }}
	            </ul>
			</div>			
			
			<!-- CHARLON: not sure why a clearfix wasn't working on the DIV below, but the inline style was... -->                                                                                                
            <div id="reg_resources{{#if card}}_{{card}}{{/if}}" class="slide-hide" style="clear:both;" aria-hidden="true">
                
               <!-- {{ #if reg_notices }}
                <h4 class="">Notices</h4>
                <ul class="reg-notice-list">
                  {{ #each reg_notices }}
                      <li>
                        {{{ notice_content }}}
                      </li>
                  {{ /each }}
                </ul>
                {{/if}} -->
                <h4>Resources</h4>
                <ul class="reg-resources-list">
					<li><a href="https://sdb.admin.uw.edu/students/uwnetid/register.asp">Registration</a></li>
                    <li><a href="http://myplan.uw.edu">MyPlan</a> (Academic Planning)</li>
                    <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                </ul>
                <!-- data from MyPlan -->
                <div style="display: none;">
                    {{ #each plan_data }}
                    {{ curriculum_abbr }} {{ course_number }} - {{ #if registrations_available }} Available{{/if}}
                    <br/>
                    {{ #each sections }}
                    Section {{ section_id }}<br />
                    {{ /each }}
                    {{ /each }}
                </div>
            </div>
            
            <div class="card-disclosure">
                <a id="show_reg_resources{{# if card }}_{{card}}{{/if}}" aria-controls="reg_resources" href="#" title="Expand to show additional registration resources">Show more</a>
            </div>
        
        </div>
    </div>


    {% endtplhandlebars %}
