{% load templatetag_handlebars %}
{% tplhandlebars "textbook_card" %}
<div class="row ">
    <div class="col-xs-12">
        <div class="card">
            
            <div class="fade-in" style="position:relative;">
                
                <a class="textbook-card" href='{{page_url}}' style='{{ #if no_books }}height:90px;{{ else }}height:160px;{{ /if }}'>
                    <h3>Textbooks <span style="font-size:16px; display:block; text-transform:uppercase;">{{ term }}</span></h3>
                
                    <div style="position:absolute; top: 55px; width: 93%;">
                
                        {{ #if no_books }}
                        <p class="text-muted">No textbooks for this term</p>
                        {{ else }}
                        <ul class="unstyled-list">
                            {{ #each sections }}
                            <li>{{ course_id }}: {{ required }} required, {{ optional }} optional</li>
                            {{ /each }}
                        </ul>
                        {{ /if }}
                    </div>
                
                    <div style="position:absolute; top: 50%; right: 0; margin-top:-14px;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        </div>
   </div>      
</div> 
{% endtplhandlebars %}
