{% load templatetag_handlebars %}
{% tplhandlebars "textbook_card" %}
{{#if registered}}
<div class="card">
    <div class="fade-in">
                        
        <h3>Textbooks <!--<span class="shortTitle">{{termNoYear term}}</span>--></h3>
    
        {{ #if no_books }}
            <p class="text-muted">No textbooks for this term</p>
        {{ else }}
            <ul class="unstyled-list">
                {{ #each sections }}
                <li>{{ course_id }}: {{ required }} required, {{ optional }} optional</li>
                {{ /each }}
            </ul>
        {{ /if }}
        
        {{#unless no_books}}
        <div class="destination-arrow">
            <a class="show_textbooks" href="/mobile/textbooks/{{term}}" title="View textbooks"><i class="fa fa-chevron-right"></i></a
        </div>
        {{/unless}}
        
    </div>
</div>
{{ /if }}
{% endtplhandlebars %}
