{% load templatetag_handlebars %}
    {% tplhandlebars "tuition_card" %}
    <div class="card medium_card">
        <h3>Account Balances</h3>
        <div>
          {{#with balances}}
            <p>
              Tuition Account Balance: ${{ tuition_accbalance }}
            </p>
            <p>
              UW Professional & Continuing Education fees: ${{ pce_accbalance }}
            </p>
          {{/with}}
        </div>

        <ul class="fina-notice-list">
          {{ #each fina_notices }}
              <li>
                {{{ notice_content }}}
              </li>
          {{ /each }}
        </ul>

    </div>
    {% endtplhandlebars %}
