{% load templatetag_handlebars %}
    {% tplhandlebars "tuition_card" %}
    <div class="row card">
        
        <div class="col-xs-11">
            
            <h3>Tuition Balance</h3>
                     
            <!-- if tuition due date has passed and balance is greater than 0 --> 
            <div class="card-critical-alert">
                    <i class="fa fa-exclamation-circle"></i> Your tuition is past due. <a>Show details</a><!-- this should expand the div with the message tagged tuition_card_past_due in it --> 
            </div>
            <!-- end if --> 
            <div class="row">
                <div class="card-badges-container col-xs-12">
                    <div class="card-badge col-xs-5">
                        <span class="card-badge-label">You owe</span>
                            <span class="card-badge-value">${{ tuition_accbalance }}</span>
                        <span class="card-badge-label"><a>details</a></span>
                    </div>
                    <div class="card-badge col-xs-5 col-xs-offset-2">
                        <span class="card-badge-label">Tuition due</span>
                        <span class="card-badge-value"> {{ tuition_date }}</span> <!-- this is tuition_due_date but only the actual date -->
                        <span class="card-badge-label">in {{ tuition_date_offset }} days</span><!-- var needed here. this could be removed if it's very complicated for some reason. -->
                    </div>
                </div>
            </div>
            
            <div class="card-related-messages"> 
               <div class="col-xs-12">
                    {{ #each pce_tuition_dup }}
                    <p> {{{ this.notice_content }}}</p>
                    {{ /each }}
                    <p><a>Learn how to pay tuition</a> or <a>set up third-party access</a> for parents or others.</p>
                    <p>[[ this is some combination of tuition_card_webcheck, tuition_card_3rdparty, and tuition_card_pay depending on whether we can have logic on those]]
                    <p><a>Get your 1098-T tax form</a></p><!-- this message doesn't exist yet, but Ammy said it should be here --> 
                </div>
            </div>                   
                     
       </div>
       
       <div class="col-xs-1 nav-card-arrow" style="text-align:center;">
            <a><i class="fa fa-chevron-right fa-2x"></i></a>
        </div>
            
    </div>   
    
    {% endtplhandlebars %}
