{% load templatetag_handlebars %}
{% tplhandlebars "visual_schedule_card_content" %}
{{#if total_sections}}
<div class="row">
    <div class="col-xs-12">
        <div class="card">
        
            <h3 id="quarter-info">
                {{ucfirst quarter}} {{year}} Courses
                {{#if summer_term}}
                <br /><small>{{summer_term}}</small>
                {{/if}}
            </h3>
    
            <!-- week view -->
            <div class="visual-schedule {{schedule_hours_class}}" >
    		
        	    <div class="time-bar day-col2 hours-{{total_hours}} clearfix ">
        		
        	        {{#each display_hours}}
        	        <div class="hour-label" style="position:absolute;top:{{time_percentage position ../start_time ../end_time }}%;"><p>{{format_schedule_hour hour}}</p>
        	        </div>
        	        {{/each}}
        	    </div>
        
        	    <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
        	        <div class="day-label">MON</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings monday start_time end_time }}
        	        </div>
        	    </div>
        	
        	    <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
        	        <div class="day-label">TUE</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings tuesday start_time end_time }}
        	        </div>
        	    </div>
        	       
        	    <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
        	        <div class="day-label">WED</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings wednesday start_time end_time }}
        	        </div>
        	    </div>
        	
        	    <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
        	        <div class="day-label">THU</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings thursday start_time end_time }}
        	        </div>
        	    </div>
        	
        	    <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
        	        <div class="day-label">FRI</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings friday start_time end_time }}
        	        </div>
        	    </div>
        	
        	    {{#if has_6_days}}
        	    <div class="six-day">
        	        <div class="day-label">SAT</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings saturday start_time end_time }}
        	        </div>
        	    </div>
        	    {{/if}}
                   
            </div>
            <!-- end week view -->
            
            <!-- MOCK UP: explores today view of student schedule. This is not dynamic yet, it just displays the first day of the week -->
            <div id="today_schedule" class="visual-schedule {{schedule_hours_class}} hide" style="margin-top:2em; height:55em;">
    		
        	    <div class="time-bar day-col2 hours-{{total_hours}} clearfix" style="width:20%;background: transparent; border: none;">
        		
        	        {{#each display_hours}}
        	        <div class="hour-label" style="position:absolute;top:{{time_percentage position ../start_time ../end_time }}%; border-top: solid 1px grey; margin-top:0;">
        	            <div style="margin-top:-10px;"><span style="background:#efefef; display:inline-block; padding: 0px; width: 20px; height: 20px; line-height:20px; font-size:80%;">{{format_schedule_hour hour}}</span></div>
        	        </div>
        	        {{/each}}
        	    </div>
        
        	    <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}} style="width:80%;">
        	        <div class="day-label todo" style="line-height:54px; background: transparent; border:none; margin-left:-10%; font-weight:bold;">TODAY - Friday blah blah</div>
        	        <div class="day-col hours-{{total_hours}}">
        	            {{ show_days_meetings monday start_time end_time }}
        	        </div>
        	    </div>
        	
            </div>
            <!-- end testing stuff -->
            
            
            <!-- begin - if there are meetings with times to be arranged -->  
            {{#if courses_meeting_tbd }}
            <div class="courseTBD">
                <h6>Courses with meeting times to be determined:</h6>
                {{#each courses_meeting_tbd }} 
        	    <div class="c{{color_id}} visual-course pull-left"> 
        	        <div class="visual-course-id">{{curriculum}} {{course_number}}{{section_id}}</div> 
        	    </div> 
                {{/each}}
            </div>
            {{/if}}
            <!-- end - if there are meetings with times to be arranged --> 
            
            <div>
                <p><a class="show_textbooks" href="/mobile/textbooks/{{term}}" title="Textbooks"><i class="icon-book"></i> View Textbooks</a></p>
                <p><a class="show_finalexams" href="/mobile/final_exams/{{term}}" title="Final Exam Schedule"><i class="icon-calendar"></i> Final Exam Schedule</a></p>
                <p style="display:none;"><a href="#" id="show_today_schedule" title="Today's Schedule"><i class="icon-calendar"></i> Today's Schedule</a></p>
            </div>
        
        </div>
    </div>
</div>

{{/if}}
{% endtplhandlebars %}



{% tplhandlebars "visual_schedule_day" %}
{{#each meetings}}
    {{#unless is_meeting}}
        <div style="position:absolute; border-top:1px {{#if start_at_hr}}solid{{else}}dashed{{/if}} grey; top:{{top}}%; height:{{height}}%; width:100%">
        </div>
    {{else}}
        <div class="c{{color_id}}" style="z-index: 1; position: absolute; top:{{top}}%; height:{{height}}%; width:100%">
	        <div class="visual-course-id">{{curriculum}} {{course_number}}{{section_id}}</div>
        </div>
        <div class="visual-course" style="z-index: 1; position: absolute; top:{{top}}%; height:{{height}}%;">
		    <div class="visual-info">
		        <div class="visual-location">
		        {{#if building_tbd}}
		            Room TBD
		        {{else}}
		            {{#if latitude}}
		            <a href="http://maps.google.com/maps?q={{ latitude }},{{ longitude }}+({{encodeForMaps building_name }})&z=18" target="_blank" class="show_map" rel="{{building_name}}">
		            {{/if}}
		            {{building}} {{room}}
		            {{#if latitude}}</a>{{/if}}
		        {{/if}}
		        </div>
		    </div>
        </div>
    {{/unless}}
{{/each}}

{% endtplhandlebars %}

