{% extends 'base-err.html' %}
{% block body_content %}
    {% include "_common/top.html" %}
    <!-- content container -->
    <div id="app_content" role="main" aria-labelledby="myuw-500-error">
        <div class="container">
            <div>
                <h1 id="myuw-500-error">Issue with Your UWNetID</h1>
                <p>
                    MyUW encountered a problem with your uwnetid, please contact the
                    <a href="https://itconnect.uw.edu/it-connect-home/question/"
                    >UW-IT Service Center</a>.
                </p>
                {% include "_common/direct-links.html" %}
            </div>
        </div>
    </div>
    {% include "_common/footer.html" %}
{% endblock body_content %}
