{% extends 'base-err.html' %}
{% block page_title %}Error 403{% endblock page_title %}
{% block body_content %}
<!-- content container below -->
<h1 class="h3 my-4">User Not Found - Error 403</h1>
  <p>A user error has occurred. Please try again in five minutes.</p>
  <p>
  Contact
    <a href="mailto:help@uw.edu?subject=MyUW%20User%20Not%20Found%20-%20Error%20403&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20">help@uw.edu</a>
  if the issue does not resolve.
  <p>Possible reasons for this error:</p>
    <ul>
        <li>New NetID or Restored NetIDs: the system needs a few minutes to update before these can be used to sign in.</li>
        <li>The system for NetIDs (Personal Web Services - PWS) is down and will be restored shortly.</li>
    </ul>
  </p>
{% include "_common/direct-links.html" %} {% endblock body_content %}


