{% extends 'base-err.html' %}
{% block page_title %}Error 404{% endblock page_title %}
{% block body_content %}
<!-- content container -->
<h1 class="h3 my-4">Page Not Found - Error 404</h1>
  <p>This page cannot be found. Please make sure the page URL is correct, or visit
    <a href="https://my.uw.edu/"> MyUW home.</a></p>
  <p>
  Contact
  <a href="mailto:help@uw.edu?subject=MyUW%20Page%20Not%20Found%20-%20404&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20">help@uw.edu</a>
  with any questions.
  </p>
{% include "_common/direct-links.html" %} {% endblock body_content %}



