{% extends is_hybrid|yesno:"base_hybrid.html,base.html" %}
{% load static %}
{% load compress %}

{% block title %}404 Error{% endblock title %}

{% block content %}
    {% include "handlebars/loading.html" %}

    <div class="container error-container" role="main" aria-labelledby="myuw-404-error">
        <div class="card">
            <h1 id="myuw-404-error">Page Not Found</h1>
            <p>This page was not found or no longer exists. If you think this is an error, check the URL and try again. </p>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    {% compress js inline %}
    <script src="{% static 'js/page/page_not_found.js' %}"></script>
    {% endcompress %}
{% endblock %}
