{% extends 'base-err.html' %}
{% block page_title %}Error 500{% endblock page_title %}
{% block body_content %}
<!-- content container -->
<h1 class="h3 my-4">Unable to Load Page - Error 500</h1>
  <p>A server error has occured. You don't have permission to access this page.</p>
  <p>
   Contact
  <a href="mailto:help@uw.edu?subject=MyUW%20Unable%20to%20Load%20Page%20-%20Error%20500&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20">help@uw.edu</a>
   with any questions.
  </p>
{% include "_common/direct-links.html" %} {% endblock body_content %}
