{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}
{% load set_context %}

{% block django_json_data %}
    {{ card_display_dates|json_script:'card_display_dates' }}
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}">

  <!--MARK: #primary template (column 1, mobile only) -->
  <template #primary>
    <b-col md="8" :class="[$mq === 'mobile' ? 'px-0' : '']">
      <!--MARK: card components go here in order -->
      <myuw-outage></myuw-outage>
      <myuw-grades></myuw-grades>
      <myuw-all-courses></myuw-all-courses>
      <myuw-visual-schedule></myuw-visual-schedule>
      <myuw-textbooks term="{{ term|default:"current" }}"></myuw-textbooks>
      <myuw-grad-status></myuw-grad-status>
      <myuw-grad-committee></myuw-grad-committee>
      <myuw-future-quarter-cards highlighted></myuw-future-quarter-cards>
      <myuw-future-quarter-cards></myuw-future-quarter-cards>

    </b-col>
  </template>
  <!-- MARK: #secondary template (column 2, table/desktop) -->
  <template #secondary>
    <b-col md="4">
      <!--MARK: card components go here in order -->
      right content
      <!-- <myuw-sidebar-links></myuw-sidebar-links> -->
    </b-col>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'academics' %}
{% endblock vue_script %}
