{% extends "base.html" %}
{% block content %}
   {% load static %}

    <div id="main-content" role="main" aria-labelledby="main"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/profile.html" %}
    {% include "handlebars/banner/notice.html" %}

    <!-- page content templates -->
    {% include "handlebars/loading.html" %}
    {% include "handlebars/academic_calendar.html" %}

    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/page/academic_calendar.js' %}"></script>
{% endblock %}
