{% extends 'base.html' %}

{% load settings_value %}
{% load set_context %}

{% block django_json_data %}
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value 'LOGOUT_URL' %}" is-hybrid="{{ user.isHybrid }}">
  <template #mobile>
    <div class="col-md-12 px-0">
      <myuw-tuition-fees></myuw-tuition-fees>
      <myuw-medicine-account></myuw-medicine-account>
      <myuw-hfs-sea></myuw-hfs-sea>
      <myuw-husky></myuw-husky>
      <myuw-hr-payroll></myuw-hr-payroll>
      <myuw-library></myuw-library>
      <myuw-upass></myuw-upass>
      <myuw-uwnetid></myuw-uwnetid>
    </div>
  </template>
  <template #desktop>
    <div class="col-md-12">
      <!-- MARK: use card group to create 2 column auto layout -->
      <b-card-group columns class="myuw-column-count-2">
        <myuw-tuition-fees></myuw-tuition-fees>
        <myuw-medicine-account></myuw-medicine-account>
        <myuw-hfs-sea></myuw-hfs-sea>
        <myuw-husky></myuw-husky>
        <myuw-hr-payroll></myuw-hr-payroll>
        <myuw-library></myuw-library>
        <myuw-upass></myuw-upass>
        <myuw-uwnetid></myuw-uwnetid>
      </b-card-group>
    </div>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load webpack_bridge %}
{% render_webpack_entry 'accounts' js='defer' %}
{% endblock vue_script %}