{% load hashing_tag %}
{% load myuw_sidebar %}
<!DOCTYPE html>
<html lang="en">
    <head>

        {% block load_values %}{% endblock %}
        <meta charset="utf-8">
        <title>MyUW: {{ page_title|default:'MyUW'}}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load compress %}
        {% load static %}

        {% compress css %}
        <!-- styles -->
        <link href="{% static 'vendor/css/bootstrap-3.3.5.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/css/font-awesome-4.6.3.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/css/user-fonts.css' %}" rel="stylesheet">
        <link href="{% static 'css/mobile.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/desktop.less' %}" rel="stylesheet" type="text/less"/>
        {% endcompress %}

        {% compress css %}
        <!-- new myuw styles -->
        <link href="{% static 'css/typography.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/course_card.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/boilerplate.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/tabs.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/dropmenus.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/ratings.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/cards.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/components.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/photo_list.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/textbooks.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/huskyx.less' %}" rel="stylesheet" type="text/less">
        {% endcompress %}

       <!-- google fonts -->
       <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
       <link href='//fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>

       <!-- favicon -->
       <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

       <!-- ios icons -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'images/apple-touch-icon-180x180-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

        <!-- android icons -->
        <link rel="shortcut icon" sizes="196x196" href="{% static 'images/android-196x196.png' %}">

        {% load templatetag_handlebars %}
    </head>

    <body>
        {% csrf_token %}

        {% block header %}
        <div id="app_search" class="myuw-search collapse">
            <div class="myuw-wrapper">
                <form action="/search" method="get" class="uw-search">
                    <label class="sr-only" for="search-nav">Search for:</label>
                    <input id="search-nav" name="q" type="text" placeholder="Search for:">
                    <button type="submit" value="Search" style="background-image: url({% static 'images/search.svg' %});">Search</button>
                </form>
            </div>
        </div>

        <div role="banner" aria-labelledby="myuw-banner-label">
            <h1 class="sr-only" id="myuw-banner-label">MyUW</h1>
            <div class="myuw-thin-bar">
                <div class="myuw-wrapper">

                    <div class="myuw-netid">
                        <a href="/profile/"><i class="icon-user icon-user-female" aria-hidden="true"></i><span>{{ user.netid }}</span></a>
                    </div>

                    <div class="myuw-search-links">

                        {% if user.email_forward_url %}
                            <a href="{{ user.email_forward_url }}" target="_blank" title="Open {{ user.email_forward_title }} in new tab"><i class="fa {{ user.email_forward_icon }}" aria-hidden="true">&nbsp;</i><span>{{ user.email_forward_title }}</span></a>
                        {% endif %}

                        <button id="search_toggle" role=”search” aria-controls="app_search" aria-expanded="false" aria-haspopup="true" aria-label="Open search area" data-toggle="collapse" data-target="#app_search"><i class="fa fa-search fa-flip-horizontal"></i> <span>Search</span></button>

                        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 15px;"></i> <span>Sign Out</span></a>

                    </div>

                </div>
            </div>
            {% endblock %}

            {% block mobile_navigation %}
            <div class="myuw-navigation">
                <div class="myuw-wrapper" style="background-image: url({% static 'images/w-logo-white.png' %})">
                    <div class="myuw-title"><a href="/" aria-label="MyUW Home">MyUW</a></div>
                    <div id="menu_toggle_wrapper" class="myuw-title-button">
                        <button id="menu_toggle" aria-controls="main_menu" aria-haspopup="true" aria-expanded="false">
                            <span class="fa-stack fa-md" aria-hidden="true">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-bars fa-stack-1x"></i>
                            </span>
                            <span class="sr-only">Main Menu</span>
                        </button>
                        <h2>{% if page_title == "Home" %}MyUW<span class="sr-only"> Home</span>{% else %}{{page_title}}{% endif %}</h2>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

        {% block desktop_banner %}
        <!-- message banner (desktop only) -->
        <div class="myuw-banner-desktop app-messages" id="app_messages_desktop" aria-labelledby="app_messages_desktop_label" role="complementary">
            <div class="message-banner">
                {% if banner_messages %}
                <h2 class="sr-only" id="app_messages_desktop_label">MyUW Announcements</h2>
                <div id="message_banner_location">
                    <div id="messages" class="advert message-text">
                        {% for message in banner_messages %}
                        <p>{{ message.message_body|safe }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
           </div>
        </div>
        <!-- end message banner -->
        {% endblock %}

        <div class="myuw-body">
            <div class="myuw-wrapper">

                <!-- app_navigation -->
                {% block app_navigation %}
                <div class="myuw-nav-col">
                    <div id="menu_container" class="myuw-menu" role="navigation">
                        <ul id="main_menu" role="menubar" aria-orientation="vertical" aria-labelledby="menu_toggle">

                            {% load myuw_sidebar %}
                            {% add_sidebar_context %}
                            <li role="none"><a {% if is_myuw_home %}class="active"{% endif %} href="/" role="menuitem"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>

                            {% if user.affiliations.student %}
                            <li role="none"><a {% if is_myuw_academics_page %}class="active"{% endif %} href="/academics/" role="menuitem"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academics</a></li>
                            {% endif %}
                            {% if user.affiliations.hxt_viewer %}
                            <li role="none"><a {% if is_myuw_husky_experience_page %}class="active"{% endif %}href="/husky_experience/"><i class="fa fa-paw" aria-hidden="true"></i>Husky Experience</a></li>
                            {% endif %}


                            {% if instructor_schedule_enabled %}
                              {% if user.affiliations.instructor %}
                            <li role="none"><a {% if is_myuw_teaching_page %}class="active"{% endif %} href="/teaching/" role="menuitem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Teaching</a></li>
                             {% endif %}
                            {% endif %}

                            <li role="none"><a {% if is_myuw_academic_calendar_page %}class="active"{% endif %} href="/academic_calendar/" role="menuitem"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Calendar</a></li>
                            <li role="none"><a {% if is_myuw_accounts_page  %}class="active"{% endif %} href="/accounts/" role="menuitem"><i class="fa fa-credit-card" aria-hidden="true"></i>Accounts</a></li>
                            {% if user.affiliations.student %}
                            <li role="none"><a {% if is_myuw_notices_page %}class="active"{% endif %} href="/notices/" role="menuitem"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Notices</a></li>
                            {% endif %}
                            <li role="none"><a {% if is_myuw_profile_page %}class="active"{% endif %} href="/profile/" role="menuitem"><i class="icon-user icon-user-female" aria-hidden="true" style="font-size:14px;"></i>Profile</a></li>

                        </ul>

                    </div>

                    {% if user.affiliations.applicant is False %}
                    <div class="myuw-welcome" role="complementary">
                        <h2>Welcome!</h2>
                        <ul class="unstyled-list myuw-muted">
                            <li><a id="welcome_modal_link" href="#" class="js-modal-toggle" data-toggle="modal" data-target="#message_modal">About the new MyUW</a></li>
                            <li><a id="optout_link" href="#" data-toggle="modal" data-target="#optout_modal">Switch back to the old MyUW</a></li>
                        </ul>
                    </div>
                    {% endif %}

                </div>
                {% endblock %}
                <!-- end app_navigation -->



                {% block mobile_banner %}
                <!-- message banner (mobile only) -->
                <div class="myuw-banner-mobile app-messages" id="app_messages_mobile" role="complementary" aria-labelledby="app_messages_mobile_label">
                    <div class="message-banner">
                        {% if banner_messages %}
                        <h2 class="sr-only" id="app_messages_mobile_label">MyUW Announcements</h2>
                        <div id="message_banner_location">
                            <div id="messages" class="advert message-text">
                                {% for message in banner_messages %}
                                <p>{{ message.message_body|safe }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                   </div>
                </div>
                <!-- end message banner -->
                {% endblock %}

                <div class="myuw-content">
                    <!-- app_content -->
                    <div id="app_content">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- end app_content -->
                </div>

            </div>
        </div>

        <!-- footer -->
        {% block footer %}
        <div id="app_footer">
	        {% if user.affiliations.student %}
            <div class="myuw-wrapper navigation-bar" role="navigation" aria-labelledby="categories">
                <h2 id="categories" class="sr-only">Categorized Resources</h2>
                <ul class="clearfix navigation-list">
                    <li class="pull-left">
                        <a href="/resource/academics" class="navigation-item hover"><span class="navigation-item-text">Academics</span>
                            <div class="subcategories">Registration, Advising, Grades&#8230;</div></a>
                    </li>
                    <li class="pull-left">
                        <a href="/resource/finances" class="navigation-item hover"><span class="navigation-item-text">Finances</span>
                            <div class="subcategories">Financial Aid, Taxes, Tuition&#8230;</div></a>
                    </li>
                    <li class="pull-left">
                        <a href="/resource/studentcampuslife" class="navigation-item hover"><span class="navigation-item-text">Student &amp; Campus Life</span>
                            <div class="subcategories">Housing & Dining, Wellness, Transportation&#8230;</div></a>
                    </li>
                    <li class="pull-left">
                        <a href="/resource/eventsactivities" class="navigation-item hover"><span class="navigation-item-text">Events &amp; Activities</span>
                            <div class="subcategories">Campus Events, News, Social Media&#8230;</div></a>
                    </li>
                    <li class="pull-left">
                        <a href="/resource/toolssoftware" class="navigation-item hover"><span class="navigation-item-text">Tools &amp; Software</span>
                            <div class="subcategories">Learning Tools, Email, Directory&#8230;</div></a>
                    </li>
                    <li class="pull-left">
                        <a href="/resource/employment" class="navigation-item hover"><span class="navigation-item-text">Employment</span>
                            <div class="subcategories">Career Center, Husky Jobs, Workday&#8230;</div></a>
                    </li>
                </ul>
            </div>
			{% endif %}
            <div class="footer-bar" role="contentinfo">
                <div class="myuw-wrapper footer-links" style="position:relative;">
                    <ul class="footer-links-list">
                        <li class="footer-links-list-item"><a href="//myuw.washington.edu/cgi-bin/contactmyuw.cgi"><i class="fa fa-envelope" role="presentation"></i> Contact</a></li>
                        <li class="footer-links-list-item"><a href="//www.washington.edu/online/terms/">Terms</a></li>
                        <li class="footer-links-list-item"><a href="//www.washington.edu/online/privacy/">Privacy</a></li>
                        <li class="footer-links-list-item visible-xs-inline-block visible-sm-inline-block"><a href="/logout">Sign Out</a></li>
                        <li class="footer-links-list-item visible-xs-inline-block visible-sm-inline-block"><a href="#" data-toggle="modal" data-target="#optout_modal">Switch back to the old MyUW</a></li>
                   </ul>
                    <div style="clear:both;">&copy; {% now "Y" %} University of Washington</div>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- /footer -->

        <!-- dev bar -->

        <!-- do not compress - lack of trailing semicolons breaks concatenation -->
        <script src="{% static 'vendor/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'vendor/js/bootstrap-3.3.7.min.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.cookie-1.4.1.min.js' %}"></script>
        <script src="{% static 'vendor/js/ios-orientationchange-fix.min.js' %}"></script>
        <script src="{% static 'vendor/js/handlebars-v4.0.5.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.history-1.8.0.min.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.ba-dotimeout-1.0.js' %}"></script>
        <script src="{% static 'vendor/js/moment.2.18.1.min.js' %}"></script>
        <script src="{% static 'vendor/js/moment-timezone-2010-2020v0.3.0.min.js' %}"></script>

        {% compress js %}
        <!-- app files -->
        <script src="{% static 'vendor/js/date.js' %}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/ws_data.js' %}"></script>
        <script src="{% static 'js/myuw_log.js' %}"></script>
        <script src="{% static 'js/panel/addi_course_links.js' %}"></script>
        <script src="{% static 'js/panel/no_courses.js' %}"></script>
        <script src="{% static 'js/course_list.js' %}"></script>
        <script src="{% static 'js/content_err.js' %}"></script>
        <script src="{% static 'js/error410.js' %}"></script>
        <script src="{% static 'js/visual_schedule.js' %}"></script>
        <script src="{% static 'js/textbooks.js' %}"></script>
        <script src="{% static 'js/grades.js' %}"></script>
        <script src="{% static 'js/other_quarters.js' %}"></script>
        <script src="{% static 'js/myuw_m.js' %}"></script>
        <script src="{% static 'js/handlebars-helpers.js' %}"></script>
        <script src="{% static 'vendor/js/uw-alert.js' %}"></script>
        <script src="{% static 'js/libraries.js' %}"></script>
        <script src="{% static 'js/notices.js' %}"></script>
        <script src="{% static 'js/academics.js' %}"></script>
        <script src="{% static 'js/accounts.js' %}"></script>
        <script src="{% static 'js/calendar.js' %}"></script>
        <script src="{% static 'js/landing.js' %}"></script>
        <script src="{% static 'js/teaching.js' %}"></script>
        <script src="{% static 'js/husky_experience.js' %}"></script>
        <script src="{% static 'js/profile.js' %}"></script>
        <script src="{% static 'js/teaching_section.js' %}"></script>
        <script src="{% static 'js/category.js' %}"></script>
        <script src="{% static 'js/cards.js' %}"></script>
        <script src="{% static 'js/future.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/thrive.js' %}"></script>
        <script src="{% static 'js/banner/email.js' %}"></script>
        <script src="{% static 'js/banner/notice.js' %}"></script>
        <script src="{% static 'js/card/error.js' %}"></script>
        <script src="{% static 'js/card/grade.js' %}"></script>
        <script src="{% static 'js/card/fin_aid.js' %}"></script>
        <script src="{% static 'js/card/no_course.js' %}"></script>
        <script src="{% static 'js/card/library_mini.js' %}"></script>
        <script src="{% static 'js/card/grad_status.js' %}"></script>
        <script src="{% static 'js/card/grad_committee.js' %}"></script>
        <script src="{% static 'js/card/loading.js' %}"></script>
        <script src="{% static 'js/card/reg_status.js' %}"></script>
        <script src="{% static 'js/card/summer_reg_status.js' %}"></script>
        <script src="{% static 'js/card/textbook.js' %}"></script>
        <script src="{% static 'js/card/future_quarter.js' %}"></script>
        <script src="{% static 'js/card/thrive.js' %}"></script>
        <script src="{% static 'js/card/outage.js' %}"></script>
        <script src="{% static 'js/card/husky_experience.js' %}"></script>
        <script src="{% static 'js/card/sidebar_links.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_sche_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_resource_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/instructor_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/load_evals.js' %}"></script>
        <script src="{% static 'js/card/schedule/eval_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_card_content.js' %}"></script>
        <script src="{% static 'js/card/schedule/load_course_cards.js' %}"></script>
        <script src="{% static 'js/card/schedule/visual.js' %}"></script>
        <script src="{% static 'js/card/schedule/final_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/sp_final.js' %}"></script>
        <script src="{% static 'js/card/schedule/prev_course_cards.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/load_course_cards.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/load_section_card.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_card_content.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_sche_panel.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_resource_panel.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/mailman/request_email_lists.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/mailman/view_email_lists.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_critical_info.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_summer_efs.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_thank_you.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_to_register.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_international_stu.js' %}"></script>
        <script src="{% static 'js/card/summary/accounts.js' %}"></script>
        <script src="{% static 'js/card/summary/schedule.js' %}"></script>
        <script src="{% static 'js/card/summary/future_schedule.js' %}"></script>
        <script src="{% static 'js/teaching/class_list.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}

        {% if not has_less_compiled %}
        <!-- less js -->
        <script src="{% static 'vendor/js/less-2.7.2.min.js' %}" type="text/javascript"></script>
        {% endif %}

        {% if has_google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ GOOGLE_ANALYTICS_KEY }}', { 'userId': '{% hash_netid user.netid %}' });
          ga('send', 'pageview');
        </script>
        {% endif %}
        {% include 'logger.html' %}


        <!-- Opt-out Modal -->
        <div id="optout_page-modal"></div>
        <div class="myuw-modal modal fade" id="optout_modal" tabindex="-1" role="dialog" aria-labelledby="optout_modal_label" aria-describedby="optout_modal_description" aria-hidden="true" aria-modal="true">
            <div class="modal-dialog message-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="optout_modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="optout_modal_label">Switch to the Old Version of MyUW</h3>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top:10px; margin-bottom:30px;">
                            <p id="optout_modal_description">Use the old version of MyUW as your default destination the next time you sign in.</p>

                            <a href="/choose/legacy" class="btn btn-primary" title="Go to the old version of MyUW">Use the old version of MyUW</a> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>

                        <div>
                            <h4>Before you leave, share your feedback</h4>

                            <p>We want to make MyUW work better for you. <a href="//myuw.washington.edu/cgi-bin/contactmyuw.cgi" target="_blank">Tell us why you're switching back.</a></p>
                            <div class="myuw-ratings" style="text-align: center;">
                                <div id="leave-feedback-div-onpop" class="myuw-ratings-control"><!-- hide after rating is given -->
                                    <ol class="myuw-ratings-options">
                                        <li><a class="opt-out-rate-myuw" data-rating="1-star" href="" title="Rate MyUW 1 of 5 stars"><i class="fa fa-star-o" aria-hidden="true"></i><span class="sr-only">Rate MyUW 1 of 5 stars</span></a></li>
                                        <li><a class="opt-out-rate-myuw" data-rating="2-star" href="" title="Rate MyUW 2 of 5 stars"><i class="fa fa-star-o" aria-hidden="true"></i><span class="sr-only">Rate MyUW 2 of 5 stars</span></a></li>
                                        <li><a class="opt-out-rate-myuw" data-rating="3-star" href="" title="Rate MyUW 3 of 5 stars"><i class="fa fa-star-o" aria-hidden="true"></i><span class="sr-only">Rate MyUW 3 of 5 stars</span></a></li>
                                        <li><a class="opt-out-rate-myuw" data-rating="4-star" href="" title="Rate MyUW 4 of 5 stars"><i class="fa fa-star-o" aria-hidden="true"></i><span class="sr-only">Rate MyUW 4 of 5 stars</span></a></li>
                                        <li><a class="opt-out-rate-myuw" data-rating="5-star" href="" title="Rate MyUW 5 of 5 stars"><i class="fa fa-star-o" aria-hidden="true"></i><span class="sr-only">Rate MyUW 5 of 5 stars</span></a></li>
                                    </ol>
                                    <div class="myuw-ratings-instructions">Rate the new MyUW</div>
                                </div>
                            </div>
                        </div>  <!-- end leave-feedback-div -->

                        <div id="thank-feedback-div-onpop" aria-hidden="true" hidden><!-- Show after rating given -->
                            <p class="myuw-note">Thanks for your feedback!</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end modal code -->


        <!-- App messages modal -->
        <div id="page-modal"></div>
        <div class="myuw-modal modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="MyUWMessageModal" aria-hidden="true" aria-modal="true">
            <div class="modal-dialog message-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="MyUWMessageModal">

                            {% if user.affiliations.undergrad %}<!-- Undergrad Student -->
                                {% if user.affiliations.instructor %}
                                    <!-- Student Instructor -->
                                    MyUW is Designed for You
                                {% else %} <!-- Regular student -->
                                    New in MyUW<i class="fa fa-bullhorn" aria-hidden="true" style="font-size: 25px; padding: 0 6px 0 6px;"></i>
                                {% endif %}
                            {% else %}
                                {% if user.affiliations.instructor %}
                                    MyUW is Designed for Instructors
                                {% else %}   <!-- For employees -->
                                    MyUW is Designed for You
                                {% endif %}
                            {% endif %}
                        </h3>
                    </div>
                    <div class="modal-body">
                        {% if user.affiliations.student %}
                            {% if user.affiliations.undergrad %}
                                <ul>
                                    <li><strong>Menu & Pages</strong> - We moved cards onto pages. Use the menu at top left to navigate to Academics, Profile, and Accounts. The home page will still show timely content and notices, like your registration date and financial aid deadlines.</li>
                                    {% if user.affiliations.instructor %}<li><strong>Teaching</strong> schedule and resources help you stay on top of your work.</li>{% endif %}
                                    <li><strong>Week Counter</strong> - We know things can get hectic, so we added a counter to remind you which week of the quarter you’re in.</li>
                                    <li><strong>Account Summaries</strong> - A summary of your critical accounts appear in the top right of the home page. Click any of them to go to the Accounts page.</li>
                                    <li><strong>Search</strong> - Maybe you’ve noticed we added search recently? It’s the same search as on UW.edu!</li>
                                    <li><strong>Quick Links</strong> - Access popular links and recently visited sites. Customize the list of links by adding your own.</li>
                                    <li><strong>Log out easier</strong> - We moved the logout link to the top right corner of every page: look for “Sign out.”</li>
                                </ul>
                                <!-- End undergrad student -->
                            {% else %}
                                <!-- students who are new to MyUW -->
                                <p>Easily access class information and tools, frequently-visited resources, and your UW accounts. As your quarter rolls on, we'll present timely information and resources on the home page.</p>
                                <h4>What's New</h4>
                                <ul>
                                    <li><strong>Visual Schedule</strong> with map links to find your classes</li>
                                    <li><strong>Course Cards</strong> with course website, research guides, and instructor information</li>
                                    <li><strong>Textbooks</strong> for all your classes listed together</li>
                                    <li><strong>Quick Links</strong> is a customizable list of popular and recently visited pages</li>
                                    <li><strong>Academic Calendar</strong> to reference when planning</li>
                                    {% if user.affiliations.instructor %} <!-- If also instructor -->
                                        <!-- Show Grad TA Content list -->
                                        <li><strong>GradePage and Course Evaluation</strong> status for your classes</li>
                                        <li><strong>Class Email Lists</strong> are easier to create and manage</li>
                                    {% endif %} <!-- end grad TA content -->
                                    <li><strong>Husky, Library, and Library account</strong> information is always visible</li>
                                </ul>
                            {% endif %} <!-- End non-undergrad students -->

                        {% else %} <!-- End students -->
                            {% if user.affiliations.employee %} <!-- Start employees -->
                                {% if user.affiliations.instructor %} <!-- Show to instructors -->
                                    <p>With the new MyUW, you can easily keep track of your teaching schedule and access your class information and tools. We’ve curated frequently-visited teaching resources so they are easy to find and convenient.</p>

                                    <h4>What's New</h4>
                                    <ul>
                                        <li><strong>Academic Calendar</strong> to reference when planning your class</li>
                                        <li><strong>Visual Schedule</strong> with map links to find your classrooms</li>
                                        <li><strong>Textbooks</strong> conveniently listed in one place</li>
                                        <li><strong>GradePage and Course Evaluation</strong> status for your classes</li>
                                        <li><strong>Class Email Lists</strong> are easier to create and manage</li>
                                        <li><strong>Past courses taught</strong> are available for up to six years</li>
                                        <li><strong>Personalized Quick Links</strong> that also list popular and recently visited pages</li>
                                        <li><strong>Husky, Library, and UPASS</strong> account information is always visible</li>
                                    </ul>
                                    <!-- End instructors -->
                                {% else %}
                                    <p>With the new MyUW, you can easily keep track of your UW accounts and find frequently-used resources.</p>

                                    <h4>What's New</h4>
                                    <ul>
                                        <li><strong>Academic Calendar</strong> to reference when planning your schedule and holidays</li>
                                        <li><strong>Personalized Quick Links</strong> that also list popular and recently visited pages</li>
                                        <li><strong>Husky, Library, and UPASS</strong> account information is always visible</li>
                                        <li><strong>Workday</strong> and related HR links are highlighted for easy access</li>
                                    </ul>
                                {% endif %}
                            {% endif %}  <!-- End employees -->
                        {% endif %}  <!-- End ALL -->


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal code -->

    </body>
</html>
