{% load hashing_tag %}
{% load myuw_sidebar %}
{% load settings_value %}
<!DOCTYPE html>
<html lang="en">
    <head>

        {% block load_values %}{% endblock %}
        <meta charset="utf-8">
        <title>MyUW: {{ page_title|default:'MyUW'}}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load compress %}
        {% load static %}

        {% compress css %}
        <!-- styles -->
        <link href="{% static 'vendor/css/bootstrap-3.3.5.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/css/font-awesome-4.7.0.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/css/user-fonts.css' %}" rel="stylesheet">
        <link href="{% static 'css/mobile.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/desktop.less' %}" rel="stylesheet" type="text/less"/>
        {% endcompress %}

        {% compress css %}
        <!-- new myuw styles -->
        <link href="{% static 'css/typography.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/buttons.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/course_card.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/boilerplate.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/tabs.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/dropmenus.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/ratings.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/cards.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/components.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/photo_list.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/textbooks.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/huskyx.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/resources.less' %}" rel="stylesheet" type="text/less">
        <link href="{% static 'css/notices.less' %}" rel="stylesheet" type="text/less">
        <!-- hybrid overrides -->
        <link href="{% static 'css/hybrid.less' %}" rel="stylesheet" type="text/less">
        {% endcompress %}

       <!-- google fonts -->
       <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
       <link href='//fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>

       <!-- favicon -->
       <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

       <!-- ios icons -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'images/apple-touch-icon-180x180-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

        <!-- android icons -->
        <link rel="shortcut icon" sizes="196x196" href="{% static 'images/android-196x196.png' %}">

        <script>
            // Check if this browser is Internet Explorer and running Document Mode 9 or lower
            if(document.documentMode !== null && document.documentMode <= 9){
                // Notify the user that we do not support this document mode
                alert("We have detected that your browser is running in document mode for Internet Explorer 9 or lower.\n" +
                      "Please set document mode to 10 or higher, or switch to another browser.");
            }
        </script>
        
        <script>
            // methods only used by native hybrid apps 
            function goToByScroll(id) {
                // wait 5 sec before scrolling - page needs to load fully
                setTimeout(function() {
                    $('html,body').animate({scrollTop: $('#'+id).offset().top},'fast');
                }, 5000); 
            }
            function clickElement(id) {
                setTimeout(function() {
                    $('#'+id+' a').click();
                }, 5000);
            }
        </script>

    </head>

    <body>
        {% csrf_token %}
        
        <div class="myuw-body">
            <div class="myuw-wrapper">

                <!-- app_navigation -->
                {% block app_navigation %}
                <div class="myuw-nav-col">
                    <div id="menu_container" class="myuw-menu" role="navigation">
                        <ul id="main_menu" role="menubar" aria-orientation="vertical" aria-labelledby="menu_toggle">

                            {% load myuw_sidebar %}
                            {% add_sidebar_context %}
                            <li role="none"><a {% if is_myuw_home %}class="active"{% endif %} href="/" role="menuitem"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>

                            {% if user.affiliations.student or user.affiliations.applicant %}
                            <li role="none"><a {% if is_myuw_academics_page %}class="active"{% endif %} href="/academics/" role="menuitem"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academics</a></li>
                            {% endif %}
                            {% if user.affiliations.undergrad and user.affiliations.seattle or user.affiliations.hxt_viewer%}
                            <li role="none"><a {% if is_myuw_husky_experience_page %}class="active"{% endif %} href="/husky_experience/" role="menuitem"><i class="fa fa-paw" aria-hidden="true"></i>Husky Experience</a></li>
                            {% endif %}


                            {% if user.affiliations.instructor %}
                            <li role="none"><a {% if is_myuw_teaching_page %}class="active"{% endif %} href="/teaching/" role="menuitem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Teaching</a></li>
                            {% endif %}

                            <li role="none"><a {% if is_myuw_accounts_page  %}class="active"{% endif %} href="/accounts/" role="menuitem"><i class="fa fa-credit-card" aria-hidden="true"></i>Accounts</a></li>
                            {% if user.affiliations.student %}
                            <li role="none"><a {% if is_myuw_notices_page %}class="active"{% endif %} href="/notices/" role="menuitem"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Notices</a></li>
                            {% endif %}
                            <li role="none"><a {% if is_myuw_profile_page %}class="active"{% endif %} href="/profile/" role="menuitem"><i class="icon-user icon-user-female" aria-hidden="true" style="font-size:14px;"></i>Profile</a></li>

                            <li role="separator"><hr/></li>

                            <li role="none"><a {% if is_myuw_academic_calendar_page %}class="active"{% endif %} href="/academic_calendar/" role="menuitem"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Calendar</a></li>

                            <li role="none"><a {% if is_myuw_resources_page %}class="active"{% endif %} href="/resources/" role="menuitem"><i class="fa fa-bookmark" aria-hidden="true"></i>UW Resources</a></li>
                        </ul>

                    </div>

                    <div class="myuw-welcome" role="complementary">
                        <h2>Welcome!</h2>
                        <ul class="unstyled-list myuw-muted">
                            <li><a id="tour_link" href="#" data-toggle="modal" data-target="#tour_modal">See MyUW at a glance</a></li>
                            <li><a href="https://itconnect.uw.edu/learn/tools/myuw-help-center/#annotated" title="MyUW Help Center in IT Connect"  data-linklabel="MyUW Help Center" target="_blank">Learn more about MyUW </a></li>
                        </ul>
                    </div>

                </div>
                {% endblock %}
                <!-- end app_navigation -->

                {% block mobile_banner %}
                <!-- message banner (mobile only) -->
                <div class="myuw-banner-mobile app-messages" id="app_messages_mobile" role="complementary" aria-labelledby="app_messages_mobile_label">
                    <div class="message-banner">
                        {% if banner_messages %}
                        <h2 class="sr-only" id="app_messages_mobile_label">MyUW Announcements</h2>
                        <div id="message_banner_location">
                            <div id="messages" class="message-text">
                                {% for message in banner_messages %}
                                <div class="message">
                                    <p>{{ message.message_body|safe }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                   </div>
                </div>
                <!-- end message banner -->
                {% endblock %}

                <div class="myuw-content">
                    <!-- app_content -->
                    <div id="app_content">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- end app_content -->
                </div>

            </div>
        </div>

        <!-- dev bar -->

        <!-- do not compress - lack of trailing semicolons breaks concatenation -->
        <script src="{% static 'vendor/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'vendor/js/bootstrap-3.3.7.min.js' %}"></script>
        <script src="{% static 'vendor/js/popper-1.12.9.min.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.cookie-1.4.1.min.js' %}"></script>
        <script src="{% static 'vendor/js/ios-orientationchange-fix.min.js' %}"></script>
        <script src="{% static 'vendor/js/handlebars-v4.5.3.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.history-1.8.0.min.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.ba-dotimeout-1.0.js' %}"></script>
        <script src="{% static 'vendor/js/moment.2.18.1.min.js' %}"></script>
        <script src="{% static 'vendor/js/moment-timezone-2010-2020v0.3.0.min.js' %}"></script>

        {% compress js %}
        <!-- app files -->
        <script src="{% static 'vendor/js/date.js' %}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/ws_data.js' %}"></script>
        <script src="{% static 'js/myuw_log.js' %}"></script>
        <script src="{% static 'js/content_err.js' %}"></script>
        <script src="{% static 'js/error410.js' %}"></script>
        <script src="{% static 'js/textbooks.js' %}"></script>
        <script src="{% static 'js/grades.js' %}"></script>
        <script src="{% static 'js/myuw_m.js' %}"></script>
        <script src="{% static 'js/handlebars-helpers.js' %}"></script>
        <script src="{% static 'vendor/js/uw-alert.js' %}"></script>
        <script src="{% static 'js/libraries.js' %}"></script>
        <script src="{% static 'js/notices.js' %}"></script>
        <script src="{% static 'js/academics.js' %}"></script>
        <script src="{% static 'js/accounts.js' %}"></script>
        <script src="{% static 'js/calendar.js' %}"></script>
        <script src="{% static 'js/landing.js' %}"></script>
        <script src="{% static 'js/teaching.js' %}"></script>
        <script src="{% static 'js/husky_experience.js' %}"></script>
        <script src="{% static 'js/profile.js' %}"></script>
        <script src="{% static 'js/teaching_section.js' %}"></script>
        <script src="{% static 'js/category.js' %}"></script>
        <script src="{% static 'js/cards.js' %}"></script>
        <script src="{% static 'js/future.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/thrive.js' %}"></script>
        <script src="{% static 'js/resources.js' %}"></script>
        <script src="{% static 'js/banner/email.js' %}"></script>
        <script src="{% static 'js/banner/notice.js' %}"></script>
        <script src="{% static 'js/card/no_course.js' %}"></script>
        <script src="{% static 'js/card/error.js' %}"></script>
        <script src="{% static 'js/card/grade.js' %}"></script>
        <script src="{% static 'js/card/fin_aid.js' %}"></script>
        <script src="{% static 'js/card/library_mini.js' %}"></script>
        <script src="{% static 'js/card/grad_status.js' %}"></script>
        <script src="{% static 'js/card/grad_committee.js' %}"></script>
        <script src="{% static 'js/card/loading.js' %}"></script>
        <script src="{% static 'js/card/reg_status.js' %}"></script>
        <script src="{% static 'js/card/summer_reg_status.js' %}"></script>
        <script src="{% static 'js/card/textbook.js' %}"></script>
        <script src="{% static 'js/card/future_quarter.js' %}"></script>
        <script src="{% static 'js/card/thrive.js' %}"></script>
        <script src="{% static 'js/card/outage.js' %}"></script>
        <script src="{% static 'js/card/husky_experience.js' %}"></script>
        <script src="{% static 'js/card/sidebar_links.js' %}"></script>
        <script src="{% static 'js/card/resources.js' %}"></script>
        <script src="{% static 'js/card/resources_explore.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_sche_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_resource_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/instructor_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/load_evals.js' %}"></script>
        <script src="{% static 'js/card/schedule/eval_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_content.js' %}"></script>
        <script src="{% static 'js/card/schedule/load_course_cards.js' %}"></script>
        <script src="{% static 'js/card/schedule/visual.js' %}"></script>
        <script src="{% static 'js/card/schedule/final_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/sp_final.js' %}"></script>
        <script src="{% static 'js/card/schedule/prev_course_cards.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/load_course_cards.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/load_section_card.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_content.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_sche_panel.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_resource_panel.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/mailman/request_email_lists.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/mailman/view_email_lists.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_critical_info.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_summer_efs.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_thank_you.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_to_register.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_international_stu.js' %}"></script>
        <script src="{% static 'js/card/alumni.js' %}"></script>
        <script src="{% static 'js/card/accounts/uwnetid.js' %}"></script>
        <script src="{% static 'js/card/former_employee/retiree.js' %}"></script>
        <script src="{% static 'js/card/former_student/ctnu_edu.js' %}"></script>
        <script src="{% static 'js/card/former_student/transcripts.js' %}"></script>
        <script src="{% static 'js/card/summary/accounts.js' %}"></script>
        <script src="{% static 'js/card/summary/schedule.js' %}"></script>
        <script src="{% static 'js/card/summary/future_schedule.js' %}"></script>
        <script src="{% static 'js/teaching/class_list.js' %}"></script>
        {% endcompress %}
        <script>
            window.static_url = "{% get_static_prefix %}";
            window.is_mobile = {% if request.user_agent.is_mobile %}true{% else %}false{% endif %};
        </script>

        {% block extra_js %}{% endblock %}

        {% if not has_less_compiled %}
        <!-- less js -->
        <script>
            less = {
                logLevel: 1,
            }
        </script>
        <script src="{% static 'vendor/js/less-2.7.2.min.js' %}" type="text/javascript"></script>
        {% endif %}

        {% if has_google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ GOOGLE_ANALYTICS_KEY }}', { 'userId': '{% hash_netid user.netid %}' });
          ga('send', 'pageview');
        </script>
        {% endif %}
        {% include 'logger.html' %}
        
    </body>
</html>
