{% load hashing_tag %}
{% load static %}
{% load settings_value %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% comment %} <title>MyUW: {{ page_title|default:'MyUW'}}</title> {% endcomment %}

    {% if is_hybrid %}
    <!-- disable zooming for hybrid -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endif %}
    <meta name="description" content="">

    <!-- TODO: Add google fonts here -->

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- ios icons -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
        href="{% static 'images/apple-touch-icon-180x180-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="{% static 'images/apple-touch-icon-152x152-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="{% static 'images/apple-touch-icon-120x120-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76"
        href="{% static 'images/apple-touch-icon-76x76-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57"
        href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

    <!-- android icons -->
    <link rel="shortcut icon" sizes="196x196" href="{% static 'images/android-196x196.png' %}">

    <script>
        // Check if this browser is Internet Explorer and running Document Mode 9 or lower
        if (document.documentMode !== null && document.documentMode <= 9) {
            // Notify the user that we do not support this document mode
            alert("We have detected that your browser is running in document mode for Internet Explorer 9 or lower.\n" +
                "Please set document mode to 10 or higher, or switch to another browser.");
        }
    </script>

    <script id="static_url" type="application/json">
        "{% settings_value 'STATIC_URL' %}"
    </script>
    {% load json_script %}
    {{ user|json_script:'user' }}
    {{ disable_actions|json_script:'disable_actions' }}

    <script>
    // TODO: Replace this with a object in the context and a json_script.
    window.term_data = {
        today: '{{ today|date:"l, F j, Y" }}',
        year: '{{ year }}',
        quarter: '{{ quarter }}',
        breakYear: '{{ break_year }}',
        breakQuarter: '{{ break_quarter }}',
        isFinals: {{ is_finals|yesno:"true, false"}},
        isBreak: {{ is_break|yesno:"true, false"}},
        todayDate: new Date({{ today|date:"Y" }}, {{ today|date:"n" }}-1, {{ today|date:"j"}}),
        firstDay: new Date({{ first_day|date:"Y" }}, {{ first_day|date:"n" }}-1, {{ first_day|date:"j"}}),
        lastDay: new Date({{ last_day|date:"Y" }}, {{ last_day|date:"n" }}-1, {{ last_day|date:"j"}})
    };
    </script>
    {% block django_json_data %}
    {% endblock django_json_data %}
</head>

<body data-gtag="{{ GOOGLE_ANALYTICS_KEY }}" data-hashid="{% hash_netid user.netid %}" data-tracking-enabled="{{ DEBUG|lower}}" class="myuw-font-open-sans">
    {% csrf_token %}

    <div id="vue_root" hidden>
        {% block body_content %}
        {% endblock body_content %}
    </div>

    {% block vue_script %}
    {% endblock vue_script %}

</body>

</html>