{% load hashing_tag %}
{% load myuw_sidebar %}
{% load settings_value %}
<!DOCTYPE html>
<html lang="en">
    <head>

        {% block load_values %}{% endblock %}
        <meta charset="utf-8">
        <title>MyUW: {{ page_title|default:'MyUW'}}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load compress %}
        {% load static %}

        <!-- parceled css -->
        <link href="{% static 'dist/base.css' %}" rel="stylesheet">

       <!-- google fonts -->
       <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
       <link href='//fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>

       <!-- favicon -->
       <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

       <!-- ios icons -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'images/apple-touch-icon-180x180-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57-precomposed.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon-precomposed.png' %}">

        <!-- android icons -->
        <link rel="shortcut icon" sizes="196x196" href="{% static 'images/android-196x196.png' %}">

        <script>
            // Check if this browser is Internet Explorer and running Document Mode 9 or lower
            if(document.documentMode !== null && document.documentMode <= 9){
                // Notify the user that we do not support this document mode
                alert("We have detected that your browser is running in document mode for Internet Explorer 9 or lower.\n" +
                      "Please set document mode to 10 or higher, or switch to another browser.");
            }
        </script>
    </head>

    <body>
        {% csrf_token %}

        {% if disable_actions %}
            {% block actions_disabled_banner %}
            <div class="app-messages" id="actions_disabled_banner" aria-labelledby="actions_disabled_banner-label" role="complementary">
                <div class="override-banner message-banner">
                    <h2 class="sr-only" id="actions_disabled_banner-label">Notes for MyUW support staff:</h2>
                    <div class="message-text myuw-wrapper">
                        <p class="message"><strong>YOU ARE CURRENTLY OVERRIDING AS ANOTHER USER</strong>. Overriding is read-only and no actions will be saved. &nbsp;&nbsp;<a href="/support" style="font-weight:normal; color:#003399;">Back to MyUW Support tool</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endblock %}
        {% endif %}

        {% block header %}
        <div id="top"></div>
        <div id="app_search" class="myuw-search collapse">
            <div class="myuw-wrapper">
                <form action="/search" method="get" class="uw-search">
                    <label class="sr-only" for="search-nav">Search the UW website</label>
                    <input id="search-nav" name="q" type="text" placeholder="Search the UW website">
                    <button type="submit" value="Search" style="background-image: url({% static 'images/search.svg' %});">Search</button>
                </form>
            </div>
        </div>

        <div role="banner" aria-labelledby="myuw-banner-label">
            <h1 class="sr-only" id="myuw-banner-label">MyUW</h1>
            <div class="myuw-thin-bar">
                <div class="myuw-wrapper">

                    <div class="myuw-netid">
                        <a href="/profile/"><i class="icon-user icon-user-female" aria-hidden="true"></i><span>{{ user.netid }}</span></a>
                    </div>

                    <div class="myuw-search-links">
                        {% if user.email_error %}
						<a href="https://itconnect.uw.edu/connect/email/" class="myuw-iconlink" style="color:#ffaeae;" title="UW email services" target="_blank"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Email error</span></a>
                        {% else %}
                        {% if user.email_forward_url %}
                        <a href="{{ user.email_forward_url }}" class="myuw-iconlink" target="_blank" title="Open your email in new tab"><i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span></a>
                        {% endif %}
                        {% endif %}


                        <button id="search_toggle" class="myuw-iconlink" role=”search” aria-controls="app_search" aria-expanded="false" aria-haspopup="true" aria-label="Open search area" data-toggle="collapse" data-target="#app_search"><i class="fa fa-search fa-flip-horizontal"></i><span>Search</span></button>

                        <a href="{% settings_value "LOGOUT_URL" %}" class="myuw-iconlink"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 15px;"></i><span>Sign Out</span></a>

                    </div>

                </div>
            </div>
            {% endblock %}


            {% block mobile_navigation %}
            <div class="myuw-navigation">
                <div class="myuw-wrapper" style="background-image: url({% static 'images/w-logo-white.png' %})">
                    <div class="myuw-title"><a href="/" aria-label="MyUW Home">MyUW</a></div>
                    <div id="menu_toggle_wrapper" class="myuw-title-button">
                        <button id="menu_toggle" aria-controls="main_menu" aria-haspopup="true" aria-expanded="false">
                            <span class="fa-stack fa-md" aria-hidden="true">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-bars fa-stack-1x"></i>
                            </span>
                            <span class="sr-only">Main Menu</span>
                        </button>
                        <h2>{% if page_title == "Home" %}MyUW<span class="sr-only"> Home</span>{% else %}{{page_title}}{% endif %}</h2>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

        {% block desktop_banner %}
        <!-- message banner (desktop only) -->
        <div class="myuw-banner-desktop app-messages" id="app_messages_desktop" aria-labelledby="app_messages_desktop_label" role="complementary">
            <div class="message-banner">
                {% if banner_messages %}
                <h2 class="sr-only" id="app_messages_desktop_label">MyUW Announcements</h2>
                <div id="message_banner_location">
                    <div id="messages" class="message-text myuw-wrapper">
                        {% for message in banner_messages %}
                        <div class="message">
                            <p>{{ message.message_body|safe }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
           </div>
        </div>
        <!-- end message banner -->
        {% endblock %}

	{% if display_onboard_message %}
	{% block desktop_tour_banner %}
        <!-- Tour banner message (Desktop only) -->
        <div class="myuw-banner-desktop app-messages" id="tour_messages_desktop" aria-labelledby="tour_messages_desktop_label" role="complementary">
            <div class="message-banner">
                <h2 class="sr-only" id="tour_messages_desktop_label">MyUW Announcements</h2>
                    <div class="message-text myuw-wrapper">
                        <div class="message">
                            <p>New here? <a href="#" data-toggle="modal" data-target="#tour_modal">See MyUW at a glance </a></p>
                        </div>
                    </div>
               		<button id="banner_msg_close" type="button" class="myuw-banner-msg-close-btn close" aria-label="Close message" aria-controls="tour_messages_desktop"><span aria-hidden="true">&times;</span></button>
           </div>
        </div>
        <!-- end message banner -->
        {% endblock %}
        {% endif %}

        <div class="myuw-body">
            <div class="myuw-wrapper">

                <!-- app_navigation -->
                {% block app_navigation %}
                <div class="myuw-nav-col">
                    <div id="menu_container" class="myuw-menu" role="navigation">
                        <ul id="main_menu" role="menubar" aria-orientation="vertical" aria-labelledby="menu_toggle">

                            {% load myuw_sidebar %}
                            {% add_sidebar_context %}
                            <li role="none"><a {% if is_myuw_home %}class="active"{% endif %} href="/" role="menuitem"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>

                            {% if user.affiliations.student or user.affiliations.applicant %}
                            <li role="none"><a {% if is_myuw_academics_page %}class="active"{% endif %} href="/academics/" role="menuitem"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academics</a></li>
                            {% endif %}
                            {% if user.affiliations.undergrad and user.affiliations.seattle or user.affiliations.hxt_viewer%}
                            <li role="none"><a {% if is_myuw_husky_experience_page %}class="active"{% endif %} href="/husky_experience/" role="menuitem"><i class="fa fa-paw" aria-hidden="true"></i>Husky Experience</a></li>
                            {% endif %}


                            {% if user.affiliations.instructor %}
                            <li role="none"><a {% if is_myuw_teaching_page %}class="active"{% endif %} href="/teaching/" role="menuitem"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Teaching</a></li>
                            {% endif %}

                            <li role="none"><a {% if is_myuw_accounts_page  %}class="active"{% endif %} href="/accounts/" role="menuitem"><i class="fa fa-credit-card" aria-hidden="true"></i>Accounts</a></li>
                            {% if user.affiliations.student %}
                            <li role="none"><a {% if is_myuw_notices_page %}class="active"{% endif %} href="/notices/" role="menuitem"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Notices</a></li>
                            {% endif %}
                            <li role="none"><a {% if is_myuw_profile_page %}class="active"{% endif %} href="/profile/" role="menuitem"><i class="icon-user icon-user-female" aria-hidden="true" style="font-size:14px;"></i>Profile</a></li>

                            <li role="separator"><hr/></li>

                            <li role="none"><a {% if is_myuw_academic_calendar_page %}class="active"{% endif %} href="/academic_calendar/" role="menuitem"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Calendar</a></li>

                            <li role="none"><a {% if is_myuw_resources_page %}class="active"{% endif %} href="/resources/" role="menuitem"><i class="fa fa-bookmark" aria-hidden="true"></i>UW Resources</a></li>
                        </ul>

                    </div>

                    <div class="myuw-welcome" role="complementary">
                        <h2>Welcome!</h2>
                        <ul class="unstyled-list myuw-muted">
                            <li><a id="tour_link" href="#" data-toggle="modal" data-target="#tour_modal">See MyUW at a glance</a></li>
                            <li><a href="https://itconnect.uw.edu/learn/tools/myuw-help-center/#annotated" title="MyUW Help Center in IT Connect"  data-linklabel="MyUW Help Center" target="_blank">Learn more about MyUW </a></li>
                        </ul>
                    </div>

                </div>
                {% endblock %}
                <!-- end app_navigation -->

                {% block mobile_banner %}
                <!-- message banner (mobile only) -->
                <div class="myuw-banner-mobile app-messages" id="app_messages_mobile" role="complementary" aria-labelledby="app_messages_mobile_label">
                    <div class="message-banner">
                        {% if banner_messages %}
                        <h2 class="sr-only" id="app_messages_mobile_label">MyUW Announcements</h2>
                        <div id="message_banner_location">
                            <div id="messages" class="message-text">
                                {% for message in banner_messages %}
                                <div class="message">
                                    <p>{{ message.message_body|safe }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                   </div>
                </div>
                <!-- end message banner -->
                {% endblock %}

                {% if display_onboard_message %}
                {% block mobile_tour_banner %}
                <!-- Tour message banner (mobile only)-->
                <div class="myuw-banner-mobile app-messages" id="tour_messages_mobile" aria-labelledby="tour_messages_mobile_label" role="complementary">
                    <div class="message-banner" style="margin-top:-17px;">
                        <h2 class="sr-only" id="tour_messages_mobile_label">MyUW Announcements</h2>
                            <div class="message-text myuw-wrapper">
                                <div class="message">
                                    <p>New here?  <a href="#" data-toggle="modal" data-target="#tour_modal"> See MyUW at a glance </a></p>
                                </div>
                            </div>
                    <button id="mobile_banner_msg_close" type="button" class="myuw-banner-msg-close-btn close" aria-label="Close message" aria-controls="tour_messages_mobile"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <!-- end message banner -->
                {% endblock %}
                {% endif %}

                <div class="myuw-content">
                    <!-- app_content -->
                    <div id="app_content">
                        {% block content %}{% endblock %}
                    </div>
                    <!-- end app_content -->
                </div>

            </div>
        </div>

        <!-- footer -->
        {% block footer %}
        <div id="app_footer">
            <div class="footer-bar" role="contentinfo">
                <div class="myuw-wrapper footer-links" style="position:relative;">
                    <ul class="footer-links-list myuw-inline-list">
                        <li class="footer-links-list-item">
                            <a href="mailto:help@uw.edu?subject=MyUW%20Comment,%20Request,%20Suggestion&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20{{ user.netid }}">
                                <i class="fa fa-envelope" role="presentation"></i>Contact
                            </a>
                        </li><li class="footer-links-list-item"><a href="https://itconnect.uw.edu/learn/tools/myuw-help-center/">MyUW Help</a></li><li class="footer-links-list-item myuw-hidden-desktop"><a href="/logout">Sign Out</a></li><li class="footer-links-list-item"><a href="http://www.washington.edu/online/terms/">Terms</a></li><li class="footer-links-list-item"><a href="http://www.washington.edu/online/privacy/">Privacy</a></li></ul>
                    <div style="clear:both;">&copy; {% now "Y" %} University of Washington</div>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- /footer -->

        <!-- dev bar -->

        <!-- do not compress - lack of trailing semicolons breaks concatenation -->
        <script src="{% static 'vendor/js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'vendor/js/bootstrap-3.3.7.min.js' %}"></script>
        <script src="{% static 'vendor/js/popper-1.12.9.min.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.cookie-1.4.1.min.js' %}"></script>
        <script src="{% static 'vendor/js/ios-orientationchange-fix.min.js' %}"></script>
        <script src="{% static 'vendor/js/handlebars-v4.5.3.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.history-1.8.0.min.js' %}"></script>
        <script src="{% static 'vendor/js/jquery.ba-dotimeout-1.0.js' %}"></script>
        <script src="{% static 'vendor/js/moment.2.18.1.min.js' %}"></script>
        <script src="{% static 'vendor/js/moment-timezone-2010-2020v0.3.0.min.js' %}"></script>

        {% compress js %}
        <!-- app files -->
        <script src="{% static 'vendor/js/date.js' %}"></script>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/ws_data.js' %}"></script>
        <script src="{% static 'js/myuw_log.js' %}"></script>
        <script src="{% static 'js/content_err.js' %}"></script>
        <script src="{% static 'js/error410.js' %}"></script>
        <script src="{% static 'js/textbooks.js' %}"></script>
        <script src="{% static 'js/grades.js' %}"></script>
        <script src="{% static 'js/myuw_m.js' %}"></script>
        <script src="{% static 'js/handlebars-helpers.js' %}"></script>
        <script src="{% static 'vendor/js/uw-alert.js' %}"></script>
        <script src="{% static 'js/libraries.js' %}"></script>
        <script src="{% static 'js/notices.js' %}"></script>
        <script src="{% static 'js/academics.js' %}"></script>
        <script src="{% static 'js/accounts.js' %}"></script>
        <script src="{% static 'js/calendar.js' %}"></script>
        <script src="{% static 'js/landing.js' %}"></script>
        <script src="{% static 'js/teaching.js' %}"></script>
        <script src="{% static 'js/husky_experience.js' %}"></script>
        <script src="{% static 'js/profile.js' %}"></script>
        <script src="{% static 'js/teaching_section.js' %}"></script>
        <script src="{% static 'js/category.js' %}"></script>
        <script src="{% static 'js/cards.js' %}"></script>
        <script src="{% static 'js/future.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/thrive.js' %}"></script>
        <script src="{% static 'js/resources.js' %}"></script>
        <script src="{% static 'js/banner/email.js' %}"></script>
        <script src="{% static 'js/banner/notice.js' %}"></script>
        <script src="{% static 'js/card/no_course.js' %}"></script>
        <script src="{% static 'js/card/error.js' %}"></script>
        <script src="{% static 'js/card/grade.js' %}"></script>
        <script src="{% static 'js/card/fin_aid.js' %}"></script>
        <script src="{% static 'js/card/library_mini.js' %}"></script>
        <script src="{% static 'js/card/grad_status.js' %}"></script>
        <script src="{% static 'js/card/grad_committee.js' %}"></script>
        <script src="{% static 'js/card/loading.js' %}"></script>
        <script src="{% static 'js/card/reg_status.js' %}"></script>
        <script src="{% static 'js/card/summer_reg_status.js' %}"></script>
        <script src="{% static 'js/card/textbook.js' %}"></script>
        <script src="{% static 'js/card/future_quarter.js' %}"></script>
        <script src="{% static 'js/card/thrive.js' %}"></script>
        <script src="{% static 'js/card/outage.js' %}"></script>
        <script src="{% static 'js/card/husky_experience.js' %}"></script>
        <script src="{% static 'js/card/sidebar_links.js' %}"></script>
        <script src="{% static 'js/card/resources.js' %}"></script>
        <script src="{% static 'js/card/resources_explore.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_sche_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_resource_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/instructor_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/load_evals.js' %}"></script>
        <script src="{% static 'js/card/schedule/eval_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/course_content.js' %}"></script>
        <script src="{% static 'js/card/schedule/load_course_cards.js' %}"></script>
        <script src="{% static 'js/card/schedule/visual.js' %}"></script>
        <script src="{% static 'js/card/schedule/final_panel.js' %}"></script>
        <script src="{% static 'js/card/schedule/sp_final.js' %}"></script>
        <script src="{% static 'js/card/schedule/prev_course_cards.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/load_course_cards.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/load_section_card.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_content.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_sche_panel.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/course_resource_panel.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/mailman/request_email_lists.js' %}"></script>
        <script src="{% static 'js/card/instructor_schedule/mailman/view_email_lists.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_critical_info.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_summer_efs.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_thank_you.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_to_register.js' %}"></script>
        <script src="{% static 'js/card/new_student/ns_international_stu.js' %}"></script>
        <script src="{% static 'js/card/alumni.js' %}"></script>
        <script src="{% static 'js/card/accounts/uwnetid.js' %}"></script>
        <script src="{% static 'js/card/former_employee/retiree.js' %}"></script>
        <script src="{% static 'js/card/former_student/ctnu_edu.js' %}"></script>
        <script src="{% static 'js/card/former_student/transcripts.js' %}"></script>
        <script src="{% static 'js/card/summary/accounts.js' %}"></script>
        <script src="{% static 'js/card/summary/schedule.js' %}"></script>
        <script src="{% static 'js/card/summary/future_schedule.js' %}"></script>
        <script src="{% static 'js/teaching/class_list.js' %}"></script>
        {% endcompress %}
        <script>
            window.static_url = "{% get_static_prefix %}";
            window.is_mobile = {% if request.user_agent.is_mobile %}true{% else %}false{% endif %};
        </script>

        {% block extra_js %}{% endblock %}

        {% if not has_less_compiled %}
        <!-- less js -->
        <script>
            less = {
                logLevel: 1,
            }
        </script>
        <script src="{% static 'vendor/js/less-2.7.2.min.js' %}" type="text/javascript"></script>
        {% endif %}

        {% if has_google_analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', '{{ GOOGLE_ANALYTICS_KEY }}', { 'userId': '{% hash_netid user.netid %}' });
          ga('send', 'pageview');
        </script>
        {% endif %}
        {% include 'logger.html' %}



        {% block tour-page-modal %}
        <!-- MyUW Tour modal -->
        <div id="tour-page-modal"></div>
        <div class="myuw-tour-modal-desktop myuw-modal modal fade" id="tour_modal" tabindex="-1" role="dialog" aria-labelledby="tour_modal_label" aria-describedby="tour_modal_description" aria-hidden="true" aria-modal="true">
            <div class="modal-dialog message-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <button id="tour_modal_close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="tour_modal_label">Welcome! Here's MyUW at a glance</h3>
                    </div>
                    <div class="modal-body">
			<div style="margin-top:16px;">
			    <picture>
				<source media="(min-width: 1024px)" srcset="{% static '/images/myuw-tour-1.0x.png' %} 1x, {% static '/images/myuw-tour-2.0x.png' %} 2x" sizes="570px" >
				    <source srcset="{% static '/images/myuw-tour-mobile-1.0x.png' %} 1x, {% static '/images/myuw-tour-mobile-2.0x.png' %}  2x" >
					<img src="{% static '/images/myuw-tour-1.0x.png' %}" alt="MyUW Home page screenshot highlighting the email link, the Accounts page, and UW resources page. The Account page is for managing Husky card, U-Pass, library, UW NetID account. UW resources page is for an index of UW resources link" style="max-width:100%;display:block; margin-left:auto; margin-right:auto;border:1px #eee solid;">
			    </picture>
			</div>

                        <p style="margin-top:16px;">Watch a video tour of <a href="https://itconnect.uw.edu/learn/tools/myuw-help-center/myuw-instructors/" target="_blank" title="MyUW video tour for instructors" data-linklabel="MyUW video for Instructors">MyUW for Instructors</a>, <a href="https://itconnect.uw.edu/learn/tools/myuw-help-center/myuw-staff/" target="_blank" title="MyUW video tour for staff" data-linklabel="MyUW video for staff">for staff</a>, or <a href="https://www.youtube.com/watch?v=K7GoUc32TMs&t=5s&list=PL-hNmjMg7KSHFdXj6yXDjZtCpjkkKBLUZ&index=1" target="_blank" title="MyUW video tour for students" data-linklabel="MyUW video for students">for students</a>. <br><a href="https://itconnect.uw.edu/learn/tools/myuw-help-center/#annotated" target="_blank" title="MyUW Help Center in IT Connect"  data-linklabel="MyUW Help Center">Visit the MyUW help guide for more information</a>.
                        </p>
                    </div><!-- end modal body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal code -->
        {% endblock %}

    </body>
</html>
