{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}
{% load set_context %}

{% block django_json_data %}
  <script>
    // TODO: Replace this with a object in the context and a json_script.
    window.futureTerm = "{{ future_term }}";
    window.futureTermData = {
      "year": "{{term_data.year}}",
      "quarter": "{{term_data.quarter}}",
      "firstDayQuarter": "{{ term_data.first_day_quarter |date:'l, F j, Y' }}",
      "lastDayInstruction": "{{ term_data.last_day_instruction |date:'l, F j, Y' }}",
      "atermLastDate": "{{term_data.aterm_last_date |date:'l, F j, Y' }}",
      "btermFirstDate": "{{ term_data.bterm_first_date |date:'l, F j, Y' }}"
    };
  </script>
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}">

  <!--MARK: #primary template (column 1, mobile only) -->
  <template #primary>
    <b-col md="8" :class="[$mq === 'mobile' ? 'px-0' : '']">
      <!--MARK: card components go here in order -->
      <myuw-visual-schedule term="{{ future_term }}"></myuw-visual-schedule>
      <myuw-all-courses term="{{ future_term }}"></myuw-all-courses>
      <myuw-textbooks term="{{ future_term }}"></myuw-textbooks>
    </b-col>
  </template>
  <!-- MARK: #secondary template (column 2, table/desktop) -->
  <template #secondary>
    <b-col md="4">
      <!--MARK: card components go here in order -->
      right content
      <!-- <myuw-sidebar-links></myuw-sidebar-links> -->
    </b-col>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'future_quarters' %}
{% endblock vue_script %}