{% extends 'base.html' %}

{% load settings_value %}
{% load set_context %}
{% load vite %}

{% block django_json_data %}
  <script>
    // TODO: Replace this with a object in the context and a json_script.
    window.futureTerm = "{{ future_term }}";
  </script>
{% endblock django_json_data %}

{% block vue_styles %}
<!-- vite css bundle -->
{% vite_styles 'myuw_vue/future_quarters.js' %}
{% endblock vue_styles %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value 'LOGOUT_URL' %}" is-hybrid="{{ user.isHybrid }}">
  <template #mobile>
    <div class="col-md-12 px-0">
      <myuw-visual-schedule term-label="{{ future_term }}"></myuw-visual-schedule>
      <myuw-course-cards term="{{ future_term }}"></myuw-course-cards>
      <myuw-textbooks term="{{ future_term }}"></myuw-textbooks>
    </div>
  </template>
  <template #desktop>
    <div class="col-md-12">
      <myuw-visual-schedule term-label="{{ future_term }}"></myuw-visual-schedule>
      <myuw-course-cards term="{{ future_term }}"></myuw-course-cards>
      <myuw-textbooks term="{{ future_term }}"></myuw-textbooks>
    </div>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
<!-- vite js bundle -->
{% vite_scripts 'myuw_vue/future_quarters.js' %}
{% endblock vue_script %}
