{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}
{% load set_context %}

{% block django_json_data %}
  <script>
    // TODO: Replace this with a object in the context and a json_script.
    window.futureTerm = "{{ future_term }}";
  </script>
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}">
  <template #primary>
    <b-col md="8" :class="[$mq === 'mobile' ? 'px-0' : '']">
      <myuw-visual-schedule term-label="{{ future_term }}"></myuw-visual-schedule>
      <myuw-course-cards term="{{ future_term }}"></myuw-course-cards>
      <myuw-textbooks term="{{ future_term }}"></myuw-textbooks>
    </b-col>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load manifest %}
{% manifest_match '*future_quarters*.css' '<link rel="stylesheet" href="{match}">' %}
{% manifest_match '*future_quarters*.js' '<script src="{match}" async></script>' %}
{% endblock vue_script %}
