{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}
{% load set_context %}

{% block django_json_data %}
{% endblock django_json_data %}

{% block body_content %}

<myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}">

  <!--MARK: #primary template (column 1, mobile only) -->
  <template #primary>
    <b-col md="12">
      <myuw-banner-summaries></myuw-banner-summaries>
    </b-col>
    <b-col md="8" :class="[$mq === 'mobile' ? 'px-0' : '']">
      <!--MARK: inherent card ordering -->
      <myuw-notice-card></myuw-notice-card>
      <myuw-grades></myuw-grades>
      <myuw-husky-experience></myuw-husky-experience>
      <myuw-outage></myuw-outage>
      <myuw-future-quarter-cards highlighted></myuw-future-quarter-cards>
      <!-- MARK: use 'mobile-only' to suppress on tablet/desktop -->
      <myuw-quicklinks mobile-only></myuw-quicklinks>
      <myuw-ns-thank-you></myuw-ns-thank-you>
      <myuw-ns-to-register></myuw-ns-to-register>
      <myuw-reg-status></myuw-reg-status>
      <myuw-summer-efs></myuw-summer-efs>
      <myuw-reg-status for-quarter="Summer" period="A"></myuw-reg-status>
      <myuw-ns-critical-info></myuw-ns-critical-info>
      <myuw-ns-international-student></myuw-ns-international-student>
      <myuw-inst-course-summary></myuw-inst-course-summary>
      <myuw-visual-schedule></myuw-visual-schedule>
      <myuw-textbooks term="{{ term|default:"current" }}"></myuw-textbooks>
      <myuw-future-quarter-cards></myuw-future-quarter-cards>
      <myuw-reg-status for-quarter="Summer" period="1"></myuw-reg-status>
      <myuw-applicant></myuw-applicant>
      <myuw-international-student></myuw-international-student>
      <myuw-retiree></myuw-retiree>
      <myuw-transcripts></myuw-transcripts>
      <myuw-continuing-education></myuw-continuing-education>
      <myuw-uwnetid></myuw-uwnetid>
      <myuw-alumni></myuw-alumni>
      <!-- MARK: use 'mobile-only' to suppress on tablet/desktop -->
      <myuw-events mobile-only></myuw-events>
    </b-col>
  </template>

  <!-- MARK: #secondary template (column 2, table/desktop) -->
  <template #secondary>
    <b-col md="4">
      <!--MARK: inherent card ordering -->
      <myuw-quicklinks></myuw-quicklinks>
      <myuw-events></myuw-events>
    </b-col>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'home' %}
{% endblock vue_script %}
