{% extends 'base.html' %}

{% load settings_value %}
{% load set_context %}

{% block django_json_data %}
   <script>
    // TODO: Replace this with a object in the context and a json_script.
    window.futureTerm = "{{ future_term }}";
  </script>
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value 'LOGOUT_URL' %}">
  <template #mobile>
    <b-col md="12">
      <myuw-banner-summaries></myuw-banner-summaries>
    </b-col>
    <b-col md="12" class="px-0">
      <myuw-notice-card></myuw-notice-card>
      <myuw-grades></myuw-grades>
      <myuw-husky-experience></myuw-husky-experience>
      <myuw-outage term="{{ term|default:'current' }}"></myuw-outage>
      <myuw-future-quarter-cards highlighted></myuw-future-quarter-cards>
      <myuw-quicklinks></myuw-quicklinks>
      <myuw-ns-thank-you></myuw-ns-thank-you>
      <myuw-ns-to-register></myuw-ns-to-register>
      <myuw-reg-status></myuw-reg-status>
      <myuw-summer-efs></myuw-summer-efs>
      <myuw-reg-status for-quarter="Summer" period="A"></myuw-reg-status>
      <myuw-ns-critical-info></myuw-ns-critical-info>
      <myuw-ns-international-student></myuw-ns-international-student>
      <myuw-inst-course-summary></myuw-inst-course-summary>
      <myuw-visual-schedule id="visual-schedule"></myuw-visual-schedule>
      <myuw-textbooks term="{{ term|default:"current" }}"></myuw-textbooks>
      <myuw-inst-course-summary term="{{ future_term }}">
      </myuw-inst-course-summary>
      <myuw-future-quarter-cards></myuw-future-quarter-cards>
      <myuw-reg-status for-quarter="Summer" period="1"></myuw-reg-status>
      <myuw-applicant></myuw-applicant>
      <myuw-international-student></myuw-international-student>
      <myuw-retiree></myuw-retiree>
      <myuw-hr-payroll is-home-page></myuw-hr-payroll>
      <myuw-transcripts></myuw-transcripts>
      <myuw-continuing-education></myuw-continuing-education>
      <myuw-uwnetid is-home-page></myuw-uwnetid>
      <myuw-alumni></myuw-alumni>
      <myuw-events></myuw-events>
      <myuw-resource-explore></myuw-resource-explore>
    </b-col>      
  </template>
  <template #desktop>
    <b-col md="12">
      <myuw-banner-summaries></myuw-banner-summaries>
    </b-col>
    <b-col md="8">
      <myuw-notice-card></myuw-notice-card>
      <myuw-grades></myuw-grades>
      <myuw-husky-experience></myuw-husky-experience>
      <myuw-outage term="{{ term|default:'current' }}"></myuw-outage>
      <myuw-future-quarter-cards highlighted></myuw-future-quarter-cards>
      <myuw-ns-thank-you></myuw-ns-thank-you>
      <myuw-ns-to-register></myuw-ns-to-register>
      <myuw-reg-status></myuw-reg-status>
      <myuw-summer-efs></myuw-summer-efs>
      <myuw-reg-status for-quarter="Summer" period="A"></myuw-reg-status>
      <myuw-ns-critical-info></myuw-ns-critical-info>
      <myuw-ns-international-student></myuw-ns-international-student>
      <myuw-inst-course-summary></myuw-inst-course-summary>
      <myuw-visual-schedule id="visual-schedule"></myuw-visual-schedule>
      <myuw-textbooks term="{{ term|default:'current' }}"></myuw-textbooks>
      <myuw-inst-course-summary term="{{ future_term }}">
      </myuw-inst-course-summary>
      <myuw-future-quarter-cards></myuw-future-quarter-cards>
      <myuw-reg-status for-quarter="Summer" period="1"></myuw-reg-status>
      <myuw-applicant></myuw-applicant>
      <myuw-international-student></myuw-international-student>
      <myuw-retiree></myuw-retiree>
      <myuw-hr-payroll is-home-page></myuw-hr-payroll>
      <myuw-transcripts></myuw-transcripts>
      <myuw-continuing-education></myuw-continuing-education>
      <myuw-uwnetid is-home-page></myuw-uwnetid>
      <myuw-alumni></myuw-alumni>
      <myuw-resource-cards></myuw-resource-cards>
      <myuw-resource-explore></myuw-resource-explore>
    </b-col>
    <b-col md="4">
      <myuw-quicklinks></myuw-quicklinks>
      <myuw-events></myuw-events>
    </b-col>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load webpack_manifest %}
{% render_webpack_entry 'home' js='defer' %}
{% endblock vue_script %}
