{% extends is_hybrid|yesno:"base_hybrid.html,base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
{% set_context 'page_title' 'Husky Experience' %}
{% endblock %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main-content-label"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/notice.html" %}
    {% include "handlebars/card/loading.html" %}
    {% include "handlebars/card/error.html" %}

    <!-- page content templates  -->
    {% include "handlebars/husky_experience.html" %}
    {% include "handlebars/husky_experience_detail.html" %}
    {% include "handlebars/loading.html" %}
    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    {% compress js inline %}
    <script src="{% static 'js/page/husky_experience.js' %}"></script>
    {% endcompress %}
{% endblock %}
