{% extends 'base.html' %}

{% load settings_value %}
{% load set_context %}

{% block django_json_data %}
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}" is-hybrid="{{ user.isHybrid }}">
  <template #mobile>
    <div class="col-md-12">
        <!--MARK: card components go here in order -->
        <myuw-husky-exp-card></myuw-husky-exp-card>
    </div>
  </template>
  <template #desktop>
    <div class="col-md-12">
        <!--MARK: card components go here in order -->
        <myuw-husky-exp-card></myuw-husky-exp-card>
    </div>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load webpack_bridge %}
{% render_webpack_entry 'husky_experience' js='defer' %}
{% endblock vue_script %}
