{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}
{% load set_context %}

{% block django_json_data %}
    <script> 
        // TODO: Replace this with a object in the context and a json_script.
        window.term_data = {
            today: '{{ today|date:"l, F j, Y" }}',
            year: '{{ year }}',
            quarter: '{{ quarter }}',
            breakYear: '{{ break_year }}',
            breakQuarter: '{{ break_quarter }}',
            isFinals: {{ is_finals|yesno:"true, false"}},
            isBreak: {{ is_break|yesno:"true, false"}},
            todayDate: new Date({{ today|date:"Y" }}, {{ today|date:"n" }}-1, {{ today|date:"j"}}),
            firstDay: new Date({{ first_day|date:"Y" }}, {{ first_day|date:"n" }}-1, {{ first_day|date:"j"}}),
            lastDay: new Date({{ last_day|date:"Y" }}, {{ last_day|date:"n" }}-1, {{ last_day|date:"j"}})
        };
    </script>
    {{ card_display_dates|json_script:'card_display_dates' }}
{% endblock django_json_data %}

{% block body_content %}

  <myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}">
    <myuw-banner-summaries></myuw-banner-summaries>
    <!--MARK: #main template (mobile-desktop) -->
    <template #main>

      <!--MARK: inherent card ordering -->
      <myuw-notice-card></myuw-notice-card>
      <myuw-grades></myuw-grades>
      <myuw-husky-experience></myuw-husky-experience>
      <myuw-outage></myuw-outage>

      <myuw-future-quarter-cards highlighted></myuw-future-quarter-cards>
      <!-- MARK: use 'mobile-only' to suppress on tablet/desktop -->
      <myuw-quicklinks mobile-only></myuw-quicklinks>
      <myuw-ns-thank-you></myuw-ns-thank-you>
      <myuw-ns-to-register></myuw-ns-to-register>
      <myuw-reg-status></myuw-reg-status>
      <myuw-summer-efs></myuw-summer-efs>
      <myuw-reg-status for-quarter="Summer" period="A"></myuw-reg-status>
      <myuw-ns-critical-info></myuw-ns-critical-info>
      <myuw-ns-international-student></myuw-ns-international-student>

      <myuw-visual-schedule></myuw-visual-schedule>
      <myuw-reg-status for-quarter="Summer" period="1"></myuw-reg-status>

      <myuw-future-quarter-cards></myuw-future-quarter-cards>
      <myuw-applicant></myuw-applicant>
      <myuw-international-student></myuw-international-student>
      <myuw-uwnetid></myuw-uwnetid>

      <!-- MARK: use 'mobile-only' to suppress on tablet/desktop -->
      <myuw-events mobile-only></myuw-events>

    </template>
    <!-- MARK: #side-bar template (tablet/desktop only) -->
    <template #side-bar>
      <!--MARK: inherent card ordering -->
      <myuw-quicklinks></myuw-quicklinks>
      <myuw-events></myuw-events>
    </template>
  </myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
  {% load render_bundle from webpack_loader %}
  {% render_bundle 'index' %}
{% endblock vue_script %}
