{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}

{% block django_json_data %}
    {{ user|json_script:'user' }}
{% endblock django_json_data %}

{% block body_content %}
    <uw-boilerplate :disable_actions="'{{ disable_actions }}' == 'True'"
        logout_url="{% settings_value "LOGOUT_URL" %}">

        <h2>Home</h2>

        <b-row>
            <b-col md="8">
                <uw-notices></uw-notices>
            </b-col>
            <b-col md="4">
                <div>quicklinks go here</div>
            </b-col>
        </b-row>

    </uw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'index' %}
{% endblock vue_script %}
