{% extends "base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
{% set_context 'page_title' 'Notices' %}
{% endblock %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/profile.html" %}
    {% include "handlebars/banner/notice.html" %}

    <!-- page content templates -->
    {% include "handlebars/loading.html" %}
    {% include "handlebars/error.html" %}
    {% include "handlebars/notices.html" %}

    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    {% compress js inline %}
    <script src="{% static 'js/page/notices.js' %}"></script>
    {% endcompress %}
{% endblock %}
