{% extends "base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
{% set_context 'page_title' 'Profile' %}
{% endblock %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/profile.html" %}
    {% include "handlebars/card/profile/profile_card.html" %}
    {% include "handlebars/card/directory_info.html" %}
    {% include "handlebars/card/student_info.html" %}
    {% include "handlebars/card/profile/help_links_card.html" %}
    {% include "handlebars/card/loading.html" %}

    <!-- page content templates -->
    {% include "handlebars/profile.html" %}
    {% include "handlebars/loading.html" %}
    {% include "handlebars/error.html" %}

    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    {% compress js inline %}
        <script src="{% static 'js/page/profile.js' %}"></script>
        <script src="{% static 'js/card/profile/profile.js' %}"></script>
        <script src="{% static 'js/card/profile/directory_info.js' %}"></script>
        <script src="{% static 'js/card/profile/student_info.js' %}"></script>
        <script src="{% static 'js/card/profile/help_links.js' %}"></script>
    {% endcompress %}
{% endblock %}
