{% extends is_hybrid|yesno:"base_hybrid.html,base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
{% set_context 'page_title' 'Profile' %}
{% endblock %}

{% block content %}

    <h2 class="sr-only" id="main-content-label">Your Profile</h2>
    <div id="main-content" role="main" aria-labelledby="main-content-label"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/card/profile/profile_card.html" %}
    {% include "handlebars/card/profile/applicant_profile_card.html" %}
    {% include "handlebars/card/profile/help_links_card.html" %}
    {% include "handlebars/card/profile/employee_profile.html" %}
    {% include "handlebars/card/profile/student_info.html" %}
    {% include "handlebars/card/loading.html" %}
    {% include "handlebars/card/workday_link.html" %}

    <!-- page content templates -->
    {% include "handlebars/profile.html" %}
    {% include "handlebars/loading.html" %}
    {% include "handlebars/error.html" %}

    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    {% compress js inline %}
        <script src="{% static 'js/page/profile.js' %}"></script>
        <script src="{% static 'js/card/profile/profile.js' %}"></script>
        <script src="{% static 'js/card/profile/employee_profile.js' %}"></script>
        <script src="{% static 'js/card/profile/student_info.js' %}"></script>
        <script src="{% static 'js/card/profile/help_links.js' %}"></script>
        <script src="{% static 'js/card/profile/applicant_profile.js' %}"></script>
    {% endcompress %}
{% endblock %}
