    <script>
    var quicklink_data = {
        recent_links: [
            {% for link in recent_links %}
            {added: {% if link.added %}true{% else %}false{% endif %}, id: '{{ link.id }}', url: '{{ link.url | safe | escapejs}}', label: '{{ link.label | safe | escapejs }}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        popular_links: [
            {% for link in popular_links %}
            {added: {% if link.added %}true{% else %}false{% endif %}, id: '{{ link.id }}', url: '{{ link.url | safe | escapejs }}', label: '{{ link.label | safe | escapejs }}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        custom_links: [
            {% for link in custom_links %}
            {id: '{{ link.id }}', url: '{{ link.url | safe | escapejs }}', label: '{{ link.label | safe | escapejs }}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        default_links: [
            {% for link in default_links %}
            {url: '{{ link.url | safe | escapejs }}', label: '{{ link.label | safe | escapejs }}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    };
    </script>
