{% extends is_hybrid|yesno:"base_hybrid.html,base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
    {% set_context 'page_title' 'UW Resources' %}
{% endblock %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main-content-label">

    </div>

    <!-- component content templates -->

    <!-- page content templates -->
    {% include "handlebars/loading.html" %}
    {% include "handlebars/error.html"  %}
    {% include "handlebars/resources.html" %}
    {% include "handlebars/card/resources/resources_content.html" %}

    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    {% compress js inline %}
        <script src="{% static 'js/page/explore.js' %}"></script>
        <script src="{% static 'js/card/resources.js' %}"></script>
        <script src="{% static 'js/resources.js' %}"></script>
    {% endcompress %}
{% endblock %}
