{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block page_title %}
MyUW: Search the UW
{% endblock %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main">
        <div class="container search-wrapper">
            <div class="row">
                <div id="search_content">
                    <h2>Search the UW</h2>
                    {#    Leavign off G:CSE initialization as that's happening on the included search banner in base.html#}
                    <gcse:search></gcse:search>
                </div>
            </div>
        </div>
    </div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/profile.html" %}

    <!-- page content templates -->
    {% include "handlebars/loading.html" %}
    {% include "handlebars/error.html" %}


    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    {% compress js inline %}
    <script src="{% static 'js/page/search_res.js' %}"></script>
    {% endcompress %}
{% endblock %}
