{% extends is_hybrid|yesno:"base_hybrid.html,base.html" %}
{% load static %}
{% load compress %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main-content-label"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/notice.html" %}
    {% include "handlebars/card/loading.html" %}
    {% include "handlebars/card/no_course.html" %}
    {% include "handlebars/card/error.html" %}
    {% include "handlebars/card/schedule/instructor_panel.html" %}
    {% include "handlebars/card/schedule/visual.html" %}
    {% include "handlebars/card/schedule/visual_day.html" %}
    {% include "handlebars/card/schedule/final_panel.html" %}
    {% include "handlebars/card/schedule/sp_final.html" %}
    {% include "handlebars/card/schedule/final_day.html" %}
    {% include "handlebars/card/instructor_schedule/course_content.html" %}
    {% include "handlebars/card/instructor_schedule/course_sche_panel.html" %}
    {% include "handlebars/card/instructor_schedule/no_courses_card.html" %}
    {% include "handlebars/card/instructor_schedule/course_resource_panel.html" %}
    {% include "handlebars/card/instructor_schedule/mailman/request_email_lists.html" %}
    {% include "handlebars/card/instructor_schedule/mailman/view_email_lists.html" %}
    {% include "handlebars/card/teaching_resources.html" %}

    <!-- page content templates -->
    {% block teaching_content %}{% endblock teaching_content %}
    {% include "handlebars/loading.html" %}

    <!-- includes -->
    {% include "user_state.html" %}
{% endblock %}
