{% extends "teaching_base.html" %}
{% load set_context %}
{% load static %}
{% load compress %}

{% block load_values %}
{% set_context 'page_title' 'Teaching Section' %}
{% endblock %}

{% block teaching_content %}
    {% include "handlebars/card/instructor_schedule/course_section.html" %}
    {% include "handlebars/card/instructor_schedule/no_section_card.html" %}
    {% include "handlebars/card/instructor_schedule/not_instructor_card.html" %}
    {% include "handlebars/teaching_section.html" %}
{% endblock %}

{% block extra_js %}
    <script>
      window.section_data = {
          "section": "{{ section }}"
      };
    </script>
    {% compress js inline %}
    <script src="{% static 'js/page/teaching_section.js' %}"></script>
    <script src="{% static 'js/card/teaching_resources.js' %}"></script>
    {% endcompress %}
{% endblock %}
