{% extends 'base.html' %}

{% load settings_value %}
{% load set_context %}
{% load vite %}

{% block django_json_data %}
  <script>
    // TODO: Replace this with a object in the context and a json_script.
    window.section = "{{ section }}";
  </script>
{% endblock django_json_data %}

{% block vue_styles %}
<!-- vite css bundle -->
{% vite_styles 'myuw_vue/teaching_classlist.js' %}
{% endblock vue_styles %}

{% block body_content %}
<myuw-boilerplate id="myuw-printable-page" is-hybrid="{{ user.isHybrid }}" force-hybrid>
  <template #mobile>
    <myuw-classlist section-label="{{ section }}"></myuw-classlist>
  </template>
  <template #desktop>
    <div class="col">
      <myuw-classlist section-label="{{ section }}"></myuw-classlist>
    </div>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
<!-- vite js bundle -->
{% vite_scripts 'myuw_vue/teaching_classlist.js' %}
{% endblock vue_script %}
