{% extends 'base.html' %}

{% load settings_value %}
{% load set_context %}

{% block django_json_data %}
{% endblock django_json_data %}

{% block body_content %}

<myuw-boilerplate logout-url="{% settings_value 'LOGOUT_URL' %}" is-hybrid="{{ user.isHybrid }}">
  <template #mobile>
    <div class="col-md-12 px-0">
      <myuw-teaching-term-tabs></myuw-teaching-term-tabs>
      <myuw-teaching-resources></myuw-teaching-resources>
    </div>
  </template>

  <template #desktop>
    <div class="col-md-8">
      <myuw-teaching-term-tabs></myuw-teaching-term-tabs>
    </div>
    <div class="col-md-4">
      <myuw-teaching-resources></myuw-teaching-resources>
    </div>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'teaching' 'js' attrs='defer' %}
{% render_bundle 'teaching' 'css' %}
{% endblock vue_script %}
