{% extends 'base.html' %}

{% load settings_value %}
{% load json_script %}
{% load set_context %}

{% block django_json_data %}
    <script>
        window.textbookTerm = "{{ term|default:"current" }}";
    </script>
{% endblock django_json_data %}

{% block body_content %}
<myuw-boilerplate logout-url="{% settings_value "LOGOUT_URL" %}">
  <!--MARK: #primary template (column 1, mobile only) -->
  <template #primary>
    <b-col cols="12" :class="[$mq === 'mobile' ? 'px-0' : '']">
      <!--MARK: card components go here in order -->
      <myuw-textbooks term="{{ term|default:"current" }}"></myuw-textbooks>
    </b-col>
  </template>
</myuw-boilerplate>
{% endblock body_content %}

{% block vue_script %}
{% load manifest %}
{% manifest_match '*textbooks*.css' '<link rel="stylesheet" href="{match}">' %}
{% manifest_match '*textbooks*.js' '<script src="{match}"></script>' %}
{% endblock vue_script %}
