{% extends "base.html" %}
{% load static %}

{% block page_title %}
MyUW: Textbooks
{% endblock %}

{% block content %}

    <div id="main-content" role="main" aria-labelledby="main"></div>
    <div id="static-links"></div>

    <!-- component content templates -->
    {% include "handlebars/banner/profile.html" %}

    <!-- page content templates -->
    {% include "handlebars/loading.html" %}
    {% include "handlebars/error.html" %}
    {% include "handlebars/textbooks.html" %}


    {% include "user_state.html" %}

{% endblock %}

{% block extra_js %}
    <script>
    window.textbook_data = {
        "term": "{{ term|default:"current" }}",
        "textbook": "{{ textbook|default:"" }}"
    };
    </script>
    <script src="{% static 'js/page/textbooks.js' %}"></script>
{% endblock %}
