{% load templatetag_handlebars %}
    {% tplhandlebars "course_sche_panel" %}

<h5 class="scheduleHeading{{#unless has_eval}} sr-only{{/unless}}">
{{#if has_eval}}{{ucfirst meetings.0.type}}{{/if}} Schedule
</h5>

<table class="table table-borderless table-condensed table-course-schedule">
    <thead class="sr-only">
        <tr>
            <th>Day(s)</th>
            <th>Time</th>
            <th>Location</th>
            <th>Meeting Type</th>
        </tr>
    </thead>
    <tbody class="tbody-course-schedule">
        {{#each meetings}}
        <tr class="course-schedule-row">
            {{#if wont_meet}}
                <!-- waiting on sws
                <td colspan="2" class="text-muted course-tbd">No meeting on ... </td>
                -->
            {{else}}
                {{#if days_tbd}}
                    <td colspan="3" class="text-muted course-tbd">Days and times to<br/> be arranged</td>
                {{else if no_meeting}}
                    <td colspan="3" class="text-muted course-loc-tbd">No classroom meeting: online learning</td>
                {{else}}
                    {% include "handlebars/card/schedule/course_sche_col_days.html" %}
                {{/if}}

                {{#if building_tbd}}
                    <td class="text-muted course-loc-tbd">Room to be arranged</td>
                {{else}}
                    {% include "handlebars/card/schedule/course_sche_col_bldg.html" %}
                {{/if}}

                <td class="course-meeting">
                    <!-- if meeting type other than the section type -->
                    <span class="myuw-course-meeting-type c{{color_id}}Color">Fake</span>
                    <!-- endif -->
                </td>
            {{/if}}
        </tr>

        {{/each}}
    </tbody>
</table>

{% endtplhandlebars %}
