{% load templatetag_handlebars %}
    {% tplhandlebars "calendar_events" %}
    <div class="academic_cal-container">
       <div class="container">
            <h1>Academic Calendar</h1>
            <a href="//www.washington.edu/students/reg/calendar.html">View detailed</a> | <a href="//www.washington.edu/calendar/academic/">Subscribe to detailed</a>
            <div class="btn-group btn-group-justified acal-page-filters" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="myuw-event-filter-all" class="btn btn-default myuw-selected-button">All</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="myuw-event-filter-breaks" class="btn btn-default">Breaks</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="myuw-event-filter-classes" class="btn btn-default">Classes</button>
                </div>
            </div>

           <div class="acal-page-events">
                {{#each terms }}
                {{#if term_break }}
                {{ #each events }}
                <div class="acal-page-event acal-page-event-break">
	                <center>
                        <div class="acal-page-event-date"><strong>{{ start }} - {{ end }}</strong></div>
                        <div class="acal-page-event-title"><a href="{{ event_url }}">{{ summary }}</a></div>
	                </center>
                </div>
                {{/each}}

                {{else}}
                <h2>{{ quarter }} {{ year }}</h2>
                <ul class="acal-page-event-list">
                    {{ #each events }}
                    <li class="acal-page-event-list-item acal-page-event {{#if myuw_categories.breaks }}acal-page-event-break{{/if}}{{#if myuw_categories.classes}}acal-page-event-class{{/if}}">
                        <div class="acal-page-event-date"><strong>{{ start }} - {{ end }}</strong></div>
                        <div class="acal-page-event-title"><a href="{{ event_url }}">{{ summary }}</a></div>
                    </li>
                    {{ /each }}
                </ul>
                {{/if}}
                {{ /each }}
           </div>
        </div>
    </div>
    {% endtplhandlebars %}

