{% load templatetag_handlebars %}
    {% tplhandlebars "textbooks" %}

  
            {{#each sections}}
            
            <div class="c{{color_id}} books-list"><h4>{{curriculum}} {{course_number}}{{section_id}}</h4></div>
            {{#if books}}
          
                {{#each books}}
              <div class="clearfix book-image">
                {{#if cover_image_url}}
                <div class="book-cover pull-left"><img src="{{cover_image_url}}" alt="book cover" width="80px" /></div>
                {{else}}
                What if there's no image?
                {{/if}}
             
                <h5>{{title}}</h5>
                <p>{{#each authors}}
                      {{name}}
                        {{/each}}</p>
                  <dl class="dl-horizontal">
                     <dt>New </dt>
                      <dd>
                      {{#if price}}
                        ${{formatPrice price}} </dd>
                      {{else}}
                        *
                      {{/if}}
                     <dt>Used</dt>
                      <dd>
                      {{#if used_price}}
                          ${{formatPrice used_price}}
                      {{else}}
                          *
                      {{/if}}
                      </dd>
                   </dl>
        
                </div>
              
                   <dl class="dl-horizontal book-info clearfix">
                     <dt>Notes</dt>
                        {{#if is_required}}
                      <dd>Required</dd>
                        {{/if}}
                        {{#if notes}}
                      <dd>{{notes}}</dd>
                        {{/if}}
                    {{#if isbn}}
                     <dt>ISBN</dt>
                      <dd><a href="#">{{isbn}}</a></dd>
                    {{/if}}
                    </dl>
			
		
                  {{/each}}
        
            {{else}}
            <p>No textbook requirement has been received for this course. Please check with <a class="base-font-size show_instructors" href="/my/" rel="{{index}}">your instructor.</a></p>
            {{/if}}
            {{/each}}



<div style="margin-top:20px;"><p class="muted"><small>Information on course textbooks is collected by and provided courtesy of <a style="font-size:12px;" href="http://www.bookstore.washington.edu">University Book Store</a> and is subject to change regularly and without notice. </small></p></div>


             {% endtplhandlebars %}
