{% load templatetag_handlebars %}
    {% tplhandlebars "textbooks" %}

 <div class="row-fluid">
        <div class="span12">

            <div>
            {{#each sections}}
            <div class="c{{color_id}} books-list"><h4>{{curriculum}} {{course_number}}{{section_id}}</h4></div>
            {{#if books}}
                {{#each books}}
              <div class="book-image">
                {{#if cover_image_url}}
                <div class="pull-left book-cover" style="padding-right:5px;"><img src="{{cover_image_url}}" alt="book cover" width="80px" /></div>
                {{else}}
                What if there's no image?
                {{/if}}
                <div style="margin-left:90px;">
                <h5 style="font-size:120%;margin-bottom:0;">{{title}}</h5>
                <p>{{#each authors}}
                      {{name}}
                        {{/each}}</p>
                  <dl class="dl-horizontal">
                     <dt>New</dt>
                      <dd>${{price}}</dd>
                      {{#if used_price}}
                     <dt>Price (Used)</dt>
                      <dd>${{used_price}}</dd>
                      {{/if}}
                     <dt>Notes</dt>
                        {{#if is_required}}
                      <dd>Required</dd>
                        {{/if}}
                        {{#if notes}}
                      <dd>{{notes}}</dd>
                        {{/if}}
                     <dt>ISBN</dt>
                      <dd><a href="#">{{isbn}}</a></dd>
                    </dl>
                    </div>
              </div>

              
                  {{/each}}
            {{else}}
            <p>No textbook requirement has been received for this course. Please check with <a class="base-font-size" href="#">your instructor -- WHICH ONE?.</a></p>
            {{/if}}
            {{/each}}
        </div>
</div>


<div style="margin-top:20px;"><p class="muted"><small>Information on course textbooks is collected by and provided courtesy of <a style="font-size:12px;" href="http://www.bookstore.washington.edu">University Book Store</a> and is subject to change regularly and without notice. </small></p></div>


             {% endtplhandlebars %}
