{% load templatetag_handlebars %}
    {% tplhandlebars "category_page" %}
    
    <div class="container">

        <div style="margin-top:1em;"><a href="/mobile/landing/">Back</a></div>
        
        <div class="category-content">
        
            <h2 class="category-header">{{category_name}}</h2>
            
            {{ #each link_data }}
            <h3 class="category-sub-header">{{ subcategory }}</h3>
            {{ #each links }}
                <ul class="category-links">
                    <li> <a href="{{ url }}">{{ title }}</a></li>
                </ul>
            {{ /each }}
            {{ /each }}
        
        </div>
        
    </div>
    {% endtplhandlebars %}
