{% load templatetag_handlebars %}
    {% tplhandlebars "category_page" %}

<div class="category-container">

    <div class="container">
        
        <h1 class="category-header">{{category_name}}</h1>
        
        <div class="category-content card">
            
            {{ #each link_data }}
            <h2 id="{{subcat_slug}}" class="category-sub-header">{{ subcategory }}</h2>
            {{ #each links }}
                <ul class="category-links">
                    <li> <a href="{{ url }}">{{ title }}</a></li>
                </ul>
            {{ /each }}
            {{ /each }}
        
        </div>
        
    </div>
</div>
    {% endtplhandlebars %}
