{% load templatetag_handlebars %}
    {% tplhandlebars "final_exams" %}
    {{#if is_summer}}
    <div style="Background-color: #F55;">
     Unlike Autumn, Winter and Spring quarters, the Summer quarter does not have a week set aside exclusively for final examinations. Most summer quarter final examinations are given on the final meeting day of the course. Consult with your instructor on when your final examination will be given.
    </div>
    {{else}}

    {{#if visual_data.latest_ending}}
    {{#with visual_data}}
        <div class="row-fluid">
        <div class="span12">
        <div class="final-visual-schedule visual-schedule {{schedule_hours_class}}" >
			
            <div class="exam-time-bar day-col2 hours-{{total_hours}} clearfix ">
			
            {{#each display_hours}}
                <div class="hour-label" style="position:absolute;top:{{time_percentage position ../start_time ../end_time }}%;"><p>{{format_schedule_hour hour}}</p></div>
            {{/each}}
            </div>
            {{#if has_7_days}}
            <div class="seven-day">
                <div class="day-label">SAT <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 6}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals saturday start_time end_time }}
                </div>
            </div>
            <div class="seven-day">
                <div class="day-label">SUN <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 5}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals sunday start_time end_time }}
                </div>
            </div>

            {{/if}}


            <div {{#if has_7_days}}class="seven-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label">MON <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 4}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals monday start_time end_time }}
                </div>
            </div>

            <div {{#if has_7_days}}class="seven-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label">TUE <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 3}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals tuesday start_time end_time }}
                </div>
            </div>

            <div {{#if has_7_days}}class="seven-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label">WED <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 2}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals wednesday start_time end_time }}
                </div>
            </div>

            <div {{#if has_7_days}}class="seven-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label">THU <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 1}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals thursday start_time end_time }}
                </div>
            </div>

            <div {{#if has_7_days}}class="seven-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label">FRI <br /> <span class="final-date">{{ formatDateAsFinalsDay end_date 0}}</span></div>
                <div class="day-col hours-{{total_hours}}">
                {{ show_days_finals friday start_time end_time }}
                </div>
            </div>

        </div>
      </div>

    {{/with}}
    {{/if}}
    {{#if over_one_week}}
    {{#each over_one_week}}
        <div>
            <div class="c{{color_id}} c{{color_id}}Border">
                  <span class="courseIDtitle">{{ curriculum_abbr }} {{course_number}}{{section_id}}</span>

                  Building: {{ final_exam.building }}
                  Room: {{ final_exam.room_number }}
                  Date: {{ formatDateAsDate final_exam.start_date }}
                  Start: {{ formatDateAsTimeAMPM final_exam.start_date }}
                  End: {{ formatDateAsTimeAMPM final_exam.end_date }}
            </div>
        </div>

    {{/each}}
    {{/if}}

    {{#if tbd}}
    <div class="courseTBD">
    <h6>Courses with final exam meeting times to be determined or courses with no final exam:</h6>
    {{#each tbd}}
    
     <a href="/mobile/final_exams/{{section_index}}" class="show_section_details " rel="{{section_index}}"> <div class="c{{color_id}} visual-course pull-left"> <div class="visual-course-id">{{ curriculum_abbr }} {{course_number}}{{section_id}}</div> 
     </div> 
    

    {{/each}}
    {{/if}}
    </a>
    </div>
    {{/if}}
    {% endtplhandlebars %}

        {% tplhandlebars "finals_schedule_day" %}
            {{#each meetings}}
            <a href="/mobile/final_exams/{{section_index}}" class="show_section_details {{curriculum}}_{{course_number}}{{section_id}}" rel="{{section_index}}">
            <div class="c{{color_id}} visual-course" style="position: absolute; top:{{time_percentage start ../start_time ../end_time}}%; height:{{time_percentage_height start end ../start_time ../end_time}}%;">
            <div class="visual-course-id">{{curriculum}} {{course_number}}{{section_id}}</div>
            </div>
            </a>
            {{/each}}

        {% endtplhandlebars %}


