        {% load templatetag_handlebars %}
            {% tplhandlebars "finals_modal" %}

                 <!-- heading -->
                 <div class="modal-header c{{color_id}}">

                <h3>
                	<span class="courseIDtitle">{{ curriculum_abbr }} {{course_number}}{{section_id}}</span>
                    <span class="shortTitle">{{ course_title }}</span>
                </h3>
                 </div>
                 <div class="final-exam-modal-label">Final Exam</div>
                 <!-- /heading -->
                 <!-- body -->
                 <div id="course{{color_id}}" class="modal-body">
                 


				<table class="table-meeting">
				<tr>
                    {{#if final_exam.start_date}}
					<td>{{ formatDateAsDate final_exam.start_date }}</td>
					<td>{{ formatDateAsTimeAMPM final_exam.start_date }} - {{ formatDateAsTimeAMPM final_exam.end_date }}</td>
					<td>{{ final_exam.building }} {{ final_exam.room_number }}</td>
                    {{/if}}
                 </tr>
                 </table>

				<dl class="dl-horizontal">
					 <dt>Status</dt>
					 	<dd> {{#if final_exam.is_confirmed }}
                 Confirmed
                 {{else}}
                 {{#if final_exam.start_date}}
                 Not confirmed
                 {{else}}
                 No final exam, or non-traditional final exam
                 {{/if}}
                 {{/if}}</dd>
                      {{#if instructors}}
                     <dt>Instructor</dt>
                      <dd>
                            <ul>
                            {{#each instructors}}
                                {{#if whitepages_publish}}
                                <li><a href="javascript:void(0);" class="instructor" rel="{{uwregid}}">{{full_name}}</a></li>
                                {{else}}
                                <li>{{full_name}}</li>
                                {{/if}}

                            {{/each}}
                            </ul>
                        </dd>
                        {{/if}}
				</dl>

 <button class="btn btn-close close_modal">Close</button>
                </div>

                 <!-- /body -->


        {% endtplhandlebars %}
