{% load templatetag_handlebars %}
    {% tplhandlebars "final_exams" %}
Finals
    {{#if over_one_week}}
    {{#each over_one_week}}
        <div>
            <div class="c{{color_id}} c{{color_id}}Border">
                  <span class="courseIDtitle">{{ curriculum_abbr }} {{course_number}}{{section_id}}</span>

                  Building: {{ final_exam.building }}
                  Room: {{ final_exam.room_number }}
                  Date: {{ formatDateAsDate final_exam.start_date }}
                  Start: {{ formatDateAsTimeAMPM final_exam.start_date }}
                  End: {{ formatDateAsTimeAMPM final_exam.end_date }}
            </div>
        </div>

    {{/each}}
    {{/if}}

    {{#if tbd}}
    <p>Courses with final exam meeting times to be determined or courses with no final exam:</p>
    {{#each tbd}}
        <div>
            <div class="c{{color_id}} c{{color_id}}Border">
                  <span class="courseIDtitle">{{ curriculum_abbr }} {{course_number}}{{section_id}}</span>
            </div>
        </div>
    {{/each}}
    {{/if}}
    {% endtplhandlebars %}
