{% load templatetag_handlebars %}

    {% tplhandlebars "header" %}
        <h2>{{DisplayName}}</h2>
    <h3 style="line-height:1px;margin:0;">
        <small>{{Title1}}{{#if Title2}}, {{Title2}}{{/if}}</small>
    </h3>
    {% endtplhandlebars %}

    {% tplhandlebars "instructor" %}
    
        <div class="span12">
        <!-- start main content -->
        <dl class="dl-instructor">
                   {{#if Address1}}
                    <dt>Address</dt>
                        <dd>{{Address1}}</dd>
                        {{#if Address2}}<dd>{{Address2}}</dd>{{/if}}
                    {{/if}}
                    {{#if Email1}}
                    <dt>Email</dt>
                      <dd class="directory-email"><a href="mailto:{{Email1}}" class="contact_instructor">{{Email1}}</a></dd>
                      {{#if Email2}}<dd  class="directory-email"><a href="mailto:{{Email2}}" class="contact_instructor">{{Email2}}</a></dd>{{/if}}
                    {{/if}}
                    {{#if Phone1}}
                     <dt>Phone</dt>
                      <dd><a href="tel:{{Phone1}}" class="contact_instructor">{{Phone1}}</a></dd>
                      {{#if Phone2}}<dd><a href="tel:{{Phone2}}" class="contact_instructor">{{Phone2}}</a></dd>{{/if}}
                    {{/if}}
                    {{#if VoiceMail}}
                     <dt>Vmail</dt>
                      <dd><a href="tel:{{VoiceMail}}" class="contact_instructor">{{VoiceMail}}</a></dd>
                    {{/if}}
                    {{#if Fax}}
                     <dt>Fax</dt>
                      <dd>{{Fax}}</dd>
                    {{/if}}
                    {{#if TouchDial}}
                     <dt>Touch Dial</dt>
                      <dd>{{TouchDial}}</dd>
                    {{/if}}
                    {{#if MailStop}}
                     <dt>Box Number</dt>
                      <dd>{{MailStop}}</dd>
                    {{/if}}
        </dl>
        
        <p class="muted"><small>Pursuant to RCW 42.56, the UW is providing this directory information for non-commercial purposes only. Any use of the information for commercial purposes is prohibited.</small></p>
    </div>
        <!-- /end main content -->

{% endtplhandlebars %}
