{% load templatetag_handlebars %}
    {% tplhandlebars "landing" %}
    
    <h1 class="sr-only">Home</h1>
    
    <div id="notice_banner_location"></div>

    <h2 id="landing_cards_header" class="sr-only">Main content</h2>
    
    <div id="landing_content" class="container" role="main" aria-labeledby="landing_cards_header">
   
   
   
   
        <!-- TODO: create new card and wire up display -->
        <div aria-labeledby="my_academics">
            <div class="card" style="border-color: red;">
                <div class="fade-in">
                
                    <h3>Academics</h3>
                    <div>Class: <span class="todo">Sophmore</span></div>
                    <div>Major: <span class="todo">Undeclared</span></div>
                    <div>Minor: <span class="todo">none</span></div>
                    
                    <div id="academics_resources" class="slide-hide slide-show" aria-hidden="false">
                        <h4>Resources</h4>
                        <ul class="reg-resources-list">
                            <li><a href="https://myplan.uw.edu">MyPlan</a></li>
                            <li><a href="https://uwstudent.washington.edu/student/myplan/audit?methodToCall=audit&viewId=DegreeAudit-FormView">Degree Audit Reporting System (DARS)</a></li>
                            <li>Change major</li>
                            <li>Academic planning</li>
                        </ul>
                    </div>
                    
                    <div class="card-disclosure">
                        <a id="show_academics_resources" aria-controls="reg_resources" href="#" title="Expand to show additional academics resources">Show more</a>
                    </div>
                
                </div>
            </div>     
        </div>
        
        
        
    </div>
    
    {% endtplhandlebars %}
