{% load templatetag_handlebars %}
    {% tplhandlebars "landing" %}

    {{{ notice_banner }}}

    <div class="container">
        <h2 class="offscreen">PLACEHOLDER H2 FOR ACCESSIBILITY</h2>
        
        {{{ reg_status_card }}}
        <div id="visual_schedule_card">
            {{{ visual_schedule_card }}}
        </div>
        {{{ fin_aid_card }}}
        {{{ tuition_card }}}
        {{{ pce_tuition_card }}}
        <div id="hfs_card">
            {{{ hfs_card }}}
        </div>
        <div id="library_card">
            {{{ library_card }}}
        </div>

    </div>
    {% endtplhandlebars %}
