{% load templatetag_handlebars %}
    {% tplhandlebars "quicklinks" %}
    <!-- main links page -->
    <div class="page-header">
		
		<h2>MyLinks<a class="btn btn-visual pull-right" href="#"><i class="icon-edit"></i> Edit</a></h2>
		
	  </div>
	  <div class="span12">
    	<ul class="link-list">
        	<li><a href="#">Link Link Link Link</a></li>
        	<li><a href="#">Link Link Link Link</a></li>
        	<li><a href="#">Link Link Link Link</a></li>
        </ul>
        </div>
       <!-- main links end -->
       <!-- edit links -->
       <div class="page-header">
		
		<a class="btn btn-visual pull-right" href="#"><i class="icon-save"></i> Save</a>
		
	  </div>
	  <div class="span12 clearfix">
	  <ul class="link-list">
	  <li><label for="link1"><input type="checkbox" id="link1" value=""><div class="mylink"><i class="icon-checked"></i>Link1</div></label></li>
	  <li><label for="link2"><input type="checkbox" id="link2" value=""><div class="mylink"><i class="icon-checked"></i>Link2</div></label></li>
	  <li><label for="link3"><input type="checkbox" id="link3" value=""><div class="mylink"><i class="icon-checked"></i>Link3</div></label></li>

	  </ul>
	  
		<a class="btn btn-visual pull-right" href="#"><i class="icon-save"></i> Save</a>
</div>
       
       
       <!-- edit links end -->
    {% endtplhandlebars %}
