            {% load templatetag_handlebars %}
            {% tplhandlebars "no-courses" %}
            <div class="alert alert-info"><h4>Hmm.</h4><p class="text-info">You are not registered for credit courses this quarter. Go to the full MyUW and <a href="http://my.uw.edu/servlet/main" target="_blank" style="font-size:inherit;">register now.</a> If you believe this is a mistake, <a href="http://www.washington.edu/students/reg/regelig.html" target="_blank" title="Contact the registrar">contact the Registrar.</p></div>
            {% endtplhandlebars %}
