{% load templatetag_handlebars %}
{% tplhandlebars "no-courses" %}
   <div class="alert alert-info"><h4>No courses found.</h4><p class="text-info" style="font-size:inheret;">You do not appear to be registered for credit courses this quarter. If you are not registered, you can go to the <a title="Go to MyUW desktop version" href="http://my.uw.edu/servlet/main">MyUW full site</a> to learn about registration. If you think this is an error, please <a href="http://myuw.washington.edu/cgi-bin/contactmyuw.cgi" target="_blank" title="Contact MyUW">contact MyUW.</p></div>

<div class="row-fluid">
  <ul class="unstyled">
    <li class="additional">
      <a class="show_other_quarters" href="/mobile/oquarters"><i class="icon-sort"></i> View Other Quarters</a>
    </li>
  </ul>
</div>

{% endtplhandlebars %}
