{% load templatetag_handlebars %}
    {% tplhandlebars "notices" %}

<div class="notices-container">
	  
	  <div class="container">
	  
	    <h2 id="main">Notices</h2>
		<div class="notice-header-metadata">
		    <span class="notice-count">{{ total_notices }} notices total</span>
		    {{ #if total_notices }}
		    <div class="toggle">
		      <a id="expand_collapse" href="#" title="Show all notice information">Expand all</a>
		    </div>
		    {{ /if }}
		</div>	  

	    {{ #if total_notices }}
        <div id="accordion" class="notice-accordion">
	    
	        {{ #if critical.count }}
	        <!-- collapsy 1: critical -->
	        <div class="disclosure">

                <div class="disclosure-heading disclosure-heading-critical clearfix">
                	<!-- collapsy 1 header -->      
    	            <a class="slide-link" href="#" aria-controls="collapseOne" title="Show more notice information"><h3 class="disclosure-title">{{ critical.count }} Critical</h3></a>
    	            
					<div class="disclosure-meta clearfix">
                        {{ #if critical.unread_count }}
	                        <span class="badge disclosure-unread">{{ critical.unread_count }} new</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
					</div>
					
                </div>
	            
	            <!-- collapsy 1 content -->
	            <div id="collapseOne" class="slide-hide clearfix" aria-hidden="true" style="display: none;">
	                <div class="disclosure-content">
	                    <ul class="notices_list">
	                    {{ #each critical .notices }}
							<li>
		                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }} {{ #each location_tags }}{{ this }} {{ /each }}">
			                    <div class="inner-notice-container">
									<i class="fa fa-exclamation-triangle critical-icon" aria-labelledby="critical_notice" ></i>
									<span id="critical_notice" class="critical_notice sr-only">Critical Notice</span>
			                        <div class="notice-category">
				                        
			                           {{ category }}{{ #unless is_read }}<span class="notice-new"> New</span>{{ /unless }}  
			                        </div>
			                        <div class="notice-content">
			                           {{ #unless is_read }}<span class="sr-only">New Notice:</span>{{ /unless }}{{{ notice_content }}}
			                        </div>
			                    </div>
		                    </div>
							</li>
	                    {{ /each }}
	                    </ul>
	                </div>
	            </div>
	      </div>
	      {{ /if }}
	      <!-- end collapsy 1 -->
	      
	      {{ #if today.notices }}
	      <!-- collapsy 2: today -->      
	        <div class="disclosure">
	            
                <div class="disclosure-heading clearfix">
                    <!-- collapsy 2 header -->      
    	            <a href="#" class="slide-link" aria-controls="collapseTwo" title="Show more notice information"><h3 class="disclosure-title">Today</h3></a>
                    
                    <div class="disclosure-meta clearfix">                        
						{{ #if today.critical_count }}
						<span class="disclosure-critical">{{ today.critical_count }} critical</span>
						{{ /if }}
                        {{ #if today.unread_count }}
						 <span class="badge disclosure-unread">{{ today.unread_count }} new</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
                    </div>
                    
                </div>
	            
	            <!-- collapsy 2 content -->
	            <div id="collapseTwo" class="slide-hide" aria-hidden="true" style="display: none;">
	                <div class="disclosure-content">
	                    <ul class="notices_list">
		                    {{# each today.notices }}
							<li>
		                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }} {{ #each location_tags }}{{ this }} {{ /each }}">
			                    <div class="inner-notice-container">
		                            {{ #if is_critical }}
									<i class="fa fa-exclamation-triangle critical-icon" title="Critical Notice" aria-labelledby="critical_notice" ></i>
									<span class="critical_notice sr-only">Critical Notice</span>
		                            {{ /if }}
			                        <div class="notice-category">
			                            {{ category }}{{ #unless is_read }}<span class="notice-new">New</span>{{ /unless }}
			                        </div>
			                        <div class="notice-content">
			                            {{ #unless is_read }}<span class="sr-only">New Notice:</span>{{ /unless }}{{{ notice_content }}}
			                        </div>
			                    </div>
		                    </div>
							</li>
		                    {{ /each }}
	                    </ul>
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 2 -->
	      
	      {{ #if week.notices }}
	       <!-- collapsy 3: this week -->
	        <div class="disclosure">
	              
	                
                <div class="disclosure-heading clearfix">
                
                    <!-- collapsy 3 header -->
    	            <a href="#" class="slide-link" aria-controls="collapseThree" title="Show more notice information"><h3 class="disclosure-title">This week</h3></a>
                     
                    <div class="disclosure-meta clearfix">
                        {{ #if week.critical_count }}  
                        <span class="disclosure-critical">{{ week.critical_count }} critical</span>
                        {{ /if }}
                        {{ #if week.unread_count }}
						 <span class="badge disclosure-unread">{{ week.unread_count }} new</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>	
                    </div>
                    
                </div>
	            
	            <!-- collapsy 3 content -->
	            <div id="collapseThree" class="slide-hide" aria-hidden="true" style="display: none;">
	                <div class="disclosure-content">
	                    <ul class="notices_list">
		                    {{# each week.notices }}
	                    	<li>
		                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }} {{ #each location_tags }}{{ this }} {{ /each }}">
			                    <div class="inner-notice-container">
		                            {{ #if is_critical }}
									<i class="fa fa-exclamation-triangle critical-icon" title="Critical Notice" aria-labelledby="critical_notice" ></i>
									<span class="critical_notice sr-only">Critical Notice</span>
		                            {{ /if }}
			                        <div class="notice-category">
			                            {{ category }}{{ #unless is_read }}<span class="notice-new"> New</span>{{ /unless }}
			                        </div>
			                        <div class="notice-content">
			                            {{ #unless is_read }}<span class="sr-only">New Notice:</span>{{ /unless }}{{{ notice_content }}}
			                        </div>
			                    </div>
		                    </div>
	                    	</li>
		                    {{ /each }}
	                    </ul>
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 3 -->
	
	      {{ #if next_week.notices }}
	       <!-- collapsy 4: next week -->
	        <div class="disclosure">
	              
                <div class="disclosure-heading clearfix">
                    <!-- collapsy 4 header -->
    	            <a href="#" class="slide-link" aria-controls="collapseFour" title="Show more notice information"><h3 class="disclosure-title">Next week</h3></a>  
                    
                    <div class="disclosure-meta clearfix">  
                        {{ #if next_week.critical_count }}
						<span class="disclosure-critical">{{ next_week.critical_count }} critical</span>
						{{ /if }}
                        {{ #if next_week.unread_count }}
						 <span class="badge disclosure-unread">{{ next_week.unread_count }} new</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
                    </div>
                    
                </div>
	            
	            <!-- collapsy 4 content -->
	            <div id="collapseFour" class="slide-hide" aria-hidden="true" style="display: none;">
	                <div class="disclosure-content">
						<ul class="notices_list">
		                    {{# each next_week.notices }}
							<li>
		                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }} {{ #each location_tags }}{{ this }} {{ /each }}">
			                    <div class="inner-notice-container">
		                            {{ #if is_critical }}
									<i class="fa fa-exclamation-triangle critical-icon" title="Critical Notice" aria-labelledby="critical_notice" ></i>
									<span class="critical_notice sr-only">Critical Notice</span>
		                            {{ /if }}
			                        <div class="notice-category">
			                            {{ category }}{{ #unless is_read }}<span class="notice-new"> New</span>{{ /unless }}
			                        </div>
			                        <div class="notice-content">
			                            {{ #unless is_read }}<span class="sr-only">New Notice:</span>{{ /unless }}{{{ notice_content }}}
			                        </div>
			                    </div>
		                    </div>
							</li>
		                    {{ /each }}
						</ul>
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 4 -->
	
	      {{ #if future.notices }}
	      <!-- collapsy 5: future -->      
	        <div class="disclosure">
	            
                <div class="disclosure-heading clearfix">
                    <!-- collapsy 5 header -->      
    	            <a href="#" class="slide-link" aria-controls="collapseFive" title="Show more notice information"><h3 class="disclosure-title">Upcoming weeks</h3></a>
    	            
    	            <div class="disclosure-meta clearfix">  
						{{ #if future.critical_count }}
						<span class="disclosure-critical">{{ future.critical_count }} critical</span>
						{{ /if }}
                        {{ #if future.unread_count }}
						 <span class="badge disclosure-unread">{{ future.unread_count }} new</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
    	            </div>
    	            
                </div>
	            
	            <!-- collapsy 5 content -->
	            <div id="collapseFive" class="slide-hide" aria-hidden="true" style="display: none;">
	                <div class="disclosure-content"> 
						<ul class="notices_list">
		                    {{# each future.notices }}
							<li>
		                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }} {{ #each location_tags }}{{ this }} {{ /each }}">
			                    <div class="inner-notice-container">
		                            {{ #if is_critical }}
									<i class="fa fa-exclamation-triangle critical-icon" title="Critical Notice" aria-labelledby="critical_notice" ></i>
									<span class="critical_notice sr-only">Critical Notice</span>
		                            {{ /if }}
			                        <div class="notice-category">
			                            {{ category }}{{ #unless is_read }}<span class="notice-new"> New</span>{{ /unless }}
			                        </div>
			                        <div class="notice-content">
			                            {{ #unless is_read }}<span class="sr-only">New Notice:</span>{{ /unless }}{{{ notice_content }}}
			                        </div>
			                    </div>
		                    </div>
							</li>
		                    {{ /each }}
						</ul>
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 5 -->
	      
	      {{ #if legal.notices }}
	        <!-- collapsy legal -->      
	        <div class="disclosure">
	              
                <div class="disclosure-heading clearfix">
                    <!-- collapsy legal header -->      
    	            <a href="#" class="slide-link" aria-controls="collapseSix" title="Show more notice information"><h3 class="disclosure-title">Legal</h3></a>  
    	            
    	            <div class="disclosure-meta clearfix">  
    	                {{ #if legal.critical_count }}
						<span class="disclosure-critical">{{ legal.critical_count }} critical</span>
						{{ /if }}
                        {{ #if legal.unread_count }}
						 <span class="badge disclosure-unread">{{ legal.unread_count }} new</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
    	            </div>
    	            
                </div>
	            
	            <!-- collapsy legal content -->
	            <div id="collapseSix" class="slide-hide" aria-hidden="true" style="display: none;">
	                <div class="disclosure-content"> 
						<ul class="notices_list">
		                    {{# each legal.notices }}
							<li>
		                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }} {{ #each location_tags }}{{ this }} {{ /each }}">
			                    <div class="inner-notice-container">
			                        <div class="notice-category">
			                            {{ category }}{{ #unless is_read }}<span class="notice-new"> New</span>{{ /unless }}
			                        </div>
			                        <div class="notice-content">
			                            {{ #unless is_read }}<span class="sr-only">New Notice:</span>{{ /unless }}{{{ notice_content }}}
			                        </div>
			                    </div>
		                    </div>
							</li>
		                    {{ /each }}
						</ul>
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy legal -->
    </div>
    {{ else }}
    <div class="card">
        <h3>No Notices Found</h3>
        <p>You don&rsquo;t appear to have any notices to display at the moment.</p>
    </div>
    {{ /if }}
    
</div> 
<!-- end notices container  --> 
 
    {% endtplhandlebars %}