{% load templatetag_handlebars %}
    {% tplhandlebars "notices" %}

<div class="notices-container">
        <button value="get in view" onclick="Notices.get_notices_in_view()" style="width: 2em; height: 2em"></button>
	  <div class="container">
	  
	    <h1>Notices</h1>
		<div class="notice-header-metadata">
		    <span class="notice-count">{{ total_notices }} notices total</span>
		    <div class="toggle">
		      <a id="expand_collapse" href="#" title="Show all notice information">Expand all</a>
		    </div>
		</div>	    
	    <!-- collapsy areas -->
	    <div id="accordion">
	        {{ #if holds.notices }}
	        <!-- collapsy 1: critical -->
	        <div class="disclosure ">

	                
                <div class="disclosure-heading disclosure-heading-critical clearfix">
                	<!-- collapsy 1 header -->      
    	            <a class="slide-link" href="#" aria-controls="collapseOne" title="Show more notice information"><h3 class="disclosure-title">{{ holds.critical_count }} Critical</h3></a>   
    	            
					<div class="disclosure-meta clearfix">
                        {{ #if holds.unread_count }}
	                        <span class="badge disclosure-unread">{{ holds.unread_count }} unread</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
					</div>
					
                </div>
	            
	            <!-- collapsy 1 content -->
	            <div id="collapseOne" class="slide-hide clearfix" aria-hidden="true">
	                <div class="panel-body">
	                    {{ #each holds.notices }}
	                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }}">
		                    <div class="inner-notice-container">
	                            {{ #if is_critical }}
								<i class="fa fa-exclamation-triangle critical-icon"></i>
	                            {{ /if }}
		                        <div class="notice-category">
		                            {{ category }}
		                        </div>
		                        <div class="notice-content">
		                            {{{ notice_content }}}
		                        </div>
		                    </div>
	                    </div>
	                    {{ /each }}
	                </div>
	            </div>
	      </div>
	      {{ /if }}
	      <!-- end collapsy 1 -->
	      
	      {{ #if today.notices }}
	      <!-- collapsy 2: today -->      
	        <div class="disclosure">
	            
                <div class="disclosure-heading clearfix">
                    <!-- collapsy 2 header -->      
    	            <a href="#" class="slide-link" aria-controls="collapseTwo" title="Show more notice information"><h3 class="disclosure-title">Today</h3></a>
                    
                    <div class="disclosure-meta clearfix">                        
						{{ #if today.critical_count }}
						<span class="disclosure-critical">{{ today.critical_count }} critical</span>
						{{ /if }}
                        {{ #if today.unread_count }}
						 <span class="badge disclosure-unread">{{ today.unread_count }} unread</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
                    </div>
                    
                </div>
	            
	            <!-- collapsy 2 content -->
	            <div id="collapseTwo" class="slide-hide" aria-hidden="true">
	                <div class="panel-body"> 
	                    {{# each today.notices }}
	                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }}">
		                    <div class="inner-notice-container">
	                            {{ #if is_critical }}
								<i class="fa fa-exclamation-triangle critical-icon"></i>
	                            {{ /if }}
		                        <div class="notice-category">
		                            {{ category }}
		                        </div>
		                        <div class="notice-content">
		                            {{{ notice_content }}}
		                        </div>
		                    </div>
	                    </div>
	                    {{ /each }}
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 2 -->
	      
	      {{ #if week.notices }}
	       <!-- collapsy 3: this week -->
	        <div class="disclosure">
	              
	                
                <div class="disclosure-heading clearfix">
                
                    <!-- collapsy 3 header -->
    	            <a href="#" class="slide-link" aria-controls="collapseThree" title="Show more notice information"><h3 class="disclosure-title">This week (Week 4)</h3></a> 
                     
                    <div class="disclosure-meta clearfix">
                        {{ #if week.critical_count }}  
                        <span class="disclosure-critical">{{ week.critical_count }} critical</span>
                        {{ /if }}
                        {{ #if week.unread_count }}
						 <span class="badge disclosure-unread">{{ week.unread_count }} unread</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>	
                    </div>
                    
                </div>
	            
	            <!-- collapsy 3 content -->
	            <div id="collapseThree" class="slide-hide" aria-hidden="true">
	                <div class="panel-body">
	                    {{# each week.notices }}
	                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }}">
		                    <div class="inner-notice-container">
	                            {{ #if is_critical }}
								<i class="fa fa-exclamation-triangle critical-icon"></i>
	                            {{ /if }}
		                        <div class="notice-category">
		                            {{ category }}
		                        </div>
		                        <div class="notice-content">
		                            {{{ notice_content }}}
		                        </div>
		                    </div>
	                    </div>
	                    {{ /each }}
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 3 -->
	
	      {{ #if next_week.notices }}
	       <!-- collapsy 4: next week -->
	        <div class="disclosure">
	              
                <div class="disclosure-heading clearfix">
                    <!-- collapsy 4 header -->
    	            <a href="#" class="slide-link" aria-controls="collapseFour" title="Show more notice information"><h3 class="disclosure-title">Next week</h3></a>  
                    
                    <div class="disclosure-meta clearfix">  
                        {{ #if next_week.critical_count }}
						<span class="disclosure-critical">{{ next_week.critical_count }} critical</span>
						{{ /if }}
                        {{ #if next_week.unread_count }}
						 <span class="badge disclosure-unread">{{ next_week.unread_count }} unread</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
                    </div>
                    
                </div>
	            
	            <!-- collapsy 4 content -->
	            <div id="collapseFour" class="slide-hide" aria-hidden="true">
	                <div class="panel-body">
	                    {{# each next_week.notices }}
	                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }}">
		                    <div class="inner-notice-container unread-notice">
	                            {{ #if is_critical }}
								<i class="fa fa-exclamation-triangle critical-icon"></i>
	                            {{ /if }}
		                        <div class="notice-category">
		                            {{ category }}
		                        </div>
		                        <div class="notice-content">
		                            {{{ notice_content }}}
		                        </div>
		                    </div>
	                    </div>
	                    {{ /each }}
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 4 -->
	
	      {{ #if future.notices }}
	      <!-- collapsy 5: future -->      
	        <div class="disclosure">
	            
	            
                <div class="disclosure-heading clearfix">
                    <!-- collapsy 5 header -->      
    	            <a href="#" class="slide-link" aria-controls="collapseFive" title="Show more notice information"><h3 class="disclosure-title">Upcoming weeks</h3></a>
    	            
    	            <div class="disclosure-meta clearfix">  
						{{ #if future.critical_count }}
						<span class="disclosure-critical">{{ future.critical_count }} critical</span>
						{{ /if }}
                        {{ #if future.unread_count }}
						 <span class="badge disclosure-unread">{{ future.unread_count }} unread</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
    	            </div>
    	            
                </div>
	            
	            <!-- collapsy 5 content -->
	            <div id="collapseFive" class="slide-hide" aria-hidden="true">
	                <div class="panel-body"> 
	                    {{# each future.notices }}
	                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }}">
		                    <div class="inner-notice-container">
		                        <div class="notice-category">
		                            {{ category }}
		                        </div>
		                        <div class="notice-content">
		                            {{{ notice_content }}}
		                        </div>
		                    </div>
	                    </div>
	                    {{ /each }}
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy 5 -->
	      
	      {{ #if legal.notices }}
	        <!-- collapsy legal -->      
	        <div class="disclosure">
	              
                <div class="disclosure-heading clearfix">
                    <!-- collapsy legal header -->      
    	            <a href="#" class="slide-link" aria-controls="collapseSix" title="Show more notice information"><h3 class="disclosure-title">Legal</h3></a>  
    	            
    	            <div class="disclosure-meta clearfix">  
    	                <!-- TODO: {{ #if variable: number of legal critical }} -->
						<span class="disclosure-critical">[variable: number of legal critical] critical</span>
						<! -- {{ /if }} -->
                        {{ #if legal.unread_count }}
						 <span class="badge disclosure-unread">{{ legal.unread_count }} unread</span>
                        {{ /if }}
                        <i class="fa fa-angle-down fa-2x pull-right"></i>
    	            </div>
    	            
                </div>
	            
	            <!-- collapsy legal content -->
	            <div id="collapseSix" class="slide-hide" aria-hidden="true">
	                <div class="panel-body"> 
	                    {{# each legal.notices }}
	                    <div id="{{ id_hash }}" class="notice-container {{ #unless is_read }}unread{{ /unless }}">
		                    <div class="inner-notice-container">
		                        <div class="notice-category">
		                            {{ category }}
		                        </div>
		                        <div class="notice-content">
		                            {{{ notice_content }}}
		                        </div>
		                    </div>
	                    </div>
	                    {{ /each }}
	                </div>
	            </div>
	      </div>
	        {{ /if }}
	      <!-- end collapsy legal -->
    </div>
</div> 
<!-- end notices container  --> 
 
    {% endtplhandlebars %}
