{% load templatetag_handlebars %}
    {% tplhandlebars "notices" %}

  <div class="notices-container">
    <a href="/mobile/weekly/">Back</a>

    <h2>Notices ({{ total_unread }}) </h2>
    
    <div style="float: right; font-size: 11px;">
      <a>Expand all</a>  |  <a>[icon] Show only critical</a>
    </div>
    
    <br style="clear: both;">

    <!-- collapsy areas -->
    <div class="panel-group" id="accordion">
        {{ #if holds.notices }}
        <!-- collapsy 1: holds -->
        <div class="panel panel-default holds" style="width: 100% !important;">
            <!-- collapsy 1 header -->      
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration Holds ({{ holds.unread_count }}) <span style="float: right;">[icon]</span></h3>
                </div>
            </a>
            <!-- collapsy 1 content -->
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ #each holds.notices }}

                    <div class="notice-category">
                        Category: <a> {{ category }}</a>
                    </div>
                    <div class="notice-title"> <!-- what is correct here -- h4? --> 
                        {{{ notice_content }}}
                    </div>

                    {{ /each }}
                </div>
            </div>
      </div>
        {{ /if }}
      <!-- end collapsy 1 -->
      {{ #if today.notices }}
      <!-- collapsy 2: today -->      
        <div class="panel panel-default today" style="width: 100% !important;">
            <!-- collapsy 2 header -->      
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <div class="panel-heading">
                    <h3 class="panel-title">Today, March 5 ({{ today.unread_count }}) <span style="float: right;">[icon]</span></h3>
                </div>
            </a>
            <!-- collapsy 2 content -->
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body"> 
                    {{# each today.notices }}
                    <div class="notice-container">
                        <div class="notice-category">
                            Category: <a>{{ category }}</a>
                        </div>
                        <div class="notice-title">
                            {{{ notice_content }}}
                        </div>
                    </div>
                    {{ /each }}
                </div>
            </div>
      </div>
        {{ /if }}
      <!-- end collapsy 3 -->
      {{ #if week.notices }}
       <!-- collapsy 3: this week -->      
        <div class="panel panel-default today" style="width: 100% !important;">
            <!-- collapsy 3 header -->      
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <div class="panel-heading">
                    <h3 class="panel-title">This week, Week 4 ({{ week.unread_count }}) <span style="float: right;">[icon]</span></h3>
                </div>
            </a>
            <!-- collapsy 3 content -->
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body"> 
                    {{# each week.notices }}
                    <div class="notice-container">
                        <div class="notice-category">
                            Category: <a>{{ category }}</a>
                        </div>
                        <div class="notice-title">
                            {{{ notice_content }}}
                        </div>
                    </div>
                    {{ /each }}
                </div>
            </div>
      </div>
        {{ /if }}
      <!-- end collapsy 3 -->
      {{ #if future.notices }}
      <!-- collapsy 4: this week -->      
        <div class="panel panel-default today" style="width: 100% !important;">
            <!-- collapsy 4 header -->      
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming weeks ({{ future.unread_count }})</h3>
                </div>
            </a>
            <!-- collapsy 4 content -->
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body"> 
                    {{# each future.notices }}
                    <div class="notice-container">
                        <div class="notice-category">
                            Category: <a>{{ category }}</a>
                        </div>
                        <div class="notice-title">
                            {{{ notice_content }}}
                        </div>
                    </div>
                    {{ /each }}
                </div>
            </div>
      </div>
        {{ /if }}
      <!-- end collapsy 3 -->
      {{ #if legal.notices }}
             <!-- collapsy legal -->      
        <div class="panel panel-default today" style="width: 100% !important;">
            <!-- collapsy legal header -->      
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                <div class="panel-heading">
                    <h3 class="panel-title">Legal ({{ legal.unread_count }})<span style="float: right;"></span></h3>
                </div>
            </a>
            <!-- collapsy legal content -->
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body"> 
                    {{# each legal.notices }}
                    <div class="notice-container">
                        <div class="notice-category">
                            Category: <a>{{ category }}</a>
                        </div>
                        <div class="notice-title">
                            {{{ notice_content }}}
                        </div>
                    </div>
                    {{ /each }}
                </div>
            </div>
      </div>
        {{ /if }}
      <!-- end collapsy legal -->

</div> <!-- end notices container  --> 
 
    <!-- nav footer -->
    <div class="row-fluid" style="background: #ccc; position: relative; bottom: 0px; margin: 10px -10px 0px; padding: 8px 25px;">
      <div class="span3">
        <b>Your stuff</b><br>
        <a>Grades</a><br>
        <a>Finances</a><br>
        <a>Academic Planning</a><br>
        <a>Registration</a><br>
        <a>Profile</a><br>
        <a>Calendar</a>
      </div>
      <div class="span3">
        <b>Other semi-yours stuff</b><br>
        <a>UW Housing and Dining</a><br>
        <a>Libraries</a><br>
        <a>Campus employment and Career</a><br>
      </div>
      <div class="span3">
        <b>Static stuff</b><br>
        <a>Academic Resources</a><br>
        <a>Student Life</a><br>
        <a>Around Campus</a><br>
        <a>Campus events</a><br>
      </div>
    </div>



    {% endtplhandlebars %}
