
<h2 id="quarter-info">Other Quarters</h2>

<div id="future_quarters">
	<ul>
		<li><a href="#"><i class="icon-list-ul"></i> Winter 2013</a></li>
		<li><a href="#"><i class="icon-list-ul"></i> Spring 2013</a></li>
	</ul>
	
	<!-- being if no registered coursed in future quarters -->
	
 <div class="alert alert-info"><h4>No courses found in other quarters.</h4><p class="text-info" style="font-size:inheret;">You do not appear to be registered for credit courses in future quarterz. If you are not registered, you can go to the <a title="Go to MyUW desktop version" href="http://my.uw.edu/servlet/main">MyUW full site</a> to learn about registration. If you think this is an error, please <a href="http://myuw.washington.edu/cgi-bin/contactmyuw.cgi" target="_blank" title="Contact MyUW">contact MyUW.</p></div>
	
	<!-- end if no registered courses in future quarters -->
</div>
