        {% load templatetag_handlebars %}
        {% tplhandlebars "visual_schedule" %}
            <div class="row-fluid">
        <div class="span12">
        <div class="visual-schedule">

            <div class="time-bar clearfix">

            {{#each display_hours}}
                <div style="position:absolute;top:{{time_percentage position ../start_time ../end_time }}%;"><p>{{format_schedule_hour hour}}</p></div>
            {{/each}}
            </div>

            <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label"><p>MON</p></div>
                {{ show_days_meetings monday start_time end_time }}
            </div>

            <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label"><p>TUE</p></div>
                {{ show_days_meetings tuesday start_time end_time }}
            </div>

            <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label"><p>WED</p></div>
                {{ show_days_meetings wednesday start_time end_time }}
            </div>

            <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label"><p>THU</p></div>
                {{ show_days_meetings thursday start_time end_time }}
            </div>

            <div {{#if has_6_days}}class="six-day"{{else}}class="five-day"{{/if}}>
                <div class="day-label"><p>FRI</p></div>
                {{ show_days_meetings friday start_time end_time }}
            </div>

            {{#if has_6_days}}
            <div class="six-day">
                <div class="day-label"><p>SAT</p></div>
                {{ show_days_meetings saturday start_time end_time }}
            </div>
            {{/if}}

        </div>
      </div>
        {% endtplhandlebars %}


        {% tplhandlebars "visual_schedule_day" %}
            {{#each meetings}}
            <div class="c{{color_id}} visual-course" style="position: absolute; top:{{time_percentage start ../start_time ../end_time}}%; height:{{time_percentage_height start end ../start_time ../end_time}}%;">
            <a href="javascript:void(0);" class="show_section_details" rel="{{section_index}}">{{curriculum}} {{course_number}}{{section_id}}</a>
            </div>
            {{/each}}

        {% endtplhandlebars %}
