        {% load templatetag_handlebars %}
        {% tplhandlebars "visual_schedule" %}
            <div class="row-fluid">
		<div class="span12">
		<div class="visual-schedule" style="background-color:#eee;">

			<div style="width:8%;background-color:#eee;" class="time-bar clearfix">
			
			<div style="position:absolute;top:10%;"><p>8a</p></div>
			<div style="position:absolute;top:20%;"><p>9</p></div>
			<div style="position:absolute;top:30%;"><p>10</p></div>
			<div style="position:absolute;top:40%;"><p>11</p></div>
			<div style="position:absolute;top:50%;"><p>12p</p></div>
			<div style="position:absolute;top:60%;"><p>1</p></div>
			<div style="position:absolute;top:70%;"><p>2</p></div>
			<div style="position:absolute;top:80%;"><p>3</p></div>
			<div style="position:absolute;top:90%;"><p>4</p></div>
			</div>

			<div class="six-day">
				<div class="day-label"><p>MON</p></div>
				<div class= "c1 visual-course" style="height: 10%; height 10%; position: absolute; top: 10%">BIO 101</div>
				<div class="c2 visual-course" style="height: 30%; position: absolute; top: 40%">ECON 200 A</div>
			</div>

			<div class="six-day">
				<div class="day-label"><p>TUE</p></div>
				<div class="c3 visual-course" style="height: 20%; position: absolute; top: 26%">COMM 320A</div>
				<div class="c6 visual-course"style="height: 15%; position: absolute; top: 80%; ">DXARTS 200</div>
			</div>

			<div class="six-day">
				<div class="day-label"><p>WED</p></div>
				<div class="c1 visual-course" style="height: 10%; position: absolute; top: 10%">BIO 101</div>
				<div class="c2 visual-course" style="height: 30%; position: absolute; top: 40%">ECON 200 A</div>
			</div>

			<div class="six-day">
				<div class="day-label"><p>THU</p></div>
				<div class="c3 visual-course" style="height: 20%; position: absolute; top: 26%">COMM 320A</div>
				<div class="c6 visual-course"style="height: 15%; position: absolute; top: 80%; ">DXARTS 200</div>
				
			</div>

			<div class="six-day">
				<div class="day-label"><p>FRI</p></div>
				<div class= "c1 visual-course" style="height: 10%; height 10%; position: absolute; top: 10%">BIO 101</div>
				<div class="c2 visual-course" style="height: 30%; position: absolute; top: 40%">ECON 200 A</div>
			</div>

			<div class="six-day">
				<div class="day-label"><p>SAT</p></div>
				<div class="c4 visual-course"  style="height: 15%; position: absolute; top: 15%">HUBIO 510P</div>
			</div>
		
			
		</div>
	  </div>
        {% endtplhandlebars %}


        {% tplhandlebars "visual_schedule_day" %}
            {{#each meetings}}
            <div class="c{{color_id}}">
            {{start}} - {{end}} in a span of minutes: {{../start_time}} - {{../end_time}}.  Display percentages: {{time_percentage start ../start_time ../end_time}}% - {{time_percentage end ../start_time ../end_time}}%<br />
            Course: {{curriculum}} {{course_number}} - Color: {{color_id}}<br/>
            </div>
            {{/each}}

        {% endtplhandlebars %}
