<hr>
<style>
  a:link {color: #4d66ca}
  a:hover {color: #3e52a2}
</style>
<p class="fw-bold">In the meantime, you may find what you need here:</p>
<ul>
  <li>
    Email Services
    <ul>
      <li><a href="https://gmail.uw.edu/" target="_blank">UW Gmail</a></li>
      <li><a href="https://outlook.office365.com/uw.edu" target="_blank">UW Outlook 365</a></li>
    </ul>
  </li>
  <li class="my-4">
    Student &amp; Instructor Resources
    <ul>
      <li><a href="https://canvas.uw.edu/" target="_blank">Canvas LMS</a></li>
      <li><a href="https://washington.zoom.us" target="_blank">UW Zoom</a></li>
      <li>
        <a href="https://register.uw.edu/" target="_blank"
          >Student Registration</a
        >
      </li>
      <li>
        <a href="https://sdb.admin.uw.edu/students/uwnetid/schedule.asp" target="_blank"
          >Student Class Schedule</a
        >
      </li>
      <li>
        <a href="https://sdb.admin.uw.edu/sisStudents/uwnetid/tuition.aspx" target="_blank"
          >Student Tuition Statement</a
        >
      </li>
      <li>
        <a href="https://sdb.admin.uw.edu/sisStudents/uwnetid/finaidstatus.aspx" target="_blank"
          >Financial Aid Status</a
        >
      </li>
      <li>
        <a href="https://hfs.uw.edu/olco" target="_blank"
          >HFS Account Summary</a
        >
      </li>
      <li>
        <a href="https://www.washington.edu/students/timeschd/" target="_blank">Time Schedule</a>
      </li>
      <li><a href="https://myplan.uw.edu/" target="_blank">MyPlan</a></li>
      <li>
        <a href="https://myplan.uw.edu/audit/#/degree" target="_blank">Degree Audit (DARS)</a>
      </li>
      <li>
        <a href="https://sdb.admin.uw.edu/students/uwnetid/unofficial.asp" target="_blank"
          >Unofficial Transcript</a
        >
      </li>
      <li>
        <a href="https://sdb.admin.uw.edu/sisMyUWClass/uwnetid/default.aspx" target="_blank"
          >My Class Instructor Resources</a
        >
      </li>
      <li><a href="https://gradepage.uw.edu/" target="_blank">GradePage</a></li>
      <li><a href="https://uw.hosted.panopto.com/" target="_blank">Panopto Lecture Capture</a></li>
      <li>
        <a
          href="https://eo.admin.uw.edu/uweomyuw/outage/uwnetid/myuwoutage.asp"
          target="_blank"
          >UW Professional &amp; Continuing Education</a
        >
      </li>
    </ul>
  </li>
  <li><a href="https://wd5.myworkday.com/uw/d/home.htmld" target="_blank">Workday</a></li>
  <li>
    <a href="https://hfs.uw.edu/olco/Secure/AccountSummary.aspx" target="_blank"
      >Husky Card Account</a
    >
  </li>
  <li>
    <a href="https://directory.uw.edu/" target="_blank"
      >Faculty/Staff/Student Directory</a
    >
  </li>
  <li>
    <a href="https://sailpoint.uwmedicine.org/" target="_blank"
      >Update UW Medicine Password via SailPoint</a
    >
  </li>
</ul>
