<!-- footer -->
<div id="app_footer">

    <div class="footer-bar" role="contentinfo">
        <div class="container footer-links" style="position:relative;">
            <ul>
                <li><a href="mailto:help@uw.edu?subject=MyUW%20Comment,%20Request,%20Suggestion&body=Hello,%0A%0A%3CInclude%20your%20comment%20or%20question%20about%20MyUW%20here%3e%0A%0A%0A%0ANetID%3A%20" title="Send email to help@uw.edu"><i class="icon-envelope"></i> Contact</a></li>
                    <li><a href="http://www.washington.edu/online/terms/">Terms</a></li>
                    <li style="border:none;"><a href="http://www.washington.edu/online/privacy/">Privacy</a></li>
            </ul>
            <div>&copy; <span id="year"></span> University of Washington</div>
        </div>
    </div>

</div>
<!-- /footer -->
