<div id="app_header">
    <div class="header-bar" role="navigation" title="Home, email, and categorized resources">
        <div class="container clearfix">
            <div class="float-start header-myuw">
                <a href="/" title="Go to MyUW Home"><h1 id="main_header">MYUW</h1></a>
            </div>
            <div class="float-end">&nbsp;</div>
        </div>
    </div>
    <div class="header-cover">
        <div class="container" role="presentation" style="position:relative;height:52px;">
            <div class="uw-patch">&nbsp;</div>
        </div>
    </div>
</div>
