{% load templatetag_handlebars %}
{% tplhandlebars "calendar_banner" %}
    
	<div id="app_acal">
        <div class="container acal-header">            
            <h2 class="pull-left" role="alert"><strong>Academic Calendar</strong></h2>
			<div class="pull-right view-all"><a href="/mobile/academic_calendar/" title="Navigate to Notices">View all events</a></div>
			</a>
	        <div class="acal-banner-events">
	            <ul class="acal-banner-list">
		            {{ #each events }}
		            <li class="acal-banner-list-item">
		            	<div class="acal-banner-event-container">{{ #if myuw_categories.breaks }}<i class="fa fa-circle acal-break-icon" aria-visible="false" role="presentation"></i>{{/if}} <span class="acal-banner-date">{{ acal_banner_date_format start end }}</span> <a href="{{ event_url }}">{{ summary }}</a></div>
		            </li>
	                {{ /each }}
	            </ul>
	        </div>
        </div>        
    </div>        
{% endtplhandlebars %}



