{% load templatetag_handlebars %}
{% tplhandlebars "calendar_banner" %}
    
	<div id="app_acal">
        <div class="container acal-header">
            <a href="/mobile/academic_calendar/" title="Navigate to Notices">
	            <h2 class="pull-left" role="alert">Academic Calendar</h2>
				<div class="pull-right view-all">View all</div>
			</a>
	        <div class="acal-banner-events">
	            <ul class="acal-banner-list">
		            {{ #each events }}
		            <li class="acal-banner-list-item">
		            	<div class="acal-banner-date">{{ start }} {{ end }}</div>
		            	<a href="{{ event_url }}">{{ summary }}</a>
		            </li>
	                {{ /each }}
	            </ul>
	        </div>
        </div>        
    </div>        
{% endtplhandlebars %}



