{% load templatetag_handlebars %}
    {% tplhandlebars "nav-sub" %}
            
        <div id="app_header" role="navigation">
            <div class="container header-bar-thin clearfix">
                <div class="header-w">
                    <a href="/mobile/landing" title="Return to Home">
                        <span style="border-right: solid 1px #999; padding-right: 10px;"><img src="/static/images/w-logo-white.png" style="width:30px;"></span>
                        <span style="display:inline-block; margin-left:5px;">MYNETID</span>
                    </a>
                </div>
            </div>
        </div>
        
    {% endtplhandlebars %}