{% load static %}
{% load templatetag_handlebars %}
    {% tplhandlebars "nav" %}
    
        <div id="app_header">
            <div class="container header-bar clearfix">
                <div class="header-w"><img src="/static/images/w-logo-white.png" style="width:45px;"></div>
            </div>
        </div>
        
        <div id="app_navigation" role="navigation">
        
            <div class="container clearfix" style="position:relative;">
            
                <div id="profile_container" class="pull-left" style="width:35%; position:relative;">
                   
                    <div class="netid-header" style="color:#000;">MYNETID</div>
                    <div class="netid-link" id="email_container">render email.html in this div</div>                       
                    <a href="/mobile/landing" title="Return to Home"><img src="/static/images/silhouette.png" style="width:70px;border:solid 5px #fff;position:absolute; top:-68px; left:50%; margin-left:-35px; " class="img-circle" /></a>    
                </div>
                
                <div id="notice_container" class="pull-left" style="width:65%; position:relative; height:50px; border-left:solid 1px #ddd; padding-left:15px;">
                    render notice.html in this div
                </div>

            </div>
        </div>

    {% endtplhandlebars %}