{% load templatetag_handlebars %}
    {% tplhandlebars "notice_banner" %}

    <div class="notice-bar">
        <!-- Temporary Notice Banner content -->
        <a href="/mobile/notices/" title="to open notice page">
	    <div class="notification" id="notice_banner">
            
            <div class="container clearfix">
    	    	<div class="pull-left">
    				<h4>Notices</h4>
    			</div>
    			<div class="pull-right">
                    <span class="badge">{{ total_unread }} unread</span>
    			</div>
    			<div class="panel-title-metadata">{{ week_critical }} critical this week
    			</div>
            </div>
            
	    </div>
        </a>
    </div>
    {% endtplhandlebars %}
