{% load templatetag_handlebars %}
    {% tplhandlebars "profile-content" %}

    <h3 id="profile" class="sr-only">Profile Information and Release Settings</h3>
    <div class="header-netid"><a href="#" id="toggle_my_profile">{{ uwnetid }} <i id="my_profile_arrow" class="fa fa-chevron-down"></i></a></div>
    <div class="header-profile slide-hide" id="my_profile" aria-hidden="true">
        <div style="margin-bottom: 60px;">
            <div>
                <span class="profile_name">{{first_name}} {{last_name}}</span><br/>
                {{#if student_number}}
                    Student Number: <span class="">{{student_number}}</span>
                {{/if}}
<!--                {{#if campus}}
                    Campus: <span class="">{{capitalizeString campus}}</span>
                {{/if}} -->
            </div>
            

            {{#if local_address}}
 
            <div class="profile-release">
                <strong>Receiving UW mail</strong></br> 
                <ul>
                	<li>To receive important mailings from the UW, verify that your addresses are correct.</li> 
                	<li><a href="https://sdb.admin.washington.edu/students/uwnetid/address.asp">Update addresses and usage settings</a></li> 
                </ul>	                    
                <h5>Local Address</h5>
                {{#with local_address}}
                {{#if street_line2}}
                    <div><span class="">{{street_line2}}</span></div>
                {{/if}}
                {{#if street_line1}}
                    <div><span class="">{{street_line1}}</span></div>
                {{/if}}
                {{#if city}}<span class="">{{city}}</span>{{/if}}{{#if state}}<span class="">, {{state}}</span>{{/if}}{{#if postal_code}} <span class="">{{postal_code}}</span>{{/if}}{{#if zip_code}} <span class="">{{zip_code}}</span>{{/if}}
                {{#if country}}
                    <div><span class="">{{country}}</span></div>
                {{/if}}
                {{/with}}
                {{#if local_phone}}
                    <div>Phone: <span class="">{{formatPhoneNumber local_phone}}</span></div>
                {{/if}}
            {{/if}}

            {{#if permanent_address}}
                <h5>Permanent Address</h5>
                {{#with permanent_address}}
                {{#if street_line2}}
                    <div><span class="">{{street_line2}}</span></div>
                {{/if}}
                {{#if street_line1}}
                    <div><span class="">{{street_line1}}</span></div>
                {{/if}}
                 {{#if city}}<span class="">{{city}}</span>{{/if}}{{#if state}}<span class="">, {{state}}</span>{{/if}}{{#if postal_code}} <span class="">{{postal_code}}</span>{{/if}}{{#if zip_code}} <span class="">{{zip_code}}</span>{{/if}}
                {{#if country}}
                    <div><span class="">{{country}}</span></div>
                {{/if}}
                {{/with}}
                {{#if permanent_phone}}
                    <div>Phone: <span class="">{{formatPhoneNumber permanent_phone}}</span></div>
                {{/if}}
            </div>
            {{/if}}
            <div class="profile-section profile-release">                
                {{#if directory_release}}
                <strong>Your profile information is currently <em>public</em></strong>
                <ul>
                	<li><strong>Published in the UW Directory</strong> &ndash; <em>Name, phone number, email, major, and class standing</em></li> 
                	<li><strong>Releasable by Office of the Registrar</strong> &ndash; Information such as <em>date of birth, street address, and dates of attendance</em></li>
                	<li><a href="https://sdb.admin.washington.edu/students/uwnetid/address.asp">Change your release settings</a></li>	
                	<li><a href="http://www.washington.edu/students/reg/ferpa.html">Learn more about your privacy (FERPA)</a></li>
				</ul>
                {{else}}
                <strong>Your profile information is currently <em>private</em></strong> (not releasable)
                <ul>
                	<li><strong>Information about you cannot be released or displayed publicly in the UW Directory without your consent.</li>
                	<li><a href="https://sdb.admin.washington.edu/students/uwnetid/address.asp">Change your release settings</a></li>	
                	<li><a href="http://www.washington.edu/students/reg/ferpa.html">Learn more about your privacy (FERPA)</a></li>
				</ul>
            </div>


        </div>
    </div>
{% endtplhandlebars %}
