{% load templatetag_handlebars %}
    {% tplhandlebars "summary_section_panel" %}

    {{#unless under_disclosure}}
    <!-- use two column layout for primary sections -->
        <div class="col-sm-4">
            <h4 class="myuw-card-row-heading"><div class="c{{color_id}} simplesquare" aria-hidden="true"></div><a href="/teaching/{{ @root.year }},{{ @root.quarter }}#{{ curriculum_abbr }}-{{ course_number }}-{{ section_id }}" class="future-nav-link" future-nav-target="{{ @root.year }},{{ @root.quarter }},{{ curriculum_abbr }}-{{ course_number }}-{{ section_id }}">{{curriculum_abbr}} <span class="text-nowrap">{{course_number}} {{section_id}}</span></a></h4>
            <div class="section-meta">
                <span class="myuw-meta course-meeting-type">{{ meetings.0.type }}</span>
                {{#if sln}}
                <span class="myuw-meta myuw-muted course-sln"><a href="http://sdb.admin.uw.edu/timeschd/uwnetid/sln.asp?QTRYR={{ get_quarter_abbreviation @root.quarter }}+{{ @root.year }}&SLN={{sln}}" title="Time Schedule for SLN {{sln}}" target="_blank" data-linklabel="SLN {{sln}}: {{curriculum_abbr}} {{course_number}} {{section_id}}">{{sln}}</a></span>
                {{/if}}
            </div>
        </div>

        <div class="col-sm-8">
            <div class="myuw-card-row-content">
                <table class="table-course-schedule">
                    <thead class="sr-only">
                        <tr>
                            <th>Day(s)</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Enrollment</th>
                        </tr>
                    </thead>

                    <tbody class="tbody-course-schedule">
    {{/unless}}

                        {{#each meetings}}
                            <tr class="course-schedule-row">
                                {{#if ../under_disclosure}}
                                <td class="course-section">
                                    {{#if @first }}
                                        <div class="section-id"><div class="c{{../color_id}} minirectangle" aria-hidden="true"></div><a class="pin_mini_card_{{ @root.year }}_{{ @root.quarter}} " href="/teaching/{{ @root.year }},{{ @root.quarter }},{{ ../index }}#{{ ../curriculum_abbr }}-{{ ../course_number }}-{{ ../section_id }}" cabb="{{ ../curriculum_abbr }}" cnum="{{ ../course_number }}" sid="{{ ../section_id }}">{{../section_id}}</a></div>

                                             {{#if ../sln}}<span class="course-sln myuw-muted"><a href="http://sdb.admin.uw.edu/timeschd/uwnetid/sln.asp?QTRYR={{ get_quarter_abbreviation @root.quarter }}+{{ @root.year }}&SLN={{ ../sln }}" title="Time Schedule for SLN {{../sln}}" target="_blank" data-linklabel="SLN {{../sln}}: {{../curriculum_abbr}} {{../course_number}} {{../section_id}}">{{../sln}}</a></span>{{/if}}
                                    {{/if}}
                                </td>

                                <td class="course-type">{{ shorten_meeting_type type }}</td>

                                {{/if}}

                                {{#if days_tbd }}
                                    <td colspan="3" class="text-muted course-tbd">Days and times to be arranged</td>
                                {{else if no_meeting}}
                                    <td colspan="3" class="text-muted course-tbd">No classroom meeting: online learning</td>
                                {{else}}
                                    {% include "handlebars/card/schedule/course_sche_col_days.html" %}
                                {{/if}}

                                {{#unless no_meeting}}
                                    {{#if building_tbd}}
                                        <td class="course-loc-tbd">Room <abbr title="To be determined">TBD</abbr></td>
                                    {{else}}
                                        {% include "handlebars/card/schedule/course_sche_col_bldg.html" %}
                                    {{/if}}
                                {{/unless}}

                                <td class="course-enrollment">
                                    {{#if @first }}
                                        {{#if is_prev_term_enrollment}}0<!-- the current_enrollment value is of previous term -->{{#unless ../is_independent_study}}&nbsp;of&nbsp;{{../limit_estimate_enrollment}}{{/unless}}
                                        {{else}}
                                            {{#unless ../current_enrollment}}0{{#unless ../is_independent_study}}&nbsp;of&nbsp;{{../limit_estimate_enrollment}}{{/unless}}
                                            {{else}}
                                                <a target="_blank" href="/teaching/{{ @root.year }},{{ @root.quarter }},{{ ../curriculum_abbr }},{{ ../course_number }}/{{ ../section_id }}/students" title="View class list" class="course_class_list" rel="{{section_label}}">{{../current_enrollment}}{{#unless ../is_independent_study}}<span class="myuw-ratio-expanded"> of </span><span class="myuw-ratio-minimized" aria-hidden="true">/</span>{{../limit_estimate_enrollment}}{{/unless}}</a>
                                            {{/unless}}
                                        {{/if}}
                                    {{/if}}
                                </td>

                            </tr>
                        {{/each}}

    {{#unless under_disclosure}}<!-- close out table and div wrappers for primary sections -->
                    </tbody>
                </table>
            </div>
        </div>
    {{/unless}}
{% endtplhandlebars %}
