{% load templatetag_handlebars %}
    {% tplhandlebars "course_list_C" %}
    Course list C
    
    {{#each sections}}
    <div id="course_wrapper{{index}}" class="accordian">
        <div class="accordion-group c{{color_id}} c{{color_id}}Border">
            <!-- heading -->
            <div class="accordion-heading"> 
            {{ #if canvas_grade }}
                 <div class="canvasGradeBox">
                     <span class="canvasGrade">{{ canvas_grade }}%*</span>
                     <span class="canvasGradeLabel">*Canvas Grade</span>
                 </div>
            {{ /if }}


                <h3>
                    <span class="courseIDtitle">{{ curriculum_abbr }} {{course_number}}{{section_id}}</span>
                    <span class="shortTitle">{{ course_title }}</span></a>
                </h3>
                <div class="accordion-footer">
                    <hr>
                    <a class="accordion-toggle collapsed collapsable" data-toggle="collapse" data-parent="#main-content" href="#course{{index}}">
                        <span class="show_more">Show More</span>
                        <span class="show_less" style="display:none;">Show Less</span> 
                    </a>
                </div>
            </div>
            <!-- /heading -->
            <!-- body of the course panel -->
            <div id="course{{index}}" class="accordion-body collapse" rel="{{ curriculum_abbr }} {{course_number}} {{section_id}}">
                <!-- stuff what opens when you expand the accordion --> 
                <div class="accordion-inner">
                    <span class="scheduleHeading">Schedule</span>
                    
                        <!-- Table with class schedule -->
                        <table class="table-meeting">
                            {{#each meetings}} 
                            <tr>
                                {{#if days_tbd }}
                                <td colspan="2">Days and times to be arranged</td>
                                {{else}}
                                <td>
                                    {{#if meeting_days.monday}}<abbr title="Monday">M</abbr>{{/if}}{{#if
                                          meeting_days.tuesday}}<abbr title="Tuesday">T</abbr>{{/if}}{{#if
                                          meeting_days.wednesday}}<abbr title="Wednesday">W</abbr>{{/if}}{{#if
                                          meeting_days.thursday}}<abbr title="Thursday">Th</abbr>{{/if}}{{#if
                                          meeting_days.friday}}<abbr title="Friday">F</abbr>{{/if}}{{#if
                                          meeting_days.saturday}}<abbr title="Saturday">Sa</abbr>{{/if}}{{#if
                                          meeting_days.sunday}}<abbr title="Sunday">Su</abbr>{{/if}}
                               </td>
                                <td>{{formatTime start_time}} - {{formatTimeAMPM end_time}}</td>
                                {{/if}}
                                {{#if building_tbd}}
                                    <td>Room to be arranged</td>
                                {{else}}
                                    <td>
                                        {{#if latitude}}
                                        <a href="http://maps.google.com/maps?q={{ latitude }},{{ longitude }}+({{encodeForMaps building_name }})&z=18" target="_blank" class="show_map" rel="{{building_name}}">
                                        {{/if}}
                                    {{building}} {{room}}
                                    {{#if latitude}}</a>{{/if}}
                                {{/if}}
                                    </td>
                            </tr>
                            {{/each}}
                        </table>
                          
                        <table>     
                            <tr>
                                <!-- type of course --> 
                                <th scope="row">Type</th>
                                <td>{{ucfirst meetings.0.type}}</td>
                            </tr>
                            
                            {{#if instructors}}<!-- list instructors, if there are any --> 
                            <tr>
                                <th scope="row">Instructor</th>
                                <td>
                                    <ul>
                                    {{#each instructors}}
                                        {{#if whitepages_publish}}
                                        <li><a href="/mobile/instructor/{{uwregid}}" class="instructor" rel="{{uwregid}}">{{full_name}}</a></li>
                                        {{else}}
                                        <li>{{full_name}}</li>
                                        {{/if}}        
                                    {{/each}}
                                    </ul>
                                </td>
                            </tr>
                            {{/if}}
                          
                          <!-- list resources, if there are any --> 
                          {{#if has_resources }}
                          <tr>
                              <th scope="row">Resources</th>
                              <td>
                              		<ul> 
                              		{{#if class_website_url}}<!-- list class website, if any -->
                              			<li><a href="{{class_website_url}}" target="_blank" class="course_website" rel="{{ curriculum_abbr }} {{course_number}} {{section_id}}">Course Website</a></li>
                              		{{/if}}
                              
                              		{{#if canvas_url}} <!-- list canvas site, if any -->                      
                              			<li><a href="{{canvas_url}}" target="_blank" class="course_canvas_site" rel="{{ curriculum_abbr }} {{course_number}} {{section_id}}">Course Canvas</a></li>
                               		{{/if}} 
                              		</ul>
                              </td>
                          </tr>
                         {{/if}}
                    </table>
                        
                    </div><!-- /stuff what opens --> 
                </div><!-- /body -->
            </div>
        </div>
        {{/each}}

     <div class="row-fluid" id="addi_links">
     </div>

    {% endtplhandlebars %}
