{% load static %}
{% load templatetag_handlebars %}
    {% tplhandlebars "libraries" %}

    <!-- notifications banner -->
    <div class="notification" style="padding: 8px 15px; background: #F3EE81; position: relative; top: -40px; margin: 0px -10px;">
        <h4 style="color: #555;">Notices</h4>
        <p style="float: right; font-size: 10px; margin-top: -40px;">Week 2</p>
        <ul>
                <li><b>Your registration period is open!</b></li>
                <li>COM 213 has 2 seats available.</li>
                <li>Next Monday (4/30) is the last day to change a Winter quarter class to S/NS grading.</li>
                </ul>
    </div>

    <h2>UW Libraries</h3>

    <!-- Libraries card -->
    <div class="card">
        <h4 style="color: #555;">Your library activity</h4>
        <p>You have <b>2</b> items checked out.</p>
        <p>You have <b>1 item due</b> on <b>May 20th, 2014</b></p>
        <a href="">Go to your UW Libraries account</a>
    </div>

	<!-- search the libraries card --> 
	<div class="card">
		<h4 style="color: #555;">Search the UW Libraries</h4>
		<p>Find articles, books, and more</p>
		<input type=text size="55" /><br />
	</div>

   <div class="row-fluid">
   	<div class="span6">
   		<h3>UW Libraries resources</h3>
   		<a>UW Libraries home page</a><br />
   		<a>UW WorldCat</a><br />
   		<a>UW Libraries search (beta)</a><br />
   		<a>Articles and research databases</a><br />
   		<a>Subject and course guides</a> - Selected library resources arranged by subject or for a specific course<br />
   		<a>Start your research</a> - Browse collections, resources, and recommended starting points.<br />
   		<a>Library hours</a><br />
   		<a>Library news and events</a><br />
   	</div>
   	<div class="span4">
   		Library chat widget goes here
   	</div>
   </div>
   
   
    <!-- nav footer -->
    <div class="row-fluid" style="background: #ccc; position: relative; bottom: 0px; margin: 10px -10px 0px; padding: 8px 25px;">
      <div class="span3">
        <b>Your stuff</b><br>
        <a>Grades</a><br>
        <a>Finances</a><br>
        <a>Academic Planning</a><br>
        <a>Registration</a><br>
        <a>Profile</a><br>
        <a>Calendar</a>
      </div>
      <div class="span3">
        <b>Other semi-yours stuff</b><br>
        <a>UW Housing and Dining</a><br>
        <a>Libraries</a><br>
        <a>Campus employment and Career</a><br>
      </div>
      <div class="span3">
        <b>Static stuff</b><br>
        <a>Academic Resources</a><br>
        <a>Student Life</a><br>
        <a>Around Campus</a><br>
        <a>Campus events</a><br>
      </div>
    </div>

 {% endtplhandlebars %}
