{% load static %}
{% load templatetag_handlebars %}
    {% tplhandlebars "week1_outline" %}
    <div class="notification" style="padding: 8px 15px; background: #F3EE81; position: relative; top: -40px; margin: 0px -10px;">
        <h4 style="color: #555;">Notices</h4>
        <ul>
        	<li>Late Registration Fee $25 begins <b>today</b>.</li>
			<li><b>Next week</b>: Free Add/Drop Withdraw Ends.</li>
		</ul>	
    </div>

    <div class="card first-card medium-card">
        <h4 style="color: #555;">Spring 2014</h4>
        <i class="icon-chevron-right pull-right-center" style="color: #777;"></i>
        <p>You are registered for <b>6 courses</b> (18 credits).</p>
        <a>View Spring 2014 Courses</a><br>

    </div>
    <div class="card <ul>  <li>Sunscreen</li>  <li>A towel</li>  <li>Bathing suit</li></ul>medium-card">
        <h4 style="color: #555;">Email</h4>
        <p>You have <b>6</b> new emails.</p>
         <a href="">Check email</a>
    </div>
     <div class="card">
        <img src="{% static '../../../static/images/vis_sched_for_test.gif' %}" alt="vis_sched_for_test" width="" height="" />
    </div>
        {{{ course_list }}}
   <div class="card medium_card">
        <h4 style="color: #555;">Tuition Owed</h4>
        <p>Tuition owed: <b>$1200.50</b><br>
	        Due on <b>April 9th, 2014</b>
        </p>
         <a href=""></a>
    </div>
    <div class="card medium_card">
        <h4 style="color: #555;">Husky Accnt</h4>
        <p>Balance: <b>$17.34</b><br>
	        Due on <b>April 9th, 2014</b>
        </p>
         <a href=""></a>
    </div>
    <div class="card">
        <h4 style="color: #555;">Dining & Food Services</h4>
        <p>Balance: <b>$6.00</b></p>
         <a href=""></a>
    </div>
    <div class="card">
        <h4 style="color: #555;">GPA: 3.8</h4>
        <p>As of Feb 20th, 2014</p>
         <a href="">Grade Report</a><br>
         <a href="">Unofficial Transcript</a>
    </div>
    <div class="card">
        <h4 style="color: #555;">Advisor Contact</h4>
        <p>Jane Smith</p>
        <p>206.123.4567</p>
         <a href=""></a>
    </div>
    <div class="card">
        <h4 style="color: #555;">Libraries</h4>
        <p>You have <b>2</b> items checked out.</p>
        <p>You have <b>1 item due</b> on <b>May 20th, 2014</b></p>
         <a href=""></a>
    </div>
    <div class="card">
        <h4 style="color: #555;">Campus Events Calendar</h4>
        <p>uis venenatis imperdiet. In magna massa, tempor sit amet sapien vitae, sodales imperdiet lectus. Maecenas rutrum mattis augue non pharetra. Vivamus vitae pellentesque purus. Fusce dapibus tempus pharetra. Pellentesque scelerisque sem sit amet sapien laoreet elementum. Curabitur euismod sed lorem at suscipit. Curabitur sed arcu sed erat elementum pulvinar. Morbi ut risus velit. Suspendisse tincidunt mi venenatis diam auctor rhoncus.</p>
         <a href=""></a>
    </div>
    {% endtplhandlebars %}
