{% load static %} 
{% load templatetag_handlebars %} 
    {% tplhandlebars "week2_outline" %}
    
        <!-- current quarter visual schedule card 
     <div class="card">
        <img src="{% static '../../../static/images/vis_sched_for_test.gif' %}" alt="vis_sched_for_test" width="" height="" />
    </div>--> 
    
    
    <!-- GPA card --> 
    <div class="card">
        <h4 style="color: #555;">Cumulative GPA: 3.6</h4>
        <a href="../grades" style="color: #777; font-size: 24px; font-weight: bold; float:right;">></a>        
        <p>As of Feb 20th, 2014</p>
         <a href="">Grade Report</a><br>
         <a href="">Unofficial Transcript</a>
    </div>
    
    <!-- Libraries card --> 
    <div class="card">
        <h4 style="color: #555;">UW Libraries</h4>
 		<a href="../libraries" style="color: #777; font-size: 24px; font-weight: bold; float:right;">></a>        
        <p>You have <b>2</b> items checked out.</p>
        <p>You have <b>1 item due</b> on <b>May 20th, 2014</b></p>
        <a href="">Go to your UW Libraries account</a>
    </div>
    
   <!-- tuition card --> 
   <div class="card"> <!-- put the a here -->
        <div class="card-content">
            <h4>Tuition Balance</h4>
            <div class="card-critical-alert"><i class="fa fa-exclamation-circle"></i> Your tuition is past due. <a>Show details</a></div>
            <div class="card-badges-container">
                <div class="card-badge">
                    <span class="card-badge-label">You owe</span> 
                    <span class="card-badge-value">$12,345.67</span>
                </div>
                <div class="card-badge">
                    <span class="card-badge-label">Tuition due</span>
                    <span class="card-badge-value">5/28/2014</span>
                </div>
            </div>
            
            <div class="card-related-messages">
                <p><a>Learn how to pay tuition</a> or <a>set up third-party access</a> for parents or others.</p>
            </div>
        </div> 
         
        <i class="fa fa-chevron-right fa-2x nav-card-arrow"></i>
        
   </div>
   

   
 
    <!-- nav footer --> 
    <div class="row-fluid" style="background: #ccc; position: relative; bottom: 0px; margin: 0px -10px; padding: 8px 25px;"> 
      <div class="span3">
        <b>Your stuff</b><br>
        <a>Grades</a><br>
        <a>Finances</a><br>
        <a>Academic Planning</a><br>
        <a>Registration</a><br>
        <a>Profile</a><br>
        <a>Calendar</a>
      </div>
      <div class="span3">
        <b>Other semi-yours stuff</b><br>
        <a>UW Housing and Dining</a><br>
        <a>Libraries</a><br>
        <a>Campus employment and Career</a><br>
      </div>
      <div class="span3">
        <b>Static stuff</b><br>
        <a>Academic Resources</a><br>
        <a>Student Life</a><br>
        <a>Around Campus</a><br>
        <a>Campus events</a><br>
      </div>
    </div>
    
 {% endtplhandlebars %}
