{% load static %} 
{% load templatetag_handlebars %} 
    {% tplhandlebars "week5_outline" %}
    
    <!-- notifications banner -->
    <div class="notification" style="padding: 8px 15px; background: #F3EE81; position: relative; top: -40px; margin: 0px -10px;">
        <h4 style="color: #555;">Notices</h4>
        <ul>
        	<li>You will be able to register for classes on <b>April 24 at 8:30AM</b>.</li>
		</ul>	
    </div>
    
    <!-- registration status --> 
    <div class="first-card card">
    	<h4 style="color: #555;">Registration Status</h4>
    	<p>You have <b>two</b> registration holds. </p>
    	<ul style="list-style-type: none;"><li><b>Immunization Hold</b> - We have no record of you getting a measles immunization. 
    			<ul style="list-style-type: none;"><li>Please contact Hall Health, 206-555-5555</li>
	    		</ul>
   			</li>
   			<li><b>Fiscal Hold</b> - Outstanding balance on an account.
   				<ul style="list-style-type: none;"><li>Please Contact Student Fiscal Services, 206-987-6543</li></ul>
   			</li>
    	</ul>
    	<p>You will be unable to register for classes until these holds have been resolved. </p>
    </div>
    
    <!-- email card --> 
    <div class="card medium-card">
        <h4 style="color: #555;">Email</h4>
        <p>You have <b>4</b> new emails.</p>
         <a href="">Check email</a>
    </div>
    
    <!-- Advisor card -->
    <div class="card">
        <h4 style="color: #555;">Advisor Contact</h4>
        <p>Jane Smith</p>
        <p>206.123.4567</p>
         <a href=""></a>
        <p>You have an appointment with your advisor on <b>Wednesday, April 26 at 10:45AM</b>.</p>
    </div>
    
    <!-- course list, all cards --> 
        {{{ course_list }}}
               
    <!-- current quarter visual schedule card --> 
     <div class="card">
        <img src="{% static '../../../static/images/vis_sched_for_test.gif' %}" alt="vis_sched_for_test" width="" height="" />
    </div>
    
    <!-- husky account balance card --> 
    <div class="card medium_card">
        <h4 style="color: #555;">Husky Card Account</h4>
        <p>Balance: <b>$42.34</b></p>
         <a href=""></a>
    </div>

	<!-- Dining account balance card --> 
    <div class="card">
        <h4 style="color: #555;">Dining & Food Services</h4>
        <p>Balance: <b>$14.00</b></p>
         <a href=""></a>
    </div>
    
    <!-- GPA card --> 
    <div class="card">
        <h4 style="color: #555;">This quarter's GPA: 3.4</h4>
        <p>As of Feb 20th, 2014</p>
         <a href="">Grade Report</a><br>
         <a href="">Unofficial Transcript</a>
    </div>
    
    <!-- Libraries card --> 
    <div class="card">
        <h4 style="color: #555;">UW Libraries</h4>
        <p>You have <b>2</b> items checked out.</p>
        <p>You have <b>1 item due</b> on <b>May 20th, 2014</b></p>
         <a href="">Go to your UW Libraries account</a>
    </div>
    
    <!-- events calendar card --> 
    <div class="card">
        <h4 style="color: #555;">Campus Events Calendar</h4>
        <p>uis venenatis imperdiet. In magna massa, tempor sit amet sapien vitae, sodales imperdiet lectus. Maecenas rutrum mattis augue non pharetra. Vivamus vitae pellentesque purus. Fusce dapibus tempus pharetra. Pellentesque scelerisque sem sit amet sapien laoreet elementum. Curabitur euismod sed lorem at suscipit. Curabitur sed arcu sed erat elementum pulvinar. Morbi ut risus velit. Suspendisse tincidunt mi venenatis diam auctor rhoncus.</p>
         <a href=""></a>
    </div>
 
 {% endtplhandlebars %}
